@using CheckBoxList.ViewModel
@model CheckBoxListViewModel

<input type="checkbox" id="selectAllCheckbox" data-state="off" /> <label for="selectAllCheckbox">Select All</label>
<div class="enableScroll">
    @{
    int i = 1;
    foreach (CheckListBoxItem item in Model.Items)
    {

        <input type="checkbox" name="@Model.Name" id="@Model.Name@(i)"  value="@item.Value" @(Model.SelectedValues.Exists(value => value == item.Value) ? "checked=checked" : "") />
            <label for="@Model.Name@(i)">@item.Text</label>
            <br />
            i++;
        }
    }
    </div>
    <script>
        $(document).ready(function () {
            $("#selectAllCheckbox").click(function () {
                $("input:checkbox").prop("checked", $("#selectAllCheckbox").prop("checked"))
            })
        });


        //$(function () {
        //    $('#selectAllCheckbox').on('click', function () {
        //        $this = $(this);
        //        if ($this.data('state') == "off") {                    
        //            $('input:checkbox').prop('checked', 'checked');                    
        //            $this.data('state', 'on');
        //        } else {
        //            $('input:checkbox').removeProp('checked');
        //            $this.data('state', 'off');
        //        }
        //    });
        //});
    </script>
