@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}

<script type="text/javascript" src="@Url.Content("~/areas/"+myAreaName+"/Scripts/ageing.js?v2")"></script>
<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
    }

    .page-bar {
        margin-bottom: 0px !important;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }
</style>
<div class="page-content">


    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/sales/SalesHome/Dashboard">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
            @*<li>
                    <a href="sales/saleshome/dashboard/Dashboard">Organiser</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@

        </ul>
        <div class="page-toolbar">
            @*<div class="btn-group" data-toggle="tooltip" title="Click to filter date range!" data-placement="bottom">
                    @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)

                </div>*@
            <div class="btn-group">
                @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)
            </div>
            <div class="btn-group">
                <div class="actions">
                    @Html.Partial("~/areas/" + myAreaName + "/Views/AgeingReport/_ageingReportDealerFilter.cshtml")
                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="javascript:void(0);">
                        <i class="icon-control-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row collapse in" id="ageing-content">

    </div>
</div>
<script src="@Scripts.Url("~/JS/dynamicReport.js?V2")" type="text/javascript"></script>
@Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
<script type="text/javascript">
     var agingFirst = true;
    $(document).ready(function () {
        ageing.init(window.location.protocol + "//" + window.location.host + "/sales/AgeingReport/DynamicColumnView");

    });
</script>

<script type="text/javascript">
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

</script>
