
@using NeoErp.Core.Models;
@using NeoErp.Core.Helpers
@{
    var actionPageId = "CredtorsOutStandingChart";
}
<script type="text/javascript" src="@Url.Content("~/areas/NeoErp.sales.Module/Scripts/AsOnChart.js?v3985")"></script>
<style>
    .overlay {
        /*width: 100%;
        height: 100%;
        position: absolute;*/
        top: 0;
        left: 0;
        /*opacity: .2;
        filter: alpha(opacity=60);*/
        text-align: center;
    }

        .overlay div {
            position: relative;
            font-size: 34px;
            margin-top: -17px;
            top: 50%;
        }

    a.icon-arrow-down {
        color: #acacac;
        opacity: 0;
        text-decoration: none !important;
    }

    a.fullscreen {
        text-decoration: none !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }
    /*.modal-body {
        padding: 31px !important;
    }*/
    a.newbtnDatagrid {
        color: #acacac !important;
    }
</style>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#/Sales/FinalSalesReport">Creditor Aging Chart</a>
                <i class="fa fa-angle-right"></i>
            </li>

        </ul>
        <div class="page-toolbar">

        </div>
    </div>
    <div class="modal fade" id="Creditor-cong-model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-chart">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Monthly Creditor Report Settings</h4>
                </div>
                <div class="modal-body bottom-gappingtwo">
                    <div class="row">

                        <div class="chart_button monthlysaleschart clearfix">
                            <div class="col-sm-12 col-md-12">
                                <div class="btn-group options_monthlySales responsivegap" data-toggle="buttons">
                                    @*<button type="button" class="btn default blue-stripe">
                                            <i class="fa fa-bar-chart"></i>
                                            <input id="typeDebtorsColumn" name="seriesType"
                                                   type="radio" value="column" checked="checked" autocomplete="off" /> column
                                        </button>
                                        <button type="button" class="btn default blue-stripe">
                                            <i class="fa fa-bar-chart"></i>
                                            <input id="typeDebtorsBar" name="seriesType"
                                                   type="radio" value="bar" autocomplete="off" /> bar
                                        </button>
                                        <button type="button" class="btn default yellow-stripe">
                                            <i class="fa fa-line-chart"></i>
                                            <input id="typeDebtorsLine" name="seriesType"
                                                   type="radio" value="line" autocomplete="off" />Line
                                        </button>*@
                                    @*<button type="button" class="btn default green-stripe">
                                            <i class="fa fa-pie-chart"></i>
                                            <input id="typePie" name="seriesType"
                                                   type="radio" value="pie" autocomplete="off" />Pie
                                        </button>
                                        <button type="button" class="btn default blue-stripe">
                                            <i class="fa fa-area-chart"></i>
                                            <input id="typearea" name="seriesType"
                                                   type="radio" value="area" autocomplete="off" />area
                                        </button>*@
                                </div>
                            </div>
                            @*<div class="col-sm-2 col-md-2 dgride">*@
                            <!-- Data-Grid Show button-->
                            @*<button type="button" class="btn default blue-stripe btnDatagrid pull-right" onclick="LoadDataGrid_monthlySalesChart();" data-grid="Chart">
                                    DataGrid
                                </button>*@
                            @*</div>*@

                            <div class="col-sm-12 col-md-12">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DatePicker.cshtml", new NeoErp.Core.Models.CustomModels.DatePickerModel()
                       {
                           ActionPageId = actionPageId
                       })
                            </div>

                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <div class="input-group chart-option">
                                    <div class="icheck-inline">
                                        <label>
                                            <input id="showlables_monthlyCreditor" type="checkbox" autocomplete="off" /> Show Labels
                                        </label><br />

                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-md-12">
                            <div class="clearfix">
                                <h4>Advance Filter</h4>
                            </div>
                            @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       ShowCustomerFilter = false,
                       ShowProductFilter = false,
                       ShowPartyTypeFilter = false,
                       ShowCategoryFilter = false,
                       ShowLocationFilter = false,
                       ShowDocumentFilter = false,
                       ShowCompanyFilter = false,
                       ShowBranchFilter = false,
                       ShowSupplierFilter = true,
                       IsPopUp = false,
                       ActionPageId = actionPageId
                   })
                            @*<select id="customerMultiSelect" multiple="multiple"></select>
                                @Html.Partial("~/Views/Shared/Controls/CustomerGroupFilter.cshtml")*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-green applydp" data-dismiss="modal" id="apply_@actionPageId">Apply</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>

        <!-- /.modal-dialog -->
    </div>
    <div class="portlet portlet-sortable  light bordered" id="CredtorsOutStandingChart">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze custom-modal">Creditors OutStanding Chart</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a class="btnGrid newbtnDatagrid" data-type="Chart" data-title="Grid" data-valuefor="month" data-month="0" data-selectedValue="0" data-category="0">
                    <i class="fa fa-table"></i>
                </a>
                <div class="btn-group">
                    <a class="btn dropdown-toggle download-btn" title="Download" data-toggle="dropdown" href="#">
                        <i class="icon-arrow-down Nincustom"></i>

                    </a>
                    <ul class="dropdown-menu custom Ninslidetoggle">
                        <div class="btn-group-custom">
                            <button type="button" data-id="Monthlychart" class="export-pdf btn default blue-stripe"><i class="fa fa-file-pdf-o"></i>PDF</button>
                            <button type="button" data-id="Monthlychart" class="export-img btn default red-stripe"><i class="fa fa-image-o"></i>Image</button>
                            <button type="button" data-id="Monthlychart" class="export-svg btn default green-stripe">SVG</button>
                        </div>
                    </ul>
                </div>
                <a href="#Creditor-cong-model" data-toggle="modal" class="config"></a>
                <a href="javascript:;" class="reload"></a>
                <a href="javascript:;" class="fullscreen"></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="k-content wide">
                <div id="CredtorsMonthlychart"></div>
                <div class="overlay"><div>No data available</div></div>
                <div class="AmountFigureType"></div>
                <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
            </div>
        </div>

        <script>
            $(document).ready(function () {
                DatePicker.init('@actionPageId', '', '');
                var CreditorsChart = AsOnChart.CreditorsChart();
                CreditorsChart.init('@actionPageId', '@EnumExtensions.ToDescription(AgeingReportType.Supplier)');
                CreditorsChart.render();
                CreditorsChart.config.AgeOnType = '@EnumExtensions.ToDescription(AgeingReportType.Supplier)'

            });


        </script>

    </div>


    </div>



