@model  IEnumerable<NeoErp.Sales.Modules.Services.Models.Ledger.LedgerBreadCrumb>
<style>
    .k-header.k-grid-toolbar > a
{
	padding-right:10px;
	
}
.k-header.k-grid-toolbar > a

{
	  content: "\f138";
	  font-family:fontawesome;
	  color:#666;
	 
	  padding-right: 4px;
}
.k-header.k-grid-toolbar > a:first-child
{
	content:"";
	
}
/*label
{
	font-weight:bold !important;
	
}*/
.editable-click, a.editable-click, a.editable-click:hover
{
	border-bottom:none;
	
}
.k-header.k-grid-toolbar > a:hover
{
	border:solid dashed #0099FF;
	
}
</style>
<div class="k-header k-grid-toolbar">
    <div class="k-header k-grid-toolbar">
  
            @foreach (var account in Model)
            {
                //var modeltest = Model.LastOrDefault();
                if (account.ParentAccountCode == "00")
                {
                    
                        <a href="#"  data-type="select" data-pk="1" data-value="BS" data-title="Select country" data-mastercode="@account.MasterAccountCode" data-parencode="@account.ParentAccountCode" >@account.AccountName</a> 
                        @*<a href="index.html">@account.AccountName</a>*@
                    <span><i class="fa fa-angle-right"></i></span>

                }
                else
                {

                        <a href="#" id="@account.AccountCode" class="accountname" data-type="select" data-pk="1" data-value="BS" data-title="Select country" data-mastercode="@account.MasterAccountCode" data-parencode="@account.ParentAccountCode">@account.AccountName</a>
                        <span><i class="fa fa-angle-right"></i></span>


                    <script>
                        $(document).ready(function () {
                            $.fn.editable.defaults.mode = 'inline';
                            var urltest = Arg.url(window.location.protocol + "//" + window.location.host + "/api/Ledger/GetLedgerSelect", { masterCode: '@account.MasterAccountCode', Parentcode: '@account.ParentAccountCode' });
                            $.getJSON(urltest, function (json) {
                                //   $('.accountname').editable('option', 'pk', data.id);
                                $('#@account.AccountCode').editable({
                                    source: json,
                                    select2: {
                                        width: 200,
                                        placeholder: 'Select Account',
                                        allowClear: true
                                    }
                                });
                            });
                        });
                       
                    </script>
                }

            }
          
            
  
       
    </div>
</div>
<script>
  
   
   //$('.accountname').editable();
    //$(".accountname").on("click", function () {
    //    var sourse = [];
        
    //    var mastercode = $(this).data("mastercode");
    //    var parentcode = $(this).data("parencode");
    //    var urltest = Arg.url(window.location.protocol + "//" + window.location.host + "/api/Ledger/GetLedgerSelect", { masterCode: mastercode, Parentcode: parentcode });
    //    $.getJSON(urltest, function (json) {
    //     //   $('.accountname').editable('option', 'pk', data.id);
    //        $('.accountname').editable({
    //            source: json,
    //            select2: {
    //                width: 200,
    //                placeholder: 'Select country',
    //                allowClear: true
    //            }
    //        });
    //    });
    //  //  console
       
    //   // $('.accountname').editable();
    //})

</script>
