@model IEnumerable<NeoErp.Sales.Modules.Services.Models.Voucher.VoucherModel>


<div class="">
    <label for="form_control_1">  Sub Ledger List of <span class="text-danger"> @ViewBag.accountname</span> </label>
</div>
@if (Model.Count() > 0)
            {

    <div class="list-view" id="list-view-subledgerEvent">
        <ul>
            @foreach (var ledgers in Model)
            {
                <li class="subledgerEvent">

                    <div class="md-checkbox">
                        <input type="checkbox" id="ledgerEvent_@ledgers.SubCode" value="@ledgers.SubCode" class="md-check">
                        <label for="ledgerEvent_@ledgers.SubCode">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span><a href="javascript:void(0)" data-accountid="@ViewBag.accountcode" , data-ledgerId="@ledgers.SubCode" data-label="@ledgers.SubEdesc">@ledgers.SubEdesc  </a>
                        </label>
                    </div>

                </li>
            }

        </ul>
    </div>
}
<script>
    $(function () {
        $('.k-list.k-reset').slimScroll({
            alwaysVisible: true
        });
    });
    $("#subaccountdiv").slimScroll({ height: '470px' });
</script>