@model  IEnumerable<NeoErp.Sales.Modules.Services.Models.Ledger.LedgerModel>
<style>


.list-view  {
  width:33.33%;
 border: 1px solid #ddd;
 border-radius:5px;
 -moz-border-radius:5px;
 -o-border-radius:5px;
  -webkit-border-radius:5px;
 
}
.list-view ul
{
padding:0px;	
margin:0px;
}

.list-view ul li
{
 list-style:none;
padding:4px;
 border-bottom:solid #ddd 1px;
	
}

.list-view ul li:last-child
{
	border:none;
	
}

.list-view ul li a
{
	color:#333;
	text-decoration:none;
	font-size:11px;	
}



.list-view ul li :before
{
	  font-family:fontawesome;
	  color:#666;
	  font-size:13px;
	  padding-right:5px;
 
}
.list-view ul li a:hover
{
	color:#999;
	transition:all 0.2s ease 0s;
	
	
}

i.icon-control-play.icon-play {
    padding-top: 4px !important;
    padding-left: 7px !important;
    display: inline-block;
}
.ledgericon {
    border: solid #ddd 1px;
    border-radius: 50% !important;
    height: 25px;
    width: 25px;
    margin-top: 3px;
}

    .form-body label[for="form_control_1"], .portlet-body label[for="form_control_1"] {
        font-weight: 400;
    }
</style>
 
<div class="">
    <label for="form_control_1">  Ledger List of <span class="text-danger"> @ViewBag.accountname</span> </label>
</div>
@if (Model.Count() > 0)
{

    <div class="list-view" id="list-view-ledgerEvent">
        <ul>
            @foreach (var ledgers in Model)
            {
                <li class="ledgerEvent">

                    <div class="md-checkbox">
                        <input type="checkbox" id="ledgerEvent_@ledgers.LedgerCode" value="@ledgers.LedgerCode" class="md-check">
                        <label for="ledgerEvent_@ledgers.LedgerCode">
                            <span></span>
                            <span class="check"></span>
                            <span class="box"></span><a href="javascript:void(0)" data-ledgerId="@ledgers.LedgerCode" data-label="@ledgers.LedgerName">@ledgers.LedgerName  </a>
                        </label>
                    </div>

                </li>
            }

        </ul>
    </div>
}

<script>
    
    $(function () {
        $(".ledgerEvent").on("singleclick", function () {
            var ledgerid = $(this).find('a').data("ledgerid");
            var accountName = $(this).find('a').text();
            var subaccountLedger = Arg.url(window.location.protocol + "//" + window.location.host + "/Sales/Ledger/ShowSubAccount", { accountCode: ledgerid, accountName: accountName });
            $.ajax({
                url: subaccountLedger,
                type: "GET",
                dataType: "html",
                success: function (result) {
                    $("#subaccountdiv").html(result);
                },
                error: function (result) {
                }
            });

        });
        $('.k-list.k-reset').slimScroll({

            alwaysVisible: true


        });
    });
    $(function () {
        $('.list-view').slimScroll({
            //height: '420px',
            height: '481px',

            // opacity: '0.4',
            //railVisible: true,
            //alwaysVisible: true


        });
    });
</script>