@using System.Web;
@using NeoErp.Core.Infrastructure;
@using NeoERP.DocumentTemplate.Service.Interface;
@using NeoERP.DocumentTemplate.Service.Models;
@using NeoERP.DocumentTemplate.Service.Services;

@{
    Layout = null;
    var url = System.Web.HttpContext.Current.Request.Url;

    string x = (url.Query.ToString()).Substring(1);
    string y = string.Empty;
    string z = string.Empty;
    if (x.Contains("&"))
    {
        y = x.Split('&')[0];
        z = y.Split('=')[1];
    }
    else
    {
        y = x;
        z = y.Split('=')[1];
    }
    var _FormTemplateRepo = EngineContext.Current.Resolve<IFormTemplateRepo>();
    var templatename = _FormTemplateRepo.GetPrintTemplateByFormCode(z);
    //var templatename = "_salesReturnPrintTemplatePra";
}
<style>


    .required {
        color: red;
    }

    .form-elements.row.portlet-content {
        padding-left: 20px;
        padding-right: 20px;
    }



    /*.document_child_table th {
        border: 1px solid #ddd;
        font-size: 10px !important;
    }*/

    #tpfile {
        background: lightskyblue;
        width: 100%;
        padding: 5px;
    }

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
    }

    .document_child_table th {
        padding: 5px;
    }

    .k-datepicker {
        /*width: 97%;*/
        width: 100%;
    }

    .summary-table th {
        font-size: 10px;
    }

    .summary-table td, .summary-table input.form-control, .summary-table td label {
        font-size: 10px !important;
    }

    .nepali-calendar {
        max-width: 100% !important;
    }

    .dynamicform input {
        /*width: 100%;*/
    }

        .dynamicform input:focus, #nepaliDate5:focus {
            /*border: solid #808080 1px !important;*/
            transition-duration: 1s;
            transition-timing-function: linear;
        }

    .dynamicform label {
    }

    .nopaddinggap {
        padding-right: 5px;
    }

    .nopadding-left {
        padding-left: 5px;
    }

    .dynamic-table input {
        border: none;
        /*text-align: right;*/
    }

    .dynamic-table .autocompleteclass.searchProduct.k-input {
        text-align: left !important;
        height: 18px !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .savebtn {
        margin-top: 10px;
        margin-left: 3px;
    }

    .dynamic-table input:focus {
        border: solid #43A12E 1px;
    }

    .dynamic-table .k-input.products.ng-pristine.ng-untouched.ng-valid.ng-empty:focus {
        border: none !important;
    }

    .dynamic-table .k-widget.k-autocomplete.k-header.autocompleteclass.searchProduct.k-state-default {
        background-color: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .dynamic-table td {
    }

    .k-dropdown-wrap.k-state-default {
        background-color: #fff;
        box-shadow: none !important;
        border-color: #ddd;
    }

    .title-header {
        text-align: left;
        display: inline-block;
    }

        .title-header h4 {
            color: #093;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 0;
            padding-top: 9px;
            padding-left: 23px;
        }

    .current-info {
        border: 1px solid #ddd;
        margin-top: 5px;
        min-height: 152px;
        right: 20px;
        top: 104px;
        width: 26px !important;
        position: fixed;
    }


    .document-head {
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    }

        .document-head h6 {
            color: #2e2e2e !important;
            font-weight: 600;
            font-size: 10px !important;
            margin-top: 6px !important;
            margin-bottom: 6px !important;
        }

    .user h6, .quotation h6, .date h6 {
    }

    .boxbg {
        padding-bottom: 15px;
    }

    .mingap {
        padding: 0 0 2px 0px !important;
    }

    .buttonlist {
    }

    .value-summary {
        border: solid #ddd 1px;
        margin-top: 30px;
    }

        .value-summary ul {
            margin-left: 0px;
            padding-left: 0px;
        }

        .current-info h6, .value-summary h6 {
            background-color: #eee;
            color: #2e2e2e !important;
            font-weight: 600;
            margin: 0;
            padding-bottom: 5px;
            padding-left: 12px;
            padding-top: 5px;
            width: 167px !important;
        }

    .headtitle {
        transform: rotate(90deg);
    }

    .value-summary ul li {
        list-style: none;
        text-align: left;
        font-size: 11px;
        border-bottom: 1px solid #eee;
        padding: 5px;
    }

        .value-summary ul li:last-child {
            border-bottom: none !important;
        }

    .buttonadd i, .buttondelete i {
        font-size: 12px !important;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 2px;
        /*padding-top: 2px;*/
        margin-left: 3px !important;
        background-color: #ddd !important;
        /*color: forestgreen;*/
        border: solid #ccc 1px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /*padding-top: 2px;*/
        margin-left: 2px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }



        .buttonadd:hover, .buttondelete:hover {
            text-decoration: none !important;
            background-color: #fff !important;
        }





    .text-danger {
        font-size: 16px !important;
    }

    .buttonlist i {
        padding-right: 5px !important;
    }

    .buttonlist a, .buttonlist button {
        font-size: 10px !important;
    }

    .buttonlist i {
        font-size: 10px !important;
    }

    .tabbox {
        border: solid #ddd 1px;
    }

        .tabbox .nav-tabs {
            width: 100% !important;
        }

        .tabbox ul li.active a {
            background-color: mediumseagreen !important;
            color: #fff !important;
        }

            .tabbox ul li.active a:hover {
                background-color: mediumseagreen !important;
                color: #fff !important;
            }

    .dynamic-table {
        margin: 10px;
    }

    /*.caption-subject, .caption i {
        color: mediumseagreen !important;
    }*/

    .nogap_bottom {
        margin-bottom: 0px !important;
    }

    .summary-table {
        margin-top: 7px;
    }







    /*.dynamic-table input {
        font-size: 9px !important;
        height: 21px;
    }*/

    .documentmodule .k-dropdown-wrap.k-state-default {
        font-size: 11px !important;
    }




    .bottomspance .portlet-body {
        padding-top: 0px !important;
    }

    .documentmodule input .form-control, .dynamicform input {
        height: 22px;
        /*border: 1px solid #ddd;*/
        font-size: 10px !important;
        padding: 0 4px 0px 4px !important;
        position: relative;
    }

    .documentmodule label.control-label {
        font-size: 11px !important;
        padding-top: 4px !important;
        padding-bottom: 5px !important;
    }

    .documentmodule label {
        font-size: 11px !important;
    }


    .nogap-left {
        padding-left: 0px !important;
    }

    .nogap-right {
        padding-right: 0px !important;
    }

    .column-gride-1 {
        width: 27%;
    }

    .column-gride-3 {
        width: 13%;
    }


    .documentform {
        margin-top: 5px !important;
    }

    .document-tab li a {
        padding: 8px 8px !important;
    }

    .dynamicform .form-group {
        margin-bottom: 10px !important;
    }

    .document-tab {
        margin-top: 10px;
    }

    .tabgaptop {
        margin-top: 5px !important;
    }

    .tab-content.d-tab-content label {
        font-size: 11px !important;
    }


    .backtolist, .savebutton, .resetbutton, .savebtn {
        color: #fff;
        font-size: 11px !important;
        padding: 5px 8px 4px 5px;
        position: relative;
        text-decoration: none;
        border-radius: 2px !important;
    }

        .backtolist i {
            font-size: 15px !important;
            color: #666;
        }

    .a_demo_four {
        background-color: #3bb3e0;
        background-image: linear-gradient(to top, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    }

    .savebutton {
        background: #9dd53a !important; /* Old browsers */
        background: -moz-linear-gradient(top, #9dd53a 0%, #80c217 0%, #a1d54f 0%, #7cbc0a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #9dd53a 0%,#80c217 0%,#a1d54f 0%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #9dd53a 0%,#80c217 0%,#a1d54f 0%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    }

    .resetbutton {
    }

        .a_demo_four:hover, .savebutton:hover, .resetbutton:hover {
            color: #fff !important;
        }

    .gap {
        padding: 10px;
    }



    .nopadding-right {
        padding-right: 0px !important;
    }

    .dataTables_wrapper {
        border: solid #ddd 1px !important;
    }

    .custom-col-width {
        width: 96%;
    }

    .hideshow-infomation {
        width: 6% !important;
        padding-right: 0px;
    }



    .custom-width-2 {
        width: 4%;
        padding-right: 0px;
        padding-left: 10px;
        position: relative;
    }







    #style-switcher {
        margin-bottom: 15px;
    }


    #style-switcher, #style-switcher-2 {
        background: #fff none repeat scroll 0 0;
        z-index: 1000;
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 180px;
        border: 1px solid #ddd;
    }


    #toggle-switcher, #toggle-switcher-2, #toggle-switcher-3 {
        background: #999 none repeat scroll 0 0;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 12px;
        padding: 6px 5px;
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 180px;
        transform: rotate(-90deg);
        transform-origin: 0 0 0;
        width: 180px;
    }

    .general-info, .general-info-2 {
        width: 100%;
        background: #fff;
        height: 100%;
        padding-left: 45px;
        padding-right: 5px;
        font-size: 10px;
        padding-top: 5px;
        left: 44px;
        position: absolute;
    }


    .calendar-icon {
        font-size: 11px;
        right: -9px;
        position: absolute;
        top: 3px;
        color: #666;
    }


    .calendar-icon-2 {
        font-size: 11px;
        right: 6px;
        position: absolute;
        top: 3px;
        color: #666;
    }

    .calendar-icon-3 {
        font-size: 11px;
        right: 8px;
        position: absolute;
        top: 3px;
        color: #666;
    }


    .tooltip {
        position: absolute !important;
        z-index: 800000 !important;
    }

    #customers-list li {
        font-size: 10px !important;
    }

    .dynamic-table input:focus {
        box-shadow: none !important;
    }

    .dynamic-table .k-dropdown-wrap, .dynamic-table .k-input.products {
        border: none !important;
        box-shadow: none !important;
    }

    .borderRed {
        border: 1px solid rgb(255, 0, 0);
    }

    .borderRedwithBbackground {
        background-color: #f4031926 !important;
    }


    .dynamic-table input.k-input:focus {
        border: none !important;
    }

    .MU_CODE, .MU_CODE_div {
        width: 4%;
    }

    .ITEM_CODE, .ITEM_CODE_div {
        /*width: 150px !important;*/
    }

    /*.FROM_LOCATION_CODE, .FROM_LOCATION_CODE_div {
        width: 150px !important;
    }*/



    .charge-table input.form-control {
        height: 23px;
        border-color: #ddd;
    }

    .charge-table .k-select, .charge-table .k-i-close {
        display: none;
    }

    .dropzone-download {
        font-size: 17px !important;
        position: absolute;
        top: 112px;
        right: 9px;
    }

    .k-list.k-reset {
        max-height: 450px !important;
    }

    .k-list-container {
        max-height: 450px !important;
        height: auto !important;
    }

    .k-list-scroller {
        height: 100%;
    }

    .slimScrollDiv {
        /*max-height: 450px !important;*/
    }

    #location-list li {
        /*border-bottom: solid #ded5d5 1px;*/
    }

    #location_listbox, #products_listbox {
        width: 320px !important;
        /*background-color: #ddd;*/
    }

    #location-list, #products-list {
        width: 320px !important;
    }


    #products_listbox {
        width: 320px !important;
        /*background-color: #ddd;*/
    }

    .k-treeview-lines li span {
        display: inline-block !important;
        font-size: 11px;
    }

    .document_child_table {
        width: 99% !important;
    }

    .modal-header {
        /*padding: 10px !important;*/
        background-color: #eee;
    }

    .k-pager-numbers .k-icon {
        display: inline-block !important;
    }

    .k-combobox-clearable .k-i-close, .k-combobox-clearable .k-i-arrow-60-down {
        margin-top: 10px;
        display: none;
    }

    .k-combobox-clearable .k-select {
        border-left: none;
    }

    /*.k-combobox-clearable .k-dropdown-wrap {
        height: 25px;
        font-size: 11px;
    }*/
    .modal-body.draftmodal.main {
        padding: 10px 15px 0px 15px !important;
    }
    /*.ref_search_cus, .ref_search_cus .referenceCustomer {
        width: 26px;
        transition: width .55s ease;
        padding-right: 0px;
        border-color: #ccc;
    }
        .ref_search_cus:hover, .ref_search_cus:focus {
            width: 290px;
        }


        .ref_search_cus:hover {
            margin-left: 0px !important;
        }


    .ref_search_cus .referenceCustomer
    {
        width:100% !important;
    }


    .ref_search_cus i {
        color: #999;
        position: absolute;
        top: 6px;
        right: 8px;
        z-index: 100;
        font-size: 17px;
    }*/


    .actions .referenceCustomer input {
        width: 2px !important;
        transition: .55s ease;
        padding: 2px 2px !important;
    }

        .actions .referenceCustomer input:hover, .actions .referenceCustomer input:focus, .ref_search_cus:hover input {
            width: 290px !important;
        }

    .ref_search_cus i {
        color: #999;
        position: absolute;
        top: 6px;
        right: 6px;
        z-index: 100;
        font-size: 17px;
    }

    .ref_search_cus .referenceCustomer {
        width: 100% !important;
    }

    .ref_search_cus .k-dropdown-wrap .k-state-default {
        border-color: #ccc !important;
    }

    /*#saveAndPrintModal .modal-dialog {
        width: 1029px !important;
        margin: 30px auto;
    }*/
    .menuDropdown .dropdown-menu {
        min-width: 175px;
        position: absolute;
        top: 67%;
        left: -87px;
        z-index: 5000;
    }

        .menuDropdown .dropdown-menu:before, .menuDropdown .dropdown-menu:after {
            left: 151px;
        }

    .item_charge_table th, .item_charge_table td {
        padding: 2px !important;
        font-size: 10px;
    }

    .ref_search_cus.btn-group.ng-scope.search_sales_ref {
        position: absolute;
        right: 455px;
        top: 0px;
    }
</style>

<div class="col-md-12" id="FormTemplateCtrl">
    <div class="portlet light form-fit bordered bottomspance">
        <div class="portlet mingap">
            <div class="portlet-title">
                <div class="caption caption-title ng-binding">
                    <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/DocumentTemplate/Template/SplitterIndex#!DT/MenuSplitter/04">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <i class="fa fa-gift font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">{{FormName}}</span>
                </div>

                <div class="actions">
                    <div class="btn-group" ng-if="Opera">
                        <a href="javascript:;" class="btn blue-soft btn-sm" id="btnrefrence" data-toggle="modal" data-target="#OperaModal">
                            Opera
                        </a>
                    </div>
                    @*<div class="btn-group" ng-if="shymphony">
                            <a href="javascript:;" class="btn blue-soft btn-sm" id="btnrefrence" ng-click="Shymphonydata()">
                                Symphony
                            </a>
                        </div>*@
                    <div class="btn-group" ng-if="shymphony">
                        <a href="javascript:;" class="btn blue-soft btn-sm" id="btnrefrence" data-toggle="modal" data-target="#SymphonyModal">
                            Shymphony
                        </a>
                    </div>

                    <div class="btn-group" ng-if="havRefrence=='Y'">
                        <div ng-if="shortCut=='Y'">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/MasterPartialView/_refrenceCodePartial.cshtml")
                        </div>
                    </div>
                    <div class="ref_search_cus btn-group search_sales_ref" ng-if="havRefrence=='Y'" style="margin-right:19px !important;">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/_refrencecustomerCodePartial.cshtml")
                    </div>

                    @*<div ng-if="havRefrence!='Y'">
                            <label>No refrence</label>
                        </div>*@
                    @*<a href="javascript:;" class="btn btn-default btn-sm" id="resetdocument" ng-click="SaveDocumentFormData(3)">
                            <i class="fa fa-print"></i> Save & Print
                        </a>*@
                    @*{{DocumentName}}*@
                    @*<div ng-if="DocumentName.includes('_SALES_CHALAN')">*@
                    @*<button ng-if="DocumentName.includes('_SALES_CHALAN')" class="btn btn-green" id="btnImportFromExcel">Import From Excel</button>*@
                    @*</div>*@
                    <div ng-if="DocumentName.includes('_SALES_CHALAN')" class="btn-group">
                        <input id="avatar" type="file" name="avatar" style="width:185px;" />
                        @*<a href="javascript:void(0)" id="uploadExcel" class="pull-right btn btn-circle btn-icon-only btn-default">
                                <i class="fa fa-upload"></i>
                            </a>*@
                    </div>
                    <div ng-if="DocumentName.includes('_SALES_CHALAN')" class="btn-group">
                        <a href="javascript:void(0)" id="uploadExcel" onclick="uploadRunExcel();" title="Upload And Run Excel" class="pull-right btn btn-circle btn-icon-only btn-default">
                            <i class="fa fa-cloud-upload"></i>
                        </a>
                    </div>
                    <div class="btn-group" ng-if="havRefrence=='Y'">
                        <a href="javascript:;" class="btn blue-soft btn-sm" id="btnrefrence" ng-click="ShowRefrence()" data-toggle="tooltip" title="View reference data">
                            <i class="fa fa-exchange"></i> Reference
                        </a>
                    </div>
                    <div class="btn-group" ng-if="RT_CONTROL_FLAG=='Y'">
                        <a href="javascript:;" class="btn blue-soft btn-sm" id="btnproductCalcuation" ng-click="getVoucherDetailForReferenceProduct()" data-toggle="tooltip" title="View Production data">
                            <i class="fa fa-exchange"></i> Calc PO
                        </a>
                    </div>

                    @*<a href="javascript:;" class="btn btn-default btn-sm" id="resetdocument" ng-click="CheckValidationFn()">
                            <i class="fa fa-share"></i> Reset
                        </a>*@
                    @*<div class="btn-group">
                            <a class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveDocumentFormData(0)" href="javascript:;">
                                <i class="fa fa-floppy-o"></i> {{save}}
                            </a>
                        </div>*@
                    @*<a ng-if="savecontinue==='Save & Continue'" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." class="btn btn-sm btn-green-light" id="savedocumentformdata" ng-click="SaveDocumentFormData(1)" href="javascript:;">
                            <i class="fa fa-floppy-o"></i> {{savecontinue}}

                        </a>*@
                    @*<a ng-if="OrderNo !== 'undefined/undefined/undefined'" class="btn btn-sm btn-green-light" data-toggle="tooltip" title="Add Sales" href="/DocumentTemplate/Home/Index#!DT/formtemplate/{{FormCode}}">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i> New

                        </a>*@
                    @*<a class="btn btn-sm btn-default" id="saveasdraft" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveAsDraft(1)" href="javascript:;">
                            <i class="fa fa-floppy-o font-green-haze"></i> Save As Draft

                        </a>*@
                    @*<a class="btn btn-circle btn-icon-only btn-default" id="getDraftItem" ng-click="showDraftModal()" href="javascript:void(0);" title="Get Draft Value">
                            <i class="fa fa-file" aria-hidden="true"></i>
                        </a>*@

                    <div class="btn-group menuDropdown" data-toggle="tooltip" title="Actions">
                        <a class="btn btn-green" href="javascript:;" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-user"></i>
                            Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-if="OrderNo !== 'undefined'">
                                <a href="/DocumentTemplate/Home/Index#!DT/formtemplate/{{FormCode}}" data-toggle="tooltip" title="Create new document">
                                    <i class="glyphicon glyphicon-new-window"></i> New
                                </a>
                            </li>
                            <li>
                                <a id="resetdocument" ng-click="ResetDocument()" href="javascript:;" data-toggle="tooltip" title="Reset document">
                                    <i class="fa fa-share"></i> Reset (Alt + R)
                                </a>
                            </li>
                            @*<li  ng-if="formControlsInfo[0].CREATE_FLAG === 'Y'">*@
                            <li>
                                <a ng-if="save === 'Save'&& formControlsInfo[0].CREATE_FLAG === 'Y'" href="javascript:;" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveDocumentFormData(0)" data-toggle="tooltip" title="Save document">
                                    <i class="fa fa-floppy-o"></i> {{save}} (Ctrl + Enter)
                                </a>
                                <a ng-if="save === 'Update' && sim_flag === 'Y' && RefTableName === 'SA_SALES_CHALAN' && formControlsInfo[0].UPDATE_FLAG === 'Y'" href="javascript:;" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveDocumentFormData(0)" data-toggle="tooltip" title="Save document">
                                    <i class="fa fa-floppy-o"></i> {{save}} (Ctrl + Enter)
                                </a>
                                <a ng-if="save === 'Update' && RefTableName !== 'SA_SALES_CHALAN' && formControlsInfo[0].UPDATE_FLAG === 'Y'" href="javascript:;" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveDocumentFormData(0)" data-toggle="tooltip" title="Save document">
                                    <i class="fa fa-floppy-o"></i> {{save}} (Ctrl + Enter)
                                </a>
                            </li>
                            @*<li ng-if="formControlsInfo[0].CREATE_FLAG === 'Y'">*@
                            <li>
                                <a ng-if="savecontinue==='Save & Continue' && formControlsInfo[0].CREATE_FLAG === 'Y'" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." id="savedocumentformdata" data-toggle="tooltip" title="Save and continue for new document" ng-click="SaveDocumentFormData(1)" href="javascript:;">
                                    <i class="fa fa-floppy-o"></i> {{savecontinue}} (Alt + C)
                                </a>
                            </li>
                            @*<li>
                                    <a ng-click="SaveDocumentFormData(3)" href="javascript:;">
                                        <i class="fa fa-print"></i>Save & Print (Alt + P)
                                    </a>
                                </li>*@
                            <li class="divider"> </li>
                            <li>
                                <a ng-click="showDraftModal()" href="javascript:;" data-toggle="tooltip" title="Get Draft Value">
                                    <i class="fa fa-list"></i> Draft List (Alt+ D )
                                </a>
                            </li>
                            @*<li ng-if="formControlsInfo[0].CREATE_FLAG === 'Y'">*@
                            <li>
                                <a id="saveasdraft" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveAsDraft(1)" href="javascript:;" data-toggle="tooltip" title="Save document as draft">
                                    <i class="fa fa-file"></i> Save As Draft (Alt +S)
                                </a>
                            </li>
                        </ul>
                    </div>
                    @*<div ng-if="formControlsInfo[0].CREATE_FLAG === 'Y'">*@
                    <a ng-if="OrderNo === 'undefined' && formControlsInfo[0].CREATE_FLAG === 'Y'" class="btn btn-primary title1" data-toggle="tooltip" data-placement="top" @*title="(Alt + P)"*@ title="Save and print document" ng-click="SaveDocumentFormData(3)" href="javascript:;">
                        <i class="fa fa-print"></i> Save & Print
                    </a>
                    <a ng-if="OrderNo!== 'undefined' && sim_flag === 'Y' && RefTableName === 'SA_SALES_CHALAN' && formControlsInfo[0].UPDATE_FLAG === 'Y'" class="btn btn-primary title2" data-toggle="tooltip" data-placement="top" @*title="(Alt + P)"*@ title="Update and print document" ng-click="SaveDocumentFormData(4)" href="javascript:;">
                        <i class="fa fa-print"></i> Update & Print
                    </a>
                    <a ng-if="OrderNo!== 'undefined' && RefTableName !== 'SA_SALES_CHALAN' && formControlsInfo[0].UPDATE_FLAG === 'Y'" class="btn btn-primary title2" data-toggle="tooltip" data-placement="top" @*title="(Alt + P)"*@ title="Update and print document" ng-click="SaveDocumentFormData(4)" href="javascript:;">
                        <i class="fa fa-print"></i> Update & Print
                    </a>
                    <a ng-if="OrderNo!== 'undefined'" class="btn btn-primary title3" data-toggle="tooltip" data-placement="top" @*title="(Alt + P)"*@ title="Print document" ng-click="PrintDocument(4)" href="javascript:;">
                        <i class="fa fa-print"></i>Print
                    </a>

                    @*</div>*@
                </div>
            </div>
            <div ng-repeat="(key,item) in dynamicSerialTrackingModalData">
                <div class="modal fade serialtrackFlag_{{$index}}" id="itemserialtarckmodal" data-backdrop="static" tabindex="-1" data-width="760">
                    <div class="modal-dialog" style="width:45%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab=""></button>

                                <h4 class="modal-title"><span class="fa fa-briefcase"></span> {{item.ITEM_EDESC}}</h4>
                            </div>
                            <div class="modal-body modal-dialogbox-body">
                                @*<div class="row">
                                        <div class=" col-xs-12 " style="margin-top:7px;">
                                            <div class="form-group">
                                                <div class="col-xs-12 col-md-8">
                                                    <label class="control-label"><strong>{{item.ITEM_EDESC}}</strong></label>
                                                </div>
                                                <div class="col-xs-12 col-md-4">

                                                    <input type="number" min="0" class="form-control textbox" ng-change="loadchildelements($index,item.QUANTITY)" ng-model="item.QUANTITY" next-on-tab>
                                                </div>



                                            </div>
                                        </div>
                                    </div>*@
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<table class="table-bordered table-striped modal-table modal_table_box">
                                                <thead>
                                                    <tr>

                                                        <th><label for="element">Tracking No</label></th>

                                                        <th><label for="element"></label></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="child in item.TRACK track by $index">

                                                        <td> <input type="text" class="form-control" ng-model="child.TRACKING_SERIAL_NO" next-on-tab /></td>

                                                        <td>
                                                            <a href="" id="add_child_budgetflag" name="add_child_budgetflag" class="buttonadd" ng-click="add_childSerialTracking_element($index)"><i class="fa fa-plus"></i></a>
                                                            <a href="javascript:void(0)" class="buttondelete">
                                                                <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_childSerialTracking_element(key,$index)"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>*@
                                        <kendo-grid id="batchGrid_{{$index}}" options="batchGridOptions" k-rebind="batchGridOptions" class="search-grid" style="width:100%;">
                                        </kendo-grid>
                                    </div>
                                </div>

                            </div>


                            <div class="modal-footer">
                                @*<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="callbackbuttonright(); $event.stopPropagation()">Ok</button>*@
                                <button type="button" class="btn btn-green" data-dismiss="modal" ng-click="SerialTrackingOK(key)">Ok</button>
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-repeat="(key,item) in dynamicBatchTrackingModalData">
                <div class="modal fade batchTran_{{$index}}" id="itemBatchTran" data-backdrop="static" tabindex="-1" data-width="760">
                    <div class="modal-dialog" style="width:45%;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab=""></button>
                                <h4 class="modal-title"><span class="fa fa-briefcase"></span> {{item.ITEM_EDESC}}</h4>
                            </div>
                            <div class="modal-body modal-dialogbox-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <kendo-grid id="batchTranGrid_{{$index}}" options="batchDataGridOptions" k-rebind="batchDataGridOptions" class="search-grid" style="width:100%;">
                                        </kendo-grid>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-green" data-dismiss="modal">Ok</button>
                                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row boxbg">

                    <div class="col-xs-11 col-sm-11 col-md-11 custom-col-width">

                        <form id="documentformelementvalues" class="documentform">
                            <!-- rendering master elements -->
                            <div class="row masterDiv">

                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_masterFieldPartial.cshtml")
                            </div>

                            <div class="clearfix"></div>


                            <div ng-if="ModuleCode== '01'">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/ModulePartialView/_FinancialAccFormTab.cshtml")
                                }
                            </div>

                            <div ng-if="ModuleCode== '02'">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/ModulePartialView/_InvPurcurementFormTab.cshtml")
                                }
                            </div>

                            <div ng-if="ModuleCode== '03'">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/ModulePartialView/_PrdManagementFormTab.cshtml")
                                }
                            </div>

                            <div ng-if="ModuleCode== '04'">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/ModulePartialView/_SalesNRevenuFormTab.cshtml")
                                }
                            </div>

                        </form>


                        @*<div class="summary-table" ng-if="freeze_manual_entry_flag==='Y'">
                                <div class="row">

                                    <div ng-if="ChargeList!='' && freeze_manual_entry_flag==='N'" class="col-xs-12 col-sm-8 col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-bordered charge-table">

                                                <thead class="font-green">
                                                    <tr>
                                                        <th width="20%" colspan="2">Charge On</th>
                                                        <th width="10%">Type</th>
                                                        <th width="15%">Charge Amount</th>
                                                        <th width="15%">Manual Amt</th>
                                                        <th width="40%">Acc Code</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(chargeIndex,item) in ChargeList">
                                                        <td>
                                                            <input type="checkbox" ng-click="sync(bool, item)" ng-init="bool=false" ng-model="bool" ng-checked="isChecked(item.CHARGE_CODE)" title="{{item.CHARGE_EDESC}}">
                                                        </td>
                                                        <td>{{item.CHARGE_EDESC}}  <label ng-if="item.VALUE_PERCENT_FLAG ==='P'">%</label></td>
                                                        <td width="10%">
                                                            <label ng-if="item.CHARGE_TYPE_FLAG ==='D'">Deduction</label>
                                                            <label ng-if="item.CHARGE_TYPE_FLAG ==='A'">Addition</label>
                                                        </td>

                                                        <td width="15%" ng-if="item.CHARGE_CODE ==='VT'">
                                                            <input type="number" min="0" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                        </td>
                                                        <td width="15%" ng-if="item.CHARGE_CODE !=='VT'">
                                                            <input type="number" min="0" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                        </td>



                                                        <td width="15%" ng-if="item.VALUE_PERCENT_FLAG ==='P'">
                                                            <input type="number" min="0" class="form-control textbox" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT">
                                                        </td>
                                                        <td width="15%" ng-if="item.VALUE_PERCENT_FLAG !=='P'">
                                                            <input type="number" min="0" class="form-control textbox" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT">
                                                        </td>

                                                        <td width="40%;">
                                                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_chargeAccCodePartial.cshtml")

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div ng-if="ChargeList!='' && freeze_manual_entry_flag==='Y'" class="col-xs-12 col-sm-8 col-md-6">
                                        <div class="table-responsive">
                                            <table class="table table-bordered charge-table">
                                                <thead class="font-green">
                                                    <tr>
                                                        <th width="20%" colspan="2">Charge On</th>
                                                        <th width="10%">Type</th>
                                                        <th width="15%">Charge Amount</th>
                                                        <th width="15%">Manual Amt</th>
                                                        <th width="40%">Acc Code</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(chargeIndex,item) in ChargeList">
                                                        <td>
                                                            <input type="checkbox" ng-click="sync(bool, item)" ng-init="bool=false" ng-model="bool" ng-checked="isChecked(item.CHARGE_CODE)" style="pointer-events:none;" title="" readonly>
                                                        </td>
                                                        <td>{{item.CHARGE_EDESC}}  <label ng-if="item.VALUE_PERCENT_FLAG ==='P'">%</label></td>
                                                        <td width="10%">
                                                            <label ng-if="item.CHARGE_TYPE_FLAG ==='D'">Deduction</label>
                                                            <label ng-if="item.CHARGE_TYPE_FLAG ==='A'">Addition</label>
                                                        </td>

                                                        <td width="15%" ng-if="item.CHARGE_CODE ==='VT'">
                                                            <input type="number" min="0" style="pointer-events:none;" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab readonly>
                                                        </td>
                                                        <td width="15%" ng-if="item.CHARGE_CODE !=='VT'">
                                                            <input type="number" min="0" class="form-control textbox" style="pointer-events:none;" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab readonly>
                                                        </td>



                                                        <td width="15%" ng-if="item.VALUE_PERCENT_FLAG ==='P'">
                                                            <input type="number" min="0" class="form-control textbox" style="pointer-events:none;" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT" readonly>
                                                        </td>
                                                        <td width="15%" ng-if="item.VALUE_PERCENT_FLAG !=='P'">
                                                            <input type="number" min="0" class="form-control textbox" style="pointer-events:none;" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT" readonly>
                                                        </td>

                                                        <td width="40%">
                                                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_chargeAccCodePartial.cshtml")

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-3">
                                        <table class="table table-bordered">
                                            <thead class="font-green">
                                                <tr>
                                                    <th colspan="2">Amount Summary</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Total:</td>
                                                    <td ng-bind="summary.grandTotal">0</td>
                                                </tr>
                                                <tr>
                                                    <td>Addition:</td>
                                                    <td ng-bind="addition">0</td>
                                                </tr>
                                                <tr>
                                                    <td>Deduction:</td>
                                                    <td ng-bind="deduction">0</td>
                                                </tr>
                                                <tr>
                                                    <td>Grand Total:</td>
                                                    <td class="ng-binding" ng-bind="adtotal">0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col-xs-12 col-sm-2 col-md-3">
                                        <table class="table table-bordered">
                                            <thead class="font-green">
                                                <tr>
                                                    <th colspan="2">Unit Total</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="unit in units">
                                                    <td>Total {{unit.mu_name}}</td>
                                                    <td class="ng-binding">{{unit.mu_code_value}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Grand Total</td>
                                                    <td ng-bind="totalQty">0</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') !== -1">
                                            <div ng-if="element.HELP_DESCRIPTION">
                                                <label class="control-label" for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i></label>
                                            </div>
                                            <div ng-if="!element.HELP_DESCRIPTION">
                                                <label class="control-label" for="element">{{element.COLUMN_HEADER}}</label>
                                            </div>
                                            <textarea type="textarea" id="salestype" ng-model="masterModels[element.COLUMN_NAME]" name="salestype" class="form-control salestype" style="width: 100%; height:50px;" next-on-tab
                                                      onkeypress="return checkSpcialChar(event)" maxlength="200" />
                                        </div>
                                    </div>
                                </div>
                            </div>*@



                        @*<div class="summary-table" ng-if="freeze_manual_entry_flag==='N'">*@
                        <div class="row">
                            <div ng-if="ChargeList!=''" class="col-xs-12 col-sm-8 col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered charge-table">

                                        <thead class="font-green">
                                            <tr>
                                                <th width="20%" colspan="2">Charge On</th>
                                                <th width="10%">Type</th>
                                                <th width="15%">Charge Rate</th>
                                                <th width="15%">Charge Amount</th>
                                                <th width="40%">Acc Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(chargeIndex,item) in ChargeList">
                                                <td>
                                                    <input type="checkbox" ng-click="sync(bool, item)" ng-init="bool=false" ng-model="bool" ng-checked="isChecked(item.CHARGE_CODE)">
                                                </td>
                                                <td>{{item.CHARGE_EDESC}}({{item.VALUE_PERCENT_FLAG}})  <label ng-if="item.VALUE_PERCENT_FLAG ==='P'">%</label></td>
                                                <td width="10%">
                                                    <label ng-if="item.CHARGE_TYPE_FLAG ==='D'">Deduction</label>
                                                    <label ng-if="item.CHARGE_TYPE_FLAG ==='A'">Addition</label>
                                                </td>

                                                <td width="15%" ng-if="item.CHARGE_CODE ==='VT'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                </td>
                                                <td width="15%" ng-if="item.CHARGE_CODE !=='VT'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                </td>
                                                <td width="15%" ng-if="item.VALUE_PERCENT_FLAG ==='P'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT" readonly>
                                                </td>
                                                <td width="15%" ng-if="item.VALUE_PERCENT_FLAG !=='P'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT" readonly>
                                                </td>

                                                <td width="40%">
                                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_chargeAccCodePartial.cshtml")

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-3">
                                <table class="table table-bordered">
                                    <thead class="font-green">
                                        <tr>
                                            <th colspan="2">Amount Summary</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Total:</td>
                                            <td ng-bind="summary.grandTotal">0</td>
                                        </tr>
                                        <tr>
                                            <td>Addition:</td>
                                            <td ng-bind="addition">0</td>
                                        </tr>
                                        <tr>
                                            <td>Deduction:</td>
                                            <td ng-bind="deduction">0</td>
                                        </tr>
                                        <tr>
                                            <td>Grand Total:</td>
                                            <td class="ng-binding" ng-bind="adtotal">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-3">
                                <table class="table table-bordered">
                                    <thead class="font-green">
                                        <tr>
                                            <th colspan="2">Unit Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="unit in units">
                                            <td>Total {{unit.mu_name}}</td>
                                            <td class="ng-binding">{{unit.mu_code_value}}</td>
                                        </tr>
                                        <tr>
                                            <td>Grand Total</td>
                                            <td ng-bind="totalQty">0</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') !== -1">
                                    <label class="control-label" for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{element.HELP_DESCRIPTION}}"></i></label>

                                    <textarea type="textarea" id="salestype" ng-model="masterModels[element.COLUMN_NAME]" name="salestype" class="form-control salestype" style="width: 100%; height:50px;" next-on-tab
                                              onkeypress="return checkSpcialChar(event)" maxlength="200" />
                                </div>
                            </div>
                        </div>

                        @*</div>*@


                        @*<div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                        <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') !== -1">
                                            <label style="font-size:10px" for="element">{{element.COLUMN_HEADER}}</label>
                                            <textarea id="salestype" ng-model="masterModels[element.COLUMN_NAME]" name="salestype" class="salestype" type="textarea" style="width: 130%; height:72px;" next-on-tab />
                                        </div>
                                    </div>
                            </div>*@
                    </div>
                    @*<div class="col-xs-1 col-sm-1 col-md-1 custom-width-2">*@
                    @*<div id="style-switcher">
                            <div id="toggle-switcher" style="cursor:pointer;" class="">
                                General Info
                            </div>

                            <table class="general-info" ng-repeat="item in ItemInfo">
                                <tr>
                                    <td>Item Code : </td>
                                    <td>{{item.ItemCode}}</td>
                                </tr>
                                <tr>
                                    <td>Item Desc : </td>
                                    <td>{{item.ItemDescription}}</td>
                                </tr>
                                <tr>
                                    <td>Unit : </td>
                                    <td>{{item.ItemUnit}}</td>
                                </tr>
                                <tr>
                                    <td>Category : </td>
                                    <td>{{item.Category}}</td>
                                </tr>
                                <tr>
                                    <td>Created By : </td>
                                    <td>{{item.CreatedBy}}</td>
                                </tr>
                                <tr>
                                    <td>Created Date : </td>
                                    <td>{{item.CreatedDate}}</td>
                                </tr>
                            </table>

                        </div>*@

                    @*<div id="style-switcher-2">
                            <div id="toggle-switcher-2" style="cursor:pointer;" class="">
                                Quick Setup
                            </div>
                            <p class="general-info-2">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <label>Customer Setup</label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <a class="btn btn-circle btn-icon-only btn-default" id="custBtn" ng-click="custModal()" href="javascript:void(0);" title="Customer Setup">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <label>Supplier Setup</label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <a class="btn btn-circle btn-icon-only btn-default" id="suppBtn" ng-click="suppModal()" href="javascript:void(0);" title="Supplier Setup">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <label>Item Setup</label>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <a class="btn btn-circle btn-icon-only btn-default" id="itemBtn" ng-click="itemModal()" href="javascript:void(0);" title="Item Setup">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </p>
                        </div>*@
                    @*<div id="style-switcher-3">
                            <div id="toggle-switcher-3" style="cursor:pointer;" class="">
                                Quick Setup
                            </div>
                            <p class="general-info-3">
                                <a class="btn btn-circle btn-icon-only btn-default" id="custBtn" ng-click="quickSetupModal('Customer')" href="javascript:void(0);" title="Customer Setup">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" id="itemBtn" ng-click="quickSetupModal('Item')" href="javascript:void(0);" title="Item Setup">
                                    <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                                </a>
                                <a class="btn btn-circle btn-icon-only btn-default" id="suppBtn" ng-click="quickSetupModal('Supplier')" href="javascript:void(0);" title="Supplier Setup">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                </a>

                            </p>
                        </div>*@
                    @*</div>*@
                </div>
            </div>
            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_SalesInvItemChargePartial.cshtml")
            @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/SetupPartial/_quickSetup.cshtml")*@

            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_tablerefrence.cshtml")

            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/Draft/_draftModalPartial.cshtml")

            <div class="modal fade-out" id="saveAndPrintModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>*@
                            <h4 class="modal-title">
                                <span class="fa fa-print"></span>

                            </h4>
                        </div>

                        <div id="saveAndPrintModalFor" class="modal-body saveAndPrintModal main">
                            <form name="saveAndPrint" class="form-horizontal">
                                @if (templatename != null)
                                {
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PrintTemplate/Sales/" + @templatename + ".cshtml");
                               
                                    
                                }
                                else
                                {<div><h4>Print Template Setup Not Performed.</h4></div>}
                            </form>
                        </div>

                        <div class="modal-footer">
                            <a ng-click="printDiv1('saveAndPrintModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Print
                            </a>
                            <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                        </div>
                    </div>
                </div>
            </div>

            <!--opera print modal start-->
            <div class="modal fade-out" id="OperaPrintModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">
                                <span class="fa fa-print"></span>

                            </h4>
                        </div>

                        <div id="PrintModalFor" class="modal-body OperaPrintModal main">
                            <form name="Print" class="form-horizontal">

                                @if (templatename != null)
                                {
                                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PrintTemplate/Sales/" + @templatename + ".cshtml");

                                   
                                }
                                else
                                {<div><h4>Print Template Setup Not Performed.</h4></div>}
                            </form>
                        </div>

                        <div class="modal-footer">

                            <a ng-click="printDiv1('PrintModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Print
                            </a>
                            <a class="btn btn-sm btn-default" id="cancelPrint" ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="modal fade-out" id="OperaModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">
                                <span>Upload Opera </span>

                            </h4>
                        </div>

                        <div id="OperaModalFor" class="modal-body saveAndPrintModal main">
                            <form name="OperaPrint" class="form-horizontal">



                                @*@using (Html.BeginForm("UploadFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {*@
                                <div class="input-group" id="tpfile">
                                    <input type="file" name="file" id="avatar" placeholder='Choose a file...' />
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <input type="button" name="Submit" id="Submit" class="btn btn-primary pull-right" value="Upload Opera File" />
                                    </div>
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-danger">Reset</button>
                                    </div>
                                </div>
                                @*}*@

                            </form>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event) ng-click="refresh()"*@ data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade-out" id="SymphonyModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">
                                <span>Upload Symphony </span>

                            </h4>
                        </div>

                        <div id="SymphonyModalFor" class="modal-body saveAndPrintModal main">
                            <form name="SymphonyPrint" class="form-horizontal">
                                <div class="input-group" id="tpfile">
                                    <input type="file" name="file" id="avatarSymphony" placeholder='Choose a file...' />
                                </div>
                                <div class="modal-footer">
                                    <div class="form-group">
                                        <input type="button" name="SubmitSymphony" id="SubmitSymphony" class="btn btn-primary pull-right" value="Upload Symphony File" />
                                    </div>
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-sm btn-default" id="cancelPrint" data-dismiss="modal">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
            <table id="table" class="hidden">
                <tr>
                    <th>Items</th>
                </tr>
            </table>
            <div class="modal fade-out" id="itemCustomerModel" data-backdrop="static" tabindex="-1" data-width="700">
                <div class="modal-dialog" style="width:830px;height:1000px !important;">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<div type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeBankGuranteeDialog()" next-on-tab>&times;</div>*@
                            <h4 class="modal-title">
                                <span class="fa fa-file"></span>
                                Missing Customer and Item in Synergy
                            </h4>
                        </div>
                        <div  class="modal-body mb--8">
                            <table ng-if="linkcustomer!=''" class="table table-bordered cust-table">

                                <thead class="font-green">
                                    <tr>
                                        <th width="100%">Customer</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index,custItem) in linkcustomer">

                                        <td width="100%">
                                            {{custItem}}
                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                            <table ng-if="linkitem!=''" class="table table-bordered item-table">

                                <thead class="font-green">
                                    <tr>
                                        <th width="100%">Item</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(index,itemCust) in linkitem">

                                        <td width="100%">
                                            {{itemCust}}
                                        </td>

                                    </tr>

                                </tbody>

                            </table>
                        </div>
                        <div class="modal-footer">
                            <button class="btn  hidden" id="btnCustItemClose" ng-click="closeCustItem()"></button>
                            <button class="btn btn-green-light" id="btnCustItemCloseClick" ng-click="closeCustItemClick()" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </div>


            </div>
            <!--end opera modal-->
        </div>
    </div>
</div>

<script>
    //$('[data-toggle="tooltip"]').tooltip();
    $('#toggle-switcher').click(function () {
        if ($(this).hasClass('opened')) {
            $(this).removeClass('opened');
            $('#style-switcher').animate({ 'left': '0px', 'width': '34px' });
        } else {
            $(this).addClass('opened');
            $('#style-switcher').animate({ 'left': '-241px', 'width': '273px' });
        }
    });
    $('#toggle-switcher-2').click(function () {
        if ($(this).hasClass('opened')) {
            $(this).removeClass('opened');
            $('#style-switcher-2').animate({ 'left': '0px', 'width': '34px' });
        } else {
            $(this).addClass('opened');
            $('#style-switcher-2').animate({ 'left': '-241px', 'width': '273px' });
        }
    });

    //$('#toggle-switcher-3').click(function () {
    //    if ($(this).hasClass('opened')) {
    //        $(this).removeClass('opened');
    //        $('#style-switcher-3').animate({ 'left': '0px', 'width': '34px' });
    //    } else {
    //        $(this).addClass('opened');
    //        $('#style-switcher-3').animate({ 'left': '-241px', 'width': '273px' });
    //    }
    //});




    var dt = $.Deferred();
    var elements = null;
    $(document).ready(function () {
        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        $('i.font-green').hide();
        $.when(dt).then(function (res) {
            elements;
            if (elements != undefined) {
                $.each(elements, function (key, value) {
                    var item = this;
                    if (item.COLUMN_NAME.indexOf('DATE') !== -1) {

                    }


                });
            }
        });
        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            if ($(this).attr('href') == '#tab_15_2') {
                $('#tab_15_2').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_3') {
                $('#tab_15_3').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_4') {
                $('#tab_15_4').tab('show')
            }

        });
    });

    function ConvertEngDateToNep(eng) {

        if (eng === undefined)
            return;
        var engmonthreq = "";
        var arr = eng.split('-');
        var day = (arr[0]);
        var month = (arr[1]);
        var year = (arr[2]);
        if (month == "Jan") { engmonthreq = "01" }
        else if (month == "Feb") { engmonthreq = "02" }
        else if (month == "Mar") { engmonthreq = "03" }
        else if (month == "Apr") { engmonthreq = "04" }
        else if (month == "May") { engmonthreq = "05" }
        else if (month == "Jun") { engmonthreq = "06" }
        else if (month == "Jul") { engmonthreq = "07" }
        else if (month == "Aug") { engmonthreq = "08" }
        else if (month == "Sep") { engmonthreq = "09" }
        else if (month == "Oct") { engmonthreq = "10" }
        else if (month == "Nov") { engmonthreq = "11" }
        else if (month == "Dec") { engmonthreq = "12" }
        engdatereq = year + '-' + engmonthreq + '-' + day;
        return convertednepdate = AD2BS(engdatereq);
    }

    //function formatValue(value, type, text) {
    //    if (type == null)
    //        type = "";
    //    if (text != undefined)
    //        if (text.indexOf("#") > -1)
    //            text = text.split("#")[1];
    //    var textMatcher = new RegExp(text, "ig");
    //    var val = value.replace(textMatcher, function (match) {
    //        return "<u><strong>" + match + "</strong></u>";
    //    });
    //    return "<span class='custName'>" + val + "</span> <span class='rightallign'>" + type + "</span> ";
    //}


</script>

<script>
    $(".scrollable").scroll(function () {
        $(document.body).find("[data-role=popup]")
            .kendoPopup("close");
    });
</script>

<script>
    function bs_input_file() {
        $(".input-file").before(
            function () {
                if (!$(this).prev().hasClass('input-ghost')) {
                    var element = $("<input type='file' class='input-ghost' style='visibility:hidden; height:0'>");
                    element.attr("name", $(this).attr("name"));
                    element.change(function () {
                        element.next(element).find('input').val((element.val()).split('\\').pop());
                    });
                    $(this).find("button.btn-choose").click(function () {
                        element.click();
                    });
                    $(this).find("button.btn-reset").click(function () {
                        element.val(null);
                        $(this).parents(".input-file").find('input').val('');
                    });
                    $(this).find('input').css("cursor", "pointer");
                    $(this).find('input').mousedown(function () {
                        $(this).parents('.input-file').prev().click();
                        return false;
                    });
                    return element;
                }
            }
        );
    }
    $(function () {
        bs_input_file();
        var today = new Date();
        var datePicker = $('#englishdatedocument').kendoDatePicker({
            max: new Date(today.setDate(today.getDate())),
            min: new Date(today.setDate(today.getDate() - 3)),

        })
    });

    $('#Submit').click(function () {

        if (window.FormData !== undefined) {
            //showloader();

            var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
            if (!file_data) {
                displayPopupNotification("Please select a file", "error");
                setTimeout(function () {
                    $("#avatar").trigger("click");
                }, 500);
                return;
            }
            var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
            if (![".xml"].includes(format)) {
                displayPopupNotification("Invalid file format", "error");
                return;
            }
            var form_data = new FormData();                  // Creating object of FormData class
            form_data.append("file", file_data);
            var queryString = location.href;
            var formCode = queryString.split('/')[7];
            // var ShymphonyApi = "/api/OperaApi/Read?formCode=" + formCode;
            $.ajax({
                url: '/api/OperaApi/Read?formCode=' + formCode,
                type: "POST",
                contentType: false,
                processData: false,
                data: form_data,
                success: function (res) {

                    if (res.Sales_No !== "0" && res.Sales_No !== "N0_ITEM") {
                        //$("#OperaModal").modal('hide');
                        var Url = window.location.protocol + "//" + window.location.host + "/DocumentTemplate/Home/Index#!DT/formtemplates/" + formCode + "/" + res.Sales_No.split(new RegExp('/', 'i')).join('_');
                        window.location.href = Url;
                    }
                    else if (res.Sales_No === "N0_ITEM") {

                        displayPopupNotification("No Item Existed", "warning");
                    }
                    else {
                        displayPopupNotification("Same Bill No Already Existed", "warning");
                    }
                },
                error: function (err) {
                    displayPopupNotification(err.statusText, "error");
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

    $('#SubmitSymphony').click(function () {

        if (window.FormData !== undefined) {
            //showloader();

            var file_data = $("#avatarSymphony").prop("files")[0];   // Getting the properties of file from file field
            if (!file_data) {
                displayPopupNotification("Please select a file", "error");
                setTimeout(function () {
                    $("#avatarSymphony").trigger("click");
                }, 500);
                return;
            }
            var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
            if (![".xml"].includes(format)) {
                displayPopupNotification("Invalid file format", "error");
                return;
            }
            var form_data = new FormData();                  // Creating object of FormData class
            form_data.append("file", file_data);
            var queryString = location.href;
            var formCode = queryString.split('/')[7];
            // var ShymphonyApi = "/api/OperaApi/Read?formCode=" + formCode;
            $.ajax({
                url: '/api/ShymphonyApi/Read?formCode=' + formCode,
                type: "POST",
                contentType: false,
                processData: false,
                data: form_data,
                success: function (res) {

                    if (res.Sales_No !== "0" && res.Sales_No !== "AE") {
                        var Url = window.location.protocol + "//" + window.location.host + "/DocumentTemplate/Home/Index#!DT/formtemplates/" + formCode + "/" + res.Sales_No.split(new RegExp('/', 'i')).join('_');
                        window.location.href = Url;
                    }
                    else if (res.Sales_No === "AE") {
                        displayPopupNotification("Same Bill No Already Existed", "warning");
                    }
                },
                error: function (err) {
                    displayPopupNotification(err.statusText, "error");
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });
    //validation
    function checkSpcialChar(event) {

        if (!((event.keyCode >= 65) && (event.keyCode <= 90) || (event.keyCode >= 97) && (event.keyCode <= 122) || (event.keyCode >= 48) && (event.keyCode <= 57))) {
            if (event.keyCode == 32) {
                event.returnValue = true;
                return;
            } else {
                event.returnValue = false;
                return;
            }
        }
        event.returnValue = true;
    }
    $('#btnImportFromExcel').click(function () {

        $.ajax({
            url: "/Template/ImrortSalesInvoiceFromExcel",
            type: "POST",
            contentType: false,
            processData: false,
            cache: false,
            success: function (result) {
                alert(result)

            },
            error: function (err) {

            }
        });
    });


    //$('#uploadExcel').click(function () {
    //    console.log("upload click=============");
    //    if (window.FormData !== undefined) {
    //        showloader();
    //        var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
    //        if (!file_data) {
    //            displayPopupNotification("Please select a file", "error");
    //            setTimeout(function () {
    //                $("#avatar").trigger("click");
    //            }, 500);
    //            return;
    //        }
    //        var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
    //        if (![".xls", ".xlsx"].includes(format)) {
    //            displayPopupNotification("Invalid file format", "error");
    //            return;
    //        }
    //        var form_data = new FormData();                  // Creating object of FormData class
    //        form_data.append("file", file_data);

    //        $.ajax({
    //            url: '/Distribution/Setup/ImportRouteData',
    //            type: "POST",
    //            contentType: false,
    //            processData: false,
    //            data: form_data,
    //            success: function (result) {
    //                displayPopupNotification(result.MESSAGE, result.TYPE);
    //                if (result.TYPE == "success") {
    //                    $('#avatar').val("");
    //                    $('#grid').data("kendoGrid").dataSource.read();
    //                }
    //            },
    //            error: function (err) {
    //                displayPopupNotification(err.statusText, "error");
    //            }
    //        });
    //    } else {
    //        alert("FormData is not supported.");
    //    }
    //});


    function uploadRunExcel() {
        var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
        if (!file_data) {
            displayPopupNotification("Please select a file", "error");
            setTimeout(function () {
                $("#avatar").trigger("click");
            }, 500);
            return;
        }
        var format = file_data.name.substr(file_data.name.lastIndexOf('.'), file_data.name.length)
        if (![".xls", ".xlsx"].includes(format)) {
            displayPopupNotification("Invalid file format.Please only upload excel(.xls,xlsx) or csv", "error");
            return;
        }
        showloader();
        var form_data = new FormData();                  // Creating object of FormData class
        form_data.append("file", file_data);
        form_data.append("form_code", @z);
        form_data.append("table_name", "SA_SALES_CHALAN");

        $.ajax({
            url: '/Template/ImportChalanData',
            type: "POST",
            contentType: false,
            processData: false,
            data: form_data,
            success: function (result) {
                console.log("Response result=====================>>" + JSON.stringify(result));
                if (result.TYPE == "success") {
                    debugger;
                    displayPopupNotification(result.MESSAGE, "success");
                    $('#avatar').val("");
                    hideloader();
                    setTimeout(function () {
                        location.reload(true);
                    }, 3000);
                } else if (result.TYPE == "error") {
                    debugger;
                    displayPopupNotification(result.MESSAGE, "error");
                    hideloader();
                    setTimeout(function () {
                        location.reload(true);
                    },3000);
                } else if (result.TYPE == "NoRow") {
                    debugger;
                    displayPopupNotification(result.MESSAGE, "warning");
                    hideloader();
                    setTimeout(function () {
                        location.reload(true);
                    },3000);
                } else if (result.TYPE == "NoOrder") {
                    debugger;
                    displayPopupNotification(result.MESSAGE, "warning");
                    hideloader();
                    setTimeout(function () {
                        location.reload(true);
                    },3000);
                } else if (result.TYPE == "warning") {
                    debugger;
                    var len = result.data.split('/n').length;
                    var dataa = result.data;
                    angular.element(document.getElementById('FormTemplateCtrl')).scope().bindlinkcustomer(dataa);
                    //var dataa = result.data.split('/n');
                    //angular.element(document.getElementById('FormTemplateCtrl')).scope().bindlinkcustomer(dataa);
                    //$scope.ChargeList = dataa;
                    //$('#itemCustomerModel').toggle();
                    //var txt = "";
                    //if(len > 0){
                    //    for (var i = 0; i < len; i++){
                    //        debugger;
                    //        //if(data[i].city && data[i].cStatus){
                    //            txt += "<tr><td>"+dataa[i]+"</td></tr>";
                    //        //}
                    //    }
                    //    if (txt != "") {
                    //        debugger;
                    //        $("#table").append(txt).removeClass("hidden");
                    //    }
                    //}
                    //alert(txt);
                    //displayPopupNotification(result.data.split('/n'), "warning");
                    hideloader();
                    setTimeout(function () {
                        //location.reload(true);
                    }, 30000);
                } else if (result.TYPE == "Exception") {
                    debugger;
                    displayPopupNotification(result.MESSAGE, "error");
                    hideloader();
                    setTimeout(function () {
                        location.reload(true);
                    }, 3000);
                }
            },
            error: function (xhr, errorType, exception) {
                debugger;
                displayPopupNotification(jQuery.parseJSON(xhr.responseText), "error");
                hideloader();
                setTimeout(function () {
                    location.reload(true);
                }, 3000);
            }
        });
    };
    $('#btnCustItemCloseClick').click(function () {
        debugger;
        $('#itemCustomerModel').hide();
    });

    function showloader() {
        $(".busy-loader").css("display", "block");
    }
    function hideloader() {
        $(".busy-loader").css("display", "none");
    }
</script>










