@using NeoErp.Core.Models;
@{
    ViewBag.Title = "Calendar Route Report";
}


<style>
    #external-events {
        float: left !important;
        padding: 0 10px;
        border: 1px solid #ccc;
        /*background: #eee;*/
        text-align: left;
        width: 14%;
        height: 450px;
    }


        #external-events h4 {
            font-size: 16px;
            margin-top: 0;
            padding-top: 1em;
        }

        #external-events .fc-event {
            margin: 10px 0;
            cursor: pointer;
        }

        #external-events p {
            margin: 1.5em 0;
            font-size: 11px;
            /*color: #666;*/
        }

            #external-events p input {
                margin: 0;
                vertical-align: middle;
            }

    #calendar {
        float: left;
        width: 92%;
        padding-left: 1%;
        position: absolute;
    }

    .md-radio-inline div {
        display: inline-block;
    }

    .md-radio-inline .has-error {
        margin-right: 10px;
    }

    .TriSea-technologies-Switch > input[type="checkbox"] {
        display: none;
    }

    .TriSea-technologies-Switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .TriSea-technologies-Switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .TriSea-technologies-Switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }

    .dateFilterSelect.form-control {
        font-size: 11px !important;
        height: 24px !important;
        padding: 0 5px !important;
    }

    .form-horizontal .control-label {
        padding-top: 3px !important;
    }

    .slimScrollDiv {
        width: 14%;
    }

    #external-events1 {
        max-height: 450px;
        overflow: auto
    }

    input.input_search {
        width: 130px !important;
        font-size: 11px !important;
        margin-top: 5px;
        margin-left: -5px;
    }

    .subscribe:hover > div {
        display: none;
    }
</style>
<div class="row">
    <div class="col-md-12 common" id="calendarReport">
        <div class="page-bar">
            <ul class="page-breadcrumb"></ul>
            <div class="btn-group pull-right">
                @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                {
                ShowItemBrandFilter=true,
                })
            </div>
        </div>
       
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-calendar font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">Calendar Route Report</span>
                    <span class="caption-helper"></span>

                </div>

            </div>
            <div class="portlet-body clearfix">
                <div class="route_plan">
                    <form id="calendarForm" name="calendarForm">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Employee List
                                            </label>
                                            <select id="routeList" kendo-drop-down-list style="width: 100%" k-options="routeListOptions"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="btn-group">
                                        <span ng-hide="true">@Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div id='external-events1' style=" height:450px">
                        <div id="calendar" class="calendar" ng-model="eventSources" calendar="myCalendar" ui-calendar="uiConfig.calendar"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="@Scripts.Url(" ~/JS/DateFilter.js")" type="text/javascript"></script>
<script src="@Scripts.Url(" ~/JS/ReportFilter.js")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        DateFilter.init();
        $("#ddlDateFilterVoucher, #ToDateVoucher, #FromDateVoucher").on('change', function () {
            angular.element(document.getElementById('calendarReport')).scope().clearEventOfCalendar();
            angular.element(document.getElementById('calendarReport')).scope().initCalendar();
        });
    });
</script>
<script src="@Scripts.Url(" ~/Areas/NeoErp.Distribution/js/MenuNavigation.js")"></script>