@using NeoErp.Core.Models;
<style>
.k-grid-content, .k-grid-header
{
font-size:10px;
}
    tr.k-group-footer {
        text-align: right !important;
    } 

</style>

<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/Distribution/Home/Dashboard#!Distribution/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Sales Person Report</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">

                <div class="actions">
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                    </div>
                    @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)

                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                        {
                            ShowItemBrandFilter= true,
                        })
                    </div>
                    <div class="btn-group">
                        <a data-toggle="modal" data-target="#filterModals" title="Advance Filter" id="filterApply">
                            <div class="pull-right btn btn-circle btn-icon-only btn-default">
                                <i class="fa fa-filter"></i>
                            </div>
                        </a>
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                        <i class="icon-control-play"></i>
                    </a>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_ReportConfig.cshtml", "SalesPersonPO")
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal fade" id="filterModals" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-chart">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Advance Filter</h4>
            </div>
            <div class="modal-body bottom-gappingtwo">
                <div class="row">
                    <div class="col-md-12 col-sm-12">   
                        <label for="StatusPending">
                            <input id="StatusPending" class="Status" type="checkbox" checked="checked" name="Pending" > Pending &nbsp; &nbsp;
                        </label>
                        <label for="StatusReject">
                            <input id="StatusReject" class="Status" type="checkbox" name="Reject" > Reject   &nbsp;&nbsp;
                        </label>
                        <label for="StatusApproved">
                            <input id="StatusApproved" class="Status" type="checkbox" name="Approved"> Approved  &nbsp;&nbsp;
                        </label>
                        <div class="br"></div>                      
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn green" data-dismiss="modal" id="advanceFilterApply">Apply</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<div class="grid1" ng-controller="salesPersonCtrl">

   <div id="grid"></div>
  
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row">
                        @Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<script src="@Scripts.Url("~/JS/reportFilter.js")"></script>


<script src="@Scripts.Url("~/JS/DateFilter.js?V5")" type="text/javascript"></script>
<script>
   
</script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js")"></script>