@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <title>Synergy | Erp</title>
    <link href="@Styles.Url(" ~/Content/fonts/google_font_Open_Sans.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/font-awesome-4.1.0/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/dropzone/css/dropzone.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <!--script for neplai date picker-->
    <link href="@Styles.Url(" ~/Content/nepali.datepicker.v2.1.min.css")" rel="stylesheet" type="text/css" />
    <!--script for neplai date picker-->
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/pages/css/tasks.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/css/components.css")" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/layout.css")" rel="stylesheet" type="text/css" />
    @*
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" rel="stylesheet" type="text/css" id="style_color" />*@
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/css/plugins/jquery-ui.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/icheck/skins/all.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/NeoErpStyle.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/Glyphter.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/src/styles/web/kendo.common.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/src/styles/web/kendo.default.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/styles/kendo.dataviz.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/styles/kendo.dataviz.default.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/ToastNotification/toastr.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/nepali.datepicker.v2.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/pace/pace-1.0.2/themes/black/pace-theme-big-counter.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/TabDrop/css/tabdrop.css")" rel="stylesheet" />

    <link href="@Styles.Url(" ~/Content/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.DocumentTemplate/Content/DocumentTemplateLayout.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/NotifyBar/css/jquery.notifyBar.css")" rel="stylesheet" />
    <!--Kendo Grid-->
    <script src="@Scripts.Url(" ~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Scripts/jszip.js")" type="text/javascript"></script>
  
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    @*
    <script src="@Scripts.Url(" ~/Scripts/jquery-ui-1.10.0.min.js")"></script>*@
    @*
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>*@
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.validate.js?v12")"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.validate.customValidation.js?v3")"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.validate.unobtrusive.js")"></script>
    @*
    <script src="~/Areas/NeoErp.Planning/Scripts/nepali.datepicker.v2.1.min.js"></script>*@
    <!--script for neplai date picker-->
    <script src="@Scripts.Url(" ~/Content/nepali.datepicker.v2.1.min.js")" type="text/javascript"></script>
    <!--script for neplai date picker-->
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Scripts/plugins/iCheck/icheck.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/plugins/IonSlider/ion.rangeSlider.min.js?v5")"></script>
    <script src="@Scripts.Url(" ~/Content/pace/pace-1.0.2/pace.min.js")" data-pace-options='{ "ajax": true }'></script>
    @*
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>*@
    <script src="@Scripts.Url(" ~/Content/TabDrop/js/bootstrap-tabdrop.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-summernote/summernote.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/scripts/metronic.js?v1")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/layout/scripts/quick-sidebar.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/layout/scripts/demo.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/pages/scripts/index.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/pages/scripts/tasks.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-toastr/toastr.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/dropzone/dropzone.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootbox/bootbox.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/arg-1.3.1.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/select2/select2.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/ToastNotification/toastr.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/NotifyBar/jquery.notifyBar.js")"></script>
    <script src="@Scripts.Url(" ~/JS/NeoErp.js?v6")"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <script src="@Scripts.Url(" ~/Areas/NeoERP.DocumentTemplate/Scripts/jquery.maskedinput.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/Kendo/kendoAllNew.js?V2")"></script>
    <script src="@Scripts.Url(" ~/Scripts/plugins/dataTables/jquery.dataTables.js")"></script>
    <script src="~/Content/MainTheme/assets/global/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/Content/MainTheme/assets/admin/pages/scripts/form-wizard.js"></script>
    <!-- angular plugins-->
    <script src="@Scripts.Url(" ~/Scripts/angular.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/angular-route.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/ngScript/angular-animate.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/angular-messages.min.js")"></script>
    <script src="@Scripts.Url(" ~/Areas/NeoERP.DocumentTemplate/Scripts/jquery.maskedinput.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/Kendo/kendoAllNew.js?V1")"></script>
    <script src="@Scripts.Url(" ~/Scripts/plugins/dataTables/jquery.dataTables.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/plugins/dataTables/angular-datatables.min.js")"></script>

    <script src="@Scripts.Url(" ~/Content/MainTheme/keymaster.js")"></script>


    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="page-header-fixed  page-sidebar-closed-hide-logo page-content-white">
    <div class="busy-loader">
        <div id="preloader" class="loader"></div>
        <span style="color:white">Loading.....Please Wait.....</span>
    </div>
    <div ng-app="DTModule">
        <!-- BEGIN HEADER -->
        <div class="page-header -i navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a class="navbar-brand" href="/main/GlobalDashboard">
                        <img src="/Images/logo.png" alt="neo erp" title="neo erp" class="logo-default">
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                    <div class="menu-toggler sidebar-toggler hide"></div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cursor-move"></i>
                            </a>
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                        </li>
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-user"></i>
                                <span class="username username-hide-on-mobile">
                                    @if (Request.IsAuthenticated)
                                    {
                                        <span>Welcome : @workingContent.CurrentUserinformation.login_code</span>
                                    }
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default custom-drop">
                                <li>
                                    <i class="icon-user-follow"></i><span>@workingContent.CurrentUserinformation.company_name</span><span class="k-company-k-branch"></span>
                                </li>
                                <li>
                                    <i class="icon-social-dropbox"></i><span>@workingContent.CurrentUserinformation.branch_name</span><span class="k-branch-k-company"></span>
                                </li>
                                <li class="logout-user">
                                    <a href="@Url.Action("LogOut","Home",new { Area=""})">Log Out</a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix"></div>
        <div class="page-container">
            @RenderBody()
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-close"></i>
            </a>
            @Html.Partial("_RightPanel")
            <!-- END QUICK SIDEBAR -->
        </div>
        <div class="page-footer">
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
    </div>


    
    <script>
        function wordwrapmenu(e) {//<!-- elixir script for grid menu word wrap-->
            var menu = e.container.find(".k-menu-vertical").data("kendoMenu");
            var header = e.container.find(".k-header").data("kendoMenu");
            var field = e.field;
            menu.append({
                text: "<span class='k-item-k-wrap'>Word Wrap</span>",
                encoded: false,
                //content: "text"
            });
            // event handler
            menu.bind("select", function (e) {
                var menuText = $(e.item).text();
                if ($('.k-grid td').css("white-space") == "normal") {
                    $('.k-grid td').css("white-space", "nowrap");
                }
                else if ($('.k-grid td').css("white-space") == "nowrap") {
                    $('.k-grid td').css("white-space", "normal");
                }
                //header
                var menuText = $(e.item).text();
                if ($('.k-grid th').css("white-space") == "normal") {
                    $('.k-grid th').css("white-space", "nowrap");
                }
                else if ($('.k-grid th').css("white-space") == "nowrap") {
                    $('.k-grid th').css("white-space", "normal");
                }
            });

        }
        window.virtualPath = '@Url.Content("~")';
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Tasks.initDashboardWidget();

            if ($.cookie("themes") != undefined) {
                $(".themes-select").val($.cookie("themes"));
                $(".themes-select").trigger("change");
            }
        });


        key('ctrl+h', function () { $('.setting').hide(); return false });
        key('ctrl+v', function () { $('.setting').show(); return false });


    </script>
    <script>

        $(document).on('click', '.maskdate', function () {

            var me = $(this);
            me.datepicker({
                showOn: 'focus',
                altFormat: "dd-M-yy",
                dateFormat: "dd-M-yy",
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true

            }).focus();
        }).on('focus', '.maskdate', function () {
            var me = $(this);
            me.mask('99-99-9999');
        }).on('change', '.maskdate', function () {

            var date = $(this).val();
            var arr = date.split('-');
            var month = (arr[1]);
            var day = (arr[0]);
            if (month > 12 || day > 32) {

                $(this).val(new Date('dd-M-yy'));
            }
        });
        $(".nav-tabs a").on('click', function (e) {
            e.preventDefault();
        });

        function showloader() {
            $(".busy-loader").css("display", "block");
        }
        function hideloader() {
            $(".busy-loader").css("display", "none");
        }

    </script>
    <script>
        // American Numbering System
        var th = ['', 'thousand', 'million', 'billion', 'trillion'];
        // uncomment this line for English Number System
        // var th = ['','thousand','million', 'milliard','billion'];

        var dg = ['zero', 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']; var tn = ['ten', 'eleven', 'twelve', 'thirteen', 'fourteen', 'fifteen', 'sixteen', 'seventeen', 'eighteen', 'nineteen']; var tw = ['twenty', 'thirty', 'forty', 'fifty', 'sixty', 'seventy', 'eighty', 'ninety']; function toWords(s) { s = s.toString(); s = s.replace(/[\, ]/g, ''); if (s != parseFloat(s)) return 'not a number'; var x = s.indexOf('.'); if (x == -1) x = s.length; if (x > 15) return 'too big'; var n = s.split(''); var str = ''; var sk = 0; for (var i = 0; i < x; i++) { if ((x - i) % 3 == 2) { if (n[i] == '1') { str += tn[Number(n[i + 1])] + ' '; i++; sk = 1; } else if (n[i] != 0) { str += tw[n[i] - 2] + ' '; sk = 1; } } else if (n[i] != 0) { str += dg[n[i]] + ' '; if ((x - i) % 3 == 0) str += 'hundred '; sk = 1; } if ((x - i) % 3 == 1) { if (sk) str += th[(x - i - 1) / 3] + ' '; sk = 0; } } if (x != s.length) { var y = s.length; str += 'point '; for (var i = x + 1; i < y; i++) str += dg[n[i]] + ' '; } return str.replace(/\s+/g, ' '); }
    </script>
    <!-- scripts written in any page -->
    @RenderSection("scripts", required: false)

</body>
</html>
