@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/NeoERP.DocumentTemplate/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/NeoERP.DocumentTemplate/Content/hotkeys.css" rel="stylesheet" />
<style>

    .rightallign {
        font-weight: bold;
        font-size: 8px !important;
        float: right;
    }

    .comboBoxedescName {
        width: 65% !important;
        display: inline-block !important;
    }
</style>
@*<div class="page-sidebar-wrapper">
        @Html.Partial("_DocumentTemplateMenu")
    </div>*@
<div class="row">
    <div ng-view></div>
</div>
@section scripts{
    <!-- angular scripts for Document Template-->
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/Scripts/Angular-Module-underscore.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/Scripts/handsontable.full.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/Scripts/ngHandsontable.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/Scripts/angularjs-dropdown-multiselect.min.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/Scripts/hotkeys.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/module/DTModule.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/MenuCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/draftCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/TemplateCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/TemplateSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SalesOrderDetailCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/ThirdPartyApiCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/ThirdPartyPreferenceSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/TemplateServices.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/TemplateSetupService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/SalesOrderDetailService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/FormTemplateCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/FormTemplateService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/ContraVoucherCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/ContraVoucherService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/InventoryCtrl.js?1235eddg652")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/InventoryService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/productionCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/productionService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/Configuraton.js")"></script>


    @*<script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/SplitterMenuCtrl.js")"></script>
        <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/services/SplitterMenuService.js")"></script>*@

    <!--for dropdown list and autocomplete-->
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/accMasterCode.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/accSchemeCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/accChildCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/locationCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/tolocationCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/supplierCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/divisionCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/currencyCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/refrenceCodeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/PESCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/customerCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/customerSchemeCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/itemSchemeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/accSchemeChargeCtrl.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/employeeCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/saleTypeCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/itemCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/budgetCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/issueTypeCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/proritycCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/agentCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/branchCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/accChargeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/documentTypeCode.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/areaSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/itemCategoryGroup.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/indexMuCtrl.js")"></script>


    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/appUserCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DropdownCtrl/paymentmode.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/accountSetupTreeCtrl.js?v3444")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/supplierSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/itemSetupTreeCtrl.js?120555")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/budgetCenterSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/areaSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/agentSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/schemeSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/schemeSetupDetailCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/resourceSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/processSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/locationSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/transporterSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/regionalSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/customerSetupTreeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/PreferenceSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/BranchSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/divisionSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/CompanySetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/vehicleSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/vehicleRegistrationCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/currencySetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/categorySetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/OrderDispatchCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/PriceSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/rejectableItemSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/LoadingSlipCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/LoadingSlipPrinterCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/issueTypeSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/citySetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/dealerSetupCtrl.js?56er325e")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/TDSTypeSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/PartyTypeSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/unitOfMeasurementCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/chargeTypeDefinitionCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/prioritySetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/PurchaseIndentAdjustmentCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/PurchaseOrderAdjustmentCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SalesOrderAdjustmentCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/processSetupBomCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/subLedgerMgmtCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/CustomForm/postDatedChequeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/CustomForm/columnSettingsCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/CustomForm/cashBankSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/CustomForm/bankReconcilationCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/CustomForm/bankGuranteeCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/SetupCtrl/costCenterMgmtCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/InterestCalc/interestCalcCtrl.js")"></script>

  
    @*<script src="@Scripts.Url("~/Areas/NeoERP.DocumentTemplate/js/controller/DocumentReferenceCtrl.js")"></script>*@

    <script>
        //Auto Scroll to TOP for document Template Form



        $(".k-list").slimScroll({
            position: 'right',
            alwaysVisible: false,
            //height: '350',
        });

        $('.modal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        // global javascript function here.

        //function formatValue(value, text) {
        //    if (text.indexOf("#") > -1)
        //        text = text.split("#")[1];
        //    var textMatcher = new RegExp(text, "ig");
        //    return value.replace(textMatcher, function (match) {
        //        return "<u><strong>" + match + "</strong></u>";
        //    });
        //}
        function formatValue(value, type, text) {

            if (type == null)
                type = "";
            if (text != undefined)
                if (text.indexOf("#") > -1)
                    text = text.split("#")[1];
            var textMatcher = new RegExp(text, "ig");
            if (value != null) {
                var val = value.replace(textMatcher, function (match) {
                    return "<u><strong>" + match + "</strong></u>";
                });
            }

            //$('.k-list.k-reset,.k-list-scroller,.k-animation-container,.k-list-container').css({ height: 'auto' })
            return "<span class='comboBoxedescName'>" + val + "</span> <span class='rightallign'>" + type + "</span> ";

        }

        function CollapseAll() {
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-minus");
            if (elementsA.length > 0) {

                for (var i = 0; i < elementsA.length; i++) {
                    $(elementsA[i]).trigger("click");
                }
                return;
            }
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-collapse");
            for (var i = 0; i < elementsB.length; i++) {
                $(elementsB[i]).trigger("click");
            }
        }

        function ExpandAll() {
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-expand");
            if (elementsB.length > 0) {

                for (var i = 0; i < elementsB.length; i++) {
                    $(elementsB[i]).trigger("click");
                }
                return;
            }
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-plus");
            for (var i = 0; i < elementsA.length; i++) {
                $(elementsA[i]).trigger("click");
            }
        }</script>

    <style>

        strong {
            color: #0094ff;
        }
    </style>
}

