@{
    ViewBag.Title = "Distribution setup";
    Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}


@*<div class="row">*@
<div ng-view></div>
@*</div>*@
@section scripts{
    <!-- angular scripts for planning-->
    @*<script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/module/planningModule.js")"></script>
    <script src="@Scripts.Url(" ~/Areas/NeoERP.Planning/js/controller/menuCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/routeSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/EmployeeRoutePlan.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/calendarRouteCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/BrandingCalendarRouteCtrl.js")"></script>*@
    <script>
        function renderInput(value, routecode) {
            value = BS2AD(value);
            var today = moment(new Date()).format('DD-MMM-YY');
            var eachdate = value;
            var disable_css = 'ap';
            var replacedVlaue = value.replace('-', '').replace('-', '');
            // if else condition affects readonly option true/false for the multiselect according to date greater than or less than today.
            //comment if else condition if date before today need enable/disable.
            if (!moment(eachdate).isAfter(today) && !moment(eachdate).isSame(today)) {
                disable_css = "disable";
                return '<select kendo-multi-select k-options="employeeOptions" id="' + value + '_route_' + routecode + '" name="' + value + '_route_' + routecode + '"  class=" routeMultiselectElement multiselectCell ' + value + '_route_' + routecode + ' ' + disable_css + '" readonly="true"></select>';
            }
            else {
                return '<select kendo-multi-select k-options="employeeOptions" id="' + value + '_route_' + routecode + '" name="' + value + '_route_' + routecode + '"  class=" routeMultiselectElement multiselectCell ' + value + '_route_' + routecode + ' ' + disable_css + '"></select>';
            }

            //uncomment this return line if employee selection doesn't need disabled in any condition.
            //return '<select kendo-multi-select k-options="employeeOptions" id="' + value + '_route_' + routecode + '" name="' + value + '_route_' + routecode + '"  class=" routeMultiselectElement multiselectCell ' + value + '_route_' + routecode + ' '+disable_css+'"></select>';
        }
    </script>
}