@using NeoErp.Core.Models;
@using NeoErp.Core.Domain;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@using NeoErp.Core.Models.CustomModels;
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
    IWorkContext _workContext = EngineContext.Current.Resolve<IWorkContext>();
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}

<style>
.contain-box {
	border: 1px solid #ddd;
	box-shadow: 2px 2px 2px #eee;
	-moz-box-shadow: 2px 2px 2px #eee;
	-webkit-box-shadow: 2px 2px 2px #eee;
	-o-box-shadow: 2px 2px 2px #eee;
	margin-top: 5px;
	padding: 5px;
}
.name-title h5 {
	font-size: 11px;
	color: #333;
	padding-bottom: 5px;
	border-bottom: 1px solid #eee;
}
.name-title span {
	display: inline-block;
	float: right;
}

    
.gride-1 {
/*	width:95% !important;*/
			
}
.gride-2 {
	/*	width:5% !important;*/
	padding-right: 0px;
	padding-left: 77px;
	position: relative;
}
    .gride-2 {
        margin-top: 0px;
        display: block;
        position: fixed;
        top: 46px;
        right: 0px;
        z-index:5;
    }
#style-switcher {
	margin-bottom: 15px;
}
#style-switcher, #style-switcher-2 {
	background: #fff none repeat scroll 0 0;
	z-index: 1000;
	width: 49%;
	position: relative;
	overflow: hidden;
	height: 780px;
	border: 1px solid #ddd;
	
}
#toggle-switcher, #toggle-switcher-2 {
	background: #17D2CB;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: 38px;
	/*  left: 9px;*/
	padding: 6px 5px;
	position: absolute;
	text-align: center;
	text-transform: capitalize;
	top: 782px;
	transform: rotate(-90deg);
	transform-origin: 0 0 0;
	width: 800px;
}
    .general-info, .general-info-2 {
        width: 100%;
        background: #fff;
        max-height: 600px;
        padding-left: 45px;
        padding-right: 5px;
        font-size: 10px;
        padding-top: 5px;
        overflow-y: auto;
        overflow-x: hidden;
    }

 
.contain-image-box img {
	 
	min-height:201px;
   width: 100%;
	
}
 .contain-box
 {
  /* height: 263px;*/
    overflow:hidden;
 }



.itemtbl
{
	margin-bottom:10px;
}
.itemtbl th
{
 
	padding:5px;
	border:solid #ddd 1px;
}

.itemtbl td
{
	border:solid #ddd 1px;
		padding:5px;
		color:#666;
}

.dashboard-2 span
{
	font-size:11px;
}



.dashboard-2 .progress-info .progress
{
	height:4px;
	margin-bottom:5px;
	margin-top:6px;
}

.dashboard-2 .icon
{
	font-size:20px;
}
.dashboard-2 .display
{
	display:table;
}


.dashboard-2 .display .number
{
	float:left;
}
.dashboard-2 .display .number small
{
    font-size: 10px;
}

.dashboard-2 .icon
{
 
	position: absolute;
    right: 24px;
}

.dashboard-2 
{
	background-color:#eee;
	margin-bottom:10px;
	padding:0px 8px 8px;
}
.dashboard-2 .number h3
{
	margin-top:0px;
}

 




    .page-content-wrapper .page-content {
        padding: 7px 20px 10px 20px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }

    .sidebar ul li a.active {
        background-color: rgb(166, 193, 226);
    }

    #slider {
        width: 200px;
        margin: 15px auto;
        border-radius: 0;
        /*border: 0;*/
        background-image: -webkit-linear-gradient(left, rgb(238, 238, 238) 0%, rgb(244, 238, 25) 28%, rgb(255, 131, 44) 72%, rgb(255, 0, 0) 100%);
        background-image: -webkit-linear-gradient(left, rgb(238, 238, 238) 0%, rgb(244, 238, 25) 28%, rgb(255, 131, 44) 72%, rgb(255, 0, 0) 100%);
        background-image: -moz-linear-gradient(left, rgb(238, 238, 238) 0%, rgb(244, 238, 25) 28%, rgb(255, 131, 44) 72%, rgb(255, 0, 0) 100%);
        background-image: -o-linear-gradient(left, rgb(238, 238, 238) 0%, rgb(244, 238, 25) 28%, rgb(255, 131, 44) 72%, rgb(255, 0, 0) 100%);
        background-image: linear-gradient(left, rgb(238, 238, 238) 0%, rgb(244, 238, 25) 28%, rgb(255, 131, 44) 72%, rgb(255, 0, 0) 100%);
    }

    /*.ui-slider-horizontal .ui-slider-handle {
        top: -1em;
        background: none;
        border: none;
        cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur") 8 8, default;
    }*/

    a.k-button.k-button-icontext.k-grid-pdf {
        float: right;
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }

    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    [data-toggle=buttons] > .btn .radio {
        display: none;
    }

    .AmountFigureType {
        position: absolute;
        bottom: 103px;
        right: 32px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 12px;
    }

    .DisplayFilterContent {
        position: absolute;
        bottom: 107px;
        right: 32px;
        font-weight: 400;
        font-family: sans-serif;
        font-size: 11px;
    }

    .column {
        margin-bottom: -68px;
    }

    .portlet.portlet-sortable {
        min-height: 460px;
    }

    .overlay div {
        position: relative;
        font-size: 34px;
        margin-top: -17px;
        top: 50%;
    }

    .overlay {
        display: none;
    }


    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    a.btnGrid {
        color: #acacac !important;
    }
</style>

<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>

<div class="content ">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- /.modal -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/main/DashBoard">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="/Distribution/Home/Dashboard#!Distribution/Dashboard">Dashboard</a>
                </li>*@

        </ul>
        @*<div class="page-toolbar">
                <div class="btn-group pull-right button_space">

                    <a class="btn btn-circle btn-icon-only btn-default" id="reset_Sales_widgets" href="javascript:void(0);" title="Reset Widgets">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" id="downloadPDF" href="javascript:void(0);" title="Download in PDF" style="display:none;visibility:hidden">
                        <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                    </a>

                </div>
            </div>*@

    </div>

    <div class="clearfix"></div>

    <div class="main-view-port" style="background-color:#FFFFFF">
        <div class="col-xs-1 col-sm-1 col-md-1 gride-2 pull-right" style="display:none">

            <div id="style-switcher" class="testDivNested">
                <div id="toggle-switcher" style="cursor:pointer;" class="">
                    General Info
                </div>
                <div class="general-info">
                    <div class="contain-box">
                        <div class="name-title">
                            <h5 class="custType bold">Distributor </h5>
                            <div class="uploderdetails">
                                <p><b>Name: </b><i class="name">Ashok</i> <span><b>Address:</b> <i class="address">Bhaktapur</i> </span></p>
                                <p><b>Contact No:</b><i class="contact">-</i> <span><b>Pan No:</b> <i class="pan">-</i></span></p>
                            </div>
                        </div>
                        <div class="dashboardbox">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="dashboard-stat2 dashboard-2 ">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-green-sharp">
                                                    <span id="totalSalesCounter" data-counter="counterup" data-value="7800">7800</span>
                                                    @*<small class="font-green-sharp">$</small>*@
                                                </h3>
                                                <small>TOTAL SALES</small>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-pie-chart"></i>

                                            </div>
                                        </div>
                                        @*<div class="progress-info">
                                                <div class="salesCounterUpProgress progress">
                                                    <span style="width: 76%;" class="progress-bar progress-bar-primary green-sharp">
                                                        <span class="sr-only">76% progress</span>
                                                    </span>
                                                </div>
                                                <div class="status">
                                                    <div class="status-title"> progress </div>
                                                    <div class="status-number"> 76% </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="dashboard-stat2 dashboard-2 ">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-red-haze">
                                                    <span id="monthlySalesCounter" data-counter="counterup" data-value="1349">1349</span>
                                                </h3>
                                                <small>SALES(THIS MONTH)</small>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-thumbs-o-up"></i>

                                            </div>
                                        </div>
                                        @*<div class="progress-info">
                                                <div class="progress">
                                                    <span style="width: 85%;" class="progress-bar progress-bar-success red-haze">
                                                        <span class="sr-only">85% change</span>
                                                    </span>
                                                </div>
                                                <div class="status">
                                                    <div class="status-title"> change </div>
                                                    <div class="status-number"> 85% </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="dashboard-stat2 dashboard-2 ">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-blue-sharp">
                                                    <span id="totalCollectionCounter" data-counter="counterup" data-value="567">567</span>
                                                </h3>
                                                <small>TOTAL COLLECTION</small>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-shopping-cart"></i>

                                            </div>
                                        </div>
                                        @*<div class="progress-info">
                                                <div class="progress">
                                                    <span style="width: 45%;" class="progress-bar progress-bar-info blue-sharp">
                                                        <span class="sr-only">45% grow</span>
                                                    </span>
                                                </div>
                                                <div class="status">
                                                    <div class="status-title"> grow </div>
                                                    <div class="status-number"> 45% </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="dashboard-stat2 dashboard-2 ">
                                        <div class="display">
                                            <div class="number">
                                                <h3 class="font-purple-soft">
                                                    <span id="remainingPoCounter" data-counter="counterup" data-value="276">276</span>
                                                </h3>
                                                <small>REMAINING PO</small>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-user"></i>

                                            </div>
                                        </div>
                                        @*<div class="progress-info">
                                                <div class="progress">
                                                    <span style="width: 57%;" class="progress-bar progress-bar-primary purple-soft">
                                                        <span class="sr-only">56% change</span>
                                                    </span>
                                                </div>
                                                <div class="status">
                                                    <div class="status-title"> change </div>
                                                    <div class="status-number"> 57% </div>
                                                </div>
                                            </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>





                        <div class="gridelist">
                            <table id="itemsTable" class="itemtbl">
                                <thead>
                                    <tr>
                                        <th width="20%">Date</th>
                                        <th width="50%">Item</th>
                                        <th width="20%">Quantity</th>
                                        <th width="10%">Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>



                    <div id="loadimage">

                    </div>



                </div>
            </div>
        </div>
        <div>
            <div id="dashboardWidget"></div>
        </div>
        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/" + @myAreaName + "/Views/Home/_AreaWiseDistributer.cshtml")
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/" + @myAreaName + "/Views/Home/_AreaWiseOutlet.cshtml")
            </div>

        </div>
        <div class="margin-top-10 ">
            @*<div id="dashboardWidget"></div>*@
        </div>
        <div class="clearfix"></div>


        <div class="row" id="visitplan">
            <div class="col-md-12">
                @Html.Partial("~/Areas/" + @myAreaName + "/Views/Home/_VisitMap.cshtml")
            </div>

            @*<div class="col-md-1 custom-width-2" style="display:none">

                    <div id="style-switcher">
                        <div id="toggle-switcher" style="cursor:pointer;" class="">
                            General Info
                        </div>
                        <p class="general-info" id="loadimage">
                            Simply fill out the form below, and we'll contact you shortly.

                        </p>
                    </div>



                </div>*@


        </div>
        <div class="clearfix"></div>
        <div class="margin-top-10">
            @*<div class="col-md-12">

                            <div class="portlet portlet-sortable  light bordered" id="PendingVoucher">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="icon-bar-chart font-green-haze"></i>
                                        <span class="caption-subject bold uppercase font-green-haze custom-modal">Marketing Representative Tracking</span>
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse Slide">
                                        </a>
                                        <a href="javascript:;" class="remove">
                                        </a>
                                    </div>
                                </div>

                                <div class="panel-body MapView">
                                    <div id="visit-map-mr-panel" style="width: 100%;height: 425px; margin: 0 auto">
                                        <div id="visit-plan-mr-search" style="display:none;position:absolute;z-index:1;top:55px;left:27%;width:50%;">
                                            <input id="mr-search-target" type="text" placeholder="Search Sales Person" autocomplete="off"
                                                   style="width:100%;padding:0 11px 0 13px;height:30px;border:1px solid transparent;outline: none;background-color:#fff;font-size:15px;border-radius:2px 0 0 2px;box-shadow:0 2px 6px rgba(0, 0, 0, 0.3);">
                                            <div id="visit-mr-search-result" style="background:#fff;z-index:1;display:none;max-height:390px;overflow:auto;"></div>
                                        </div>

                                        <div id="visit-map-mr-legend-wrapper"
                                             style="display:none;position:absolute;top:0;right:0;width:150px;overflow-y:auto;border:1px solid #ccc;z-index:1;background: #fff">
                                            <div id="visit-map-mr-legend" style="font-size:12px;">
                                                <div class="visit-map-mr-legend-row "  style="padding:3px 5px;border-bottom:1px solid #eee;">
                                                    <div class="visit-map-mr-legend-row-label" style="float:left;">
                                                        <span>Total MR </span> : <span id="mr-count">0</span>
                                                    </div>
                                                    <div class="visit-map-legend-row-marker" style="float:right;">
                                                        <img src="@Scripts.Url("~/Areas/"+myAreaName+ "/Content/img/marker_visited.png")"
                                                             style="height:20px;" />
                                                    </div>
                                                    <div class="clear" style="clear:both;"></div>
                                                </div>
                                                <div class="visit-map-mr-legend-row" style="padding:3px 5px;border-bottom:1px solid #eee;">
                                                    <div class="visit-map-mr-legend-row-label" style="float:left;">
                                                        <span>MR Label</span>
                                                    </div>
                                                    <div class="visit-map-legend-row-marker" style="float:right;">
                                                        <input type="checkbox" class="visit-map-mr-cbox" style="margin:2px;" />
                                                    </div>
                                                    <div class="clear" style="clear:both;"></div>
                                                </div>

                                                <div id="visit-map-mr-fullscreen" style="display:none;margin-top:10px;height:24px;width:24px;cursor:pointer;background-color:#fff;background:url('~/Areas/'+@myAreaName+'/Content/map/asset/img/sv5.png') -52px -86px no-repeat;">
                                                    &nbsp;
                                                </div>

                                            </div>
                                        </div>
                                        <div id="visit-map-mr-report-filter" style="display:none;">
                                            <div id="visit-map-mr-detail-report" style="padding:5px; background:#fff;">View Detailed Path</div>
                                            <div id="visit-map-mr-detail-filter-date" style="margin-top:5px;padding:5px; background:#fff;">
                                                <span>Filter By Date </span>
                                                <input id="visit-map-mr-report-filter-date-inp" type="text" placeholder="" style="font-size:11px !important;width:70px;text-align:center;" readonly />
                                            </div>
                                        </div>
                                        <div id="map-mr-canvas-visit" style="height:100%;width:100%;">
                                            <div id="map-loading">
                                                <span class="loading"
                                                      style="background:#a0a0a0;padding:0 5px;display:block;position:absolute;top:50%;left:45%;">
                                                    <img src="data:image/gif;base64,R0lGODlhWgAUAIABAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFZAABACwAAAAAWgAUAAACiIyPqcvtD6OctNqLs968+w+GFdAAprmQyHmuhnrAASuHdZzUpKzjM+8L2lJEHDD3SsJUt5nIqWgCjy7oztd8QpHR4LJrTYa1YK75K64yxetYSyQt0lBbbPpaF76ykzi4lzf21WbmtpEFGAc4tqfHdzjn9hboFGlXtTdJtsnZ6fkJGio6SlpKUQAAIfkEBWQAAQAsSAALAAIAAgAAAgKEUQAh+QQFZAABACxNAAsAAgACAAACAoRRACH5BAVkAAEALFIACwACAAIAAAIChFEAOw==" />
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                </div>*@

            <div class="col-md-12">
                @*<div class="panel-heading">
                        <h4 class="panel-title">
                            Sales HeatMap
                        </h4>
                    </div>*@
                <div class="portlet portlet-sortable  light bordered" id="PendingVoucher">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-haze"></i>
                            <span class="caption-subject bold uppercase font-green-haze custom-modal">Sales HeatMap</span>
                        </div>
                        <div class="tools">
                            <a href="javascript:;" class="collapse Slide">
                            </a>
                            <a href="javascript:;" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body-1 MapView">
                        <div id="sales-map-panel" style="width: 100%;height:430px; margin:0 auto">
                            <div id="slider" style="position:absolute;z-index:1;bottom:20px;"></div>
                            <div id="sales-district-wrapper"
                                 style="display:none;position:absolute;top:0;right:0;height:50%;width:150px;overflow-y:auto;border:1px solid #ccc;z-index:1;background: #fff">
                                <div id="sales-district"></div>
                                <div id="sales-map-fullscreen" style="display:none;background-color:#fff;text-align:center;height:24px;width:24px;cursor:pointer;background:url('~/Areas/'+@myAreaName+'/Content/map/asset/img/sv5.png') -52px -86px no-repeat;margin-top:10px;">
                                    &nbsp;
                                </div>
                            </div>
                            <div id="map-canvas-sales" style="height:100%;width:100%;background:#fff;">
                                <div id="map-loading">
                                    <span class="loading"
                                          style="background:#a0a0a0;padding:0 5px;display:block;position:absolute;top:50%;left:45%;">
                                        <img src="data:image/gif;base64,R0lGODlhWgAUAIABAP///////yH/C05FVFNDQVBFMi4wAwEAAAAh+QQFZAABACwAAAAAWgAUAAACiIyPqcvtD6OctNqLs968+w+GFdAAprmQyHmuhnrAASuHdZzUpKzjM+8L2lJEHDD3SsJUt5nIqWgCjy7oztd8QpHR4LJrTYa1YK75K64yxetYSyQt0lBbbPpaF76ykzi4lzf21WbmtpEFGAc4tqfHdzjn9hboFGlXtTdJtsnZ6fkJGio6SlpKUQAAIfkEBWQAAQAsSAALAAIAAgAAAgKEUQAh+QQFZAABACxNAAsAAgACAAACAoRRACH5BAVkAAEALFIACwACAAIAAAIChFEAOw==" />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/" + @myAreaName + "/Views/Home/_VisitMapHeatMap.cshtml")
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/NeoErp.Distribution/Views/Home/ApproveSalesOrderSummary.cshtml")
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Areas/NeoErp.Distribution/Views/Home/_SPEntityCountReport.cshtml")
            </div>
        </div>
    </div>
</div>

<script src="@Scripts.Url("~/JS/DashboardChartFilter/reportFilter.js")"></script>

<script src="@Scripts.Url("~/JS/DashboardChartFilter/DateFilter.js")" type="text/javascript"></script>

<input type="hidden" id="pagenumberHidden" value="0" />

@*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE0Yegor3f8CZ1ZEEhFAwgI3M0RCh2-T4"></script>*@
<script>
    $(".Slide").click(function () {
        $(this).parent().parent().next().slideToggle("fast");
    });

    //$(".secSlide").click(function () {
    //    $(".secMapView").slideToggle("fast");
    //});



</script>


<script>
    var baseUrl = window.location.protocol + "//" + window.location.host + "/Areas/" + "@myAreaName/Content/img";
    var baseUrl1 = window.location.protocol + "//" + window.location.host + "/Areas/" + "@myAreaName/";
    $.getScript(baseUrl1 + "js/google-loader.js");
    $.getScript(baseUrl1 + "js/google-jsapi.js");
</script>
<script src='@Scripts.Url("~/Areas/"+myAreaName+"/js/markerclusterer.js")'></script>
<script defer src='@Scripts.Url("~/Areas/"+myAreaName+"/js/Visit-map.js")'></script>
<script src='@Scripts.Url("~/Areas/"+myAreaName+"/js/marker.label.min.js")'></script>
<script defer src='@Scripts.Url("~/Areas/"+myAreaName+"/js/sales-map.js")'></script>
<script src='@Scripts.Url("~/Areas/"+myAreaName+"/js/AreaMap.js?v3")'  defer></script>
<script src='@Scripts.Url("~/Areas/"+myAreaName+"/js/OutletMap.js?v32")' defer></script>

@*<script src='@Scripts.Url("~/Areas/"+myAreaName+"/js/mr-map.js")'></script>*@


<script>
   // initialize();
    $('#toggle-switcher').click(function () {
        if ($(this).hasClass('opened')) {
            $(this).removeClass('opened');
            $(".gride-2").hide();
            $('#style-switcher').animate({ 'left': '-40px', 'width': '37px' });
        } else {
            $(this).addClass('opened');
            $(".gride-2").show();
            $('#style-switcher').animate({ 'left': '-488px', 'width': '500px' });
        }
    });


    //switcher-2





    //close on background click
    $('#style-switcher').click(function (e) { //button click class name is myDiv
        e.stopPropagation();

    });
    $(document).click(function () {
        $("#toggle-switcher").removeClass('opened');
        $(".gride-2").hide();
        $('#style-switcher').animate({ 'left': '-40px', 'width': '37px' });
    });


    var widgetsUrl = '@Url.Content("~/Distribution/Home/DashBoardWidgets")';
    $(document).ready(function () {       
        $.ajax({
            type: 'POST',
            url: widgetsUrl,
            success: function (data) {
                $('#dashboardWidget').html(data);
            }
        });
    })
</script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js")"></script>