@using NeoErp.Core.Models;
@{
    ViewBag.Title = "UserSetup";
    Layout = null;
}
<style>
    .k-splitter {
        min-height: 405px;
    }

    /*#UserSetupView .k-auto-scrollable, .k-splitter .k-scrollable {
                overflow: hidden !important;
            }*/

    #UserSetupView .k-grid-header {
        padding-right: 0px !important;
    }

    #UserSetupView .k-grid-content, .k-scrollable {
        overflow: hidden !important;
    }


    .height-customized input.form-control, .height-customized select {
        max-height: 22px !important;
        padding: 0px 0px 0px 5px !important;
        font-size: 11px;
        border: solid #ccc 1px !important;
    }

    .custom-panel-body .k-widget {
        height: 22px !important;
        overflow: hidden !important;
    }

    .custom-panel-body .k-multiselect-wrap li {
        margin-top: 0px !important;
    }

    #EmployeeHidden input.k-input.k-readonly {
        width: auto !important;
    }

    .height-customized .hasDatepicker, .custom-panel-body .k-widget, .custom-panel-body input .form-control {
        border: 1px solid #ccc !important;
        background-color: #fff !important;
    }

    .height-customized input.form-control:focus, .height-customized select:focus {
        border-color: #66afe9 !important;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }

    .k-autocomplete.k-state-focused, .k-picker-wrap.k-state-focused, .k-numeric-wrap.k-state-focused, .k-dropdown-wrap.k-state-focused, .k-multiselect.k-header.k-state-focused {
        border-color: #66afe9 !important;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }

    .labelgap {
        padding-right: 5px;
    }

    .submit_btn {
        margin-top: 11px;
    }

    /*button.myButton {
            float: right;
        }*/

    .custom-panel-body .caption {
        font-size: 12px !important;
        padding: 5px 0 6px 0 !important;
    }

    .custom-panel-body .portlet-title {
        min-height: auto !important;
    }

    .custom-panel-body {
        padding-top: 5px !important;
    }

        .custom-panel-body .control-label {
            font-size: 12px !important;
        }
    /*.modal-content.custom_topAssign {
        margin-top: 150px;
        margin-left: 124px;*/
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        /* border-bottom: 2px solid #ddd; */
    }

    .multiselect-drop {
        border: solid #ddd 1px !important;
        margin-bottom: 10px !important;
        margin-top: 10px !important;
    }

        .k-widget.k-multiselect.k-header.multiselect-drop, .multiselect-drop .k-multiselect-wrap {
            background-color: #fff !important;
            overflow-y: hidden !important;
        }

            .multiselect-drop .k-multiselect-wrap li {
                margin-top: 1px !important;
            }

    .custom_topAssign .table > thead > tr > th {
        border-bottom: 1px solid #ddd;
    }

    .custom_topAssign {
        max-width: 493px;
    }

        .custom_topAssign .modal-body {
            padding-top: 0px !important;
        }

        .custom_topAssign h5 {
            color: green;
        }

    .material-switch > input[type="checkbox"] {
        display: none;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .material-switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 31px;
        }

    .material-switch {
        margin-top: 1px !important;
    }

        .material-switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 19px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -1.5px;
            transition: all 0.3s ease-in-out;
            width: 19px;
        }

        .material-switch > input[type="checkbox"]:checked + label::before {
            background: inherit;
            opacity: 0.5;
        }

        .material-switch > input[type="checkbox"]:checked + label::after {
            background: inherit;
            left: 12px;
        }

    .checkin, .userActive {
        padding: 4px 0 0 11px !important;
        height: 20px !important;
        margin-bottom: 15px;
        font-size: 11px;
        width: 100% !important;
    }

    #EmployeeHidden .form-group.col-sm-10.col-md-10.col-xs-10 {
        width: 92% !important;
    }

    #GroupHidden .form-group.col-sm-10.col-md-10.col-xs-10 {
        width: 92% !important;
    }

    #OfficerHidden .form-group.col-sm-10.col-md-10.col-xs-10 {
        width: 92% !important;
    }

    #DistributorHidden .form-group.col-sm-10.col-md-10.col-xs-10 {
        width: 92% !important;
    }

    #ResellerHidden .form-group.col-sm-10.col-md-10.col-xs-10 {
        width: 92% !important;
    }

    #DealerHidden .form-group.col-sm-10.col-md-10.col-xs-10 {
        width: 92% !important;
    }

    .empPadding {
        padding-left: 0px !important;
    }

    .colgap .k-widget.k-multiselect.k-header {
        width: 100% !important;
    }

    .main select {
        padding: 0px 11px 0px 0px !important;
    }
</style>
<script>
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");
</script>
<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/Distribution/Home/Dashboard#!Distribution/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">User Setup</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@

        </ul>
    </div>

</div>

<div id="splitter">
    @*left pane start*@
    <div>
        <div id="UserSetupView">
            <div id="grid" style="border-width:0px !important"></div>
            <ul id="menuGrid"></ul>
            <script>
                var userType = "";
                var salesPersonTemp = "";
                // var oldSpCode = "";
                var newuserType = "";
                $(document).ready(function () {
                    $(function () {
                        $('.k-grid-content').slimScroll({
                            height: '400px'
                        });
                    });
                    $(".userActive").hide();
                    $(".showEmpButton").hide();
                    var selectedRow = null;
                    var items = [{
                        USER_NAME: "USER_NAME",
                        price: 20,
                        readyStock: true
                    }]
                    var mainurl = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetUserList";
                    $("#grid").kendoGrid({
                        //change function for the selected user name
                        change: function (e) {
                            debugger;
                            var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetSalePerson";
                            var autoCompletedataSource = new kendo.data.DataSource({
                                transport: {
                                    read: {
                                        url: autoCompleteurl,
                                        dataType: "json",
                                        contentType: "application/json; charset=utf-8"
                                    }
                                }
                            });


                            $("#SalesMultiSelect").data("kendoMultiSelect").setDataSource(autoCompletedataSource);

                            $("div .caption").html("<span class='fa fa-edit'></span> Update");
                            $(".showEmpButton").hide();
                            //$("div .adduser").hide();
                            $("div .btn-primary").html("Update");
                            selectedRow = this.select();
                            var item = this.dataItem(selectedRow);
                            debugger;
                            var url = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetSPCodeByCustomerCode?SP_CODE=" + item.SP_CODE + "&USER_TYPE=" + item.USER_TYPE + "&USERID=" + item.USERID;
                            //var acDataSource = new kendo.data.DataSource({
                            //    transport: {
                            //        read: {
                            //            url: url,
                            //            dataType: "json",
                            //            contentType: "application/json; charset=utf-8"
                            //        }
                            //    }
                            //});
                            $.ajax({
                                url: url,
                                type: 'GET',
                                dataType: 'json', // added data type
                                success: function (res) {
                                    debugger;
                                    console.log(res);
                                    //item.SP_CODE = res;
                                    $("#partyTypeMultiSelects").data("kendoMultiSelect").value(res)
                                    //alert(res);
                                }
                            });
                            $("#username").val(item.USER_NAME);
                            $("#datepicker").val($.datepicker.formatDate('mm/dd/yy', new Date(item.EXPIRY_DATE)));
                            $("#UserID").val(item.USERID);
                            $("#password").val(item.PASS_WORD);
                            $("#UserOption").val(item.USER_TYPE);
                            $("#someSwitchOptionSuccess").val(item.IS_MOBILE);
                            $("#someSwitchOptionInfo").val(item.ATTENDANCE);
                            $("#someSwitchOptionPrimary").val(item.ACTIVE);
                            $(".userActive").show("fast");
                            $("#EmployeeHidden").find(".control-label").html("Supervisor");
                            $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)

                            $("#UserOption").prop("disabled", true);
                            var spCode = "";
                            if (item.IS_MOBILE == "Y") {
                                $('input[name=someSwitchOptionSuccess]').prop('checked', true);
                            }
                            else {
                                $('input[name=someSwitchOptionSuccess]').prop('checked', false);
                            }

                            if (item.ATTENDANCE == "Y") {
                                $('input[name=someSwitchOptionInfo]').prop('checked', true);
                            }
                            else {
                                $('input[name=someSwitchOptionInfo]').prop('checked', false);
                            }
                            if (item.ACTIVE == "Y") {
                                $('input[name=someSwitchOptionPrimary]').prop('checked', true);
                            }
                            else {
                                $('input[name=someSwitchOptionPrimary]').prop('checked', false);
                            }
                            //  oldSpCode = item.SP_CODE;
                            kendo.bind($("#UserSetupView"), item);
                            newuserType = item.USER_TYPE;
                            if (item.USER_TYPE == "E") {
                                $("#ResellerHidden,#OfficerHidden,#DistributorHidden,#GroupHidden,#DealerHidden").hide("fast");
                                $("#EmployeeHidden").show("fast");
                                $("#EmployeeHidden").find(".control-label").html("Employee");
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value(item.SP_CODE);
                                $("#distGroupSelect").data("kendoMultiSelect").enable(true);
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);
                            }
                            else if (item.USER_TYPE == "D") {
                                debugger;
                                $("#ResellerHidden,#OfficerHidden,#EmployeeHidden,#GroupHidden,#DealerHidden").hide("fast");
                                $("#DistributorHidden").show("fast");
                                $("#DistributorMultiSelect").data("kendoMultiSelect").value(item.SP_CODE);
                                $("#distGroupSelect").data("kendoMultiSelect").enable(true);
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);
                            }
                            else if (item.USER_TYPE == "L") {
                                debugger;

                                $("#ResellerHidden,#OfficerHidden,#EmployeeHidden,#GroupHidden,#DistributorHidden").hide("fast");
                                $("#DealerHidden").show("fast");
                                $("#partyTypeMultiSelects").data("kendoMultiSelect").value(item.SP_CODE);
                                $("#distGroupSelect").data("kendoMultiSelect").enable(true);
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);
                            }
                            else if (item.USER_TYPE == "S") {
                                $("#ResellerHidden,#DistributorHidden,#EmployeeHidden,#DealerHidden").hide("fast");
                                $("#OfficerHidden").show("fast");
                                $("#EmployeeHidden").show("fast");
                                $("#GroupHidden").show("fast");
                                $("#SalesMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)
                                $("#distGroupSelect").data("kendoMultiSelect").value(item.GROUPID)
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value(item.SUPERVISOR_CODE)

                                $("#distGroupSelect").data("kendoMultiSelect").enable(false);
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);

                                //disable sales officer field
                                //$("#SalesMultiSelect").data("kendoMultiSelect").enable(false);
                                if (item.SP_CODE == 0) {
                                    $("#SalesMultiSelect").data("kendoMultiSelect").enable(true);
                                }
                                else {
                                    $("#SalesMultiSelect").data("kendoMultiSelect").enable(false);
                                }
                            }
                            else {
                                $("#EmployeeHidden,#DistributorHidden,#OfficerHidden,#GroupHidden,#DealerHidden").hide("fast");
                                $("#ResellerHidden").show("fast");
                                $("#ResellerMultiSelect").data("kendoMultiSelect").value(item.SP_CODE);
                                $("#distGroupSelect").data("kendoMultiSelect").enable(true);
                                $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);
                            }

                        },
                        dataSource: {
                            dataType: "json",
                            transport: {
                                read: mainurl,
                            },
                            schema: {
                                model: {
                                    fields: {
                                        USER_NAME: { type: "string" },
                                    }
                                }
                            },
                            // pageSize: 20,
                            //serverFiltering: true,
                            //serverSorting: true

                        },
                        height: 395,
                        selectable: true,
                        columns: [
                            {
                                field: "USER_NAME",
                                title: "User Name",
                                headerTemplate: "User Name <button class='myButton btn btn-xs'><i class='fa fa-plus-square'></i></button>"
                            },
                        ]
                    });
                    $("#menuGrid").kendoContextMenu({
                        open: onOpen,
                        target: "#grid",
                        filter: "tbody > tr"
                    });
                });
                function onOpen(e) {

                    var row = $(e.target);
                    var grid = this.target.data("kendoGrid");
                    var item = grid.dataItem(row);
                    var items = [{
                        text: "Assign Role"

                    }];
                    this.setOptions({
                        dataSource: items
                    })
                    var contextMenu = $("#menuGrid").data("kendoContextMenu");
                    contextMenu.bind("select", function (e) {
                        assignrole(item);
                    });
                }
            </script>
        </div>
    </div>

    @*right pane start*@
    <div>
        <div class="panel-body custom-panel-body">
            <form name="userSetupForm" class="form-horizontal1 height-customized1 main" method="POST">
                @*<button style="display:none" id="primaryTextButton" class="k-primary">Add User</button>*@
                <div class="portlet box box-green">
                    <div class="portlet-title">
                        <div style="display:none" class="caption">
                            <i class="fa fa-edit"></i>Edit
                        </div>
                        <div class="caption adduser">
                            <i class="fa fa-plus-square"></i>Add User
                        </div>
                    </div>
                    <div class="portlet-body form">
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="form-group">
                            @*<label class="control-label">User Name</label>*@
                            <label class="control-label">
                                User Name
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <input type="text" id="username" class="form-control" placeholder="User Name" required>
                        </div>
                    </div>



                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="form-group">
                            @*<label class="control-label">Password</label>*@
                            <label class="control-label">
                                Password
                                <span class="required" aria-required="true"> * </span>
                            </label>
                            <input type="password" id="password" class="form-control" placeholder="Password" required>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-4 col-md-4">
                        <div class="form-group">
                            <label class="control-label">User Type</label>
                            <select name="UserType" id="UserOption" class="form-control reqField">
                                <option value="" selected="">Select User</option>
                                <option value="E">Employee</option>
                                <option value="S">Sales Officer</option>
                                <option value="D">Distributor</option>
                                <option value="R">Reseller</option>
                                <option value="L">Dealer</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Expiry Date</label>
                            <input type="text" id="datepicker" class="form-control">
                        </div>

                        <div class="form-group">
                            <input type="hidden" id="UserID" class="form-control">
                        </div>

                        @*<div class="checkin">
                                <label class="control-label labelgap">Mobile?</label>
                                <input type="checkbox" class="checkbox_check" name="IsMobile" id="IsMobile" value="Y">
                            </div>*@

                        @*<div class="userActive">
                                <label class="control-label labelgap">Active?</label>
                                <input type="checkbox" class="checkbox_check" name="IsActive" id="IsActive" value="Y">
                            </div>*@

                        <li class="list-group-item checkin">
                            Mobile ?
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionSuccess" name="someSwitchOptionSuccess" type="checkbox" />
                                <label for="someSwitchOptionSuccess" class="label-green"></label>
                            </div>
                        </li>
                        <li class="list-group-item checkin">
                            Attendance ?
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionInfo" name="someSwitchOptionInfo" type="checkbox" />
                                <label for="someSwitchOptionInfo" class="label-green"></label>
                            </div>
                        </li>

                        <li class="list-group-item userActive">
                            Active?
                            <div class="material-switch pull-right">
                                <input id="someSwitchOptionPrimary" name="someSwitchOptionPrimary" type="checkbox" />
                                <label for="someSwitchOptionPrimary" class="label-green"></label>
                            </div>
                        </li>

                        <div class="submit_btn">
                            <button type="submit" id="savechange" class="btn btn-sm btn-green">Save</button>
                        </div>

                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-4">

                        <div class="form-group" id="OfficerHidden" style="display:none">
                            <label class="control-label"> Sales Officer </label>

                            @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                            {
                            ShowSalesPersonFilter = true,
                            //ShowDistEmployeeFilter = true,
                            IsPopUp = false,
                            })

                        </div>

                        <div class="form-group" id="GroupHidden" style="display:none">
                            <label class="control-label">Group</label>
                            <select id="distGroupSelect" name="distGroupSelect" slim-scroll></select>
                        </div>

                        <div class="form-group" id="EmployeeHidden" style="display:none">
                            <label class="control-label"> Employee </label>

                            @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                            {
                            ShowDistEmployeeFilter = true,
                            IsPopUp = false,
                            })
                        </div>

                        <div class="form-group" id="DistributorHidden" style="display:none">
                            <label class="control-label"> Distributor </label>

                            @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                            {
                            ShowDistributionFilter = true,
                            IsPopUp = false,
                            })
                        </div>
                        <div class="form-group" id="DealerHidden" style="display:none">
                            <label class="control-label"> Dealer </label>

                            @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                       {
                           ShowPartyTypeFilter = true,
                           ShowDistEmployeeListFilter = false,
                            IsPopUp = false,
                       })
                        </div>
                        <div class="form-group" id="ResellerHidden" style="display:none">
                            <label class="control-label"> Reseller </label>

                            @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                       {
                           ShowResellerFilter = true,
                           ShowDistEmployeeListFilter = false,
                            IsPopUp = false,
                       })
                        </div>
                        <div class="form-group" id="ApplicationUser" style="display:none">
                            <label class="control-label"> Application users </label>

                            @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                       {
                           ShowDistEmployeeListFilter = true,
                           IsPopUp = false,
                       })
                        </div>


                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 empPadding">
                        <div class='showEmpButton' style='color: rgb(0, 0, 0);margin-top: 22px; font-size: 20px;'><span class='fa fa-plus-square'></span></div>
                    </div>
                    @*<div class="col-md-4">
                            <div class="form-group" id="Superviser" style="display:none">
                                <label class="control-label"> Supervisor </label>

                                @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                                {
                                ShowEmployeeFilter = true,
                                IsPopUp = false,
                                })
                            </div>
                        </div>*@
                </div>
            </form>
        </div>
    </div>

</div>
<div id="GSCCModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content custom_topAssign">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                <h4 class="modal-title" id="myModalLabel">Role Assignment</h4>
            </div>
            <div class="modal-body">
                <table id="userList" class="table table-sm table-inverse role-assign">
                    <thead>
                        <tr>
                            <th>User Name</th>
                            <th>User Role</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>delete</td>
                        </tr>
                    </tbody>
                </table>
                @*<h4>Assign New Role</h4>
                    <div class="">
                        <select id='callbacks' multiple='multiple'>
                            <option value='E'>Employee</option>
                            <option value='S'>Sales Officer</option>
                            <option value='D'>Distributor</option>
                            <option value='R'>Reseller</option>
                        </select>
                    </div>*@
                <h4>Assign New Role</h4>
                <select id="Assignmultiselect" multiple="multiple" class="multiselect-drop">
                    <option value="1">System User</option>
                    <option value="2">Distributor</option>
                    <option value="3">Reseller</option>
                    <option value="4">Salesperson</option>
                    <option value="5">Dealer</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" id="assignUserRole">Assign</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#distGroupSelect").kendoMultiSelect({
            dataTextField: "GROUP_EDESC",
            dataValueField: "GROUPID",
            height: 600,
            valuePrimitive: true,
            maxSelectedItems: 1,
            headerTemplate: '<div class="col-md-offset-3"><strong>Group...</strong></div>',
            placeholder: "Select Group...",
            autoClose: false,
            dataBound: function (e) {
                var current = this.value();
                this._savedOld = current.slice(0);
                $("#" + e.sender.element[0].id + "_listbox").slimScroll({ 'height': '179px', 'scroll': 'scroll' });
            },
            dataSource: {
                transport: {
                    read: {
                        url: window.location.protocol + "//" + window.location.host + "/api/Setup/getAllResellerGroups",
                        dataType: "json"
                    }
                }
            }
        });
    });
</script>

<script>
    $("#splitter").kendoSplitter({
        panes: [{ size: "20%" }, {}]
    });

    var salesPersonArr;
    $(".showEmpButton").click(function () {
        $("#distGroupSelect").data("kendoMultiSelect").enable(true);
        $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);

        var dropdownlist = $("#SalesMultiSelect").data("kendoMultiSelect");
        $("#EmployeeHidden").show("fast");
        $("#GroupHidden").show("fast");
        //salesPersonTemp;
        //var newEmployeeData = $("#SalesMultiSelect").data("kendoMultiSelect").dataSource._data
        //var newfilterdata = _.without(newEmployeeData, _.findWhere(newEmployeeData, { salesPersonTemp }))

        var employeeArr = $("#DistEmployeeList").data("kendoMultiSelect").dataSource._data;
        salesPersonArr = salesPersonArr == undefined ? $("#SalesMultiSelect").data("kendoMultiSelect").dataSource._data : salesPersonArr;
        var diff = _.difference(_.pluck(employeeArr, "EMPLOYEE_CODE"), _.pluck(salesPersonArr, "SP_CODE"));
        var result = _.filter(employeeArr, function (obj) { return diff.indexOf(obj.EMPLOYEE_CODE) >= 0; });


        var dataSource = new kendo.data.DataSource({
            data: result
        });
        $("#SalesMultiSelect").data("kendoMultiSelect").setDataSource(dataSource);
        dropdownlist.open();

    });
    //function addEmpClk() {
    //    //$("#Superviser").clone().show();
    //    var dataSource = $("#DistEmployeeMultiSelect").data("kendoMultiSelect").dataSource
    //    $("#SalesMultiSelect").data("kendoMultiSelect").setDataSource(dataSource);
    //}
</script>

<script>

    $(".myButton").click(function (e) {
        //start add button to change old datasource
        var autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/UserSetup/GetSalePerson";
        var autoCompletedataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: autoCompleteurl,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                }
            }
        });
        $("#SalesMultiSelect").data("kendoMultiSelect").setDataSource(autoCompletedataSource);
        //end add button to change old datasource

        $("#UserOption").prop("disabled", false);
        $("div .caption").html("<span class='fa fa-plus-square'></span> Add User");
        $("input").val("");
        $("select").val("");
        $(".userActive").hide("fast");
        $(".showEmpButton").hide();
        $("#OfficerHidden,#EmployeeHidden,#DistributorHidden,#ResellerHidden,#Superviser,#GroupHidden,#DealerHidden").hide();
        $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value("");
        $("#DistributorMultiSelect").data("kendoMultiSelect").value("");
        $("#partyTypeMultiSelects").data("kendoMultiSelect").value("");
        $("#distGroupSelect").data("kendoMultiSelect").value("");
        $("#SalesMultiSelect").data("kendoMultiSelect").value("");
        $("#DistEmployeeList").data("kendoMultiSelect").value("");
        $("#ResellerMultiSelect").data("kendoMultiSelect").value("");
        $("#SalesMultiSelect").data("kendoMultiSelect").enable(true);
        $("#someSwitchOptionSuccess").prop("checked", false);
        $("#someSwitchOptionInfo").prop("checked", false);
        $("#someSwitchOptionPrimary").prop("checked", false);
        $("div .btn-primary").html("Save");
        $("#distGroupSelect").data("kendoMultiSelect").enable(true);
        $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);
    });
    $("#datepicker").datepicker({
        changeMonth: true,
        changeYear: true
    });
    $('select[name="UserType"]').change(function () {
        //salesPersonTemp=    $("#SalesMultiSelect").data("kendoMultiSelect").dataSource._data

        userType = $('select[name="UserType"]').val();
        if (($(this).val()) == "") {
            $("#OfficerHidden,#EmployeeHidden,#DistributorHidden,#ResellerHidden,#Superviser,#GroupHidden,.showEmpButton,#DealerHidden").hide();
        }
        if (($(this).val()) == "S") {
            $("#EmployeeHidden,#DistributorHidden,#ResellerHidden,#DealerHidden").hide();
            $(".showEmpButton").show();
            $("#OfficerHidden").show("fast");
            //$("#GroupHidden").show("fast");
            //$("#EmployeeHidden").show("fast");
            //$("#SalesMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)
            $("#EmployeeHidden").find(".control-label").html("Supervisor");


        }

        else if (($(this).val()) == "E") {
            $("#OfficerHidden,#DistributorHidden,#ResellerHidden,#Superviser,#GroupHidden,#DealerHidden").hide();
            $(".showEmpButton").hide();
            $("#EmployeeHidden").show("fast");
            //$("#DistEmployeeMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)
            $("#EmployeeHidden").find(".control-label").html("Employee");

            // ($(this).val());
        }
        else if (($(this).val()) == "D") {
            debugger;
            $("#OfficerHidden,#EmployeeHidden,#ResellerHidden,#Superviser,#GroupHidden,#DealerHidden").hide();
            $(".showEmpButton").hide();
            $("#DistributorHidden").show("fast");
            //$("#DistributorMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)
            // ($(this).val());
        }
        else if (($(this).val()) == "L") {
            debugger;
            $("#OfficerHidden,#EmployeeHidden,#ResellerHidden,#Superviser,#GroupHidden,#DistributorHidden").hide();
            $(".showEmpButton").hide();
            $("#DealerHidden").show("fast");
            //$("#DistributorMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)
            // ($(this).val());
        }
        else if (($(this).val()) == "R") {
            $("#OfficerHidden,#EmployeeHidden,#DistributorHidden,#Superviser,#GroupHidden,#DealerHidden").hide();
            $(".showEmpButton").hide();
            $("#ResellerHidden").show("fast");
            //$("#ResellerMultiSelect").data("kendoMultiSelect").value(item.SP_CODE)
            // ($(this).val());
        }
        else {

        }
    });
</script>

<script>

    $("#savechange").click(function () {
        if ($("#username").val().length == 0 || $("#password").val().length == 0) {
            return;
        }
        if ($('input#someSwitchOptionSuccess').is(':checked')) {
            var IS_MOBILE = "Y";
        }
        else {
            var IS_MOBILE = "N";
        }
        if ($('input#someSwitchOptionInfo').is(':checked')) {
            var ATTENDANCE = "Y";
        }
        else {
            var ATTENDANCE = "N"
        }
        if ($('input#someSwitchOptionPrimary').is(':checked')) {
            var ACTIVE = "Y";
        }
        else {
            var ACTIVE = "N";
        }
        var SP_CODE;
        var USER_NAME = $("#username").val();
        var PASS_WORD = $("#password").val();
        var USER_TYPE = $("#UserOption").val();
        var EXPIRY_DATE = $("#datepicker").val();
        var USERID = $("#UserID").val();
        //  var SUPERVISOR_CODE = $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value()

        var SUPERVISOR_CODE = "";

        if (userType == 'S' || newuserType == 'S') {
            SUPERVISOR_CODE = $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value()[0]

        }
        var DistEmployeeMultiSelect = $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value();
        var SalesMultiSelect = $("#SalesMultiSelect").data("kendoMultiSelect").value();
        var GroupMultiSelect = $("#distGroupSelect").data("kendoMultiSelect").value()
        var ResellerMultiSelect = $("#ResellerMultiSelect").data("kendoMultiSelect").value();
        var DistributorMultiSelect = $("#DistributorMultiSelect").data("kendoMultiSelect").value();
        var DealerMultiSelect = $("#partyTypeMultiSelects").data("kendoMultiSelect").value();
        if ($("#DistEmployeeMultiSelect").data("kendoMultiSelect").value().length > 0) {
            if (userType == 'S') {
                SUPERVISOR_CODE = DistEmployeeMultiSelect[0];
            }

            SP_CODE = DistEmployeeMultiSelect[0];
        }
        if ($("#distGroupSelect").data("kendoMultiSelect").value().length > 0)
            var GROUP = GroupMultiSelect[0];

        if ($("#SalesMultiSelect").data("kendoMultiSelect").value().length > 0) {
            SP_CODE = SalesMultiSelect[0];
        }
        else if ($("#ResellerMultiSelect").data("kendoMultiSelect").value().length > 0) {
            SP_CODE = ResellerMultiSelect[0];
        }
        else if ($("#DistributorMultiSelect").data("kendoMultiSelect").value().length > 0) {
            SP_CODE = DistributorMultiSelect[0];
        }
        else if ($("#partyTypeMultiSelects").data("kendoMultiSelect").value().length > 0) {
            debugger;
            SP_CODE = DealerMultiSelect[0];
        }
        if ($("#SalesMultiSelect").data("kendoMultiSelect").dataItem() != undefined && $("#SalesMultiSelect").data("kendoMultiSelect").dataItem().EMPLOYEE_CODE != undefined) {
            var SP_CODE = $("#SalesMultiSelect").data("kendoMultiSelect").dataItem().EMPLOYEE_CODE;
        }
        var value = {
            USER_NAME: USER_NAME,
            PASS_WORD: PASS_WORD,
            USER_TYPE: USER_TYPE,
            EXPIRY_DATE: EXPIRY_DATE,
            USERID: USERID,
            IS_MOBILE: IS_MOBILE,
            ATTENDANCE: ATTENDANCE,
            ACTIVE: ACTIVE,
            SP_CODE: SP_CODE,
            SUPERVISOR_CODE: SUPERVISOR_CODE,
            GROUPID: GROUP,
            //  OLD_SP_CODE: oldSpCode,
            //userType: userType,
            //newuserType: newuserType,
        }
        $.ajax({
            type: 'POST',
            data: value,
            dataType: "json",
            url: window.location.protocol + "//" + window.location.host + "/api/UserSetup/InsertUserDetails",
            success: function (data) {
                debugger;
                if (data === "NotMapped") {
                    $("#grid").data("kendoGrid").dataSource.read();
                    //update grid data
                    $(".showEmpButton").hide();
                    clear();
                    displayPopupNotification("Dealer and customer PAN number does not mapped!!!", "warning");
                }
                else {
                    $("#grid").data("kendoGrid").dataSource.read();
                    //update grid data
                    $(".showEmpButton").hide();
                    clear();
                    displayPopupNotification(data, "success");
                }

            }
        });
    });

    function clear() {
        $("input").val("");
        $("select").val("");
        $("#DistEmployeeMultiSelect").data("kendoMultiSelect").value("");
        $("#DistributorMultiSelect").data("kendoMultiSelect").value("");
        $("#partyTypeMultiSelects").data("kendoMultiSelect").value("");
        $("#SalesMultiSelect").data("kendoMultiSelect").value("");
        $("#ResellerMultiSelect").data("kendoMultiSelect").value("");
        $("#someSwitchOptionSuccess").prop("checked", false);
        $("#someSwitchOptionInfo").prop("checked", false);
        $("#someSwitchOptionPrimary").prop("checked", false);
        $("#UserOption").prop("disabled", false);
        $("#SalesMultiSelect").data("kendoMultiSelect").enable(true);
        $("#OfficerHidden,#EmployeeHidden,#DistributorHidden,#ResellerHidden,#Superviser,#GroupHidden,#DealerHidden").hide();
        $("#distGroupSelect").data("kendoMultiSelect").enable(true);
        $("#DistEmployeeMultiSelect").data("kendoMultiSelect").enable(true);

    }

    function assignrole(item) {
        // $('#callbacks').find('[value="' + item.USER_TYPE + '"]').prop('selected', true);
        var obj;
        if (item.USER_TYPE == "E") {
            obj = "Employee"
        }
        if (item.USER_TYPE == "D") {
            obj = "Distributor"
        }
        if (item.USER_TYPE == "S") {
            obj = "Sales Officer"
        }
        if (item.USER_TYPE == "R") {
            obj = "Reseller"
        }
        if (item.USER_TYPE == "L") {
            obj = "Dealer"
        }
        //start
        //var list = $('.ms-selection').find('li');
        //var mlist = $('.ms-selectable').find('li');
        //$.each(list, function (i, e) {
        //
        //    if ($(this).prop('textContent') == obj) {
        //
        //        $(this).removeAttr('style');
        //        $(this).addClass('ms-selected');


        //       // $(this).css({ 'display': 'list-item' })
        //    }
        //})
        //$.each(mlist, function (i, e) {
        //    var $this = $(this);
        //    if ($this.prop('textContent') == obj) {
        //
        //        $this.css({ 'display': 'none' })
        //    }
        //})

        //end
        if (item.ROLE_NAME == null) {
            var ROLE_NAME = "Not assigned";
            var html = "";
            $("#userList").find("tbody").find("tr").html("");
            for (var i = 0; i <= 0; i++) {
                html += "<tr><td>" + item.USER_NAME + "</td><td>" + ROLE_NAME + "<td></td><tr>"
            }
            $("#userList").append(html);
            $("#GSCCModal").modal("show");
        }
        else {
            var html = "";
            $("#userList").find("tbody").find("tr").html("");
            for (var i = 0; i <= 0; i++) {
                html += "<tr><td>" + item.USER_NAME + "</td><td>" + item.ROLE_NAME + "<td></td><tr>"
            }
            $("#userList").append(html);
            $("#GSCCModal").modal("show");
        }
    };

    $("#Assignmultiselect").kendoMultiSelect({
        animation: {
            open: {
                effects: "zoom:in",
                duration: 300
            }
        }
    });
    $("#Assignmultiselect").data("kendoMultiSelect").options.maxSelectedItems = 1;
    $(function () {
        $("#SalesMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
    });
    $(function () {
        $("#partyTypeMultiSelects").data("kendoMultiSelect").options.maxSelectedItems = 1;
    });
    $(function () {
        $("#DistributorMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
    });
    $(function () {
        $("#ResellerMultiSelect").data("kendoMultiSelect").options.maxSelectedItems = 1;
    });
    //$('#callbacks').multiSelect(
    //    {
    //        selectableHeader: "<div class='custom-header'>Selectable items</div>",
    //        selectionHeader: "<div class='custom-header'>Selection items</div>",

    //        afterSelect: function (values) {
    //            $('#callbacks').multiSelect('refresh');
    //            $('#your-select').multiSelect('select', String | Array);
    //
    //            $('#callbacks').find('[value="' + $("#UserOption").val() + '"]').prop('selected', true);
    //            $(this).css({ 'display': 'block' })
    //        },
    //        afterDeselect: function (values) {
    //            $('#callbacks').multiSelect('refresh');
    //            var obj = values
    //            obj;
    //        }
    //    });
    $("#assignUserRole").click(function (item) {
        //$(this).closest("[data-role=window]").kendoWindow("close");
        if (typeof value === 'string') { value = [value]; }
        var USER_NAME = $("#username").val();
        var USERID = $("#UserID").val();
        var ROLE_CODE = $("#Assignmultiselect").val();
        var PASS_WORD = $("#password").val();
        var data = {
            USER_NAME: USER_NAME,
            USERID: USERID,
            PASS_WORD: PASS_WORD,
            ROLE_CODE: ROLE_CODE[0],
        }
        $.ajax({
            type: 'POST',
            data: data,
            dataType: "json",
            url: window.location.protocol + "//" + window.location.host + "/api/UserSetup/UpdateAssign",
            success: function (data) {
                $("#grid").data("kendoGrid").dataSource.read();
                //update grid data
                $("#Assignmultiselect").data("kendoMultiSelect").value("");
                displayPopupNotification("Assign Successfully", "Success");
            }
        });
    });
</script>
<script src="@Scripts.Url("~/Areas/NeoErp.Distribution/js/MenuNavigation.js?V2")"></script>