@model NeoErp.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Main", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.OldPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.OldPassword, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.OldPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.NewPassword, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @style = "width:300px;" })
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Change Password" id="changeUserPassword" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#changeUserPassword').click(function (e) {
            debugger;
            e.preventDefault();
            var data = {
                "OldPassword": $("#OldPassword").val(),
                "NewPassword": $("#NewPassword").val(),
                "ConfirmPassword": $("#ConfirmPassword").val()
            };


            var token = $('input[name="__RequestVerificationToken"]').val();
            var headers = {};
            headers['__RequestVerificationToken'] = token;


            $.ajax({
                url: '/Main/ChangePassword',
                type: "POST",
                data: JSON.stringify(data),
                cache: false,
                headers: headers,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    debugger;
                    setTimeout(function () {
                        if (response === "cpempty") {
                            debugger;
                            displayPopupNotification("Current password could not be empty", "error");
                        }
                        else if (response === "cpincorrect") {
                            debugger;
                            displayPopupNotification("Current password is incorrect", "error");
                        }
                        else if (response === "npcpnotmatch") {
                            debugger;
                            displayPopupNotification("New password and current password does not match", "error");
                        }
                        else {
                            debugger;
                            displayPopupNotification("Password Changed Successfully", "Success");
                        }
                    }, 1000);
                },
                error: function (error) {
                    displayPopupNotification("Something went wrong,please contact with administrator.", "error");;
                }
            });
        });
    });
</script>

