@model NeoErp.Core.Models.DatabaseSettingModel
@{
    ViewBag.Title = "NeoErp Database Setup";
    Layout = "_PublicLayout.cshtml";
}



<div class="login-box">
    <div class="login-logo">
        <img src="/Documents/Content/logo.png" width="100%" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">@ViewBag.Title</p>
        @using (Html.BeginForm("DbSetup", "Main", new { area = "" }, FormMethod.Post))
        {   @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div class="form-group has-feedback">
                @Html.EnumDropDownListFor(model=>model.ConType, new { @class = "form-control", placeholder = "FiscalYear" })
            </div>

            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.ServerName, new { @class = "form-control", placeholder = "Server Details" })
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.ServerName)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.Database, new { @class = "form-control", placeholder = "Database" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Database)
            </div>
            <div class="form-group has-feedback">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Sql User Name" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="form-group has-feedback">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                      
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Save Connection</button>
                </div>
                <!-- /.col -->
            </div>
        }

        
    </div>
    <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

