@using NeoErp.Core
@using NeoErp.Core.Infrastructure
@using NeoErp.Core.Plugins
@model IEnumerable<PluginDescriptor>
@{

    var groupedPlugins = Model.Select(q => q.Group).Distinct().ToList();
    var isSidemenu = TempData["sidemenu"].ToString();

    //  var webHelper = EngineContext.Current.Resolve<IWebHelper>();
}
@if (isSidemenu == "false")
{
        foreach (var plugindescriptor in Model)
        {

            <li>
                <a href="@Url.RouteUrl(plugindescriptor.RouteName)" class="btn btn-success form-control">@plugindescriptor.FriendlyName</a><br />
            </li>
            @*<div class="col-md-3 col-sm-4 mix @plugindescriptor.Group mix-all">
                <div class="mix-inner">
                    <img class="img-responsive mix-width-full" src="@plugindescriptor.GetLogoUrl(webHelper)" alt="">
                    <div class="mix-details">
                        <h4>@plugindescriptor.FriendlyName</h4>
                        <a class="mix-link" href="@Url.RouteUrl(plugindescriptor.RouteName)" target="_blank">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>*@
    }
}
else
{
    <div class="page-sidebar-wrapper">
        <!-- END SIDEBAR -->
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                @{ 
                    var modelinc = 1;
                }
                @foreach (var plugindescriptor in Model)
                {
                    var className = "icon-home";
                    if (modelinc == 2)
                    {
                        className = "icon-diamond";
                       // modelinc = modelinc + 1;
                    }
                    modelinc = modelinc + 1;

                <li class="nav-item">
                    <a href="@Url.RouteUrl(plugindescriptor.RouteName)" class="nav-link nav-toggle ">
                        <i class="@className"></i>
                        <span class="title">@plugindescriptor.FriendlyName</span>
                   
                    </a>
                    
                </li>
                }

            </ul>
            <!-- END SIDEBAR MENU -->
        </div>
        <!-- END SIDEBAR -->
    </div>
}



