@using NeoErp.Core
@using NeoErp.Core.Infrastructure
@using NeoErp.Core.Plugins
@model IEnumerable<PluginDescriptor>
    @{

        var groupedPlugins = Model.Select(q => q.Group).Distinct().ToList();
        var webHelper = EngineContext.Current.Resolve<IWebHelper>();
    }
<div class="tabbable-line boxless">
    <ul class="mix-filter">
        <li class="filter" data-filter="all">
            All
        </li>
        @foreach (var groupItem in groupedPlugins)
        {
            <li class="filter" data-filter="@groupItem">
                @groupItem
            </li>
        }
    </ul>
    <div class="row mix-grid">
        @foreach (var plugindescriptor in Model)
        {
            <div class="col-md-3 col-sm-4 mix @plugindescriptor.Group mix-all">
                <div class="mix-inner">
                    <img class="img-responsive mix-width-full" src="@plugindescriptor.GetLogoUrl(webHelper)" alt="">
                    <div class="mix-details">
                        <h4>@plugindescriptor.FriendlyName</h4>
                        <a class="mix-link" href="@Url.RouteUrl(plugindescriptor.RouteName)" target="_blank">
                            <i class="fa fa-link"></i>
                        </a>
                    </div>
                </div>
            </div>
        }

        </div>
</div>


