<style>
    body, .bulkpermission-modal .dropdown-menu {
        font-family: "Open Sans",sans-serif !important;
    }

    .modal-dialog {
        margin: 70px auto !important;
    }

    .float-clear {
        clear: both !important;
    }

    .multiselect-parent .dropdown-menu {
        overflow: auto !important;
    }

    .multiselect-parent .dropdown-toggle {
        width: 253px;
        max-width: 100%;
        text-align: left !important;
        height: 24px;
        font-size: 11px;
    }

    .select2-choice {
        font-size: 11px !important;
    }

    .multiselect-parent .dropdown-toggle span {
        float: right;
        position: absolute;
        right: 6px;
        top: 11px !important;
    }

    .multiselect-parent .dropdown-menu {
        width: 253px;
        max-width: 100%;
    }

    a.btn.green {
        /*margin-left: 548px;*/
    }

    .addicon {
        padding-left: 3px !important;
    }

    .menutitle {
        font-size: 15px !important;
    }

    .menu-controle button, #custom_menucontrol a {
        font-size: 12px !important;
        padding: 4px !important;
        margin-right: 10px !important;
        margin-bottom: 10px;
    }

    .menucontrole-table th, .menu-controle label {
        font-size: 12px !important;
    }

    .dataTables_filter input {
        max-height: 24px !important;
        font-size: 11px !important;
    }

    .portlet.box.grey-cascade {
        min-height: 300px !important;
        background-color: #fff !important;
    }

    #AddMenu .select2-choice, .select2-results li {
        font-size: 11px !important;
    }

    #AddMenu h3, .bulkpermission-modal h3 {
        padding: 15px !important;
        margin: 0px !important;
        font-size: 15px !important
    }

    .bargap {
        margin-bottom: 10px !important;
    }

    .pagination a, .menucontrole-table td {
        font-size: 12px !important
    }

    .dataTables_info {
        font-size: 11px !important
    }

    .dropdown-menu-form {
        max-height: 310px;
    }

    #UpdateMenu h3 {
        font-size: 15px !important;
        margin: 0 !important;
        padding: 15px !important;
    }

    table.dataTable.btn {
        padding: 7px 11px !important;
    }

    .menucontrole-table .btn {
        font-size: 12px !important;
        padding: 5px 11px !important;
    }

    #AddMenu label, .bulkpermission-modal label, #UpdateMenu label {
        font-weight: normal !important;
    }

    .select2-container .select2-choice .select2-arrow {
        background: none !important;
        border: none !important
    }

    .select2-drop-active {
        border-color: -moz-use-text-color #AAAAAA #AAAAAA;
    }

    #select2-drop .select2-input {
        padding-bottom: 0px !important;
    }

    #divConfirm h4 {
        font-size: 13px !important;
    }

    .menucontrole-table th:last-child {
    }
</style>
@{
    ViewBag.Title = "Access Manager - Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/OldContent/Theme/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/blue.min.css")" title="blue" rel="alternate stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" title="darkblue" rel="alternate stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" title="light2" rel="alternate stylesheet" />
<link href="@Styles.Url("~/Content/MainTheme/NotifyBar/css/jquery.notifyBar.css")" rel="stylesheet" />

<div class="page-content-wrapper" id="operationContent">
    <div class="page-content full-width" style="min-height:310px">
        <div ng-app="erpApp">
            <div ng-controller="accessManagerController" id="accessManagerController">
                <!-- BEGIN PAGE HEADER-->

                <div class="page-bar bargap">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-pencil-square-o"></i>

                            <a href="~/AccessManager/Index">Access Manager Control</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                    <div class="page-toolbar">
                        <div class="btn-group pull-right">

                            <div class="actions">

                                <div class="btn-group menuDropdown">
                                    <div class="btn-group">
                                        <select class="form-control input-medium select2me "  ng-change="SearchAccess()"  ng-model="selectedUser" name="user">
                                            <option value="" selected>---Select user to edit---</option>
                                            <option value="{{ddu.USER_NO}}" ng-repeat="ddu in dropDownUser">{{ddu.LOGIN_EDESC}}</option>
                                        </select>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->

                <div class="divList">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet box grey-cascade">
                                <div class="portlet-title">
                                    <div class="caption menutitle">
                                        <i class="fa fa-gift font-green-haze" aria-hidden="true"></i>
                                        Set Up Acccess Control
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse">
                                        </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config">
                                        </a>
                                        <a href="javascript:;" class="reload" ng-click="ReloadGrid()">
                                        </a>
                                        <a href="javascript:;" class="remove">
                                        </a>
                                    </div>
                                </div>
                                <div class="portlet-body menu-controle">
                                    <div id="splitter" kendo-splitter
                                         k-panes="[{ collapsible: true, size: '20%' },{ collapsible: true, size: '80%'}]"
                                         k-orientation="orientation"
                                         k-rebind="orientation">

                                        <div class="portlet box green-box tab-box">
                                            <div class="portlet-title">
                                                <div class="caption splitterfont">
                                                    <i class="fa fa-gift"></i>
                                                    <span class="font-green-haze">{{modulename}}</span>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="form-body" id="moduleList">
                                                    <div id="userTreeView" style="max-height:400px;"></div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="">

                                            <div class="tabbable-line1 tabbox1" style="margin-top:7px;">

                                                <ul id="myTab" class="document-tab nav nav-tabs ">

                                                    <li class="active">
                                                        <a href="#tab_15_1" data-toggle="tab">
                                                            Company & Branch
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab_15_2" data-toggle="tab">
                                                            Form Control
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab_15_3" data-toggle="tab">
                                                            Form Days Control
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab_15_4" data-toggle="tab">
                                                            Menu Control
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab_15_5" data-toggle="tab">
                                                            Module User Control
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#tab_15_6" data-toggle="tab">
                                                            Navigation Control
                                                        </a>
                                                    </li>

                                                </ul>

                                                <div class="tab-content d-tab-content">

                                                    <div class="tab-pane active" id="tab_15_1" data-target="#companyTab"  data-toggle="tabajax" rel="tooltip">
                                                        <div class="table-responsive">
                                                            <hr />
                                                          
                                                           
                                                            @*<div ng-if="action=='Save'">*@
                                                                <div id="consolidateTreeView" style="max-height:400px;" class="consolidateTree"></div>
                                                             <div id="consolidateUpdateTreeView" style="max-height:400px;display:none;" class="consolidateUpdateTree"></div>
                                                            @*</div>*@
                                                            @*<div ng-if="action=='Update'">
                                                                <div id="consolidateUpdateTreeView" style="max-height:400px;"></div>
                                                            </div>*@

                                                        </div>
                                                        <hr />
                                                    </div>

                                                    <div class="tab-pane "  data-target="#formTab"  data-toggle="tabajax" rel="tooltip" id="tab_15_2">
                                                        <div class="table-responsive">
                                                            <hr />
                                                            <h3>Form Control</h3>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane" id="tab_15_3"  data-target="#formDaysTab"  data-toggle="tabajax" rel="tooltip">
                                                        <hr />
                                                        <h3>Form Days Control</h3>
                                                    </div>

                                                    <div class="tab-pane" id="tab_15_4"  data-target="#menuTab"  data-toggle="tabajax" rel="tooltip">
                                                        <hr />
                                                        <h3>Menu Control</h3>
                                                    </div>

                                                    <div class="tab-pane" id="tab_15_5"  data-target="#moduleUserTab"  data-toggle="tabajax" rel="tooltip">
                                                        <hr />
                                                        <h3>Module User Control</h3>
                                                    </div>

                                                    <div class="tab-pane" id="tab_15_6"  data-target="#navigationTab"  data-toggle="tabajax" rel="tooltip">
                                                        <hr />
                                                        <h3>Navigation Control</h3>
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-md-12">
                                                <button class="btn btn-success" ng-click="saveUserAndCompany()">{{action}}</button>
                                                <button class="btn btn-success">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                    </div>
                </div>

                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/ngScript/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="~/Scripts/ngScript/angular ui select/select2.js"></script>
<script src="~/Content/Kendo/kendoAllNew.js"></script>
<script src="~/Scripts/underscore-min.js"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Module.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Service.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Controller.js")"></script>
<script src="@Scripts.Url("~/Content/MainTheme/NotifyBar/jquery.notifyBar.js")"></script>

<script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>

<script>


    //$('[data-toggle="tabajax"]').click(function (e) {

    //    var $this = $(this),
    //        loadurl = $this.attr('href'),
    //        targ = $this.attr('data-target');

    //    $.get(loadurl, function (data) {
    //        $(targ).html(data);
    //    });

    //    $this.tab('show');
    //    return false;
    //});

    $("#splitter").kendoSplitter()
    var splitter = $("#splitter").data("kendoSplitter");
    splitter.size(".k-pane:first", "18%");

    //$('.tblresponsive').slimScroll({
    //    height: '150px',
    //});

    (function () {









        $('#consolidateTreeView').slimScroll({
            //height: '420px',
            // opacity: '0.4',
            railVisible: true,
            alwaysVisible: true
        });
       // consolidate.init();
        testSelect2 = function (action) {
            $('select.select2me').each(function (index, item) {
                var val = $(item).select2('val');
                $(item).select2('val', val);
            });

            if (action == 'Update')
                $(".userno").attr('disabled', 'disabled');
            else
                $(".userno").attr('disabled', false)
        }
      
    })();
</script>






