@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>
    ();
    Layout = null;
}
@{
    var myAreaName = string.Empty;
    object areaObj;
    if (ViewContext.RouteData.Values.TryGetValue("area", out areaObj))
    {
        myAreaName = areaObj.ToString();
    }
}
<!DOCTYPE html>

<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <title>neo | erp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->

    <link href="@Styles.Url(" ~/Content/fonts/google_font_Open_Sans.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/font-awesome-4.1.0/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/pages/css/tasks.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/css/components.css")" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" />
    @*
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">*@
    <link href="@Styles.Url(" ~/Content/css/plugins/jquery-ui.css")" rel="stylesheet" />
    @*
        <link href="@Styles.Url(" ~/Content/angular-datatables.min.css")" rel="stylesheet" />*@
    <link href="~/Content/css/plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/icheck/skins/all.css")" rel="stylesheet" />
    <!-- END THEME STYLES -->
    @*
        <link rel="shortcut icon" href="favicon.ico" />*@
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/dropzone/css/dropzone.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css")" />
    <link rel="stylesheet" type="text/css" href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/select2/select2.css")" />
 

    <!-- custome icon fonts and css -->

    <link href="@Styles.Url(" ~/Content/MainTheme/Glyphter.css")" rel="stylesheet" />
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.validate.js?v12")"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.validate.customValidation.js?v3")"></script>
    <script src="@Scripts.Url(" ~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Scripts.Url(" ~/Content/nepali.datepicker.v2.min.js")"></script>

    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <link href="@Styles.Url(" ~/Content/Kendo/src/styles/web/kendo.common.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/src/styles/web/kendo.default.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/styles/kendo.dataviz.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/Kendo/styles/kendo.dataviz.default.min.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/ToastNotification/toastr.min.css")" rel="stylesheet" />
    <script src="@Scripts.Url(" ~/Scripts/plugins/iCheck/icheck.min.js")"></script>
    <link href="@Styles.Url(" ~/Content/css/icheck/icheck-line.css")" rel="stylesheet" />
    <script src="@Scripts.Url(" ~/Scripts/plugins/IonSlider/ion.rangeSlider.min.js?v5")"></script>
    <link href="@Styles.Url(" ~/Content/css/IonSlider/ion.rangeSlider.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/css/IonSlider/ion.rangeSlider.skinModern.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-summernote/summernote.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/nepali.datepicker.v2.min.css")" rel="stylesheet" />
    <script src="@Scripts.Url(" ~/Content/pace/pace-1.0.2/pace.min.js")" data-pace-options='{ "ajax": true }'></script>
    <link href="@Styles.Url(" ~/Content/pace/pace-1.0.2/themes/black/pace-theme-big-counter.css")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/NeoErpStyle.css?v12")" rel="stylesheet" />
    <link href="@Styles.Url(" ~/Areas/NeoERP.LOC/Content/LcStyles.css")" rel="stylesheet" />
   <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/blue.min.css")" title="blue" rel="alternate stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" title="darkblue" rel="alternate stylesheet" />
    <link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" title="light2" rel="alternate stylesheet" />
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>


    <script src="@Scripts.Url(" ~/Areas/NeoERP.LOC/Scripts/jquery.maskedinput.min.js")"></script>
    <!--TabDrop strart from here-->
    <link href="@Styles.Url(" ~/Content/TabDrop/css/tabdrop.css")" rel="stylesheet" />
    <script src="@Scripts.Url(" ~/Content/TabDrop/js/bootstrap-tabdrop.js")"></script>
    <script src="~/Areas/NeoERP.LOC/Scripts/jszip.min.js"></script>
    <!--TabDro end here-->

    <script type="text/javascript">
        window.virtualPath = '@Url.Content("~")';
    </script>

    <style>
        /* need to replace file*/
        .nav-tabs {
            /*border-bottom: 1px solid whitesmoke;
            position: relative;*/
            width: 100% !important;
        }

        .k-grid-footer {
            font-size: 10px !important;
        }

        .k-grid-header {
            font-size: 11px !important;
        }
        /*end replace css*/
        .page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
            background: #3FD5C0 !important;
            color: white !important;
        }

        .navbar-brand img {
            max-width: 100%;
            width: 134px;
            float: left;
            padding: 0;
            margin: 0 -10px;
        }

        .navbar-brand {
            float: left;
            height: 50px;
            padding: 0px 0px !important;
            font-size: 0px !important;
            line-height: 0px !important;
        }

        li.logout-user a:before {
            content: "\f08b";
            font-family: FontAwesome;
            padding-right: 4px;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .custom-drop {
            margin-right: 3px !important;
            min-width: 171px !important;
            width: 171px !important;
        }

        span.k-item-k-wrap:before {
            content: "\f079";
            font-family: FontAwesome;
            padding-right: 11px;
            color: #6b605b !important;
            margin-left: -2px;
        }

        #header_inbox_bar a {
            padding: 17px 10px 9px !important;
        }

        li.k-item.k-state-default.k-last {
            border-width: 1px 0 0;
        }

        .custom-drop {
            padding-left: 5px;
            padding-left: 5px;
        }

            .custom-drop li {
                padding-bottom: 5px;
                padding-top: 10px;
            }

            .custom-drop span {
                display: block;
                margin-left: 24px;
                font-size: 13px !important;
                font-weight: normal;
                color: #555 !important;
                font-family: "Open Sans",sans-serif !important;
                padding-left: 2px;
                padding-right: 2px;
            }

            .custom-drop li.logout-user a {
                font-family: "Open Sans",sans-serif !important;
                font-size: 13px !important;
                color: #555 !important;
                font-weight: normal !important;
                padding-left: 2px;
                padding-right: 2px;
            }

            .custom-drop i {
                float: left;
            }

        li.logout-user a::before {
            padding-right: 12px !important;
        }

        .border-buttom {
            border: solid;
            border-width: 1px 0px 0px !important;
            border-color: #f1f3f6;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-menu > li > a {
            font-size: 14px;
            font-weight: 300;
            padding-left: 3px;
        }

         .highlight {
        background-color:#80ddaa;
    }
         #operationContent, .page-footer {
    background-color: #f6f6f6;
}
    </style>
    @RenderSection("Styles", false)
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed  page-sidebar-closed-hide-logo page-content-white">
    <div class="busy-loader">
        <div id="preloader" class="loader"></div>
        <span style="color:white">Loading.....Please Wait.....</span>
    </div>
    <!-- BEGIN HEADER -->
    <div ng-app="dashboardApp">
        <div class="page-header -i navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a class="navbar-brand" href="/main/GlobalDashboard">
                        <img src="/Images/logo.png" alt="neo erp" title="neo erp" class="logo-default">
                    </a>
                    <div class="menu-toggler sidebar-toggler">
                        <span></span>
                    </div>
                    <div class="menu-toggler sidebar-toggler hide">
                        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                    </div>
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                </a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cursor-move"></i>

                            </a>
                            <!-- END TODO DROPDOWN -->
                            <!-- BEGIN USER LOGIN DROPDOWN -->
                            <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-user"></i>
                                <span class="username username-hide-on-mobile">

                                    @if (Request.IsAuthenticated)
                                {
                                        @*<label>Welcome: @Html.Encode(User.Identity.Name)</label>*@
                                        <span>Welcome : @workingContent.CurrentUserinformation.login_code</span>
                                }
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default custom-drop">
                                <li>
                                    <i class="icon-user-follow"></i><span>@workingContent.CurrentUserinformation.company_name</span><span class="k-company-k-branch">

                                    </span>
                                </li>
                                <li>
                                    <i class="icon-social-dropbox"></i><span>@workingContent.CurrentUserinformation.branch_name</span><span class="k-branch-k-company">
                                    </span>
                                </li>
                                <div class="border-buttom">
                                </div>
                                <li class="logout-user">

                                    <a href="@Url.Action(" LogOut","Home",new { Area="" })">Log Out</a>

                                </li>


                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix">
        </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <div class="page-sidebar-wrapper">
                @Html.Partial("_menuLoc")
            </div>
            <div class="page-content-wrapper" id="operationContent">
                <div class="page-content">
                    @RenderBody()
                </div>
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
            @Html.Partial("_RightPanel")
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            @*<div class="page-footer-inner">

                    Synergy Erp
                    © 2015. All rights reserved.

                </div>*@
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="../../assets/global/plugins/respond.min.js"></script>
        <script src="../../assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
    </div>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>

    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-summernote/summernote.min.js")"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN ANGULAR PAGE LEVEL SCRIPTS -->

    <script src="@Scripts.Url(" ~/Scripts/plugins/dataTables/jquery.dataTables.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/angular.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/angular-route.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/ngScript/angular-animate.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/angular-messages.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/ngScript/angularjs-dropdown-multiselect.min.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/plugins/dataTables/angular-datatables.min.js")"></script>


    @*
        <script src="@Scripts.Url(" ~/Areas/"+myAreaName+"/Scripts/ng-urlRoute-loc.js")"></script>*@

    <!-- END ANGULAR PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/scripts/metronic.js?v1")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/layout/scripts/quick-sidebar.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/layout/scripts/demo.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/pages/scripts/index.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/admin/pages/scripts/tasks.js")" type="text/javascript"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-toastr/toastr.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/dropzone/dropzone.js")"></script>
    <script type="text/javascript" src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js")"></script>
    <script src=@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootbox/bootbox.min.js")></script>


    @*
        <script src="@Scripts.Url(" ~/Content/Kendo/src/js/kendo.all.js")"></script>*@
    <script src="@Scripts.Url(" ~/Content/Kendo/kendoAllNew.js")"></script>
    <script src="@Scripts.Url(" ~/Scripts/arg-1.3.1.js")"></script>
    <script type="text/javascript" src="@Scripts.Url(" ~/Content/MainTheme/assets/global/plugins/select2/select2.min.js")"></script>
    <script src="@Scripts.Url(" ~/Content/ToastNotification/toastr.min.js")"></script>
    <script src="@Scripts.Url(" ~/JS/NeoErp.js?v5")"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/keymaster.js")"></script>

    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/Scripts/ng-urlRoute-loc.js")"></script>
    @*<script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/PerformaInvoiceCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/PurchaseOrderCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/LcSetupCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/LcEntryApp.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/CommercialInvoiceCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/SettlementInvoiceCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/ShipmentCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/LogisticsCtrl.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/areas/"+myAreaName+"/JS/MenuCtrl.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/MainTheme/assets/global/plugins/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Scripts.Url("~/JS/DateFilter.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/JS/ReportFilter.js")" type="text/javascript"></script>*@
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            Demo.init(); // init demo features
            Index.init();
            Index.initDashboardDaterange();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Tasks.initDashboardWidget();

            key('ctrl+h', function () { $('.setting').hide(); return false });
            key('ctrl+v', function () { $('.setting').show(); return false });

            $(".themes-select").on("change", function () {
                $('link[title][rel="alternate stylesheet"]').prop('disabled', true);
                $('link[title="' + $(this).val() + '"][rel="alternate stylesheet"]').prop('disabled', false);
                $.cookie("themes", $(this).val(), { expires: 365, path: '/' });
                setTheme(this);
            });

            function setTheme($this) {
                var switch_on = $($this).val();
                var theme;
                switch (switch_on) {
                    case "darkblue":
                        theme = "kendo.moonlight.min.css";
                        break;
                    case "blue":
                        theme = "kendo.blueopal.min.css";
                        break;
                    default:
                        theme = "kendo.default.min.css";
                }
                var selectedTheme = '<link href="' + window.location.protocol + "//" + window.location.host + '/Content/Kendo/styles/' + theme + '" rel="stylesheet" tag="kendoTheme" />';
                $("#operationContent").find("link[tag='kendoTheme']").remove();
                $("#operationContent").append(selectedTheme);
            }

            $('.ajax-loading').hide();
            if ($.cookie("themes") != undefined) {
                $(".themes-select").val($.cookie("themes"));
                $(".themes-select").trigger("change");

            }
            $(document).ajaxStart(function () {
                $('.ajax-loading').show();
            }).ajaxComplete(function () {
                $('.ajax-loading').hide();
            });


        });
        function showloader() {
            $(".busy-loader").css("display", "block");
        }
        function hideloader() {
            $(".busy-loader").css("display", "none");
        }
    </script>
    <!-- END JAVASCRIPTS -->
    <script src="~/Scripts/underscore-min.js"></script>
    @RenderSection("Scripts", false)
    <script src="@Scripts.Url("~/Areas/NeoERP.LOC/JS/MenuCtrl.js")"></script>
    @*
        <script src="@Scripts.Url(" ~/JS/Summy_admin.js")"></script>*@
    <script>
        $(document).ajaxStart(function () {
            $('#ajaxBusy').show();
        }).ajaxStop(function () {
            $('#ajaxBusy').hide();
        });

    </script>
    <script>
        function wordwrapmenu(e) {//<!-- elixir script for grid menu word wrap-->
            var menu = e.container.find(".k-menu-vertical").data("kendoMenu");
            var header = e.container.find(".k-header").data("kendoMenu");
            var field = e.field;
            menu.append({
                text: "<span class='k-item-k-wrap'>Word Wrap</span>",
                encoded: false,
                //content: "text"
            });
            // event handler
            menu.bind("select", function (e) {
                var menuText = $(e.item).text();
                if ($('.k-grid td').css("white-space") == "normal") {
                    $('.k-grid td').css("white-space", "nowrap");
                }
                else if ($('.k-grid td').css("white-space") == "nowrap") {
                    $('.k-grid td').css("white-space", "normal");
                }
                //header
                var menuText = $(e.item).text();
                if ($('.k-grid th').css("white-space") == "normal") {
                    $('.k-grid th').css("white-space", "nowrap");
                }
                else if ($('.k-grid th').css("white-space") == "nowrap") {
                    $('.k-grid th').css("white-space", "normal");
                }
            });

        }
        function GridSearch() {
            debugger;
            var grid = $("#grid").data("kendoGrid");
            var tempServerFilter = grid.dataSource.options.serverFiltering;
            grid.dataSource.options.serverFiltering = false;
            var filter = [];
            $.each(grid.columns, function (i, v) {
                if (v.field != undefined) {
                    var searchText = $.trim($('.grid-search').val());
                    var model = grid.dataSource.options.schema.model.fields[v.field];
                    var type = "string";
                    if (model != undefined)
                        type = model.type;
                    if (type === "string")
                        filter.push({ field: v.field, operator: "contains", value: searchText });
                    else if (type === "number")
                        filter.push({ field: v.field, operator: "eq", value: searchText });
                    else if (type === "date") {
                        var dateValue = new Date(searchText);
                        searchText = dateValue == "Invalid Date" ? searchText : dateValue;
                        filter.push({ field: v.field, operator: "eq", value: searchText });
                    }
                }

            });
            var filter = {
                logic: "or",
                filters: filter,
            }

            grid.dataSource.filter(filter);
            if ($(".grid-search").val().length == 0)
                grid.dataSource.filter([]);
            grid.bind("dataBound", function () {
                grid.dataSource.options.serverFiltering = tempServerFilter;
            });


        }
    </script>

</body>

</html>
