@using NeoErp.Core.Models;
@using NeoErp.Core.Helpers
@{
    var actionPageId = "StockValuationChart";
}
<script src="@Scripts.Url("~/Sales/Scripts/knockout-2.2.0.js")"></script>
 <script type="text/javascript" src="@Url.Content("~/areas/NeoErp.sales.Module/Scripts/AsOnChart.js?v9986811")"></script>
<style>
   
    a.icon-arrow-down {
        color: #acacac;
        opacity: 0;
        text-decoration: none !important;
    }

    a.fullscreen {
        text-decoration: none !important;
    }

    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }
    /*.modal-body {
        padding: 31px !important;
    }*/
    a.newbtnDatagrid {
        color: #acacac !important;
    }

    label.btn > .radio > span
{
    display: none;
}
  
    .custom-design-radio >.btn >  div.radio{
          margin-left: -18px !important;
    }
</style>

    <div class="modal fade" id="Model_@actionPageId" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog custom-chart">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Stock Valuation Chart</h4>
                </div>
                <div class="modal-body bottom-gappingtwo">
                    <div class="row">

                        <div class="chart_button monthlysaleschart clearfix">
                            <div class="col-sm-12 col-md-12">
                                <div class="btn-group custom-design-radio options_monthlySales responsivegap">
                                    <label  class="btn default blue-stripe" data-bind="css: { 'active': seriesTypeStockvalution() === 'column' }">
                                            <i class="fa fa-bar-chart"></i>
                                            <input  data-bind="checked: seriesTypeStockvalution, checkedValue: seriesTypeValueStockvalution, click: showSeriesClickStockvalution" name="seriesType"
                                                   type="radio" value="column"  autocomplete="off" /> column
                                        </label>
                                        <label class="btn default blue-stripe" data-bind="css: { 'active': seriesTypeStockvalution() === 'bar' }">
                                            <i class="fa fa-bar-chart"></i>
                                            <input  data-bind="checked: seriesTypeStockvalution, checkedValue: seriesTypeValueStockvalution, click: showSeriesClickStockvalution" name="seriesType"
                                                   type="radio" value="bar" autocomplete="off" /> bar
                                        </label>
                                        <label  class="btn default yellow-stripe" data-bind="css: { 'active': seriesTypeStockvalution() === 'line' }">
                                            <i class="fa fa-line-chart"></i>
                                            <input  data-bind="checked: seriesTypeStockvalution, checkedValue: seriesTypeValueStockvalution, click: showSeriesClickStockvalution" name="seriesType"
                                                   type="radio" value="line" autocomplete="off" />Line
                                        </label>
                                    @*<button type="button" class="btn btn-sm default green-stripe">
                                            <i class="fa fa-pie-chart"></i>
                                            <input id="typePie" name="seriesType"
                                                   type="radio" value="pie" autocomplete="off" />Pie
                                        </button>
                                        <button type="button" class="btn btn-sm default blue-stripe">
                                            <i class="fa fa-area-chart"></i>
                                            <input id="typearea" name="seriesType"
                                                   type="radio" value="area" autocomplete="off" />area
                                        </button>*@
                                </div>
                            </div>
                            @*<div class="col-sm-2 col-md-2 dgride">*@
                            <!-- Data-Grid Show button-->
                            @*<button type="button" class="btn btn-sm default blue-stripe btnDatagrid pull-right" onclick="LoadDataGrid_monthlySalesChart();" data-grid="Chart">
                                    DataGrid
                                </button>*@
                            @*</div>*@

                            <div class="col-sm-12 col-md-12">
                              
                            </div>

                            <div class="col-xs-12 col-md-6 col-sm-6">
                                <div class="input-group chart-option">
                                    <div class="">
                                        <label>
                                            @*id="@actionPageId-showlables"*@
                                            <input  data-bind="checked: showLablesStockvalution, event: { change: showLabelClickStockvalution}" type="checkbox" autocomplete="off" /> Show Labels
                                        </label><br />

                                    </div>

                                </div>
                            </div>

                        </div>


                        <div class="col-md-12">
                            <div class="clearfix">
                                <h4>Advance Filter</h4>
                            </div>
                            @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       ShowCustomerFilter = false,
                       ShowProductFilter = false,
                       ShowPartyTypeFilter = false,
                       ShowCategoryFilter = false,
                       ShowLocationFilter = false,
                       ShowDocumentFilter = false,
                       ShowCompanyFilter = false,
                       ShowBranchFilter = true,
                       IsPopUp = false,
                       ActionPageId = actionPageId
                   })
                            @*<select id="customerMultiSelect" multiple="multiple"></select>
                                @Html.Partial("~/Views/Shared/Controls/CustomerGroupFilter.cshtml")*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn default" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-green applydp" data-dismiss="modal"  id="apply_@actionPageId">Apply</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>

        <!-- /.modal-dialog -->
    </div>
    <div class="portlet portlet-sortable  light bordered" id="@actionPageId">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-bar-chart font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze custom-modal">Stock Chart</span>
            </div>
            <div class="tools">
                <a href="javascript:;" class="collapse"></a>
                <a class="btnGrid" data-bind="click: changeGridToChartStockvalution" data-type="Chart" data-title="Grid" data-valuefor="month" data-month="0" data-selectedValue="0" data-category="0">
                    <i data-bind="attr: { class: iconChangeChartStockvalution }"></i>
                </a>
                <div class="btn-group">
                    <a class="btn dropdown-toggle download-btn" title="Download" data-toggle="dropdown" href="#" data-bind="click: dowloadClickStockvalution">
                        <i class="icon-arrow-down Nincustom"></i>

                    </a>
                    <ul class="dropdown-menu custom Ninslidetoggle">
                        <div class="btn-group-custom">
                            <button type="button" data-id="Monthlychart" class="export-pdf btn default blue-stripe"><i class="fa fa-file-pdf-o"></i>PDF</button>
                            <button type="button" data-id="Monthlychart" class="export-img btn default red-stripe"><i class="fa fa-image-o"></i>Image</button>
                            <button type="button" data-id="Monthlychart" class="export-svg btn default green-stripe">SVG</button>
                        </div>
                    </ul>
                </div>
                <a href="#Model_@actionPageId" data-toggle="modal" class="config" data-bind="click: configClickStockvalution"></a>
                <a href="javascript:;" class="reload" data-bind="click: relaodClickStockvalution"></a>
                <a href="javascript:;" class="fullscreen" data-bind="click: fullScreenClickStockvalution" ></a>
                <a href="javascript:;" class="remove"></a>
            </div>
        </div>
        <div class="portlet-body">
            <div class="k-content wide">
                <div id="@actionPageId-chart"></div>
                @*<div class="overlay"><div>No data available</div></div>*@
                <div class="AmountFigureType"></div>
                <div class="DisplayFilterContent"><a href="javascript:;" data-toggle="tooltip" title=""></a></div>
            </div>
        </div>

        <script>
            var StockChartObject = "";
        $(document).ready(function () {
        
            var stockValutionChart = AsOnChart.StockValutionChart();
            stockValutionChart.init('@actionPageId');
            stockValutionChart.render();
            StockChartObject = stockValutionChart;
              
           
        
        });

            function ApplyClickEvent() {
                StockChartObject.viewFunction.RefreshChartStockValution();
            }
            
        </script>

    </div>







