@model List<NeoErp.Sales.Modules.Services.Models.ChargesTitle>
@{
    ViewBag.Title = "IndexReport";
}

<style>
      .page-bar {
          margin-bottom: 0px !important;
      }

      .k-grid table {
          table-layout: fixed;
      }

      .no-data {
          background-color: red;
      }
      /*#grid thead{
         font-size:11px;
    }*/
      .k-grid td {
          white-space: nowrap;
          text-overflow: ellipsis;
      }

      .k-grid-content {
          font-size: 10px;
      }

      .k-grid-footer {
          font-size: 10px;
      }
</style>
<div class="page-content">


    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            @*<li>
                <a href="#">Sales Report</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            @*<li>
                <a href="sales/saleshome/dashboard/Dashboard">Organiser</a>
                <i class="fa fa-angle-right"></i>
            </li>*@

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <a class="btn btn-circle btn-icon-only btn-default" data-toggle="collapse" href="#demo">
                    <i class="fa fa-angle-down"></i>
                </a>

                @*@Html.Partial("~/Views/Shared/Controls/DateField.cshtml",false)*@

                @*<button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                        Actions <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="dropdown-menu pull-right" role="menu">
                        <li>
                            <a href="#">Action</a>
                        </li>
                        <li>
                            <a href="#">Another action</a>
                        </li>
                        <li>
                            <a href="#">Something else here</a>
                        </li>
                        <li class="divider">
                        </li>
                        <li>
                            <a href="#">Separated link</a>
                        </li>
                    </ul>*@
            </div>
        </div>
    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-pin font-green"></i>
                        <span class="caption-subject bold uppercase">Sales Report</span>
                    </div>
                    <div class="actions">
                        <div class="btn-group">
                            @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                        </div>
                        <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="javsascript:;">
                            <i class="icon-control-play"></i>
                        </a>
                        <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;">
                        </a>


                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="row">

                        <div id="detailsDiv">

                        </div>

                        <div id=""></div>

                        <table id="grid"> 
                        </table>
                        <script id="rowTemplate" type="text/x-kendo-tmpl">
                            <tr  data-uid="#: uid #">
                                <td class="k-group-cell"> </td>
                                <td>
                                    #= kendo.toString(SALES_DATE, "dd-MMM-yyyy") #

                                </td>
                                <td>
                                    <span>#: MITI# </span>

                                </td>
                                <td>
                                    #: SALES_NO#
                                </td>
                                <td>
                                    #: CUSTOMER_EDESC#
                                </td>
                                <td>
                                    #: ITEM_EDESC#
                                </td>
                                <td>
                                    #: MU_CODE#
                                </td>
                                <td>
                                    <span style="float:right">#= kendo.toString(CALC_QUANTITY, "n") # </span>
                                </td>
                                <td>
                                    <span style="float:right">#= kendo.toString(CALC_UNIT_PRICE, "n") # </span>

                                </td>
                                <td>
                                    <span style="float:right">#= kendo.toString(CALC_TOTAL_PRICE, "n") # </span>

                                </td>
                                @foreach (var item in Model.Where(x => x.ChargesHeaderNo != "VT"))
                                {
                                    <text>

                                <td class="country">
                                    #= myCustomFunction(data.charges,'@item.ChargesHeaderNo') #
                                </td>
                                       
                                        @*# for (var i = 0; i < data.charges.length; i++) { #
                    <td class="country">
                        #= data.charges[i].CHARGE_AMOUNT #
                    </td>
                    # } #*@
                                    </text>
                                }

                                <td>
                                    <span style="float:right">#= kendo.toString(NetAmount, "n") # </span>

                                </td>
                                @foreach (var item in Model.Where(x => x.ChargesHeaderNo == "VT"))
                                {
                                    <text>

                                <td class="country">
                                    #= myCustomFunction(data.charges,'@item.ChargesHeaderNo') #
                                </td>
                                        @*<td class="country">
                                            #: '@item.ChargesHeaderNo'#
                                        </td>*@
                                        @*# for (var i = 0; i < data.charges.length; i++) { #
                    <td class="country">
                        #= data.charges[i].CHARGE_AMOUNT #
                    </td>
                    # } #*@
                                    </text>
                                }

                                <td>
                                    <span style="float:right">#= kendo.toString(InvoiceAmount, "n") # </span>

                                </td>


                            </tr>
                        </script>
                        <script id="altRowTemplate" type="text/x-kendo-tmpl">
                            
                            <tr class="k-alt" data-uid="#: uid #">
                                <td class="k-group-cell"> </td>
                                <td>
                                    #= kendo.toString(SALES_DATE, "dd-MMM-yyyy") #

                                </td>
                                <td>
                                    <span>#: MITI# </span>

                                </td>
                                <td>
                                    #: SALES_NO#
                                </td>
                                <td>
                                    #: CUSTOMER_EDESC#
                                </td>
                                <td>
                                    #: ITEM_EDESC#
                                </td>
                                <td>
                                    #: MU_CODE#
                                </td>
                                <td>
                                    <span style="float:right">#= kendo.toString(CALC_QUANTITY, "n") # </span>
                                </td>
                                <td>
                                    <span style="float:right">#= kendo.toString(CALC_UNIT_PRICE, "n") # </span>

                                </td>
                                <td>
                                    <span style="float:right">#= kendo.toString(CALC_TOTAL_PRICE, "n") # </span>

                                </td>
                                @foreach (var item in Model.Where(x => x.ChargesHeaderNo != "VT"))
                                {
                                    <text>

                                        <td class="country">
                        #= myCustomFunction(data.charges,'@item.ChargesHeaderNo') #
                    </td>
                                        @*<td class="country">
                                            #: charges.@item.ChargesHeaderNo#
                                        </td>*@
                                        @*# for (var i = 0; i < data.charges.length; i++) { #
                    <td class="country">
                        #= data.charges[i].CHARGE_AMOUNT #
                    </td>
                    # } #*@
                                    </text>
                                }

                                <td>
                                    <span style="float:right">#= kendo.toString(NetAmount, "n") # </span>

                                </td>
                                @foreach (var item in Model.Where(x => x.ChargesHeaderNo == "VT"))
                                {
                                    <text>

                                        <td class="country">
                        #= myCustomFunction(data.charges,'@item.ChargesHeaderNo') #
                    </td>
                                        @*<td class="country">
                                            #: '@item.ChargesHeaderNo'#
                                        </td>*@
                                        @*# for (var i = 0; i < data.charges.length; i++) { #
                    <td class="country">
                        #= data.charges[i].CHARGE_AMOUNT #
                    </td>
                    # } #*@
                                    </text>
                                }

                                <td>
                                    <span style="float:right">#= kendo.toString(InvoiceAmount, "n") # </span>

                                </td>


                            </tr>
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
<script src="@Scripts.Url("~/JS/dynamicReport.js?V2")" type="text/javascript"></script>
<script>
        $("#applydp").on("click", function (evt) {
            evt.preventDefault();
            $("#RunQuery").trigger("click");
        })
        function myCustomFunction(arrey, header) {
            var result = $.grep(arrey, function (e) { return e.CHARGE_CODE === header; });
            var value = 0;
            if (result.length == 0) {

            } else if (result.length == 1) {
                value = result[0].CHARGE_AMOUNT
            }
            return value;
        }


        $(document).ready(function () {

         
            var formEnglishDate = $("#FromDateVoucher").val();
            var toEnglishDate = $("#ToDateVoucher").val();
            var urltest = Arg.url(window.location.protocol + "//" + window.location.host +"/api/SalesHome/GetSalesRegistertable", { formDate: formEnglishDate, toDate: toEnglishDate });
            $("#RunQuery").click(function (evt) {
                evt.preventDefault();
                var ddvalue = $("#ddlDateFilterVoucher").val();
                var formNepalDate = $("#fromInputDateVoucher").val();
                var toNepalDate = $("#toInputDateVoucher").val();
                var formEnglishDate = $("#FromDateVoucher").val();
                var toEnglishDate = $("#ToDateVoucher").val();
                urltest = Arg.url(window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetSalesRegistertable", { formDate: formEnglishDate, toDate: toEnglishDate });

                // BindGrid(urltest);
                BindGrid(urltest, true);
            });

            BindGrid(urltest, false);
        });
        function BindGrid(readurl, refresh) {
            var dataSource = new kendo.data.DataSource({
                type: "json",
                transport: {
                    read: readurl
                },
                serverGrouping: false,
                //serverSorting: true,
                //serverFiltering: true,
                //serverPaging: true,
                schema: {
                    data: "gridSalesRegReport", // records are returned in the "data" field of the response
                    total: "total", // total number of records is in the "total" field of the response
                    model: {
                        fields: {
                            SALES_DATE: { type: "date" },
                            MITI: { type: "string" },
                            SALES_NO: { type: "string" },
                            CUSTOMER_EDESC: { type: "string" },
                            ITEM_EDESC: { type: "string" },
                            MU_CODE: { type: "string" },
                            CALC_QUANTITY: { type: "number" },
                            CALC_UNIT_PRICE: { type: "number" },
                            CALC_TOTAL_PRICE: { type: "number" },
                            DISCOUNT: { type: "number" },
                            VAT: { type: "number" },
                        }
                    }
                },

                //group: {
                //      aggregates: [
                //       { field: "CALC_TOTAL_PRICE", aggregate: "sum" },
                //        { field: "CALC_QUANTITY", aggregate: "sum" },
                //         { field: "DISCOUNT", aggregate: "sum" },
                //           { field: "NetAmount", aggregate: "sum" },
                //            { field: "VAT", aggregate: "sum" },
                //             { field: "InvoiceAmount", aggregate: "sum" },
                //    ],
                //    //field: "SALES_DATE", aggregates: [
                //    //   { field: "SALES_DATE", aggregate: "count" },
                //    //   { field: "CALC_TOTAL_PRICE", aggregate: "sum" },

                //    //]
                //},
                //group: {
                aggregate: [
           { field: "CALC_TOTAL_PRICE", aggregate: "sum" },
                        { field: "CALC_QUANTITY", aggregate: "sum" },
                         { field: "DISCOUNT", aggregate: "sum" },
                           { field: "NetAmount", aggregate: "sum" },
                            { field: "VAT", aggregate: "sum" },
                             { field: "InvoiceAmount", aggregate: "sum" },
                ],
                serverPaging: true,
                //serverSorting: true,
                pageSize: 100,
            });


            if (refresh) {
                $('#grid').data('kendoGrid').setDataSource(dataSource);

            }
            else {
                var grid = $("#grid").kendoGrid({
                    dataSource: dataSource,
                    height: 540,
                    sortable: true,
                    reorderable: true,
                    groupable: true,
                    resizable: true,
                    filterable: true,
                    columnMenu: true,
                    pageable: true,
                    // autoBind: false,
                    scrollable: {
                        virtual: true
                    },
                    columns: [
        {
            field: "SALES_DATE",
            title: "SALES_DATE",

        },
        {
            field: "MITI",
            title: "MITI"
        },
        {
            field: "SALES_NO",
            title: "SALES_NO"
        },
        {
            field: "CUSTOMER_EDESC",
            title: "CUSTOMER_EDESC"
        }, {
            field: "ITEM_EDESC",
            title: "ITEM_EDESC"
        }
        , {
            field: "MU_CODE",
            title: "MU_CODE"
        }, {
            field: "CALC_QUANTITY",
            title: "CALC_QUANTITY"
        }, {
            field: "CALC_UNIT_PRICE",
            title: "CALC_UNIT_PRICE"
        }, {
            field: "CALC_TOTAL_PRICE",
            title: "CALC_TOTAL_PRICE"
        },
         @foreach (var item in Model.Where(x => x.ChargesHeaderNo != "VT"))
                {
                    <text>
         {
             field: '@item.ChargesHeaderNo',
             title: '@item.ChargesHeaderNo',
         },
        </text>
                    }
         {
            field: "NetAmount",
            title: "NetAmount"
        },   @foreach (var item in Model.Where(x => x.ChargesHeaderNo == "VT"))
        {
                   <text>
         {
             field: '@item.ChargesHeaderNo',
             title: '@item.ChargesHeaderNo',
         },
        </text>
                }
         {
             field: "InvoiceAmount",
             title: "InvoiceAmount"
        }
                    ],
                    rowTemplate: kendo.template($("#rowTemplate").html()),
                    altRowTemplate: kendo.template($("#altRowTemplate").html()),
                    dataBound: function (o) {
                var grid = o.sender;


                //$(o.sender.wrapper).find('tbody')
                //       .find('.k-footer-template')
                //       .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="5" class="no-data">Total Amount(</td></tr>');
                if (grid.dataSource.total() == 0) {
                    var colCount = grid.columns.length;
                            $(o.sender.wrapper)
                                .find('tbody')
                                .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
                }
                else {
                    //var g = $("#grid").data("kendoGrid");
                    //for (var i = 0; i < g.columns.length; i++) {
                    //    g.showColumn(i);
                    //}
                    //        $("div.k-group-indicator").each(function (i, v) {
                    //    g.hideColumn($(v).data("field"));
                    //});
                }

            },
                });
            }





            //$("#grid").kendoTooltip({
            //   filter: "td:nth-child(2)", //this filter selects the first column cells
            //    position: "right",
            //    content: function (e) {

            //        var dataItem = $("#grid").data("kendoGrid").dataItem(e.target.closest("tr"));
            //        var content = dataItem.subclass.SALES_NO.Text;
            //        return content;
            //    }
            //}).data("kendoTooltip");
        };

        function KendoGridRefresh(readUrl) {

            BindGrid(readUrl)
        }
</script>
