@using NeoErp.Core.Models;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}
<style>
    div.k-grid-header th.k-header, tr.k-filter-row > th {
        text-align: center;
        width: 183px !important;
    }

    /*.page-bar {
        margin-bottom: 0px !important;
    }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
         font-size:11px;
    }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    button#locationToggle {
        height: 29px;
    }
    .floatright {
        float: right;
        margin-top: 2px !important;
    }
</style>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                <i class="fa fa-home"></i>
                <a href="/sales/SalesHome/Dashboard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            @*<li>
                <a href="#/SalesHome/ProductWisePriceList">ProductWise Price List</a>
                <i class="fa fa-angle-right"></i>
            </li>*@
            @*<li>
                <a href="sales/saleshome/dashboard/Dashboard">Organiser</a>
                <i class="fa fa-angle-right"></i>
            </li>*@

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right">

                <div class="actions">
                    <div class="btn-group" style="display:none">
                            @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                        </div>
                     @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       //ShowLocationWiseFilter = true,
                       //ShowSupplierFilter = true,
                      // ShowCustomerFilter = true,
                       ShowProductFilter = true,
                       

                   })
                    </div>
                    @*@Html.Partial("~/Views/Shared/Controls/_reportFilterSettings.cshtml", new ReportFilterSettingsModel()
               {
                   ShowAmountFigureFilter = true,
                   ShowAmountFilter = true,
                   ShowAmountRoundUpFilter = true,
                   ShowRangeAmountFilter = true
               })*@
                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#" data-placement="left" data-toggle="tooltip" data-html="true" title="Refresh">
                        <i class="icon-control-play"></i>
                    </a>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_ReportConfig.cshtml", "ProductWisePriceList")
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-body form">
                    <div class="row">
                        <div id="grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
</div>
@Html.Partial("~/Views/Shared/Controls/_GridToolbar.cshtml")
<script src="@Scripts.Url("~/JS/DateFilter.js?V5")" type="text/javascript"></script>
<script src="@Scripts.Url("~/JS/dynamicReport.js?V2")" type="text/javascript"></script>
<script type="text/javascript">
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

</script>
<script>
    $("#date-filter-value").html();
    var reportConfig = GetReportSetting("ProductWisePriceList");
    function getDateFormat(date) {
        return kendo.format("{0:" + reportConfig.dateFormat + "}", date)
    }

    //$("#supplierMultiSelect").closest(".row").hide();

    $(".applydp").on("click", function (evt) {

        evt.preventDefault();
        $("#RunQuery").trigger("click");
        $(this).closest("#applydp").modal('hide');
    });

    $("#loadAdvancedFilters").on("click", function (evt) {
        evt.preventDefault();
        $("#RunQuery").trigger("click");
    });
    
    $("#RunQuery").click(function (evt) {
        evt.preventDefault();

        var urltest = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetProductWisePriceList"
        KendoGridRefresh(urltest);
    });


    function BindGrid(readurl) {
        var companyName = ('@workingContent.CurrentUserinformation.company_name');
        reportConfig = GetReportSetting("ProductWisePriceList");
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: readurl, // <-- Get data from here.
                    dataType: "json", // <-- The default was "jsonp".
                    type: "POST",
                    contentType: "application/json; charset=utf-8"
                },
                parameterMap: function (options, type) {
                    var paramMap = JSON.stringify($.extend(options, ReportFilter.filterAdditionalData()));
                    delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                    delete paramMap.$format; // <-- remove format parameter.
                    return paramMap;
                }
            },

            error: function (e) {
                displayPopupNotification("Sorry error occured while processing data", "error");
            },
            serverFiltering: false,
            serverAggregates: true,
            schema: {
                model: {
                    fields: {
                        Item_Code: { type: "string" },
                        ITEM_EDESC: { type: "string" },
                        Sales_Rate: { type: "number" },
                    }
                }
            },
            //group: {
            //    field: "CustomerName",
            //},
            serverPaging: false,
            serverSorting: false,
            pageSize: reportConfig.defaultPageSize,
        });


        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            toolbar: kendo.template($("#toolbar-template").html()),
        excel:{
            allPages:true,
            fileName:"Product Wise Price List",
        },
            //adding header for the exported excel report

        excelExport: function (e) {
            var rows = e.workbook.sheets[0].rows;
            rows.unshift({
                height: 20,
                cells: [{
                    value: "Product Wise Price List",
                    background: "#3fd5c0",
                    textAlign: "center",
                    colSpan: 10,
                    fontSize: 12,
                }]
            });
            rows.unshift({
                height: 20,
                cells: [{
                    value: companyName.split('').join(' '),
                    //background: "#FFFFFF",
                    //textAlign: "center",
                    colSpan: 10,
                    fontSize: 12,
                }]
            });
            var filterText = $("#AdvanceFilter").attr('data-original-title');
            if (filterText.indexOf('|') < 0) {
                filterText = $((filterText).replace(/<strong>/g, "|")).text().replace('|', '').split('|').reverse();;
                $.each(filterText, function (k, item) {
                    rows.unshift({
                        cells: [{ value: item, colSpan: 10 }]
                    });
                });
            }
        },


        pdf:{
            avoidLinks:true,
            allPages: true,
            pageSize: "true",
            margin: {
                top: "2m",
                left: "1m",
                right: "1m",
                buttom: "1m",

            },

            landscape: true,
            repeatHeaders: true,
            scale:0.8,
        },
        height: window.innerHeight - 50,
            reorderable: true,
            resizable: true,
             sortable: true,
            filterable: {
                extra: false,
                operators: {
                    number: {
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "is greater than or equal to	",
                        gt: "is greater than",
                        lte: "is less than or equal",
                        lt: "is less than",
                    },
                    string: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        startswith: "Starts with	",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        endswith: "Ends with",
                    },
                    date: {
                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "Is after or equal to",
                        gt: "Is after",
                        lte: "Is before or equal to",
                        lt: "Is before",
                    }
                }
            },  
            columnMenu: true,
            columnMenuInit: function (e) {
                    wordwrapmenu(e);
                    checkboxItem = $(e.container).find('input[type="checkbox"]');
                },
                columnShow: function (e) {
                    if($(".k-widget.k-reset.k-header.k-menu.k-menu-vertical").is(":visible") && checkboxItem != "")
                        SaveReportSetting('ProductWisePriceList', 'grid');
                },
                columnHide: function (e) {
                    if($(".k-widget.k-reset.k-header.k-menu.k-menu-vertical").is(":visible") && checkboxItem != "")
                        SaveReportSetting('ProductWisePriceList', 'grid');
                },
                pageable: {
                    refresh: true,
                    pageSizes: reportConfig.itemPerPage,
                    buttonCount: 5
                },
            //  autoBind: true,
            scrollable: {
                virtual: true
            },
            dataBound: function (o) {
                var grid = o.sender;
                if (grid.dataSource.total() == 0) {
                    var colCount = grid.columns.length;
                    $(o.sender.wrapper)
                        .find('tbody')
                        .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
                    displayPopupNotification("No Data Found Given Date Filter.", "info");
                }
                else {
                    var g = $("#grid").data("kendoGrid");
                    for (var i = 0; i < g.columns.length; i++) {
                        g.showColumn(i);
                    }
                    $("div.k-group-indicator").each(function (i, v) {
                        g.hideColumn($(v).data("field"));
                    });
                }
                 UpdateReportUsingSetting("ProductWisePriceList", "grid");
            },
            columns: [
                          {
                              field: "Item_Code",
                              title: "Item Code",
                              width: "40px",

                          },
                          {
                              field: "ITEM_EDESC",
                              title: "Item Description",
                              width: "150px",
                          },
                          {
                              field: "Sales_Rate",
                              title: "Sales Rate",
                              width: "60px",
                              attributes: {
                                  style: "text-align: right;"
                              },
                              format: "{0:n}",

                          },

            ]

        });

    };


    function KendoGridRefresh(readUrl) {
        $('#grid').val('');
        $('#grid').html('');
        BindGrid(readUrl)
    }
    $(document).ready(function () {
        var urltest = window.location.protocol + "//" + window.location.host + "/api/SalesHome/GetProductWisePriceList"
        consolidate.init();
        KendoGridRefresh(urltest);
    });

</script>

