@model List<NeoErp.Sales.Modules.Services.Models.SalesRegisterModel>
@*<table id="grid">
    <colgroup>
        <col />
        <col />
        <col style="width:110px" />
        @foreach (var item in Model.FirstOrDefault().charges)
        {
            <col />
        }
      
    </colgroup>
    <thead>
        <tr>
            <th>sale No</th>
            <th>ITemName</th>
            <th>Customer Name</th>
            @foreach (var item in Model.FirstOrDefault().charges)
            {
                <th>
                    @item.CHARGE_CODE
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ITEM_EDESC</td>
                <td>@item.ITEM_EDESC</td>
                <td>@item.CUSTOMER_EDESC</td>
                @for (var i = 0; i < Model.FirstOrDefault().charges.Count; i++)
                {
                    var test = item.charges.ElementAtOrDefault(i);
                    if (test == null)
                    {
                        <td>0</td>
                    }
                    else
                    {
                        <td>@test.CHARGE_AMOUNT</td>
                    }

                }


            </tr>
        }
    </tbody>

</table>*@

<table id="grid">
    <colgroup>
        <col />
        <col  />
        <col />
        @foreach (var item in Model.FirstOrDefault().charges)
        {
            <col />
        }
    </colgroup>
    <thead>
        <tr>
            <th>
                Picture
            </th>
            <th>
                Details
            </th>
            <th>
                Country
            </th>
            @foreach (var item in Model.FirstOrDefault().charges)
            {
                <th>
                    @item.CHARGE_CODE
                </th>
            }
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>
<script id="rowTemplate" type="text/x-kendo-tmpl">
    <tr data-uid="#: uid #">
        <td class="photo">
            #: data.SALES_DATE #
        </td>
        <td class="details">
            <span class="name">#: MITI# </span>
          
        </td>
        <td class="country">
            #: CUSTOMER_EDESC #
        </td>
        @*# for (var i = 0; i < data.charges.length; i++) { #
       #= data.charges[i]) #
        # } #*@
    </tr>
</script>
<script id="altRowTemplate" type="text/x-kendo-tmpl">
    <tr class="k-alt" data-uid="#: uid #">
        <td class="photo">
            #: data.SALES_DATE #
        </td>
        <td class="details">
            <span class="name">#: MITI# </span>

        </td>
        <td class="country">
            #: CUSTOMER_EDESC #
        </td>
        @*# for (var i = 0; i < data.charges.length; i++) { #
        #= data.charges[i]) #
        # } #*@
    </tr>
    
</script>