@model NeoErp.sales.Module.Models.SalesMoniterViewModel
<style>
    .gif-animation {
        width: 1088px;
    }

        .gif-animation > ul {
            margin: 0;
            padding: 0;
        }

        .gif-animation ul li {
            /*display: inline-block;*/
            list-style: none;
            /*padding-rigth: 41px;*/
            padding-left: 15px;
            margin-bottom: 60px;
            width: 17%;
            float: left;
        }

            .gif-animation ul li:last-child, .one:last-child {
                margin-right: 0px !important;
            }

    /*.details {
                position: absolute;
                right: 10px;
                padding-left: 2px;
                bottom: 15px;
            }*/

    .numbering {
        color: #ffffff;
        font-size: 21px;
        font-weight: 300;
        letter-spacing: -1px;
        line-height: 33px;
        padding-right: 2px;
        padding-top: 2px;
        text-align: right;
    }

    .desc {
        font-size: 13px;
        font-weight: 300;
        letter-spacing: 0;
        text-align: right;
        color: #fff;
    }

    .aimation-box h5 {
        margin-bottom: 5px;
        /*color: #fff;*/
        font-size: 16px;
        color: #000;
    }

    .one > h5 {
        margin-bottom: 5px;
    }

    .one {
        position: relative;
    }

    .line {
        background: #090;
        margin: auto;
        width: 2px;
    }


    .custom-width {
        width: 66px;
    }

    .aimation-box h5 {
        margin: 0;
        padding: 5px 8px 7px;
    }

    /*
        .line.line-right {
            height:246px;
            left: 89px;
            position: absolute;
            top: 98%;
            transform: rotate(0deg);
        }


        .line.second-line {
            height: 16px;
            left: 55px;
            position: absolute;
            top: 100%;
            transform: rotate(180deg);
        }
        .line.linethird {
            height: 733px;
            left: -245px;
            position: absolute;
            top: -67% !important;
            transform: rotate(245deg);
        }

        .linethird-second {
            bottom: 60px !important;
            position: absolute;
            height: 30px;
            transform: rotate(90deg);
        }
        .linethird-second {
            bottom: -7px !important;
            height: 20px;
            left: 4px;
            position: absolute;
            top: 66px;
            transform: rotate(90deg);
        }

        .arrow-down-2 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: 155px;
            top:197px;
            transform: rotate(87deg);
            width: 0;
        }



        .arrow-down-5 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: 195px;
            top: 133px;
            transform: rotate(450deg);
            width: 0;
        }
        .arrow-down-6 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: 204px;
            top: 149px;
            transform: rotate(450deg);
            width: 0;
        }

        .arrow-down-7 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: 245px;
            top: 95px;
            transform: rotate(721deg);
            width: 0;
        }
        .arrow-down-6 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: 389px;
            top: 217px;
            transform: rotate(111deg);
            width: 0;
        }
        */ /*box background color css start here*/
    /*.bg-1 {
                background-color: #3598dc;
            }

            .bg-2 {
                background-color: #e7505a;
            }

            .bg-3 {
                background-color: #32c5d2;
            }

            .bg-4 {
                background-color: #8e44ad;
            }

            .bg-5 {
                background-color: #ededed;
            }

            .bg-6 {
                background-color:#ededed;
            }

            .bg-7 {
                background-color: #F63;
            }

            .bg-8 {
                background-color: #ededed;
            }

            .bg-9 {
                background-color: #e14e58;
            }



            /*box background color css end here*/
    .arrowshape {
        border-bottom: 5px solid transparent;
        border-left: 5px solid #093;
        border-top: 5px solid transparent;
        width: 0;
    }

    .ad1 {
        position: absolute;
        right: 64%;
        top: 62%;
    }

    .l1 {
        height: 66px;
        position: absolute;
        right: 66%;
        top: 43%;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    .ad2 {
        left: 38px;
        position: absolute;
        top: 157px;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    .ad2s {
        left: 61px;
        position: absolute;
        top: 157px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .l2 {
        height: 112px;
        left: 40px;
        position: absolute;
        top: 145px;
    }

    .ad3 {
        top: 67px;
        position: absolute;
        right: -38px;
        /*transform: rotate(180deg);*/
    }


    .l3 {
        height: 63px;
        position: absolute;
        right: -23%;
        top: 40px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .ad4 {
        position: absolute;
        right: 72px;
        top: 174px;
        transform: rotate(-90deg);
    }

    .l4 {
        height: 87px;
        position: absolute;
        right: 74px;
        top: 145px;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .ad5 {
        position: absolute;
        right: -74px;
        top: 150px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .l5 {
        height: 162px;
        position: absolute;
        right: -73px;
        top: 71px;
    }

    .ad6 {
        position: absolute;
        left: 0px;
        top: 45px;
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }

    .l6 {
        height: 26px;
        position: absolute;
        right: 181px;
        top: 37px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .ad7 {
        position: absolute;
        right: 110px;
        top: 116px;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }

    .l7 {
        height: 129px;
        position: absolute;
        right: 112px;
        top: 77px;
    }

    .ad8 {
        position: absolute;
        right: 131px;
        top: 108px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .l8 {
        height: 103px;
        position: absolute;
        right: 133px;
        top: 78px;
    }

    .ad9 {
        position: absolute;
        right: -162px;
        top: 51px;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .ad9s {
        position: absolute;
        right: -20px;
        top: 51px;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .ad9rd {
        position: absolute;
        right: -370px;
        top: -50px;
    }

    .ad9rd4 {
        position: absolute;
        right: 65px;
        top: -50px;
    }

    .ad9rd5 {
        position: absolute;
        right: -34px;
        top: -28px;
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }

    .ad9rd6 {
        position: absolute;
        right: -173px;
        top: 51px;
    }

    .ad10 {
        left: -24px;
        position: absolute;
        top: -66px;
        width: 0;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .ad11 {
        position: absolute;
        right: -31px;
        top: 51px;
        width: 0;
    }

    .ad11s {
        position: absolute;
        right: 186px;
        top: 29px;
        width: 0;
    }

    .l9 {
        height: 180px;
        position: absolute;
        right: -54%;
        top: -34px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .l10 {
        height: 23px;
        position: absolute;
        right: 50%;
        top: -23px;
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }

    .l11 {
        height: 807px;
        position: absolute;
        right: -167%;
        top: -427px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .l12 {
        height: 47px;
        position: absolute;
        right: 157px;
        top: -45px;
    }

    .l13 {
        height: 839px;
        position: absolute;
        right: -261px;
        top: -464px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .l14 {
        height: 300px;
        position: absolute;
        left: -23px;
        top: -266px;
    }

    .l15 {
        height: 202px;
        position: absolute;
        right: -60%;
        top: -45px;
        transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }

    .aimation-box.bg-5 img, .aimation-box.bg-4 > img, .aimation-box.bg-3 > img {
        padding-left: 10px;
    }


    .image-box {
        width: 100px;
    }


    .one.gapright {
        /*margin-left: 379px;*/
    }

    .secondgap {
        /*margin-left: 224px;*/
        margin-left: 197px;
    }

    /*

        .arrow-down-9 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: 87px;
            top: -272px;
            transform: rotate(-90deg);
            width: 0;
        }




        .arrow-down-9 {
            border-bottom: 5px solid transparent;
            border-left: 5px solid #093;
            border-top: 5px solid transparent;
            position: absolute;
            right: -119px;
            top: 51px;
            transform: rotate(0deg);
            width: 0;
        }*/
    .custom-width-2 {
        width: 71px;
    }

    .custome-size-3 {
        max-width: 211px;
    }

    .description {
        color: #F00;
    }

    .aimation-box {
        /*box-shadow: 1px 4px 5px 0px #ccc;*/
    }

        .aimation-box.bg-5.warehouse {
            /*margin-left: 55px;*/
        }

    .custom-width-4 {
        max-width: 54px;
    }

    .c-width {
        margin-left: 17px;
        width: 91px;
        margin-top: 30px;
    }

    .gap-left {
        margin-left: 172px;
    }

    /*.gif-animation ul li >:nth-child(3n+3)
        {
            margin-right:0px !important;

        }*/
    .commongap {
        /*margin-left: 54px;*/
        margin-left: 74px;
        /*margin-top:35px;*/
    }

    .topspace {
        margin-top: 0px;
    }


    .customwidthone {
        /*width:25% !important;*/
        float: left;
    }

    .po-details-box {
        float: left;
        margin-top: 51px;
        padding: 5px;
        /*padding: 5px;
        margin-top: 38px;*/
    }

        .po-details-box figure {
            text-align: center;
        }

        .po-details-box p {
            text-align: right;
        }

    .ad1-second {
        position: absolute;
        right: 11px;
        top: 90px;
    }

    .l1-second {
        height: 159px;
        position: absolute;
        right: -43px;
        top: 15px;
        transform: rotate(90deg);
    }

    .bg-gray {
        background-color: #ededed;
    }

    .blink_me, .desc {
        color: #000;
    }

    .aimation-box.bg-gray {
        height: 100px;
        width: 180px;
        padding: 7px;
    }

    .no-margin {
        margin-left: 0px !important;
    }

    .gif-animation ul li:nth-child(1) {
        width: 25% !important;
    }

    .gif-animation ul li:nth-child(5) {
        width: 25% !important;
    }

    .gif-animation ul li:nth-child(6) {
        margin-left: 74px;
    }

    .gif-animation ul li:nth-child(2) .aimation-box, .gif-animation ul li:nth-child(3) .aimation-box, .gif-animation ul li:nth-child(4) .aimation-box {
        margin-top: 45px;
    }

    .gif-animation ul li:nth-child(7) {
        margin-left: 20px;
    }

    .gif-animation ul li:nth-child(8) {
        width: 10%;
    }

    .gif-animation ul li:nth-child(9) {
        margin-left: 0px;
    }


    .gif-animation ul li {
        min-height: 145px;
    }

    .image-box {
        float: left;
    }

    .warehouse {
        height: 100px;
    }

    .details {
        padding-right: 6px;
        padding-top: 4px;
        float: right;
    }

    .registeroffice {
        margin-top: -16px;
    }

    .ad6arrow {
        position: absolute;
        top: 39px;
        transform: rotate(180deg);
        right: -20px;
    }

    .linel6 {
        height: 34px;
        position: absolute;
        right: -27px;
        top: 27px;
        transform: rotate(90deg);
    }

    .ad14s {
        position: absolute;
        top: -114px;
        transform: rotate(90deg);
        right: 390px;
    }

    .aad4 {
        right: 0;
        position: absolute;
        top: 46px;
        transform: rotate(360deg);
    }

    .aad5 {
    }

    .ll4 {
        height: 119px;
        position: absolute;
        right: 17px;
        top: -9px;
        transform: rotate(90deg);
    }

    .ll5 {
        height: 26px;
        position: absolute;
        right: 181px;
        top: 37px;
        transform: rotate(90deg);
    }

    .l15s {
        height: 35px;
        position: absolute;
        top: 16px;
        transform: rotate(90deg);
        left: -7px;
    }

    .ad4s {
        position: absolute;
        left: 73px;
        top: 174px;
        transform: rotate(-90deg);
    }

    .l4s {
        height: 223px;
        position: absolute;
        left: 74px;
        top: 144px;
        transform: rotate(180deg);
    }

    .ad6arrows {
        left: 42px;
        position: absolute;
        top: 140px;
        transform: rotate(-90deg);
    }


    .linel6s {
        height: 141px;
        position: absolute;
        top: 100px;
        transform: rotate(180deg);
        right: 140px;
    }

    .ad9rd6s {
        position: absolute;
        right: -31px;
        top: 29px;
        width: 0;
    }

    .l153s {
        height: 44px;
        position: absolute;
        right: -18%;
        top: 13px;
        transform: rotate(90deg);
    }

    .text {
        float: right;
        transform: rotate(-90deg);
        position: absolute;
        right: -26px;
        top: 41px;
    }

    .text-2 {
        float: right;
        transform: rotate(-90deg);
        position: absolute;
        top: 41px;
    }

    .text-2 {
        float: right;
        position: absolute;
        top: 41px;
        transform: rotate(-90deg);
        display: block;
        right: 40px;
    }

    .search-div 
    {
        height: 0px !important;
    }
    /*.registeroffice > img {
        max-width: 28%;
    }*/



</style>



@*<div class="row">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-globe"></i>Sales Processing Moniter
                </div>
                <div class="tools">
                    <a href="#" class="collapse" data-original-title="" title="">
                    </a>

                    <a href="#" class="fullscreen" data-original-title="" title="">
                    </a>

                </div>
            </div>
            <div class="portlet-body" style="height: auto;">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat blue-madison">

                            <div class="visual">
                                <i class="fa fa-comments"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    @Model.totalSalesOrder
                                </div>
                                <div class="desc">
                                   Total Sales Order
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat red-intense">
                            <div class="visual">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    @Model.approvedSalesOrder
                                </div>
                                <div class="desc">
                                    Total Approve Sales Order
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat green-haze">
                            <div class="visual">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    @Model.vehiclerRegistration
                                </div>
                                <div class="desc">
                               Total   Vechical Registration
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div class="dashboard-stat purple-plum">
                            <div class="visual">
                                <i class="fa fa-globe"></i>
                            </div>
                            <div class="details">
                                <div class="number">
                                    @Model.loadingSlipGenerate
                                </div>
                                <div class="desc">
                                 Total Slip Generate
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix" style="padding-top:10px;">
                </div>
              <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="dashboard-stat blue-madison">
                          <div class="visual">
                              <i class="fa fa-comments"></i>
                          </div>
                          <div class="details">
                              <div class="number">
                                  @Model.loadedVechicleOut
                              </div>
                              <div class="desc">
                                  Today Vechicle Out
                              </div>
                          </div>

                      </div>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <div class="dashboard-stat red-intense">
                          <div class="visual">
                              <i class="fa fa-bar-chart-o"></i>
                          </div>
                          <div class="details">
                              <div class="number">
                                  @Model.pendingForDispatch
                              </div>
                              <div class="desc">
                                  Total Pending For Dispatch
                              </div>
                          </div>

                      </div>
                  </div>
                  @*<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 gif-animation">
                      <div class="aimation-box first"> <span>@Model.vehiclerRegistration  Truck In</span>
                       <img src="/images/truckanimation-2.gif" title="truck in" alt=""> </div>
                      </div>

                  </div>


                </div>
            </div>


    </div>*@
@*var $container = $("#operationContent");
    $container.load("/Home/DashboardAutoRefresh");
    var refreshId = setInterval(function () {
        $container.load('/Home/DashboardAutoRefresh');
    }, 9000);*@

<div class="pull-right search-div">
    <div class="input-group input-medium date-picker " data-date="@DateTime.Now" data-date-format="mm/dd/yyyy">
        <input type="date" id="searchDate" name="search" class="frmDataInput form-control" placeholder="Search by date" />
    </div>
</div>
<script>
    $("#searchDate").change(function () {
        var date = $("#searchDate").val();
        $.ajax({
            url: 'SalesHome/SalesProcessingMoniterGet',
            data: { search: date },
            success: function (data) {
                $("#distributionPurchaseorder").html("SO " + data.distributionPurchaseorder);
                $("#approvedSalesOrder").html(data.approvedSalesOrder);
                $("#vechicleIn").html(data.vechicleIn);
                $("#loadedVechicleOut").html(data.loadedVechicleOut);
                $("#totalSalesOrder").html(data.totalSalesOrder);
                $("#pendingForDispatch").html(data.pendingForDispatch);
                $("#vehiclerRegistration").html(data.vehiclerRegistration);
                $("#totalBiil").html(data.totalBiil);
                $("#loadingSlipGenerate").html(data.loadingSlipGenerate);
            },
            error: function (data) {
                
            }
        })
    })

</script>
<script type="text/javascript">
    var a = location.hash;
    var b = location.pathname;
    var url = (b + a);
    $(".active").removeClass();
    $("a[href='" + url + "']").parent().addClass("active");
    $("a[href='" + url + "']").parent().parent().slideDown("slow");

</script>

<div class="sales_monitor main-contain-box">
    <div class="gif-animation ">
        <ul>
            <li class="one customwidthone">
                <div class="aimation-box bg-1000 pull-left">
                    <h5>PO-APP</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/PO-APP.png" alt="" title="PO from App"> </div>
                    <div class="details">
                        <div class="number numbering"> <span class="blink_me"></span> </div>
                        @*<div class="desc">Pending For Dispatch </div>*@
                    </div>
                    <div class="arrowshape ad1"> </div>
                    <div class="line l1"> </div>
                </div>

                <div class="po-details-box bg-gray">
                    <h5>PO Convert to SO</h5>
                    <figure>
                        <img src="~/images/activitymonitor/check.svg" alt="" />
                    </figure>
                    <p><strong id="distributionPurchaseorder">SO @Model.distributionPurchaseorder</strong></p>
                </div>
                <div class="arrowshape ad1-second"> </div>
                <div class="line l1-second"> </div>
            </li>
            <li class="one commongap1">
                <div class="aimation-box bg-gray">
                    <h5>Approved</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/Approved.svg" title="approve" alt="" class="custom-width"> </div>
                    <div class="details">
                        <div class="number numbering"> <span class="blink_me" id="approvedSalesOrder">@Model.approvedSalesOrder</span> </div>
                        @*<div class="desc"> Approve </div>*@
                    </div>
                    <div class="arrowshape ad2s"></div>

                    <div class="arrowshape ad2"></div>

                    <div class="line l2"></div>
                </div>

            </li>
            <li class="one commongap">
                <div class="aimation-box bg-gray">
                    <h5>Vehicle in</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/truckanimation-2.gif" title="Vehicle in" alt="" class="custom-width-2"> </div>
                    <div class="details top-gap">
                        <div class="number numbering"> <span class="blink_me" id="vechicleIn">@Model.vechicleIn</span></div>
                        <div class="desc"> Stock in </div>
                    </div>
                    <div class="arrowshape ad3"></div>
                    <div class="line l3"></div>
                    <div class="arrowshape ad5"></div>
                    <div class="line l5"></div>
                </div>

            </li>

            <li class="one commongap">
                <div class="aimation-box bg-gray">
                    <h5>Vehicle Out</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/truckanimation-1.gif" class="custom-width-2" title="Vehicle out" alt=""> </div>
                    <div class="details top-gap">
                        <div class="number numbering"> <span class="blink_me" id="loadedVechicleOut">@Model.loadedVechicleOut</span></div>
                        @*<div class="desc">Dispatch </div>*@
                    </div>
                    <div class="arrowshape ad4"></div>
                    <div class="arrowshape ad4s"></div>

                    <div class="line l4"></div>

                    <div class="line l4s"></div>

                </div>

            </li>

            <li class="one commongap no-margin">
                <div class="aimation-box bg-gray">
                    <h5>SO-MKT</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/SO-MKT.svg" class="custom-width-2" title="Vehicle out" alt=""> </div>
                    <div class="details top-gap">
                        <div class="number numbering"> <span class="blink_me" id="totalSalesOrder">@Model.totalSalesOrder</span></div>
                        @*<div class="desc">Dispatch </div>*@
                    </div>
                    <div class="arrowshape aad4"></div>
                    <div class="line ll4"></div>
                </div>


            </li>

            <li class="one gapright">
                <div class="aimation-box bg-gray warehouse">
                    <h5>Dispatch Plan</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/Dispatch.svg" title="truck in" alt=""> </div>
                    <div class="details top-gap">
                        <div class="number numbering"> <span class="blink_me" id="pendingForDispatch">@Model.pendingForDispatch</span> </div>
                        @*<div class="desc"> Stock out </div>*@
                    </div>
                    <div class="arrowshape ad6"></div>
                    <div class="line l6"></div>
                </div>
            </li>

            <li class="one gapright">
                <div class="aimation-box bg-gray warehouse">
                    <h5>Vehicle Register</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/Vechicleregister.svg" title="truck in" alt=""> </div>
                    <div class="details top-gap">
                        <div class="registeroffice">
                            <img src="~/images/activitymonitor/registeroffice.svg" />

                        </div>
                        <div class="number numbering"> <span class="blink_me" id="vehiclerRegistration">@Model.vehiclerRegistration</span> </div>
                        @*<div class="desc"> Stock out </div>*@
                    </div>
                    <div class="arrowshape ad6arrow"></div>
                    <div class="line linel6"></div>
                    <div class="arrowshape ad6arrows"></div>
                    <div class="line linel6s"></div>
                </div>
            </li>

            <li class="one topspace">
                <div class="aimation-box c-width bg-6">

                    <div class="image-box"> <img src="~/images/activitymonitor/Weightbridge.svg" class="custom-width-4" title="bridgein" alt=""> </div>


                </div>
                <span class="text">Weight Bridge</span>
            </li>
            <li class="one topspace">
                <div class="aimation-box c-width bg-7">

                    <div class="image-box"> <img src="~/images/activitymonitor/Weightbridge-2.svg" class="custom-width-4" title="bridgeout" alt=""> </div>
                    <span class="text-2">Weight Bridge</span>
                    <div class="arrowshape ad7"></div>
                    <div class="arrowshape ad8"></div>
                    <div class="line l7 "></div>
                    <div class="line l8"></div>

                </div>

            </li>

            <li class="one">
                <div class="aimation-box bg-gray">
                    <h5>Billing Department</h5>
                    <div class="image-box"> <img src="~/images/activitymonitor/Billing-Department.svg" title="billing department" alt="" class="custome-size-3"> </div>
                    <div class="details top-gap">
                        <div class="number numbering"> <span class="blink_me" id="totalBiil">@Model.totalBiil</span> </div>
                        <!-- <div class="desc">Billing department </div>-->
                    </div>

                    <div class="arrowshape ad9"></div>
                    <div class="arrowshape ad9s"></div>
                    <div class="arrowshape ad9rd"></div>
                    <div class="arrowshape ad9rd4"></div>
                    <div class="arrowshape ad9rd5"></div>
                </div>
                <div class="line l9"></div>

                <div class="line l10"></div>
                <div class="line l11"></div>

                <div class="line l12 "></div>
                <div class="line l13"></div>
            </li>
            <li class="one gap-left">
                <div class="aimation-box bg-gray ">
                    <h5>loading slip generate</h5>
                    <div class="image-box">
                        <img src="~/images/activitymonitor/loadingslip.svg" title="loading slip" alt="" class="custome-size-3">
                    </div>
                    <div class="details top-gap">
                        <div class="registeroffice">
                            <img src="~/images/activitymonitor/loadingslip-print.svg" style="width:31px;">

                        </div>
                        <div class="number numbering"> <span class="blink_me" id="loadingSlipGenerate">@Model.loadingSlipGenerate</span></div>
                        <!-- <div class="desc">Loading Slip General </div>-->
                    </div>
                    <div class="arrowshape ad10"></div>
                    <div class="arrowshape ad11"></div>
                    <div class="arrowshape ad11s"></div>
                    <div class="arrowshape ad9rd6"></div>
                    <div class="arrowshape ad9rd6s"></div>

                    <div class="line l14"></div>
                    <div class="line l15"></div>
                    <div class="line l15s"></div>
                    <div class="line l153s"></div>
                </div>
            </li>
            <li class="one secondgap">
                <div class="aimation-box bg-10">
                    <!--   <h5>Plant</h5>-->
                    <div class="image-box"> <img src="~/images/cementplant.png" title="plant" alt=""> </div>
                    <div class="details top-gap">
                        @*<div class="number numbering"> <span class="blink_me" style="display: inline; opacity: 0.851325;">1349</span></div>
                            <div class="desc">Plant </div>*@
                    </div>

                </div>

            </li>
        </ul>
    </div>
</div>

<script>
        (function blink() {
            $('.blink_me').fadeOut(500).fadeIn(500, blink);
        })();
    //$("#SearchActivityMonitor").click(function (evt) {
    //    
    //    evt.preventDefault();
    //    var urltest = window.location.protocol + "//" + window.location.host + "/api/SalesHome/SalesProcessingMoniter?search=" + $("#searchDate").val();

    //})
</script>