@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/NeoERP.Transaction/Views/Shared/_Layout.cshtml";
}
<style>
    .page-content-wrapper .page-content {
        padding: 7px 20px 10px 20px !important;
    }

    a.k-button.k-button-icontext.k-grid-excel {
        float: right;
    }

    a.k-button.k-button-icontext.k-grid-pdf {
        float: right;
    }

    .page-bar {
        margin-bottom: 0px !important;
    }

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }

    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    [data-toggle=buttons] > .btn .radio {
        display: none;
    }

    .AmountFigureType {
        position: absolute;
        bottom: 103px;
        right: 32px;
        font-weight: 600;
        font-family: sans-serif;
        font-size: 12px;
    }

    .DisplayFilterContent {
        position: absolute;
        bottom: 105px !important;
        right: 32px;
        font-weight: 400;
        font-family: sans-serif;
        font-size: 11px;
    }

    .column {
        margin-bottom: -68px;
    }

    .portlet.portlet-sortable {
        min-height: 460px;
    }

    .overlay {
        position: static !important;
    }

        .overlay div {
            /*position: relative;
           font-size: 34px;
           margin-top: -17px;
           top: 50%;*/
            position: absolute !important;
            font-size: 28px !important;
            top: 213px !important;
            left: 21% !important;
        }

    .overlay {
        display: none;
    }


    ul.dropdown-menu.custom {
        margin-top: 8px !important;
        border: none;
        box-shadow: none !important;
    }

    .dropdown-menu.custom:before {
        left: 58px !important;
    }

    .download-btn {
        margin: 0px !important;
        padding-top: -2px !important;
        padding-left: 0px;
        padding-right: 0px;
        margin-top: -5px !important;
        margin-left: 5px !important;
    }

    .dropdown-menu.custom {
        left: -27px !important;
        top: 20px !important;
    }

    .dropdown > .dropdown-menu:before, .dropdown-toggle > .dropdown-menu:before, .btn-group > .dropdown-menu:before {
        position: absolute;
        top: -8px;
        left: 30px;
        right: auto;
        display: inline-block !important;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        border-left: 8px solid transparent;
        content: '';
    }

    i.icon-arrow-down {
        color: #acacac;
    }

    .btn-group-custom button.btn {
        padding: 7px 7px !important;
        float: left;
    }

    .dropdown-menu.custom {
        left: -55px !important;
    }

    a.btnGrid {
        color: #acacac !important;
    }
</style>
<div class="row">
    <div ng-view></div>
</div>


<script src="@Scripts.Url("~/Scripts/angular.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/angular-route.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/angular-animate.min.js")"></script>
<script src="@Scripts.Url("~/Scripts/angular-messages.min.js")"></script>

<script src="@Scripts.Url("~/Areas/NeoERP.Transaction/js/module/transactionModule.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Transaction/scripts/transaction.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Transaction/js/controller/BankSetupCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Transaction/js/services/BankSetupServices.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Transaction/js/controller/BankLimitSetupCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Transaction/js/services/BankLimitSetupServices.js")"></script>