
<style>
    .columnWidth{
        width:100px;
    }
</style>
<tbody class="table_body" style="overflow-y: visible;">

    <tr ng-repeat="(key,row) in ChildFormElement track by $index">
        <td ng-repeat="item in row.element | orderBy:'SERIAL_NO' track by $index" class="{{item.COLUMN_NAME}}_div columnWidth">
            <!--
                @*<div ng-if="havRefrence==='Y'">

                <div ng-if="freeze_master_ref_flag==='Y'">
                    <div style="pointer-events:none;">
                        <input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">

                        <div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1">
                            <input type="number" id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" />
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
                            <input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" />
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                            <div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
                            </div>
                            <div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
                            </div>
                            <div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
                            </div>
                            <div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
                            </div>
                            <div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
                            </div>

                            <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                                @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_accountCodePartial.cshtml")
                            </div>
                            <div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
                                <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
                            </div>
                        </div>


                        <div ng-if="item.COLUMN_NAME ==='QUANTITY'">
                            <div ng-if="item.REF_FIX_QUANTITY==='Y'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                            </div>
                            <div ng-if="item.REF_FIX_QUANTITY==='N'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                            </div>
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
                            <div ng-if="item.REF_FIX_QUANTITY==='Y'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                            </div>
                            <div ng-if="item.REF_FIX_QUANTITY==='N'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                            </div>

                        </div>

                        <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                            <div ng-if="item.REF_FIX_PRICE==='Y'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
                            </div>
                            <div ng-if="item.REF_FIX_PRICE==='N'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" />
                            </div>
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">
                            <div ng-if="item.REF_FIX_PRICE==='Y'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                            </div>
                            <div ng-if="item.REF_FIX_PRICE==='N'">
                                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                            </div>

                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
                            <input type="number" id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
                            <input type="number" id="item.COLUMN_NAME" ng-change="accsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" />
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('NO') == -1 && item.COLUMN_NAME.indexOf('LINE_ITEM_DISCOUNT') == -1 && item.COLUMN_NAME.indexOf('DATE') == -1 &&  item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1&& item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1">
                            <input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
                            <input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key)" placeholder="N" value="N" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" />
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
                            <select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
                                <option value="DR" selected="selected">Dr</option>
                                <option value="CR">Cr</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div ng-if="freeze_master_ref_flag==='N'">

                    <input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">
                    <div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1">
                        <input type="number" id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" />
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
                        <input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" />
                    </div>

                    <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                        <div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
                        </div>
                        <div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
                        </div>
                        <div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
                        </div>
                        <div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
                        </div>
                        <div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
                        </div>

                        <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_accountCodePartial.cshtml")
                        </div>
                        <div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
                            <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
                        </div>
                    </div>


                    <div ng-if="item.COLUMN_NAME ==='QUANTITY'">
                        <div ng-if="item.REF_FIX_QUANTITY==='Y'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                        </div>
                        <div ng-if="item.REF_FIX_QUANTITY==='N'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                        </div>
                    </div>

                    <div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
                        <div ng-if="item.REF_FIX_QUANTITY==='Y'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                        </div>
                        <div ng-if="item.REF_FIX_QUANTITY==='N'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                        </div>

                    </div>

                    <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                        <div ng-if="item.REF_FIX_PRICE==='Y'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
                        </div>
                        <div ng-if="item.REF_FIX_PRICE==='N'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" />
                        </div>
                    </div>

                    <div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">
                        <div ng-if="item.REF_FIX_PRICE==='Y'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                        </div>
                        <div ng-if="item.REF_FIX_PRICE==='N'">
                            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                        </div>

                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
                        <input type="number" id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
                    </div>

                    <div ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
                        <input type="number" id="item.COLUMN_NAME" ng-change="accsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" />
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('NO') == -1 && item.COLUMN_NAME.indexOf('LINE_ITEM_DISCOUNT') == -1 && item.COLUMN_NAME.indexOf('DATE') == -1 &&  item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1&& item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1">
                        <input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
                        <input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key)" placeholder="N" value="N" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" />
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
                        <select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
                            <option value="DR" selected="selected">Dr</option>
                            <option value="CR">Cr</option>
                        </select>
                    </div>

                </div>

            </div>*@

                @*<div ng-if="havRefrence==='N'">

                <input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">

                <div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1">
                    <input type="number" id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
                    <input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                    <div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
                    </div>

                    <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_accountCodePartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
                        <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
                    </div>
                </div>


                <div ng-if="item.COLUMN_NAME ==='QUANTITY'">
                    <div ng-if="item.REF_FIX_QUANTITY==='Y'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                    </div>
                    <div ng-if="item.REF_FIX_QUANTITY==='N'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                    </div>
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
                    <div ng-if="item.REF_FIX_QUANTITY==='Y'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                    </div>
                    <div ng-if="item.REF_FIX_QUANTITY==='N'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                    </div>

                </div>

                <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                    <div ng-if="item.REF_FIX_PRICE==='Y'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
                    </div>
                    <div ng-if="item.REF_FIX_PRICE==='N'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" />
                    </div>
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">
                    <div ng-if="item.REF_FIX_PRICE==='Y'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
                    </div>
                    <div ng-if="item.REF_FIX_PRICE==='N'">
                        <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                    </div>

                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
                    <input type="number" id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
                    <input type="number" id="item.COLUMN_NAME" ng-change="accsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" />
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('NO') == -1 && item.COLUMN_NAME.indexOf('LINE_ITEM_DISCOUNT') == -1 && item.COLUMN_NAME.indexOf('DATE') == -1 &&  item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1&& item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1">
                    <input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
                    <input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key)" placeholder="N" value="N" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" />
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
                    <select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
                        <option value="DR" selected="selected">Dr</option>
                        <option value="CR">Cr</option>
                    </select>
                </div>


            </div>*@

                -->

            <div ng-if="freeze_manual_entry_flag==='Y'">
				<div style="pointer-events:none;">
					<input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">

					<div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1" class="">
						<input type="number" id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
						<input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
						<div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
						</div>

						<div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_accountCodePartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
							<input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
						</div>
					</div>


					<div ng-if="item.COLUMN_NAME ==='QUANTITY'">
						<div ng-if="item.REF_FIX_QUANTITY==='Y'">
							<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
						<div ng-if="item.REF_FIX_QUANTITY==='N'" style="pointer-events:all;">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
						</div>
					</div>

					@*<div ng-if="item.COLUMN_NAME ==='SECOND_QUANTITY'">
						<div ng-if="item.REF_FIX_QUANTITY==='Y'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
						<div ng-if="item.REF_FIX_QUANTITY==='N'" style="pointer-events:all;">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
						</div>
					</div>*@


					<div ng-if="item.COLUMN_NAME ==='SECOND_QUANTITY'">
						<input type="number"string-to-number  id="item.COLUMN_NAME" min="0" placeholder="Enter second quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsSecQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
					</div>
					<div ng-if="item.COLUMN_NAME ==='THIRD_QUANTITY'">
						<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="Enter third quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsThdQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
						<div ng-if="item.REF_FIX_QUANTITY==='Y' || item.REF_FIX_QUANTITY==='N'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_quantity" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
					</div>

					<div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
						<div ng-if="item.REF_FIX_PRICE==='Y' || item.REF_FIX_PRICE==='N'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
						</div>
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">
						<div ng-if="item.REF_FIX_PRICE==='Y' || item.REF_FIX_PRICE==='N'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_unit price" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
						<input type="number" id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
						<input type="number" id="item.COLUMN_NAME" ng-change="accsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('NO') == -1 && item.COLUMN_NAME.indexOf('LINE_ITEM_DISCOUNT') == -1 && item.COLUMN_NAME.indexOf('DATE') == -1 &&  item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1&& item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1">
						<input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
						<input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key)" placeholder="N" value="N" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
						<select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
							<option value="DR" selected="selected">Dr</option>
							<option value="CR">Cr</option>
						</select>
					</div>
				</div>
            </div>

            @*AA*@
            <div ng-if="freeze_manual_entry_flag==='N'">
				<div>
					<input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">
					<div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1">
						<input type="number" string-to-number id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" />
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
						<input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
						<div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
						</div>

						<div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_accountCodePartial.cshtml")
						</div>
						<div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
							<input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
						</div>
					</div>


					<div ng-if="item.COLUMN_NAME ==='QUANTITY'">
						<div ng-if="item.REF_FIX_QUANTITY==='Y'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
						<div ng-if="item.REF_FIX_QUANTITY==='N'">
							<div ng-if="havRefrence==='Y'">
								<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" @*onclick="checkQuantity(event)" onkeyup="compareQuantity(event)"*@ />
							</div>
							<div ng-if="havRefrence==='N'">
								<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
							</div>
						</div>
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
						<div ng-if="item.REF_FIX_QUANTITY==='Y'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_quantity" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
						<div ng-if="item.REF_FIX_QUANTITY==='N'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_quantity" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
						</div>

					</div>
					<!--<div ng-if="item.COLUMN_NAME ==='SECOND_QUANTITY'">
	<div ng-if="item.REF_FIX_QUANTITY==='Y'">
		<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter second quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
	</div>
	<div ng-if="item.REF_FIX_QUANTITY==='N'">
		<div ng-if="havRefrence==='Y'">
			<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox"-->
					@*onclick="checkQuantity(event)" onkeyup="compareQuantity(event)"*@
					<!--/>
			</div>
			<div ng-if="havRefrence==='N'">
				<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
			</div>
		</div>
	</div>-->
					<div ng-if="item.COLUMN_NAME.indexOf('SECOND_QUANTITY') !== -1">
						<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="Enter second quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsSecQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" />

					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('THIRD_QUANTITY') !== -1">
						<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="Enter third quantity" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsThdQty form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
					</div>
					@*AA*@
					@*<div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
			<div ng-if="item.REF_FIX_PRICE==='Y' || item.PRICE_CONTROL_FLAG==='Y'">
				<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
			</div>
			<div ng-if="item.REF_FIX_PRICE==='N' || item.PRICE_CONTROL_FLAG==='N'">
				<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" />
			</div>
		</div>*@

					<div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
						<div ng-if="item.PRICE_CONTROL_FLAG==='Y'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
						</div>
						<div ng-if="item.PRICE_CONTROL_FLAG==='N'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="clsUnitPrice form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" />
						</div>
					</div>
					<div ng-if="item.RATE_SCHEDULE_FIX_PRICE ==='Y'">
						<input type="hidden" class="clsRateSchedulefixPrice" value="Y" name="item.RATE_SCHEDULE_FIX_PRICE" min="0" form-control {{item.RATE_SCHEDULE_FIX_PRICE}} _{{key}} ng-model="childRow">
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">
						<div ng-if="item.REF_FIX_PRICE==='Y'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_unit price" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
						</div>
						<div ng-if="item.REF_FIX_PRICE==='N'">
							<input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_unit price" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
						</div>

					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
						<input type="number" string-to-number id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('ED') !== -1">
						<div>
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_lineItemChargeChildPartial.cshtml")
						</div>
						@*<div ng-if="item.MANUAL_CALC_CHARGE != 'Y'">
				<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="0.0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
			</div>*@
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('SD') !== -1">
						<div>
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_lineItemChargeChildPartial.cshtml")
						</div>
						@*<div ng-if="item.MANUAL_CALC_CHARGE != 'Y'">
				<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="0.0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
			</div>*@
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('BC') !== -1">
						<div>
							@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_lineItemChargeChildPartial.cshtml")
						</div>
						@*<div ng-if="item.MANUAL_CALC_CHARGE != 'Y'">
				<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="0.0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox " readonly />
			</div>*@
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('VT') !== -1">
						<input type="number" string-to-number id="item.COLUMN_NAME" min="0" placeholder="0.0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
					</div>

					<div ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
						<input type="number" string-to-number id="item.COLUMN_NAME" ng-change="accsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" />
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('NO') == -1 && item.COLUMN_NAME.indexOf('LINE_ITEM_DISCOUNT') == -1 && item.COLUMN_NAME.indexOf('DATE') == -1 &&  item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1&& item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1 && item.COLUMN_NAME.indexOf('ED') == -1 && item.COLUMN_NAME.indexOf('SD') == -1  && item.COLUMN_NAME.indexOf('VT') == -1 && item.COLUMN_NAME.indexOf('BC') == -1  && item.COLUMN_NAME.indexOf('SECOND_QUANTITY') == -1  && item.COLUMN_NAME.indexOf('THIRD_QUANTITY') == -1">
						<input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
						<input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key)" placeholder="N" value="N" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" />
					</div>
					<div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
						<select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
							<option value="DR" selected="selected">Dr</option>
							<option value="CR">Cr</option>
						</select>
					</div>
				</div>
            </div>
        </td>
        <!--
        @*
        <td ng-if="(freeze_master_ref_flag==='N' && havRefrence==='Y') || (freeze_master_ref_flag==='N' && havRefrence==='N')" ng-repeat="item in row.element | orderBy: 'SERIAL_NO' track by $index" class="{{item.COLUMN_NAME}}_div"></td>
        *@

        @*
        <td ng-if="freeze_master_ref_flag==='Y' && havRefrence==='Y'" ng-repeat="item in row.element | orderBy: 'SERIAL_NO' track by $index" class="{{item.COLUMN_NAME}}_div">
            <input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">
            <div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1">
                <input type="number" id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
                <input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                <div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('LOCATION') !== -1">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
                </div>
                <div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                    @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_accountCodePartial.cshtml")
                </div>



                <div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
                    <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
                </div>


            </div>
            <div ng-if="item.COLUMN_NAME ==='QUANTITY'">
                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">
                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control  {{item.COLUMN_NAME}}_{{key}}  textbox" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">

                <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
                <input type="number" id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
            </div>

            <div ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
                <input type="number" id="item.COLUMN_NAME" ng-change="accsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('NO') == -1 && item.COLUMN_NAME.indexOf('DATE') == -1 &&  item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1&& item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1">
                <input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
                <input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key)" placeholder="N" value="N" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" readonly />
            </div>
            <div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
                <select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
                    <option value="DR" selected="selected">Dr</option>
                    <option value="CR">Cr</option>
                </select>
            </div>
        </td>*@

        -->

        <td class="btn-action columnWidth">
            <div ng-if="freeze_manual_entry_flag==='Y'">
                <div style="pointer-events:none;">
                    <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index)" data-toggle="tooltip" title="Add row"><i class="fa fa-plus" @*title="Add row"*@></i></a>
                    <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element($index)" data-toggle="tooltip" title="Delete row"><i class="fa fa-trash" @*title="Delete row"*@></i></a>
                    @*<a href="" id="add_inv_item_chage" name="add_inv_item_chage" class="additemcharge" ng-click="add_inv_item_chage(key,$event)" data-toggle="tooltip" title="Click for indiviual Item Charge"><i class="fa fa-money"></i></a>*@

                    <a ng-if="dynamicSerialTrackingModalData.length>0 && dynamicSerialTrackingModalData[$index].ITEM_CODE!=='' && OrderNo != 'undefined' && youFromReference == false" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTransDetail($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Serial No1 Details"></i></a>

                    <a ng-if="dynamicSerialTrackingModalData.length>0 && dynamicSerialTrackingModalData[$index].ITEM_CODE!=='' && OrderNo == 'undefined' && youFromReference == true" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTransDetail($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Serial No2 Details"></i></a>
                    <a ng-if="batchTranIcon[$index] == true && dynamicBatchTrackingModalData.length>0 && dynamicBatchTrackingModalData[$index].ITEM_CODE!=='' && OrderNo != 'undefined' && batch_tracking_flag == 'Y' && serial_tracking_flag == 'N'" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTran($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Batch Transaction"></i></a>
                    <a ng-if="batchTranIcon[$index] == true && dynamicBatchTrackingModalData.length>0 && dynamicBatchTrackingModalData[$index].ITEM_CODE!=='' && refernceForBatch == true && batch_tracking_flag == 'Y' && serial_tracking_flag == 'N'" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTran($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Batch Transaction"></i></a>
                </div>
            </div>
            <div ng-if="freeze_manual_entry_flag==='N'">
                <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index)" data-toggle="tooltip" title="Add row"><i class="fa fa-plus" @*title="Add row"*@></i></a>
                <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element($index)" data-toggle="tooltip" title="Delete row"><i class="fa fa-trash" @*title="Delete row"*@></i></a>
                @*<a href="" id="add_inv_item_chage" name="add_inv_item_chage" class="additemcharge" ng-click="add_inv_item_chage(key,$event)" data-toggle="tooltip" title="Click for indiviual Item Charge"><i class="fa fa-money"></i></a>*@

                <a ng-if="dynamicSerialTrackingModalData.length>0 && dynamicSerialTrackingModalData[$index].ITEM_CODE!=='' && OrderNo != 'undefined' && youFromReference == false" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTransDetail($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Serial No3 Details"></i></a>

                <a ng-if="dynamicSerialTrackingModalData.length>0 && dynamicSerialTrackingModalData[$index].ITEM_CODE!=='' && OrderNo == 'undefined' && youFromReference == true" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTransDetail($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Serial No4 Details"></i></a>
                <a ng-if="batchTranIcon[$index] == true && dynamicBatchTrackingModalData.length>0 && dynamicBatchTrackingModalData[$index].ITEM_CODE!=='' && OrderNo != 'undefined' && batch_tracking_flag == 'Y' && serial_tracking_flag == 'N'" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTran($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Batch Transaction"></i></a>
                <a ng-if="batchTranIcon[$index] == true && dynamicBatchTrackingModalData.length>0 && dynamicBatchTrackingModalData[$index].ITEM_CODE!=='' && refernceForBatch == true && batch_tracking_flag == 'Y' && serial_tracking_flag == 'N'" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTran($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Batch Transaction"></i></a>
            </div>
        </td>
    </tr>
</tbody>

<script>
    $("#products_listbox").slimScroll({
        position: 'right',
        alwaysVisible: false,
        height: '133',
    });

	

    
    //function checkQuantity(event) {
    //    debugger;
    //    var checkClass = $('#hdnCustomModels').attr('class');
    //    if (checkClass == null || checkClass == undefined || checkClass == '') {
    //        var classes = event.currentTarget.className.split(' ');
    //        var getclass = null;
    //        for (var i = 1; i < classes.length; i++) {
    //            getclass = classes[i];
    //            break;
    //        }
    //        $('#hdnCustomModels').addClass(getclass);
    //        $('#hdnCustomModels').val(event.currentTarget.value);
    //        return;
    //    }
    //    else {
    //        var classes = event.currentTarget.className.split(' ');
    //        var getclass = null;
    //        for (var i = 1; i < classes.length; i++) {
    //            getclass = classes[i];
    //            break;
    //        }
    //        if (checkClass != getclass) {
    //            debugger;
    //            $('#hdnCustomModels').removeClass(checkClass);
    //            $('#hdnCustomModels').addClass(getclass);
    //            $('#hdnCustomModels').val(event.currentTarget.value);
    //            return;
    //        }
    //    }
    //}
    //function compareQuantity(event) {
    //    debugger;
    //    var currentValue = parseInt(event.currentTarget.value);
    //    var referenceValue = parseInt($('#hdnCustomModels').val());
    //    if (currentValue > referenceValue) {
    //        alert('Cannot be greater than reference quantity ' + referenceValue);
    //        event.currentTarget.focous;
    //        event.currentTarget.value = referenceValue;
    //        return;
    //    }
    //    else if (currentValue == '' || currentValue == undefined || currentValue == NaN) {
    //        event.currentTarget.focous;
    //        event.currentTarget.value = referenceValue;
    //        return;
    //    }
    //    else if (currentValue < referenceValue || currentValue > 0) {
    //        return;
    //    }
    //    else {
    //        event.currentTarget.value = referenceValue;
    //    }
    //}
</script>

