@{
    Layout = "~/Areas/NeoERP.ProjectManagement/Views/Shared/_Layout.cshtml";
}
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/blue.min.css")" title="blue" rel="alternate stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" title="darkblue" rel="alternate stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" title="light2" rel="alternate stylesheet" />
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/js/module/PMModule.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/Scripts/Angular-Module-underscore.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/Scripts/handsontable.full.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/Scripts/ngHandsontable.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/Scripts/angularjs-dropdown-multiselect.min.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/Scripts/hotkeys.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.ProjectManagement/js/controller/consumptionMenuSplitter.js")"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.js"></script>

<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }


    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }
    /*.portlet > .portlet-title > .caption > i
    {
        margin-top:1px;
    }*/
</style>
<div class="col-md-12 bodyController" id="SplitterMenuCtrl" ng-controller="consumptionMenuSplitter">

    <div class="portlet light form-fit bordered bottomspance">

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze">{{modulename}} Module</span>
                </div>
                <div class="actions pull-right">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-green pull-right" id="savedocumentformdata" ng-click="BackFromMenu()">
                            <i class="fa fa-arrow-left"></i> Back
                        </a>
                    </div>
                </div>



            </div>
            <div class="portlet-body">
                <div id="splitter" kendo-splitter
                     k-panes="[{ collapsible: true, size: '20%' },{ collapsible: true, size: '80%'}]"
                     k-orientation="orientation"
                     @*k-resize="setHeight()" *@
                     k-rebind="orientation">
                    @*<div>

                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_salesSubMenuList.cshtml")
                    </div>*@
                    <div>

                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_salesSubMenuDetail.cshtml")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="saveAndPrintOrderModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span class="fa fa-print"></span>

                    </h4>
                </div>

                <div id="saveAndPrintOrderModalFor" class="modal-body saveAndPrintModal main">
                    <form name="saveAndPrint" class="form-horizontal">

                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/_salesOrderPrintTemplatePra.cshtml")

                    </form>
                </div>

                <div class="modal-footer">
                    <a ng-click="printDiv1('saveAndPrintOrderModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="saveAndPrintChalanModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span class="fa fa-print"></span>

                    </h4>
                </div>

                <div id="saveAndPrintChalanModalFor" class="modal-body saveAndPrintModal main">
                    <form name="saveAndPrint" class="form-horizontal">

                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/_salesChalanPrintTemplatePra.cshtml")

                    </form>
                </div>

                <div class="modal-footer">
                    <a ng-click="printDiv1('saveAndPrintChalanModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="saveAndPrintInvoiceModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span class="fa fa-print"></span>

                    </h4>
                </div>

                <div id="saveAndPrintInvoiceModalFor" class="modal-body saveAndPrintModal main">
                    <form name="saveAndPrint" class="form-horizontal">
                        @*Changes made for marriot AA*@
                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/MarriotSalesoperaInvoicePrintTemplate.cshtml")
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/_HyattRegencyInfrasecPOS.cshtml")*@
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/Hyatt_SymphonyPOS.cshtml")*@
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/HyattSalesoperaInvoicePrintTemplate.cshtml")*@


                    </form>
                </div>

                <div class="modal-footer">
                    @*<a href="~/Views/Shared/PrintTemplate/Sales/_salesInvoicePrintTemplate.cshtml">~/Views/Shared/PrintTemplate/Sales/_salesInvoicePrintTemplate.cshtml</a>*@
                    <a ng-click="printDiv1('saveAndPrintInvoiceModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="saveAndPrintInvoiceOperaModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span class="fa fa-print"></span>

                    </h4>
                </div>

                <div id="saveAndPrintInvoiceOperaModalFor" class="modal-body saveAndPrintModal main">
                    <form name="saveAndPrint" class="form-horizontal">

                        @*Changes made for marriot AA*@
                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/MarriotSalesoperaInvoicePrintTemplate.cshtml")
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/HyattRegencySalesoperaInvoicePrintTemplate.cshtml")*@
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/HyattRegencySalesoperaInvoicePrintTemplate.cshtml")*@
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/HyattSalesoperaInvoicePrintTemplate.cshtml")*@
                        @*F:\Animesh\NeoERPAll\Neo.Erp.Code\neo-erp\NeoErp\NeoErp.Web\Areas\NeoERP.ProjectManagement\Views\Shared\PrintTemplate\Sales\HyattRegencySalesoperaInvoicePrintTemplate.cshtml*@

                    </form>
                </div>

                <div class="modal-footer">
                    @*<a href="~/Views/Shared/PrintTemplate/Sales/_salesInvoicePrintTemplate.cshtml">~/Views/Shared/PrintTemplate/Sales/_salesInvoicePrintTemplate.cshtml</a>*@
                    <a ng-click="printDiv1('saveAndPrintInvoiceOperaModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade-out" id="saveAndPrintReturnModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span class="fa fa-print"></span>

                    </h4>
                </div>

                <div id="saveAndPrintReturnModalFor" class="modal-body saveAndPrintModal main">
                    <form name="saveAndPrint" class="form-horizontal">

                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/Symphony_POS_CN.cshtml")*@
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/Hyatt_Symphony_POS_CN.cshtml")*@
                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/MarriotSalesoperaInvoicePrintTemplate.cshtml")

                    </form>
                </div>

                <div class="modal-footer">
                    <a ng-click="printDiv1('saveAndPrintReturnModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                </div>
            </div>
        </div>
    </div>  <div class="modal fade-out" id="saveAndPrintReturnOperaModal" data-backdrop="static" tabindex="-1" data-width="760">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">
                        <span class="fa fa-print"></span>

                    </h4>
                </div>

                <div id="saveAndPrintReturnOperaModalFor" class="modal-body saveAndPrintModal main">
                    <form name="saveAndPrint" class="form-horizontal">

                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/Symphony_POS_CN.cshtml")*@
                        @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/HyattSalesReturnoperaInvoicePrintTemplate.cshtml")*@
                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Sales/MarriotSalesoperaInvoicePrintTemplate.cshtml")

                    </form>
                </div>

                <div class="modal-footer">
                    <a ng-click="printDiv1('saveAndPrintReturnOperaModalFor')" class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                        <i class="fa fa-floppy-o"></i> Print
                    </a>
                    <a class="btn btn-sm btn-default" id="cancelPrint" @*ng-click="cancelPrint(event)*@ ng-click="cnlPrint()" data-dismiss="modal">Cancel Print</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.k-i-arrow-60-right').on('click', function () {

        });
        $(".themes-select").on("change", function () {

            $('link[title][rel="alternate stylesheet"]').prop('disabled', true);
            $('link[title="' + $(this).val() + '"][rel="alternate stylesheet"]').prop('disabled', false);
            $.cookie("themes", $(this).val(), { expires: 365, path: '/' });
            setTheme(this);
        });

        function setTheme($this) {
            var switch_on = $($this).val();
            var theme;
            switch (switch_on) {
                case "darkblue":
                    theme = "kendo.moonlight.min.css";
                    break;
                case "blue":
                    theme = "kendo.blueopal.min.css";
                    break;
                default:
                    theme = "kendo.default.min.css";

            }
            var selectedTheme = '<link href="' + window.location.protocol + "//" + window.location.host + '/Content/Kendo/styles/' + theme + '" rel="stylesheet" tag="kendoTheme" />';
            $("#operationContent").find("link[tag='kendoTheme']").remove();
            $("#operationContent").append(selectedTheme);
        }
    });

    //var outerSplitter = $("#splitter").data("kendoSplitter");
    //var browserWindow = $(window);
    //var headerFooterHeight = $("#header").height() + $("#footer").height();

    //function resizeSplitter() {
    //    outerSplitter.wrapper.height(browserWindow.height() - headerFooterHeight);
    //    outerSplitter.resize();
    //    browserWindow.resize(resizeSplitter);
    //}
</script>