@{
    Layout = null;
}
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/blue.min.css")" title="blue" rel="alternate stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" title="darkblue" rel="alternate stylesheet" />
<link href="@Styles.Url(" ~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" title="light2" rel="alternate stylesheet" />
<style>
    .k-splitbar.k-splitbar-horizontal {
        width: 5px; /*specify the width of the horizontal splitbar*/
    }
    .bb-modal-content
    {

    }
    
    
    .k-splitter {
        height: 490px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .bottomspance .portlet-body {
        padding-top: 2px !important;
    }

    .portlet {
        margin-top: 0px;
        margin-bottom: 7px !important;
    }

    /*.portlet > .portlet-title > .caption > i {
            color: #4da539 !important;
        }*/
    .bodyController {
        margin-top: 4px;
    }
    /*.portlet > .portlet-title > .caption > i
    {
        margin-top:1px;
    }*/
</style>
<div class="col-md-12 bodyController" id="DocumentVerificationCtrl">
    <div class="portlet light form-fit bordered bottomspance">

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift font-green-haze"></i>
                    <span class="caption-subject bold uppercase font-green-haze">{{modulename}} Module</span>
                </div>
                <div class="row">
                    <div class="actions text-right ">
                        <div class="btn-group">
                            <a class="btn btn-sm btn-green" id="savedocumentformdata" ng-click="BackFromMenu()">
                                <i class="fa fa-arrow-left"></i> Back
                            </a>
                            <a class="btn btn-sm btn-green" href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/All_Check">
                                <i class="fa fa-check"></i> Check
                            </a>
                            <a class="btn btn-sm btn-green" href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/All_Authorise">
                                <i class="fa fa-check-square"></i> Authorise
                            </a>
                            <a class="btn btn-sm btn-green" href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/All_Post">
                                <i class="fa fa-check-square-o"></i> Post
                            </a>
                            <a class="btn btn-sm btn-green" href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/All_UnCheck">
                                <i class="fa fa-check"></i> UnCheck
                            </a>
                            <a class="btn btn-sm btn-green" href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/All_UnAuthorise">
                                <i class="fa fa-check-square"></i> UnAuthorise
                            </a>
                            <a class="btn btn-sm btn-green" href="/DocumentTemplate/Template/SplitterIndex#!DT/VerifySplitter/All_UnPost">
                                <i class="fa fa-check-square-o"></i> UnPost
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="actions text-right ">
                        <div class="btn-group">

                          

                        </div>
                    </div>
                    </div>

                </div>
                <div class="portlet-body">
                    <div id="splitter" kendo-splitter
                         k-panes="[{ collapsible: true, size: '20%' },{ collapsible: true, size: '80%'}]"
                         k-orientation="orientation"
                         @*k-resize="setHeight()" *@
                         k-rebind="orientation">
                        <div>
                            @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_salesSubMenuList.cshtml")*@
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView//DocumentVerification/_docVerSubMenuList.cshtml")
                        </div>
                        <div>

                            @*@Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_salesSubMenuDetail.cshtml")*@
                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/DocumentVerification/_docVerSubMenuDtl.cshtml")
                        </div>
                    </div>
                </div>
            </div>
</div>

<script>
    $(document).ready(function () {
        $('.k-i-arrow-60-right').on('click', function ()
        {

        });
        $(".themes-select").on("change", function () {

            $('link[title][rel="alternate stylesheet"]').prop('disabled', true);
            $('link[title="' + $(this).val() + '"][rel="alternate stylesheet"]').prop('disabled', false);
            $.cookie("themes", $(this).val(), { expires: 365, path: '/' });
            setTheme(this);
        });

        function setTheme($this) {
            var switch_on = $($this).val();
            var theme;
            switch (switch_on) {
                case "darkblue":
                    theme = "kendo.moonlight.min.css";
                    break;
                case "blue":
                    theme = "kendo.blueopal.min.css";
                    break;
                default:
                    theme = "kendo.default.min.css";

            }
            var selectedTheme = '<link href="' + window.location.protocol + "//" + window.location.host + '/Content/Kendo/styles/' + theme + '" rel="stylesheet" tag="kendoTheme" />';
            $("#operationContent").find("link[tag='kendoTheme']").remove();
            $("#operationContent").append(selectedTheme);
        }
    });

    //var outerSplitter = $("#splitter").data("kendoSplitter");
    //var browserWindow = $(window);
    //var headerFooterHeight = $("#header").height() + $("#footer").height();

    //function resizeSplitter() {
    //    outerSplitter.wrapper.height(browserWindow.height() - headerFooterHeight);
    //    outerSplitter.resize();
    //    browserWindow.resize(resizeSplitter);
    //}
</script>
