
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
    Layout = "~/Areas/NeoERP.QuotationManagement/Views/Shared/_Layout.cshtml";
}


<link href="~/Areas/NeoERP.QuotationManagement/Content/hotkeys.css" rel="stylesheet" />

<link href="@Styles.Url("~/Content/MainTheme/fontawesome-iconpicker-1.0.0/dist/css/fontawesome-iconpicker.css")" rel="stylesheet" />
<link href="@Styles.Url("~/Areas/NeoErp.QuotationManagement/Content/MenuStyleSheet.css")" rel="stylesheet" />

<!DOCTYPE html>

<html lang="en" class="no-js">
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/Scripts/hotkeys.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/module/QMModule.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/DashboardCtrl.js")"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/keymaster.js")"></script>
    <link href="@Styles.Url("~/Areas/NeoERP.QuotationManagement/Content/quotationDashboard.css")" rel="stylesheet" />
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    <div class="busy-loader">
        <div id="preloader" class="loader"></div>
        <span style="color:white">Loading.....Please Wait.....</span>
    </div>
    <div id="myarea" ng-controller="DashboardCtrl">
        <div class="clearfix"></div>
        <div class="">
            <div class="page-sidebar-wrapper">
                <div class="">
                    <div class="page-bar">
                        <ul class="page-breadcrumb">
                            <li>
                                <i class="fa fa-home"></i>
                                <a href="/main/GlobalDashboard">Home</a>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col-md-3 pull-right">
                                <div class="form-group has-feedback">
                                    <input type="search" id="searchFolder" placeholder="Search..." ng-model="searchBox" ng-change="ShowIcon(searchBox)" class="search form-control">
                                    <span class="search-icon glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin-top-10 portlet col-md-12  light border portlet_bg_dm">
                        <div class="margin-top-10 ">
                            <div class="col-sm-6 col-lg-3" ng-repeat="quotationCount in quotationCountList">
                                <div class="card" ng-style="{'background-color': quotationCount.COLOR}">
                                    <div class="card-body pb-0">
                                        <div class="font">
                                            <i class="{{ quotationCount.ICON }}" aria-hidden="true"></i>
                                        </div>
                                        <h4 class="mb-0">
                                            <span class="count"><b>{{ quotationCount.COUNT }}</b></span>
                                        </h4>
                                        <p style="font-weight: bold;">{{ quotationCount.HEADING }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pieBarDiv">
                            <div class="margin-top-10 pieBar">
                                <canvas class="chart" id="myChart"></canvas>
                            </div>
                            <div class="margin-top-10 pieBar">
                                <canvas class="chart" id="myPieChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <link href="~/Areas/NeoERP.QuotationManagement/Content/bootstrap2-toggle.css" rel="stylesheet" />
    <script src="~/Areas/NeoERP.QuotationManagement/Scripts/jscolor.js"></script>
    <script src="~/Areas/NeoERP.QuotationManagement/Scripts/bootstrap2-toggle.js"></script>
    <script src="~/Areas/NeoERP.QuotationManagement/Scripts/drag-arrange.min.js"></script>
</body>

</html>








