@{
    ViewBag.Title = "Home Page";
    Layout = "~/Areas/NeoERP.QuotationManagement/Views/Shared/_Layout.cshtml";
}
<link href="~/Areas/NeoERP.QuotationManagement/Content/hotkeys.css" rel="stylesheet" />
<style>

    .rightallign {
        font-weight: bold;
        font-size: 8px !important;
        float: right;
    }

    .comboBoxedescName {
        width: 65% !important;
        display: inline-block !important;
    }
</style>

<div class="row">
    <div ng-view></div>
</div>
@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/Scripts/Angular-Module-underscore.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/Scripts/handsontable.full.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/Scripts/ngHandsontable.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/Scripts/angularjs-dropdown-multiselect.min.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/Scripts/hotkeys.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/module/QMModule.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/quotationSetup.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/AddQuotation.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/ViewQuotation.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/EditQuotation.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/quotationDetails.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/summaryReport.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/quotationDetail.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/tenderSetup.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/quotationDetailItemWise.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/itemCtrl.js")"></script>


    @*<script src="@Scripts.Url("~/Areas/NeoERP.QuotationManagement/js/controller/DocumentReferenceCtrl.js")"></script>*@

    <script>
        //Auto Scroll to TOP for QuotationManagement Form

        $(".k-list").slimScroll({
            position: 'right',
            alwaysVisible: false,
            //height: '350',
        });

        $('.modal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        // global javascript function here.

        //function formatValue(value, text) {
        //    if (text.indexOf("#") > -1)
        //        text = text.split("#")[1];
        //    var textMatcher = new RegExp(text, "ig");
        //    return value.replace(textMatcher, function (match) {
        //        return "<u><strong>" + match + "</strong></u>";
        //    });
        //}
        function formatValue(value, type, text) {

            if (type == null)
                type = "";
            if (text != undefined)
                if (text.indexOf("#") > -1)
                    text = text.split("#")[1];
            var textMatcher = new RegExp(text, "ig");
            if (value != null) {
                var val = value.replace(textMatcher, function (match) {
                    return "<u><strong>" + match + "</strong></u>";
                });
            }

            //$('.k-list.k-reset,.k-list-scroller,.k-animation-container,.k-list-container').css({ height: 'auto' })
            return "<span class='comboBoxedescName'>" + val + "</span> <span class='rightallign'>" + type + "</span> ";

        }

        function CollapseAll() {
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-minus");
            if (elementsA.length > 0) {

                for (var i = 0; i < elementsA.length; i++) {
                    $(elementsA[i]).trigger("click");
                }
                return;
            }
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-collapse");
            for (var i = 0; i < elementsB.length; i++) {
                $(elementsB[i]).trigger("click");
            }
        }

        function ExpandAll() {
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-expand");
            if (elementsB.length > 0) {

                for (var i = 0; i < elementsB.length; i++) {
                    $(elementsB[i]).trigger("click");
                }
                return;
            }
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-plus");
            for (var i = 0; i < elementsA.length; i++) {
                $(elementsA[i]).trigger("click");
            }
        }</script>

    <style>

        strong {
            color: #0094ff;
        }
    </style>
}

