@model List<NeoErp.Planning.Service.Models.PreferenceSetupModel>
@{ 
    var editMonth = string.Empty; //(string)ViewBag.MonthEditValue;
}

<head>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@

</head>
<style>
    body {
        background-color: #eef;
    }

    /*#tabs {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }*/


    .Button {
        margin-top: 20px;
    }

    .md-radio-inline div {
        display: inline-block;
    }

    .md-radio-inline .has-error {
        margin-right: 10px;
    }

    .TriSea-technologies-Switch > input[type="checkbox"] {
        display: none;
    }

    .TriSea-technologies-Switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }

        .TriSea-technologies-Switch > label::before {
            background: rgb(0, 0, 0);
            box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
            border-radius: 8px;
            content: '';
            height: 16px;
            margin-top: -8px;
            position: absolute;
            opacity: 0.3;
            transition: all 0.4s ease-in-out;
            width: 40px;
        }

        .TriSea-technologies-Switch > label::after {
            background: rgb(255, 255, 255);
            border-radius: 16px;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            content: '';
            height: 24px;
            left: -4px;
            margin-top: -8px;
            position: absolute;
            top: -4px;
            transition: all 0.3s ease-in-out;
            width: 24px;
        }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }

    .TriSea-technologies-Switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }

    .PreferenceTab {
        margin-left: 0px;
        width: 70%;
    }

    .modal-footer {
        width: 70%
    }

    .ui-widget-header {
        background: none !important;
        border: none !important
    }

    .ui-tabs .ui-tabs-panel {
        width: 70%
    }

    .modal-footer {
        width: 70%
    }

    .green-box {
        background-color: #44A12F;
    }

    .portlet > .portlet-title > .caption > i {
        color: #fff;
    }

    .full-tab .ui-tabs-nav li.ui-tabs-active {
        background-color: #44A12F !important;
        border: 1px solid #44A12F !important;
    }

    .full-tab.ui-tabs .ui-tabs-nav li {
        min-height: 30px !important;
    }

    .full-tab.ui-tabs .ui-tabs-panel {
        padding: 5px 2px !important;
    }

    #PreferenceTab {
        padding: 10px 5px !important;
        border: solid #ddd 1px;
        margin-left: 3px;
    }

    .btn-green {
        background-color: #44A12F;
        color: #fff;
    }

    .label-success-green {
        background-color: #44A12F;
    }

    .label-success-light {
        background-color: #008000 !important;
    }

    .green-box .modal-footer {
        padding: 10px 0px !important;
    }

    .tab-box {
        margin-bottom: 0px !important;
    }

    .full-tab ul li a, .list-group ul li {
        font-size: 12px !important;
    }

    .portlet > .portlet-title > .caption > i {
        margin-top: 1px !important;
    }

    .full-tab .list-group-item {
        padding: 10px 10px !important;
        font-size: 12px !important;
    }

    .full-tab .list-group {
        margin-bottom: 5px
    }
</style>

<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/Distribution/Home/Dashboard#!Distribution/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Group Setup</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
        </ul>
        <div class="actions float-right">
            @*<button id="basicPreferenceSetupBtn" type="submit" class="btn btn-green btn-sm pull-right1">Basic Conf.</button>*@
            <div class="pull-right btn btn-circle btn-icon-only btn-default" data-toggle="tooltip" data-placement="left" title="Save Basic Settings" id="basicPreferenceSetupBtn">
                <i class="fa fa-cog"></i>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            @*<div class="portlet-title">
                    <div class="caption">
                        <i class="icon-equalizer"></i>
                        <span class="caption-subject bold uppercase">Preference Setup</span>
                    </div>
                    <div class="tools">
                        Check All
                        <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                            <input id="checkedAll" type="checkbox" class="" />
                            <label for="checkedAll" class="label-success-light"></label>
                        </div>
                    </div>
                </div>*@

            @*<div id="PreferenceTabs" class="qtab portlet-body">
                    <ul>
                        <li><a href="#PreferenceTab">Preference Tab</a></li>
                    </ul>
                    <div id="PreferenceTab" class="form-group">
                        <ul class="list-group">
                            <li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="groupEntry" type="checkbox" class="setup" value="@Model.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="groupEntry" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Customer
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="showCustomer" type="checkbox" class="setup" value="@Model.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                    <label for="showCustomer" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Branch
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="showBranch" type="checkbox" class="setup" value="@Model.SHOW_BRANCH" name="PreferenceSetupModel.SHOW_BRANCH" />
                                    <label for="showBranch" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Employee
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="showEmployee" type="checkbox" class="setup" value="@Model.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                    <label for="showEmployee" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Item
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="showItem" type="checkbox" class="setup" value="@Model.SHOW_ITEM" name="PreferenceSetupModel.SHOW_ITEM" />
                                    <label for="showItem" class="label-success-green"></label>
                                </div>
                            </li>

                        </ul>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-green btn-sm pull-right1" id="PreferenceSubmit" type="submit">save</button>
                    </div>

                </div>*@
            <div id="tabs" class="full-tab">
                <ul>
                    <li>
                        <a href="#tabs-1">Plan</a>
                    </li>
                    <li>
                        <a href="#tabs-4">Procument Plan</a>
                    </li>

                    <li>
                        <a href="#tabs-6">Production Plan</a>
                    </li>
                    <li>
                        <a href="#tabs-2">Ledger Plan</a>
                    </li>
                    <li>
                        <a href="#tabs-5">Budget Plan</a>
                    </li>
                    <li>
                        <a href="#tabs-7">Collection Plan</a>
                    </li>
                    <li>
                        <a href="#tabs-8">Target % Plan</a>
                    </li>
                </ul>
                <div id="tabs-1">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "SALES_PLAN")
                        {
                            <div>
                                <div class="portlet box green-box tab-box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer"></i>
                                            <span class="caption-subject bold uppercase">Plan Setup</span>
                                        </div>
                                        <div class="tools">
                                            Check All
                                            <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                                                <input id="PlancheckedAll" type="checkbox" class="" />
                                                <label for="PlancheckedAll" class="label-success-light"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    @*<li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="plangroupEntry" type="checkbox" class="plansetup" value="@item.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="plangroupEntry" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Customer
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowCustomer" type="checkbox" class="plansetup" value="@item.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                            <label for="planshowCustomer" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Branch
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowBranch" type="checkbox" class="plansetup" value="@item.SHOW_BRANCH" name="PreferenceSetupModel.SHOW_BRANCH" />
                                            <label for="planshowBranch" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Employee
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowEmployee" type="checkbox" class="plansetup" value="@item.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                            <label for="planshowEmployee" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Item
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowItem" type="checkbox" class="plansetup" value="@item.SHOW_ITEM" name="PreferenceSetupModel.SHOW_ITEM" />
                                            <label for="planshowItem" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Division
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowdivision" type="checkbox" class="plansetup" value="@item.SHOW_DIVISION" name="PreferenceSetupModel.SHOW_DIVISION" />
                                            <label for="planshowdivision" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Party Type
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowpartytype" type="checkbox" class="plansetup" value="@item.SHOW_PARTY_TYPE" name="PreferenceSetupModel.SHOW_PARTY_TYPE" />
                                            <label for="planshowpartytype" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Agent
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="planshowagent" type="checkbox" class="plansetup" value="@item.SHOW_AGENT" name="PreferenceSetupModel.SHOW_AGENT" />
                                            <label for="planshowagent" class="label-success-green"></label>
                                        </div>
                                    </li>

                                </ul>
                            </div>

                            <div class="panel-group">
                                <div class="panel panel-default">
                                    <div class="panel-heading" style="background-color: green;color:white">Plan Edit Control</div>
                                    <div class="panel-body">
                                        <ul class="list-group" style="list-style-type:none">
                                            <li class="list-group-item">
                                                Edit Lock
                                                <div class="TriSea-technologies-Switch pull-right">
                                                    @{ bool on = item.PARTIAL_EDIT == "Y" ? true : false;
                                                        editMonth = item.EDIT_VALUE == null ? "" : item.EDIT_VALUE;
                                                    }
                                                    <input id="chkPartialEdit" type="checkbox" class="plansetup1" checked="@on" />
                                                    <label for="chkPartialEdit" class="label-success-green"></label>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <label>Edit Enable Months</label>
                                                <div class="">
                                                    <input type="text" id="multiselectMonth" />
                                                </div>

                                            </li>
                                        </ul>



                                    </div>
                                </div>


                            </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="planPreferenceSubmit" type="submit">save</button>
                    </div>
                </div>
                <div id="tabs-2">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "LEDGER_PLAN")
                        {
                            <div>
                                <div class="portlet box green-box tab-box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer"></i>
                                            <span class="caption-subject bold uppercase">Ledger budget Plan Setup</span>
                                        </div>
                                        <div class="tools">
                                            Check All
                                            <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                                                <input id="lbplancheckedAll" type="checkbox" class="" />
                                                <label for="lbplancheckedAll" class="label-success-light"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    @*<li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="lbplangroupEntry" type="checkbox" class="lbplansetup" value="@item.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="lbplangroupEntry" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    @*<li class="list-group-item">
                                Show Customer
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="lbplanshowCustomer" type="checkbox" class="lbplansetup" value="@item.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                    <label for="lbplanshowCustomer" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Branch
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="lbplanshowBranch" type="checkbox" class="lbplansetup" value="@item.SHOW_BRANCH" name="PreferenceSetupModel.SHOW_BRANCH" />
                                            <label for="lbplanshowBranch" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Division
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="lbplanshowdivision" type="checkbox" class="lbplansetup" value="@item.SHOW_DIVISION" name="PreferenceSetupModel.SHOW_DIVISION" />
                                            <label for="lbplanshowdivision" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    @*<li class="list-group-item">
                                Show Employee
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="lbplanshowEmployee" type="checkbox" class="lbplansetup" value="@item.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                    <label for="lbplanshowEmployee" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Item
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="lbplanshowItem" type="checkbox" class="lbplansetup" value="@item.SHOW_ITEM" name="PreferenceSetupModel.SHOW_ITEM" />
                                    <label for="lbplanshowItem" class="label-success-green"></label>
                                </div>
                            </li>*@

                                </ul>
                            </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="lbplanPreferenceSubmit" type="submit">save</button>
                    </div>
                </div>

                <div id="tabs-4">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "PROCUREMENT_PLAN")
                        {
                            <div>
                                <div class="portlet box green-box  tab-box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer"></i>
                                            <span class="caption-subject bold uppercase">Procument Plan Setup</span>
                                        </div>
                                        <div class="tools">
                                            Check All
                                            <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                                                <input id="procumentplancheckedAll" type="checkbox" class="" />
                                                <label for="procumentplancheckedAll" class="label-success-light"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    @*<li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="procumentplangroupEntry" type="checkbox" class="procumentplansetup" value="@item.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="procumentplangroupEntry" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Customer
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="procumentplanshowCustomer" type="checkbox" class="procumentplansetup" value="@item.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                    <label for="procumentplanshowCustomer" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Branch
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="procumentplanshowBranch" type="checkbox" class="procumentplansetup" value="@item.SHOW_BRANCH" name="PreferenceSetupModel.SHOW_BRANCH" />
                                            <label for="procumentplanshowBranch" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    @*<li class="list-group-item">
                                Show Employee
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="procumentplanshowEmployee" type="checkbox" class="procumentplansetup" value="@item.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                    <label for="procumentplanshowEmployee" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Item
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="procumentplanshowItem" type="checkbox" class="procumentplansetup" value="@item.SHOW_ITEM" name="PreferenceSetupModel.SHOW_ITEM" />
                                            <label for="procumentplanshowItem" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Division
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="procumentplanshowdivision" type="checkbox" class="procumentplansetup" value="@item.SHOW_DIVISION" name="PreferenceSetupModel.SHOW_DIVISION" />
                                            <label for="procumentplanshowdivision" class="label-success-green"></label>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="procumentplanPreferenceSubmit" type="submit">save</button>
                    </div>
                </div>
                <div id="tabs-5">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "BUDGET_PLAN")
                        {
                            <div>
                                <div class="portlet box green-box  tab-box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer"></i> Budget Plan Setup
                                        </div>
                                        <div class="tools">
                                            Check All
                                            <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                                                <input id="budgetplancheckedAll" type="checkbox" class="" />
                                                <label for="budgetplancheckedAll" class="label-success-light"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    @*<li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="budgetplangroupEntry" type="checkbox" class="budgetplansetup" value="@item.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="budgetplangroupEntry" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Customer
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="budgetplanshowCustomer" type="checkbox" class="budgetplansetup" value="@item.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                    <label for="budgetplanshowCustomer" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Branch
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="budgetplanshowBranch" type="checkbox" class="budgetplansetup" value="@item.SHOW_BRANCH" name="PreferenceSetupModel.SHOW_BRANCH" />
                                    <label for="budgetplanshowBranch" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Employee
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="budgetplanshowEmployee" type="checkbox" class="budgetplansetup" value="@item.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                    <label for="budgetplanshowEmployee" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Item
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="budgetplanshowItem" type="checkbox" class="budgetplansetup" value="@item.SHOW_ITEM" name="PreferenceSetupModel.SHOW_ITEM" />
                                    <label for="budgetplanshowItem" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Division
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="lbbudgetplanshowdivision" type="checkbox" class="lbplansetup" value="@item.SHOW_DIVISION" name="PreferenceSetupModel.SHOW_DIVISION" />
                                            <label for="lbbudgetplanshowdivision" class="label-success-green"></label>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="budgetplanSubmit" type="submit">save</button>
                    </div>
                </div>
                <div id="tabs-6">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "PRODUCTION_PLAN")
                        {
                            <div>
                                <div class="portlet box green-box tab-box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer"></i>
                                            <span class="caption-subject bold uppercase">Production Plan Setup</span>
                                        </div>
                                        <div class="tools">
                                            Check All
                                            <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                                                <input id="productionplancheckedAll" type="checkbox" class="" />
                                                <label for="productionplancheckedAll" class="label-success-light"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    @*<li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="productionplangroupEntry" type="checkbox" class="productionplansetup" value="@item.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="productionplangroupEntry" class="label-success-green"></label>
                                </div>
                            </li>
                            <li class="list-group-item">
                                Show Customer
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="productionplanshowCustomer" type="checkbox" class="productionplansetup" value="@item.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                    <label for="productionplanshowCustomer" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Branch
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="productionplanshowBranch" type="checkbox" class="productionplansetup" value="@item.SHOW_BRANCH" name="PreferenceSetupModel.SHOW_BRANCH" />
                                            <label for="productionplanshowBranch" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    @*<li class="list-group-item">
                                Show Employee
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="productionplanshowEmployee" type="checkbox" class="productionplansetup" value="@item.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                    <label for="productionplanshowEmployee" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Item
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="productionplanshowItem" type="checkbox" class="productionplansetup" value="@item.SHOW_ITEM" name="PreferenceSetupModel.SHOW_ITEM" />
                                            <label for="productionplanshowItem" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Division
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="productionplanshowdivision" type="checkbox" class="productionplansetup" value="@item.SHOW_DIVISION" name="productionSetupModel.SHOW_DIVISION" />
                                            <label for="productionplanshowdivision" class="label-success-green"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="productionplanPreferenceSubmit" type="submit">save</button>
                    </div>
                </div>
                <div id="tabs-7">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "COLLECTION_PLAN")
                        {
                            <div>
                                <div class="portlet box green-box  tab-box">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-equalizer"></i>
                                            <span class="caption-subject bold uppercase">Collection Plan Setup</span>
                                        </div>
                                        <div class="tools">
                                            Check All
                                            <div class="TriSea-technologies-Switch pull-right" style="margin-left:15px;">
                                                <input id="collectionplancheckedAll" type="checkbox" class="" />
                                                <label for="collectionplancheckedAll" class="label-success-light"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    @*<li class="list-group-item">
                                Group Entry
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="procumentplangroupEntry" type="checkbox" class="procumentplansetup" value="@item.ITEM_GROUP_ENTRY" name="PreferenceSetupModel.ITEM_GROUP_ENTRY" />
                                    <label for="procumentplangroupEntry" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Customer
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="procumentplanshowCustomer" type="checkbox" class="collectionplansetup" value="@item.SHOW_CUSTOMER" name="PreferenceSetupModel.SHOW_CUSTOMER" />
                                            <label for="procumentplanshowCustomer" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Branch
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="collectionplanshowBranch" type="checkbox" class="collectionplansetup" value="@item.SHOW_BRANCH" name="collectionSetupModel.SHOW_BRANCH" />
                                            <label for="collectionplanshowBranch" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    <li class="list-group-item">
                                        Show Employee
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="procumentplanshowEmployee" type="checkbox" class="collectionplansetup" value="@item.SHOW_EMPLOYEE" name="PreferenceSetupModel.SHOW_EMPLOYEE" />
                                            <label for="procumentplanshowEmployee" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    @*<li class="list-group-item">
                                Show Item
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="collectionplanshowItem" type="checkbox" class="collectionplansetup" value="@item.SHOW_ITEM" name="collectionSetupModel.SHOW_ITEM" />
                                    <label for="collectionplanshowItem" class="label-success-green"></label>
                                </div>
                            </li>*@
                                    <li class="list-group-item">
                                        Show Division
                                        <div class="TriSea-technologies-Switch pull-right">
                                            <input id="collectionplanshowdivision" type="checkbox" class="collectionplansetup" value="@item.SHOW_DIVISION" name="collectionSetupModel.SHOW_DIVISION" />
                                            <label for="collectionplanshowdivision" class="label-success-green"></label>
                                        </div>
                                    </li>
                                    @*<li class="list-group-item">
                                Show Party Type
                                <div class="TriSea-technologies-Switch pull-right">
                                    <input id="collectionplanshowpartytype" type="checkbox" class="collectionplansetup" value="@item.SHOW_PARTY_TYPE" name="PreferenceSetupModel.SHOW_PARTY_TYPE" />
                                    <label for="collectionplanshowpartytype" class="label-success-green"></label>
                                </div>
                            </li>*@
                                </ul>
                            </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="collectionplanPreferenceSubmit" type="submit">save</button>
                    </div>
                </div>
                <div id="tabs-8">
                    @foreach (var item in Model)
                    {
                        if (item.PL_NAME == "TARGET_PERCENT_PLAN")
                        {
                                <div class="table-responsive">
                                    <table class="document_child_table dynamic-table  table-fixed">
                                        <thead class="child-table-head">
                                            <tr>
                                                @*<th ng-repeat="item in ChildFormElement[0].element | orderBy: 'SERIAL_NO*1'" class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child ">
                                                    {{item.COLUMN_HEADER}}
                                                    <i class="fa fa-info-circle font-green" data-toggle="tooltip" title="{{item.HELP_DESCRIPTION}}"></i></th>*@
                                                <th class="year-child">Year</th>
                                                <th class="jan-child">Bhaisak</th>
                                                <th class="year-child">Jestha</th>
                                                <th class="year-child">Asar</th>
                                                <th class="year-child">Shrawan</th>
                                                <th class="year-child">Bhadra</th>
                                                <th class="year-child">Aasmin</th>
                                                <th class="year-child">Kartik</th>
                                                <th class="year-child">Mangsir</th>
                                                <th class="year-child">Push</th>
                                                <th class="year-child">Magh</th>
                                                <th class="year-child">Falgun</th>
                                                <th class="year-child">Chaitra</th>
                                                <th class="btn-action" style="width:10%;">
                                                    &nbsp;
                                                </th>
                                            </tr>
                                        </thead>
                                       <tbody class="table_body">
                                           <tr>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price"  name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td>
                                                   <div style="pointer-events:none;">
                                                       <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter unit price" name="year" ng-model="YEAR" class="form-control textbox" />
                                                   </div>
                                               </td>
                                               <td class="btn-action" style="width:10%;">
                                                   <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index)" data-toggle="tooltip" title="Add row"><i class="fa fa-plus"></i></a>
                                                   <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element($index)" data-toggle="tooltip" title="Delete row"><i class="fa fa-trash"></i></a>
                                               </td>
                                           </tr>
                                       </tbody>
                                    </table>
                                </div>
                        }
                    }

                    <div>
                        <button class="btn btn-green btn-sm pull-right1" id="collectionplanPreferenceSubmit" type="submit">save</button>
                    </div>
                </div>
            </div>

            <div id="tabid"></div>


        </div>

    </div>
</div>
<script>
    $("#tabs").tabs({
        activate: function (event, ui) {
            var active = $('#tabs').tabs('option', 'active');
            //$("#tabid").html('the tab id is ' + $("#tabs ul>li a").eq(active).attr("href"));

        }
    }

    );
    $(document).ready(function () {
        var count = 0;
        var monthString = '@editMonth'
        var monthArray = monthString.split(',');
        //$("#PreferenceTabs").tabs({
        //});
        $("#multiselectMonth").kendoMultiSelect({  
            includeSelectAllOption: true,  
            placeholder: "Select Month",  
            dataTextField: "Title",  
            dataValueField: "Title", 
            value: monthArray,
            popup: {
                appendTo: $(".sod")
            },
            height: 400,  
            dataSource: {  
                type: "json",  
                transport: {  
                    read: window.location.protocol + "//" + window.location.host + "/Planning/Setup/getFrequencyTitleForPlanEdit" 
                }  
                
            }  
       });  
       
       

        $("#basicPreferenceSetupBtn").on('click', function () {
            //bootbox.confirm("Are you sure to reset all preference setup?", function (result) {
            //    if (result) {
            //        resetPerferenceSetup();
            //    }
            //});
            bootbox.confirm({
                size: "small",
                message: "Are you sure to reset all preference setup?",
                callback: function (result) {
                    if (result) {
                        resetPerferenceSetup();
                    }
                }
            })
            
        });
        function resetPerferenceSetup() {
            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/SaveBasicSetting";
            $.ajax({
                url: url,
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        setTimeout(function () {
                            window.location.reload();
                        }, 1000)

                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {
                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        }
        //start  plan setup
        $.each($('.plansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".plansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#PlancheckedAll").prop("checked", true);
            }

        });

        $("#PlancheckedAll").change(function () {

            if (this.checked) {
                $(".plansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".plansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".plansetup").click(function () {

            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".plansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#PlancheckedAll").prop("checked", true); }
            } else {
                $("#PlancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#planPreferenceSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "SALES_PLAN",
                //ITEM_GROUP_ENTRY: $('#plangroupEntry').val(),
                SHOW_CUSTOMER: $('#planshowCustomer').val(),
                SHOW_BRANCH: $('#planshowBranch').val(),
                SHOW_EMPLOYEE: $('#planshowEmployee').val(),
                SHOW_ITEM: $('#planshowItem').val(),
                SHOW_DIVISION: $('#planshowdivision').val(),
                SHOW_PARTY_TYPE: $('#planshowpartytype').val(),
                SHOW_AGENT: $('#planshowagent').val(),
                PARTIAL_EDIT: $('#chkPartialEdit').prop('checked')?"Y":"N",
                EDIT_VALUE: $('#multiselectMonth').data('kendoMultiSelect').value().join()
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end  plan setup


        //start for ledger budget plan setup
        $.each($('.lbplansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".lbplansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#lbplancheckedAll").prop("checked", true);
            }

        });

        $("#lbplancheckedAll").change(function () {

            if (this.checked) {
                $(".lbplansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".lbplansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".lbplansetup").click(function () {
            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".lbplansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#lbplancheckedAll").prop("checked", true); }
            } else {
                $("#lbplancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#lbplanPreferenceSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "LEDGER_PLAN",
                //ITEM_GROUP_ENTRY: $('#lbplangroupEntry').val(),
                //SHOW_CUSTOMER: $('#lbplanshowCustomer').val(),
                SHOW_BRANCH: $('#lbplanshowBranch').val(),
                SHOW_DIVISION: $('#lbplanshowdivision').val(),
                //SHOW_EMPLOYEE: $('#lbplanshowEmployee').val(),
                //SHOW_ITEM: $('#lbplanshowItem').val(),
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end for ledger budget plan setup



        //start for branding  plan setup
        //$.each($('.brandingplansetup'), function () {

        //    a = $(this).val();
        //    if ($(this).val() == 'Y') {
        //        this.setAttribute("checked", "checked");
        //    }
        //    else {
        //        this.removeAttribute("checked");
        //    }
        //    var isAllChecked = 0;
        //    $(".brandingplansetup").each(function () {

        //        if (!this.checked)
        //            isAllChecked = 1;
        //    })
        //    if (isAllChecked == 0) {
        //        $("#brandingplancheckedAll").prop("checked", true);
        //    }

        //});

        //$("#brandingplancheckedAll").change(function () {

        //    if (this.checked) {
        //        $(".brandingplansetup").each(function () {
        //            this.checked = true;
        //            $(this).val("Y");
        //        })
        //    } else {
        //        $(".brandingplansetup").each(function () {
        //            this.checked = false;
        //            $(this).val("N");
        //        })
        //    }
        //});

        //$(".brandingplansetup").click(function () {
        //    if ($(this).is(":checked")) {
        //        $(this).val("Y");
        //        var isAllChecked = 0;
        //        $(".brandingplansetup").each(function () {
        //            if (!this.checked)
        //                isAllChecked = 1;
        //        })
        //        if (isAllChecked == 0) { $("#brandingplancheckedAll").prop("checked", true); }
        //    } else {
        //        $("#brandingplancheckedAll").prop("checked", false);
        //        $(this).val("N");
        //    }
        //});
        //$('#brandingplanPreferenceSubmit').click(function (e) {

        //    var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
        //    e.preventDefault();
        //    var data = ({
        //        PL_NAME: "BRANDING_PLAN",
        //        ITEM_GROUP_ENTRY: $('#brandingplangroupEntry').val(),
        //        SHOW_CUSTOMER: $('#brandingplanshowCustomer').val(),
        //        SHOW_BRANCH: $('#brandingplanshowBranch').val(),
        //        SHOW_EMPLOYEE: $('#brandingplanshowEmployee').val(),
        //        SHOW_ITEM: $('#brandingplanshowItem').val(),
        //    })
        //    var element = this;
        //    $.ajax({
        //        url: url,
        //        type: "POST",
        //        data: JSON.stringify({ 'model': data }),
        //        dataType: "json",
        //        contentType: "application/json; charset=utf-8",
        //        success: function (data) {

        //            if (data.success == true) {
        //                displayPopupNotification("Saved", "Success");
        //                $(element).closest("form").submit();
        //            } else {
        //                displayPopupNotification("There is an error while saving data", "error");
        //            }
        //        },
        //        error: function (jqxhr) {

        //            displayPopupNotification("There is an Server Error", "error");
        //        }
        //    });
        //});
        //end for branding plan setup


        //start for procument  plan setup
        $.each($('.procumentplansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".procumentplansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#procumentplancheckedAll").prop("checked", true);
            }

        });

        $("#procumentplancheckedAll").change(function () {

            if (this.checked) {
                $(".procumentplansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".procumentplansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".procumentplansetup").click(function () {
            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".procumentplansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#procumentplancheckedAll").prop("checked", true); }
            } else {
                $("#procumentplancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#procumentplanPreferenceSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "PROCUREMENT_PLAN",
                //ITEM_GROUP_ENTRY: $('#procumentplangroupEntry').val(),
                //SHOW_CUSTOMER: $('#procumentplanshowCustomer').val(),
                SHOW_BRANCH: $('#procumentplanshowBranch').val(),
                //SHOW_EMPLOYEE: $('#procumentplanshowEmployee').val(),
                SHOW_ITEM: $('#procumentplanshowItem').val(),
                SHOW_DIVISION: $('#procumentplanshowdivision').val(),
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end for procument plan setup

        //start for collection  plan setup
        $.each($('.collectionplansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".collectionplansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#collectionplancheckedAll").prop("checked", true);
            }

        });

        $("#collectionplancheckedAll").change(function () {

            if (this.checked) {
                $(".collectionplansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".collectionplansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".collectionplansetup").click(function () {
            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".collectionplansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#collectionplancheckedAll").prop("checked", true); }
            } else {
                $("#collectionplancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#collectionplanPreferenceSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "COLLECTION_PLAN",
                //ITEM_GROUP_ENTRY: $('#procumentplangroupEntry').val(),
                SHOW_CUSTOMER: $('#procumentplanshowCustomer').val(),
                SHOW_BRANCH: $('#collectionplanshowBranch').val(),
                SHOW_EMPLOYEE: $('#procumentplanshowEmployee').val(),
                SHOW_ITEM: $('#collectionplanshowItem').val(),
                SHOW_DIVISION: $('#collectionplanshowdivision').val(),
                SHOW_PARTY_TYPE: $('#collectionplanshowpartytype').val(),
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end for collection plan setup


        //start for budget  plan setup
        $.each($('.budgetplansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".budgetplansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#budgetplancheckedAll").prop("checked", true);
            }

        });

        $("#budgetplancheckedAll").change(function () {

            if (this.checked) {
                $(".budgetplansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".budgetplansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".budgetplansetup").click(function () {
            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".budgetplansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#budgetplancheckedAll").prop("checked", true); }
            } else {
                $("#budgetplancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#budgetplanPreferenceSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "BUDEGT_PLAN",
                ITEM_GROUP_ENTRY: $('#budgetplangroupEntry').val(),
                SHOW_CUSTOMER: $('#budgetplanshowCustomer').val(),
                SHOW_BRANCH: $('#budgetplanshowBranch').val(),
                SHOW_EMPLOYEE: $('#budgetplanshowEmployee').val(),
                SHOW_ITEM: $('#budgetplanshowItem').val(),
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end for budget plan setup

        //start for budget  plan setup
        $.each($('.budgetplansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".budgetplansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#budgetplancheckedAll").prop("checked", true);
            }

        });

        $("#budgetplancheckedAll").change(function () {

            if (this.checked) {
                $(".budgetplansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".budgetplansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".budgetplansetup").click(function () {
            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".budgetplansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#budgetplancheckedAll").prop("checked", true); }
            } else {
                $("#budgetplancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#budgetplanSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "BUDGET_PLAN",
                //ITEM_GROUP_ENTRY: $('#budgetplangroupEntry').val(),
                //SHOW_CUSTOMER: $('#budgetplanshowCustomer').val(),
                //SHOW_BRANCH: $('#budgetplanshowBranch').val(),
                //SHOW_EMPLOYEE: $('#budgetplanshowEmployee').val(),
                //SHOW_ITEM: $('#budgetplanshowItem').val(),
                SHOW_DIVISION: $('#lbbudgetplanshowdivision').val(),
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end for budget plan setup


        //start for production  plan setup
        $.each($('.productionplansetup'), function () {

            a = $(this).val();
            if ($(this).val() == 'Y') {
                this.setAttribute("checked", "checked");
            }
            else {
                this.removeAttribute("checked");
            }
            var isAllChecked = 0;
            $(".productionplansetup").each(function () {

                if (!this.checked)
                    isAllChecked = 1;
            })
            if (isAllChecked == 0) {
                $("#productionplancheckedAll").prop("checked", true);
            }

        });

        $("#productionplancheckedAll").change(function () {

            if (this.checked) {
                $(".productionplansetup").each(function () {
                    this.checked = true;
                    $(this).val("Y");
                })
            } else {
                $(".productionplansetup").each(function () {
                    this.checked = false;
                    $(this).val("N");
                })
            }
        });

        $(".productionplansetup").click(function () {
            if ($(this).is(":checked")) {
                $(this).val("Y");
                var isAllChecked = 0;
                $(".productionplansetup").each(function () {
                    if (!this.checked)
                        isAllChecked = 1;
                })
                if (isAllChecked == 0) { $("#productionplancheckedAll").prop("checked", true); }
            } else {
                $("#productionplancheckedAll").prop("checked", false);
                $(this).val("N");
            }
        });
        $('#productionplanPreferenceSubmit').click(function (e) {

            var url = window.location.protocol + "//" + window.location.host + "/Planning/Setup/Save";
            e.preventDefault();
            var data = ({
                PL_NAME: "PRODUCTION_PLAN",
                //ITEM_GROUP_ENTRY: $('#productionplangroupEntry').val(),
                //SHOW_CUSTOMER: $('#productionplanshowCustomer').val(),
                SHOW_BRANCH: $('#productionplanshowBranch').val(),
                //SHOW_EMPLOYEE: $('#productionplanshowEmployee').val(),
                SHOW_ITEM: $('#productionplanshowItem').val(),
                SHOW_DIVISION: $('#productionplanshowdivision').val(),
            })
            var element = this;
            $.ajax({
                url: url,
                type: "POST",
                data: JSON.stringify({ 'model': data }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.success == true) {
                        displayPopupNotification("Saved", "Success");
                        $(element).closest("form").submit();
                    } else {
                        displayPopupNotification("There is an error while saving data", "error");
                    }
                },
                error: function (jqxhr) {

                    displayPopupNotification("There is an Server Error", "error");
                }
            });
        });
        //end for production plan setup



        $('[data-toggle="tooltip"]').tooltip();


    });
</script>
<script src="@Scripts.Url(" ~/Areas/NeoERP.Planning/js/controller/PlanningMenuNavigation.js")"></script>