<style>
    .borderRed {
        border: 1px solid rgb(255, 0, 0);
    }

    .FROM_LOCATION_CODE-child, .FROM_LOCATION_CODE_div {
        width: 150px !important;
    }

    .qty::-webkit-input-placeholder {
        color: red;
        opacity: 0.5;
    }
</style>
<table class="document_child_table dynamic-table table-fixed dynamic_child_table dynamic_child_table6">
    <thead class="child-table-head">
        <tr>
            <th ng-repeat="item in ChildFormElement[0].element | orderBy: 'SERIAL_NO'" class="{{item.COLUMN_NAME}} {{item.COLUMN_NAME}}-child">
                {{item.COLUMN_HEADER}}
                <i class="fa fa-info-circle font-green" style="display:none;" data-toggle="tooltip" title="{{item.HELP_DESCRIPTION}}"></i>
            </th>
            <th class="btn-action" style="width:8%;">
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody class="table_body">
        <tr ng-repeat="(key,row) in ChildFormElement">
            <td ng-repeat="item in row.element | orderBy: 'SERIAL_NO'" class="{{item.COLUMN_NAME}}_div">
                <input type="hidden" class="childrow" name="index" value="{{key}}" ng-model="childRow">

                @*<div ng-if="item.COLUMN_NAME.indexOf('NO') !== -1">
            <input type="number" id="item.COLUMN_NAME" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control" />
        </div>*@


                <div ng-if="item.COLUMN_NAME.indexOf('DATE') !== -1">
                    <input type="text" id="englishDate5__{{element.COLUMN_NAME}}" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control maskdate" />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('CODE') !== -1">
                    <div ng-if="item.COLUMN_NAME.indexOf('DIVISION') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/DropDownPartialView/ChildPartialView/_divisionCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('ITEM') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/DropDownPartialView/ChildPartialView/_productCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('FROM_LOCATION') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/DropDownPartialView/ChildPartialView/_locationCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('TO_LOCATION') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/DropDownPartialView/ChildPartialView/_tolocationCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('SUPPLIER') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/DropDownPartialView/ChildPartialView/_supplierCodeChildPartial.cshtml")
                    </div>
                    <div ng-if="item.COLUMN_NAME.indexOf('CUSTOMER') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/DropDownPartialView/ChildPartialView/_customerCodeChildPartial.cshtml")
                    </div>

                    <div ng-if="item.COLUMN_NAME.indexOf('ACC') !== -1">
                        @Html.Partial("~/Areas/NeoErp.ProjectManagement/Views/Shared/PartialView/_accountCodePartial.cshtml")
                    </div>


                    <div ng-if="item.COLUMN_NAME.indexOf('MU') !== -1">
                        <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control mutextbox" disabled />
                    </div>


                </div>

                <div ng-if="item.COLUMN_NAME ==='QUANTITY'">
                    <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter quantity" ng-change="ChildSumOperations(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox qty" />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('CALC_QUANTITY') !== -1">
                    <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_quantity" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                </div>

                <div ng-if="item.COLUMN_NAME =='COMPLETED_QUANTITY'">
                    <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter completed quantity" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}} textbox qty" />
                </div>

                <div ng-if="item.COLUMN_NAME==='UNIT_PRICE'">

                    <input type="number" id="item.COLUMN_NAME" min="0" @*placeholder="Enter unit price"*@ ng-change="ChildSumOperations(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox qty " />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('CALC_UNIT_PRICE') !== -1">

                    <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter calc_unit_price" ng-change="ChildCalcSum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                </div>

                @*<div ng-if="item.COLUMN_NAME.indexOf('UNIT_PRICE') !== -1">
            <input type="number" id="item.COLUMN_NAME" min="0" ng-change="ChildSumOperations(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" />
        </div>*@
                <div ng-if="item.COLUMN_NAME.indexOf('TOTAL') !== -1">
                    <input type="number" id="item.COLUMN_NAME" min="0" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox" disabled />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('REMARKS') !== -1">
                    <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" placeholder="Enter remarks" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control" />
                </div>

                <div style="border:none" ng-if="item.COLUMN_NAME.indexOf('AMOUNT') !== -1">
                    <input type="number" id="item.COLUMN_NAME" ng-change="validaccsum(key)" min="0" name="item.COLUMN_NAME" placeholder="0.00" value="0.00" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox {{item.COLUMN_NAME}}_{{key}}" next-on-tab />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('DATE') == -1 && item.COLUMN_NAME.indexOf('REMARKS') == -1 &&   item.COLUMN_NAME.indexOf('CODE') == -1 && item.COLUMN_NAME.indexOf('QUANTITY') == -1 && item.COLUMN_NAME.indexOf('COMPLETED_QUANTITY') == -1 && item.COLUMN_NAME.indexOf('PRICE') == -1 && item.COLUMN_NAME.indexOf('FLAG') == -1 && item.COLUMN_NAME.indexOf('TYPE') == -1 && item.COLUMN_NAME.indexOf('AMOUNT') == -1">
                    @*<input type="text" id="item.COLUMN_NAME" ng-change="sum(key)" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />*@
                    <input type="text" id="item.COLUMN_NAME" name="item.COLUMN_NAME" placeholder="Enter data" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control texttextbox" />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('FLAG') !== -1">
                    <input type="text" id="item.COLUMN_NAME" ng-keyup="flagKyeDown(key,$event)" placeholder="L" value="L" maxlength="1" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control textbox flag" />
                </div>

                <div ng-if="item.COLUMN_NAME.indexOf('TYPE') !==-1">
                    @*<input type="text" id="item.COLUMN_NAME" onkeyup="flagKyeDown()" placeholder="N" value="N" maxlength="1" ng-model="childModels[$index][item.COLUMN_NAME][$parent.$index]" class="form-control textbox flag" />*@
                    <select ng-model="childModels[key][item.COLUMN_NAME]" ng-change="accsum(key)" ng-disabled="{{checktransaction}}" style="border: none !important; width: 100%;" class="form-control drcr">
                        <option value="DR" selected="selected">Dr</option>
                        <option value="CR">Cr</option>
                    </select>
                </div>
                <div ng-if="item.COLUMN_NAME ==='REQ_QUANTITY'">
                    <input type="number" id="item.COLUMN_NAME" min="0" placeholder="Enter required quantity" name="item.COLUMN_NAME" ng-model="childModels[key][item.COLUMN_NAME]" class="form-control {{item.COLUMN_NAME}}_{{key}} textbox" />
                </div>
                <div ng-if="item.COLUMN_NAME === 'SUB_PROJECT_CODE'">
                    <select id="item.COLUMN_NAME" ng-model="childModels[key].SUB_PROJECT_CODE" class="form-control" ng-options="subProject.SubProjectId as subProject.SUB_PROJECTNAME for subProject in subProjectList">
                        <option value="">Sub Project</option>
                    </select>
                </div>

            </td>
            <td class="btn-action">
                <a href="" id="add_child_element" name="add_child_element" class="buttonadd" ng-click="add_child_element($index)"><i class="fa fa-plus" data-toggle="tooltip" title="Add row"></i></a>

                @*<a href="javascript:void(0)" class="buttondelete">
                <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_child_element($index)"></i>
            </a>*@
                <a href="" id="remove_child_element" name="remove_child_element" class="buttondelete" ng-click="remove_child_element($index)"><i class="fa fa-trash" data-toggle="tooltip" title="Delete row"></i></a>
                <a ng-if="dynamicSerialTrackingModalData[$index].TRACK[0].TRACKING_SERIAL_NO!='' &&  OrderNo != 'undefined'" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTranDetail($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Serial Transaction Detail"></i></a>
                <a ng-if="dynamicBatchTrackingModalData[$index].BATCH_NO!=null &&  OrderNo != 'undefined'" href="" id="tds_trans_child_element" name="tds_trans_child_element" class="buttondelete" ng-click="ShowBatchTrackingTranDetail($index)"><i class="fa fa-file-text" data-toggle="tooltip" title="Batch Tracking Detail"></i></a>

            </td>
        </tr>
    </tbody>
</table>