
<style>
    .item_charge_table span.input-group-addon.addon-iconbox {
        display: none !important;
    }

    .item_charge_table .input-group {
        width: 100%;
    }
</style>
<div class="portlet-body">
    <div class="row boxbg">
        <div ng-repeat="(key,it) in dynamicInvItenChargeModalData">
            <div class="modal fade childmodalinvitemcharge invitemchargeModal_{{$index}}" id="invchargemodel" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog invchargedialog-box modal-theme-bg modal-lg" id="invchargemodel">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>
                            <h4 class="modal-title">
                                <span class="fa fa-list-ul"></span>
                                {{ItemName}}

                            </h4>

                        </div>
                        <div class="modal-body">
                            <table class="tbl_table">

                                <tbody>
                                    <tr>
                                        <td>Quantity: <span>{{it.QUANTITY}}</span></td>

                                        <td>Rate: <span>{{it.UNIT_PRICE}}</span></td>

                                        <td>Total: <span>{{it.TOTAL_PRICE}}</span></td>

                                        <td>Calc Quantity: <span>{{it.CALC_QUANTITY}}</span></td>

                                        <td>Calc Rate: <span>{{it.CALC_UNIT_PRICE}}</span></td>

                                        <td>Calc Total Price: <span>{{it.CALC_TOTAL_PRICE}}</span></td>

                                    </tr>

                                </tbody>


                            </table>
                            <div class="tabbable">

                                <ul class="document-tab nav nav-tabs" style="width:100%;">
                                    <li class="active"><a data-toggle="tab" href="#home">Calculation By Amount</a></li>
                                    <li><a data-toggle="tab" href="#menu1">Calculation By Quantity</a></li>
                                </ul>

                                <div class="tab-content">
                                    <div id="home" class="tab-pane fade in active">
                                        <div class="table-responsive">
                                            <table class="table table-bordered charge-table item_charge_table">
                                                <thead class="child-table-head">
                                                    <tr>
                                                        @*
                                                        <th width="10%" colspan="2"><label for="element">Charge On</label></th>*@
                                                        <th width="10%"><label for="element">Charge On</label></th>
                                                        <th width="8%"><label for="element">Type</label></th>
                                                        <th width="5%"><label for="element">Amount</label></th>
                                                        <th width="15%"><label for="element">Budget Center</label></th>
                                                        <th width="5%"><label for="element">GL</label></th>
                                                        <th width="22%"><label for="element">Account</label></th>
                                                        <th width="15%"><label for="element">Sub Code</label></th>
                                                        <th width="5%"><label for="element">Apportion</label></th>
                                                        <th width="10%"><label for="element">% Calc</label></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="(chargeIndex,item) in it.INV_ITEM_CHARGE_AMOUNT_WISE track by $index">
                                                        @*
                                                        <td width="5%">
                                                            <input type="checkbox" id="onchargetype_{{$index}}" ng-init="bool=true" ng-model="item.bool" ng-click="OnChargeTypeChecked(bool,$index,key)">
                                                        </td>*@
                                                        <td width="8%">{{item.CHARGE_EDESC}}  <label ng-if="item.VALUE_PERCENT_FLAG ==='P'">%</label></td>
                                                        <td width="8%;">
                                                            <label ng-if="item.CHARGE_TYPE ==='D'">Deduction</label>
                                                            <label ng-if="item.CHARGE_TYPE ==='A'">Addition</label>
                                                        </td>
                                                        <td width="5%;">

                                                            <input type="number" name="onamountchange" min="0" id="onamountchange1_{{$index}}" class="form-control textbox" ng-change="OnAmountPercentChange($index,key)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                        </td>
                                                        <td width="15%;">

                                                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_budgetCenterForItemPartial.cshtml")
                                                        </td>
                                                        <td width="5%">
                                                            <input class="form-control textbox" ng-model="item.GL" readonly="readonly">
                                                        </td>

                                                        <td width="22%;">

                                                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_chargeAccCodePartial.cshtml")
                                                        </td>
                                                        <td width="15%">
                                                            @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_invChargeSubledgerPartial.cshtml")
                                                        </td>
                                                        <td width="5%">
                                                            <input class="form-control textbox" ng-model="item.APPORTION_FLAG">
                                                        </td>
                                                        <td width="10%">
                                                            <input class="form-control textbox" ng-model="item.CALC">
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="menu1" class="tab-pane fade">

                                        <table class="table table-bordered charge-table item_charge_table">
                                            <thead class="child-table-head">
                                                <tr>
                                                    <th width="15%" colspan="2"><label for="element">Charge On</label></th>
                                                    <th width="10%"><label for="element">Type</label></th>
                                                    <th width="7%"><label for="element">Amount</label></th>
                                                    <th width="18%"><label for="element">Budget Center</label></th>
                                                    <th width="18%"><label for="element">Account</label></th>
                                                    <th width="18%"><label for="element">Sub Code</label></th>
                                                    <th width="14%"><label for="element">Take Qty</label></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="(chargeIndex,item) in it.INV_ITEM_CHARGE_QUANTITY_WISE track by $index">
                                                    <td width="5%">
                                                        <input type="checkbox" ng-click="invsync(bool, item)" ng-init="bool=true" ng-model="bool" ng-checked="isCheckedinvitem(item.CHARGE_CODE)">
                                                    </td>
                                                    <td width="10%">{{item.CHARGE_EDESC}}  <label ng-if="item.VALUE_PERCENT_FLAG ==='P'">%</label></td>
                                                    <td width="10%;">
                                                        <label ng-if="item.CHARGE_TYPE ==='D'">Deduction</label>
                                                        <label ng-if="item.CHARGE_TYPE ==='A'">Addition</label>
                                                    </td>
                                                    <td width="7%;">

                                                        <input type="number" min="0" class="form-control textbox" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                    </td>
                                                    <td width="18%;">

                                                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_budgetCenterForItemPartial.cshtml")
                                                    </td>


                                                    <td width="18%;">

                                                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_chargeAccCodePartial.cshtml")
                                                    </td>
                                                    <td width="18%">
                                                        @Html.Partial("~/Areas/NeoERP.DocumentTemplate/Views/Shared/PartialView/_invChargeSubledgerPartial.cshtml")
                                                    </td>
                                                    <td width="14%">
                                                        <input class="form-control textbox" ng-model="item.APPLY_QUANTITY">
                                                    </td>


                                                </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-sm btn-green subledgerok" data-dismiss="modal" ng-model="bool" ng-click="invitemCharge_Ok($index,$event)">Ok</button>
                            <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="invitemCharge_Cancel($index,$event)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        setTimeout(function () {
            $('.nav-tabs a').on('click', function (e) {
               
                e.preventDefault();
                if ($(this).attr('href') == '#menu1') {
                   
                    $('#menu1').tab('show')
                }

            });
        }, 3000)
    });
</script>



