<style>
    .refrence-modoal input.form-control {
        height:24px;
        padding:0 6px;
        font-size:11px !important;
    }

    .radio_button {
        margin-left: 15px;
    }

    .refrence-modoal .form-horizontal label {
        margin-bottom: 5px;
    }

    .refrence-modoal .modal-header {
        margin-bottom: 10px 15px;
    }

    .refrence-modoal .modal-body {
        padding: 0px 15px !important;
    }

    /*.refrence-modoal .k-input {
        font-size: 13px !important;
        height: 24px !important;
    }*/

    /*.refrence-modoal .k-dropdown-wrap.k-state-default {
        height: 28px !important;
    }*/

    .refrence-modoal input.form-control, .refrence-modoal .k-multiselect.k-header {
        /*border: solid #ddd 1px;*/
    }
    .ref-search-field
    {
        padding-top:8px;
    }
    .refrence-modoal select {
        height: 24px;
        /*border: solid #ddd 1px;*/
        padding: 0 3px;
        font-size: 11px !important;
    }
    .input-group-addon {
        padding: 0px 5px !important;
    }
    .refrence-modoal .k-widget {
        width: 100%;
    }

    .refrence-modoal .dynamic-column td, .refrence-modoal .dynamic-column th {
        padding: 3px;
    }

    #tableColumn_reference-list li {
        font-size: 12px;
    }

    .refrence-modoal .dynamic-column {
        overflow-y: auto;
        max-height: 139px;
    }

    .k-header a.k-button {
        margin: 2px !important;
        /*padding: 5px 8px 5px !important;*/
    }

    .search .grid-search {
        /*height: 26px;
        border: 1px solid hsl(0, 0%, 77%) !important;
        border-right: none !important;*/
    }

    .search-btn {
        height: 16px !important;
    }

    .search input {
        height: 25px !important;
        margin-left: 195px;
    }

    #custReferenceGrid .k-grid-content, #referenceGrid .k-grid-content {
        max-height: 400px !important;
        height: 400px !important;
    }

    .ref-search-field {
        background-color: #f5f5dc;
        /*margin-bottom: 10px;*/
    }

        .ref-search-field hr {
            margin: 10px 0;
            border: 0;
            border-top: 1px solid #eae1c5;
            border-bottom: 0;
        }

    .refrence-modoal form {
        margin-bottom: 0px !important;
    }
</style>


<div class="modal fade-out" ng-controller="refrenceCodeCtrl" id="RefrenceModel" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-dialog  modal-dialog-box refrence-modoal">
        <div class="modal-content">
            <div class="modal-header">
                       
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab="" title="Close"></button>
                <h4 class="modal-title">
                    <span class="fa fa-list-ul"></span>
                    Reference 
                </h4>

            </div>

            <div class="modal-body modal-dialogbox-body1 form-horizontal">

                <form name="documentRequired" novalidate>
                    <div class="row ref-search-field">
                        <div class="col-md-12">
                            <div ng-show="showRefSearch" class="shwoRefSearch">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="element" class="control-label col-md-12">
                                                Document @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Document"></i>*@
                                            </label>
                                            <div class="col-md-12">
                                                <select name="document" id="refrenceTypeMultiSelect" ng-model="DocumentReference.DOCUMENT" ></select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="element" class="control-label col-md-12">
                                                Template@*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Template"></i>*@
                                                <span class="required" ng-show="documentRequired.template.$invalid">
                                                    <span ng-show="documentRequired.template.$error.required">*</span>
                                                </span>
                                            </label>

                                            <div class="col-md-12">
                                                <select name="template" id="TemplateTypeMultiSelect" ng-model="DocumentReference.TEMPLATE" required></select>
                                            </div>
                                        </div>
                                        </div>

                                    <div class="col-md-4">
                                        <label for="element">Row @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Row"></i>*@</label><br>
                                        <input type="radio" name="namerow" value="nonrefrence" class="icheck" ng-model="ROW" ng-checked="true"> &nbsp; Non-Refrence &nbsp; &nbsp;
                                        <input type="radio" name="namerow" value="incomplete" class="icheck" ng-model="ROW">&nbsp; Incomplete-Also &nbsp; &nbsp;
                                        <input type="radio" name="namerow" value="all" class="icheck" ng-model="ROW">&nbsp;All

                                    </div>


                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/DocumentDateField.cshtml", true)
                                    </div>

                                    <div class="col-md-4" radio_button">
                                        <label for="element">Reference @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Reference">*@</i></label><br />
                                        <input type="radio" name="namerefrence" value="quantity" class="icheck" ng-model="REFERENCE_QUALITY" ng-checked="true"> &nbsp; Quantity &nbsp; &nbsp;
                                        <input type="radio" name="namerefrence" value="calcquantity" class="icheck" ng-model="REFERENCE_QUALITY" style="margin-left:40px;">&nbsp; Calc-Quantity &nbsp; &nbsp;
                                        <hr />
                                        <div class="dynamic-column">
                                            <table class="">
                                                <thead class="table_header">
                                                    <tr>
                                                        <th width="17%"><label class="control-label">  Condition @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Condition"></i>*@</label></th>
                                                        <th width="35%"><label class="control-label">  Column Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Column Name"></i>*@</label></th>
                                                        <th width="35%"><label class="control-label">  Value @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Value"></i>*@</label></th>
                                                        <th width="15%"><label class="control-label">  Action @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Action"></i>*@</label></th>
                                                    </tr>
                                                </thead>
                                                <tbody class="main_body">
                                                    <tr ng-repeat="col in dynamicCol">
                                                        <td ng-show="$index!='0'" width="15%">
                                                            <select ng-model="col.ORAND" ng-disabled="$index=='0'?'true':col.readonly">
                                                                <option ng-repeat="gate in OrAndList" value="{{gate.andorval}}">{{gate.andorname}}</option>
                                                            </select>
                                                        </td>
                                                        <td ng-show="$index=='0'" width="15%"></td>
                                                        <td width="35%">
                                                            @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_tableWiseColumn_reference.cshtml", true)
                                                        </td>
                                                        <td width="35%"><input type="text" ng-model="col.COLUMN_VALUE" class="form-control colValue" />{{col.COLUMN_VALUE}}</td>

                                                        <td width="15%" class="btn-action">
                                                            <a href="" id="add_column_filter" name="add_column_filter" class="buttonadd" ng-click="add_col_reference($index+1,this)"><i class="fa fa-plus" data-toggle="tooltip" title="Add"></i></a>

                                                            <a href="javascript:void(0)" class="buttondelete">
                                                                <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_col_reference($index)" data-toggle="tooltip" title="Delete"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <hr />
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label">  Consignee Name @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Cosignee Name"></i>*@</label>
                                                @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/DropDownPartialView/_refrencecustomerCodePartial.cshtml")*@
                                                @*<input id="referenceCustomer" ng-model="DocumentReference.NAME" name="customer" class="form-control referenceCustomer ccustumer cust custumer c" style="width: 100%;" kendo-combo-box
                                                       k-placeholder="'Select Name'"
                                                       k-data-text-field="'CustomerName'"
                                                       k-data-value-field="'CustomerCode'"
                                                       k-filter="'contains'"
                                                       k-auto-bind="true"
                                                       k-suggest="false"
                                                       k-options="refCustomerCodeOption"
                                                       k-min-length="3" />*@
                                                <input kendo-combo-box ng-model="DocumentReference.NAME" class="custCodeAutoComplete ccustcode w-100" k-options="C_Option" k-placeholder="'Select Customer Code'"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="control-label">Item Desc @*<i class="fa fa-info-circle font-green" data-toggle="tooltip" title="Item Desc"></i>*@</label>
                                                @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/DropDownPartialView/_productCodePartial.cshtml")
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                @*<label class="control-label">Voucher No</label>
                                                    <input type="text" ng-model="DocumentReference.VOUCHER_NO" class="form-control" />*@
                                                @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/DropDownPartialView/_voucherNoPartial.cshtml")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        @*<button type="button" id="gridbindSearchReset" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="ReSetCheck()" data-toggle="tooltip" title="Reset"><i class="fa fa-search"></i> Reset Selection</button>*@
                                        <button type="button" id="gridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="bindReferenceGrid(documentRequired.$valid)" data-toggle="tooltip" title="Search list"><i class="fa fa-search"></i> Search</button>

                                        <button type="button" class="btn btn-sm btn-green" ng-click="bindRefrenceDataToTemplate()" data-toggle="tooltip" title="Search reference data">Take Reference</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_GridToolbar.cshtml")
                            <kendo-grid id="referenceGrid" options="referenceGridOptions" k-rebind="referenceGridOptions" class="search-grid" style="width:100%;">
                            </kendo-grid>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-green" ng-click="bindRefrenceDataToTemplate()" data-toggle="tooltip" title="Search reference data">Ok</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="btnRefrenceCancel()" data-toggle="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade-out" ng-controller="refrenceCodeCtrl" id="customerWiseRefrenceModel" data-backdrop="static" tabindex="-1" data-width="760">
    <div class="modal-dialog  modal-dialog-box refrence-modoal">
        <div class="modal-content">
            <div class="modal-header">
                

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab="" title="Close"></button>
                <h4 class="modal-title">
                    <span class="fa fa-list-ul"></span>
                    Reference
                </h4>
            </div>
            <div style="display:none;" class="col-md-12">
                <button type="button" id="custGridbindSearch" class="btn btn-sm btn-green pull-right" style="margin-bottom:5px;" ng-click="custBindReferenceGrid()" title="Search list"><i class="fa fa-search"></i> Search</button>
            </div>
            <div class="modal-body modal-dialogbox-body1 form-horizontal">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_GridToolbar.cshtml")
                        <kendo-grid id="custReferenceGrid" options="custReferenceGridOptions" k-rebind="custReferenceGridOptions" class="search-grid" style="width:100%;">
                        </kendo-grid>
                    </div>

                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-green" ng-click="bindRefrenceDataToTemplate()" data-toggle="tooltip" title="Search list">Ok</button>
                <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" data-toggle="tooltip" title="Cancel">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="@Scripts.Url("~/JS/reportFilter.js?v9")" type="text/javascript"></script>

<script src="@Scripts.Url("~/JS/DateFilter.js?v5")" type="text/javascript"></script>

<script>
    $(document).ready(function () {
        DateFilter.init();
    });
    setTimeout(function () {
      
        var myDropzone;
        var formCode = document.formCode;
        
        $(document).ready(function () {
          
            var refrence_autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/GetRefrenceType?formCode=" + formCode;
            var template_autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/GetTemplateType?formCode=" + formCode;
            var refrence_document_autoCompleteurl = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/GetDocumentNameFromFormCode?formCode=" + formCode;
        
            var refrence_autoCompletedataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: refrence_document_autoCompleteurl,
                        dataType: "json"
                    }
                }
                //serverFiltering: true
            });
            var template_autoCompletedataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: template_autoCompleteurl,
                        dataType: "json"
                    }
                }
                //serverFiltering: true
            });

            $("#refrenceTypeMultiSelect").kendoDropDownList({
                dataSource: refrence_autoCompletedataSource,
                optionLabel: '-- Select Document --',
                dataTextField: "REF_EDESC",
                dataValueField: "REF_CODE",
                height: 600,
                //scrollable: {
                //    virtual: true
                //},
                //headerTemplate: '<div class="col-md-offset-4"><strong>Refrence Types...</strong></div>',
                //filter: "startswith",
                //placeholder: "Search Refrence Types...",
                //autoClose: false,
                change: function (e) {
                 
                    var values = this.value();
                    var reftname = this.dataItem().REF_TABLE_NAME;
                    //var documentname = $('#refrenceTypeMultiSelect').val();
                    var template_autoCompleteurll = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/GetTemplateTypeByTableNameAndFormCode?formCode=" + formCode + "&docname=" + reftname;
                  
                     template_autoCompletedataSourcee = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: template_autoCompleteurll,
                                dataType: "json"
                            }
                        }
                       
                    });
                     $("#TemplateTypeMultiSelect").kendoDropDownList({
                         dataSource: template_autoCompletedataSourcee,
                         optionLabel: '-- Select Template --',
                         dataTextField: "TABLE_EDESC",
                         dataValueField: "TABLE_CODE",
                         height: 600,
                        
                         dataBound: function () {
                            
                         },

                     });
                },
                //select: OnMultiSelect,
                dataBound: function () {
                   

                    var ref_t_n = document.RefTN;
                    var template_autoCompleteurll = window.location.protocol + "//" + window.location.host + "/api/TemplateApi/GetTemplateTypeByTableNameAndFormCode?formCode=" + formCode + "&docname=" + ref_t_n;

                    template_autoCompletedataSourcee = new kendo.data.DataSource({
                        transport: {
                            read: {
                                url: template_autoCompleteurll,
                                dataType: "json"
                            }
                        }

                    });
                    $("#TemplateTypeMultiSelect").kendoDropDownList({
                        dataSource: template_autoCompletedataSourcee,
                        optionLabel: '-- Select Template --',
                        dataTextField: "TABLE_EDESC",
                        dataValueField: "TABLE_CODE",
                        height: 600,

                    });
                },


            });
            //$("#TemplateTypeMultiSelect").kendoDropDownList({
            //    dataSource: template_autoCompletedataSource,
            //    optionLabel: '-- Select Template --',
            //    dataTextField: "TABLE_EDESC",
            //    dataValueField: "TABLE_CODE",
            //    height: 600,                
            //    dataBound: function () {
                   
            //    },

            //});

            $(".k-list").slimScroll({
                position: 'right',
                alwaysVisible: false,
                //height: '350',
            });

            $(".dynamic-table tbody").slimScroll({
                position: 'right',
                alwaysVisible: false,
                height: '150',
            });

        }, 1000);
    });

//auto collapse drop kendoDropDownList on modal popup scroll
    $(".modal").scroll(function () {
        $(document.body).find("[data-role=popup]")
            .kendoPopup("close");
    });



    $(".modal").scroll(function () {
        $(document.body).find("[data-role=popup]")
            .kendoPopup("close");
    });

</script>


 

   

 