@using NeoErp.Core;
@using NeoErp.Core.Models;
@{
    ViewBag.Title = "PlanList";
    string LoggedInUsers_EmployeeCode = ViewBag.EmployeeCode;
    //Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
    Layout = null;
}
@{
    string retrived_start_date = ViewBag.startdate;
    string retrived_end_date = ViewBag.enddate;
}

<style>


    .color-notify {
        float: left;
        padding-left: 5px;
    }

    .color-box-1 {
        height: 13px;
        width: 13px;
        background-color: #91D598;
        border: 1px solid #9c9797;
        margin-top: 2px;
        float: left;
    }

    .color-box-2 {
        height: 13px;
        width: 13px;
        background-color: #D4FAB6;
        border: 1px solid #9c9797;
        margin-top: 2px;
        float: left;
    }

    .color-box-3 {
        height: 13px;
        width: 13px;
        background-color: #fff;
        border: 1px solid #9c9797;
        margin-top: 2px;
        float: left;
    }

    .plant-identification {
        padding-top: 22px;
        padding-left: 20px;
    }

    .k-list.k-reset {
        overflow: hidden !important;
    }

    #operationContent .slimScrollBar {
        display: none !important;
    }

        #operationContent .slimScrollBar:hover {
            display: block !important;
        }

    #copyDetail.modal.fade.in {
        top: 40%;
        margin: auto;
        width: 470px !important;
        /*height: 464px !important;*/
        margin-left: -12% !important;
    }

    .k-header.k-grid-toolbar {
        padding: 0px;
    }

    .floatright {
        float: right;
        margin-top: 2px !important;
    }

    .btn-icon-only {
        height: 34px !important;
        width: 34px !important;
    }

    .btngaptop {
        margin-top: 0px;
    }
</style>
<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/Distribution/Home/Dashboard#!Distribution/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Group Setup</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light s portlet_bg ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-speech font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase"> Plan List</span>
                    <span class="caption-helper"></span>
                </div>

                <div class="actions">

                    <a href="/Planning/Home/Setup#!Planning/SubplanList" class="btn btn-circle btn-success btn-sm hidden">
                        <i class="fa fa-plus-circle"></i> Subplan
                    </a>
                    <a href="/Planning/Home/Index#!Planning/" class="btn btn-circle btn-warning btn-sm hidden">
                        <i class="fa fa-plus-circle"></i> Master Plan
                    </a>
                </div>

                <div class="actions pull-right">
                    <div class="btn-group">
                        @Html.Partial("~/Areas/NeoERP.Planning/Views/Shared/Controls/DateField.cshtml", false)
                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/Areas/NeoERP.Planning/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                        {
                            ShowCustomerFilter = true,
                            ShowBranchFilter = true,
                            ShowEmployeeFilter = true,
                            ShowDivisionFilter = true,
                            ShowCompanyFilter = false,
                        })
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                            <i class="icon-control-play"></i>
                        </a>
                    </div>
                    <div class="btn-group">
                        <a href="/Planning/Home/Index#!Planning/CreatePlan" class="btn btn-circle btn-icon-only btn-default btngaptop" data-toggle="tooltip" title="Create Plan">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="page-toolbar pull-right">
                <div class="pull-left">
                    <script type="text/x-kendo-template" id="toolbar-template">
                        <div class="k-header k-grid-toolbar">
                            <a class="k-button k-button-icontext floatright" id="collapseAllButton" title="Collapse All" onclick="CollapseAll()"><i class="fa fa-chevron-up"></i></a>
                            <a class="k-button k-button-icontext floatright" id="expandAllButton" title="Expand All" onclick="ExpandAll()"><i class="fa fa-chevron-down"></i></a>
                            <div class="search pull-right">
                                <input type="text" id="txtSearchString" class="form-control input-sm grid-search" maxlength="64" placeholder="Search..." onkeyup="onSearch(this)" />
                                <button class="btn btn-primary btn-sm search-btn fa fa-search"></button>
                            </div>
                        </div>
                    </script>
                    @*<div class="col-md-12 input-icon dataserarch-input">
                            <i class="fa fa-search searchicon"></i>
                            <input class="form-control searchbox" id="txtSearchString" ng-keyup="onSearch(this)" name="search" placeholder="search here" type="text">
                        </div>
                        <div class="col-md-12 dataserarch-input">
                                <input class=k-textbox type=text id="txtSearchString" ng-keyup="onSearch(this)" placeholder="enter search text..." />
                            </div>*@
                </div>
                @*<div class="btn-group pull-right gaptopmin">
                        <div class="actions">
                            <div class="btn-group">
                                @Html.Partial("~/Areas/NeoERP.Planning/Views/Shared/Controls/DateField.cshtml", false)
                            </div>
                            <div class="btn-group">
                                @Html.Partial("~/Areas/NeoERP.Planning/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                           {
                               ShowCustomerFilter = true,
                               ShowBranchFilter = true,
                               ShowEmployeeFilter = true,
                               ShowDivisionFilter = true,
                               ShowCompanyFilter = false,
                           })
                                <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                                    <i class="icon-control-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>*@
            </div>
            <div class="portlet-body">
                @*<div class="row">
                        <div class="col-md-12 dataserarch-input">
                            <input class=k-textbox type=text id="txtSearchString" ng-keyup="onSearch(this)" placeholder="enter search text..." />
                        </div>
                    </div>*@
                <div id="grid"></div>
            </div>
        </div>

    </div>

    <div id="copyDetail" class="modal fade modal-custom  modal-cs-bg" tabindex="-1" data-width="760" data-backdrop="static" data-keyboard="false">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">Copy Plan</h4>
        </div>
        <div class="modal-body copyContentBody"></div>
        <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
            <button type="button" class="btn btn-green" id="saveCopiedPlan">Save</button>
        </div>
    </div>
</div>
<script src="@Scripts.Url("~/Areas/NeoERP.Planning/Scripts/DateFilterWithADBS.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/JS/ReportFilter.js")" type="text/javascript"></script>
<script>
    var productDeffer;

    var planUrl = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetSalesPlanList";
    var loggedInUsers_employeeCode = '@LoggedInUsers_EmployeeCode';
    $(document).ready(function () {

        var retrived_start_date = '@retrived_start_date';
        var retrived_end_date = '@retrived_end_date';
        console.log('S' + retrived_start_date + 'E' + retrived_end_date);
        if (retrived_start_date != '' && retrived_end_date != '') {
            var dateOption = $('[name=DateStep] option').filter(function () {
                return ($(this).attr('data-start-date') === moment(retrived_start_date).format("YYYY-MM-DD") && $(this).attr('data-end-date') === moment(retrived_end_date).format("YYYY-MM-DD")); //To select date range
            }).prop('selected', true);
        }
        //BindGrid();
        DateFilter.init("BS", function () {
            $("#ddlDateFilterVoucher").val('This Year');
            $("#ddlDateFilterVoucher").trigger('change');
            BindPlanList(planUrl);
        });
        //DateFilter.init(function () {
        //    $("#ddlDateFilterVoucher").val('This Year');
        //    $("#ddlDateFilterVoucher").trigger('change');
        //    BindPlanList(planUrl);
        //});
        hideloader();
        $("#RunQuery").click(function (evt) {
            evt.preventDefault();

            KendoGridRefresh(planUrl);
        });
        //BindPlanList(planUrl);
        //setTimeout(function () {
        //    $("#ddlDateFilterVoucher").val('This Year');
        //    $("#ddlDateFilterVoucher").trigger('change');
        //},1000);
    });

    $("#clearall").on('click', function () {
        $("#customerMultiSelect").data("kendoMultiSelect").value('');
        $("#employeeMultiSelect").data("kendoMultiSelect").value('');
        $("#divisionMultiSelect").data("kendoMultiSelect").value('');
        $("#BranchMultiSelect").data("kendoMultiSelect").value('');

    });

    $(".applydp").on("click", function (evt) {
        evt.preventDefault();
        $("#RunQuery").trigger("click");
    });

    $("#loadAdvancedFilters").on("click", function (evt) {
        evt.preventDefault();
        $("#RunQuery").trigger("click");

    });

    $("#txtSearchString").on('keyup', function (e) {

        onSearch(e);
    })

    function onSearch($this) {
        //
        var q = $("#txtSearchString").val();
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.query({
            page: 1,
            pageSize: 50,
            filter: {
                logic: "or",
                filters: [
                    { field: "PLAN_EDESC", operator: "contains", value: q },
                    { field: "START_DATE", operator: "contains", value: q },
                    { field: "END_DATE", operator: "contains", value: q },
                    { field: "SALES_TYPE", operator: "contains", value: q },
                   // { field: "SALES_QUANTITY", operator: "contains", value: q },
                    { field: "CUSTOMER_EDESC", operator: "contains", value: q },
                    { field: "EMPLOYEE_EDESC", operator: "contains", value: q },
                    { field: "BRANCH_EDESC", operator: "contains", value: q },
                    { field: "DIVISION_EDESC", operator: "contains", value: q }
                ]
            }
        });
    }

    function BindPlanList(pUrl) {
        $("#grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: pUrl, // <-- Get data from here.
                        dataType: "json", // <-- The default was "jsonp".
                        type: "POST",
                        contentType: "application/json; charset=utf-8"
                    },
                    parameterMap: function (options, type) {

                        var paramMap = JSON.stringify($.extend(options, ReportFilter.filterAdditionalData()));
                        delete paramMap.$inlinecount; // <-- remove inlinecount parameter.
                        delete paramMap.$format; // <-- remove format parameter.
                        return paramMap;

                    }
                },
                schema: {
                    model: {
                        fields: {
                            PLAN_EDESC: { type: "string" },
                            START_DATE: { type: "string" },
                            END_DATE: { type: "string" },
                            SALES_AMOUNT: { type: "number" },
                            SALES_QUANTITY: { type: "number" },
                            CUSTOMER_EDESC: { type: "string" }
                        }
                    }
                },
                pageSize: 20,
                //serverPaging: true,
                //serverFiltering: true,
                //serverSorting: true
            },
            height: window.innerHeight - 235,
            sortable: true,
            reorderable: true,
            groupable: true,
            toolbar: kendo.template($("#toolbar-template").html()),
            resizable: true,
            filterable: {
                extra: false,
                operators: {
                    number: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "is greater than or equal to	",
                        gt: "is greater than",
                        lte: "is less than or equal",
                        lt: "is less than",
                    },
                    string: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        startswith: "Starts with	",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        endswith: "Ends with",
                    },
                    date: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "Is after or equal to",
                        gt: "Is after",
                        lte: "Is before or equal to",
                        lt: "Is before",
                    }

                }
            },
            columnMenu: true,
            //Wordwrapmenu function calling
            columnMenuInit: function (e) {
                //wordwrapmenu(e);
                checkboxItem = $(e.container).find('input[type="checkbox"]');
            },
            pageable: {
                refresh: true,
                //pageSizes: reportConfig.itemPerPage,
                buttonCount: 5
            },
            //  autoBind: true,
            scrollable: {
                virtual: true
            },
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            dataBound: function () {
                $('div').removeClass('.k-header k-grid-toolbar');
            },
            columns: [
                { title: "SN", template: "#= ++record #", width: "28px" },
                {
                    field: "PLAN_EDESC",
                    title: "Plan",
                    filterable: true,
                    template: "#= SetPlanLink(PLAN_EDESC,PLAN_CODE) #"
                }, {
                    field: "START_DATE",
                    title: "Start Date",
                    format: "{0:yyyy/MM/dd}",
                    attributes: { style: "text-align:right;" },
                }, {
                    field: "END_DATE",
                    title: "End Date",
                    format: "{0:yyyy/MM/dd/}",
                    attributes: { style: "text-align:right;" },
                },
                //{
                //    field: "SALES_AMOUNT",
                //    title: "Amount"
                //},
                {
                    field: "SALES_TYPE",
                    title: "Type",
                    width: "80px",
                },
                {
                    field: "SALES_QUANTITY",
                    title: "Amount/Qty",
                    type: "number",
                    format: "{0:n}",
                    attributes: { style: "text-align:right;" },
                    width: "12S0px",
                }, {
                    field: "CUSTOMER_EDESC",
                    title: "Customer"
                }, {
                    field: "EMPLOYEE_EDESC",
                    title: "Employee"
                }, {
                    field: "DIVISION_EDESC",
                    title: "Division"
                },
                {
                    field: "PARTY_TYPE_EDESC",
                    title: "Party Type"
                },
                {
                    field: "BRANCH_EDESC",
                    title: "Branch"
                },
                {
                    field: "APPROVED_BY",
                    title: "Approved By"
                },
                {
                    field: "PLAN_CODE", title: "Status", sortable: false, filterable: false, width: "90px",
                    template: "#= setApproved(PLAN_CODE,SUPER_FLAG,APPROVED_FLAG) #",
                    groupable: false
                },
                {
                    field: "PLAN_CODE", title: "Action", sortable: false, filterable: false, width: "90px",
                    template: "#= setAction(PLAN_CODE,SUPER_FLAG,APPROVED_FLAG) #",
                    groupable: false
                },

            ]
        });
    }




    function KendoGridRefresh(readUrl) {
        $('#grid').val('');
        $('#grid').html('');
        BindPlanList(planUrl);

    }

    function BindGrid() {
        //var mainurl = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetPlanList";
        var mainurl = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetSalesPlanList";
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: mainurl, // <-- Get data from here.
                    dataType: "json", // <-- The default was "jsonp".
                    type: "get",
                    contentType: "application/json; charset=utf-8"
                },
            },

            schema: {
                model: {
                    fields: {
                        START_DATE: { type: "date" },
                        END_DATE: { type: "date" },

                    }
                }
            },
            //group: { field: "PLAN_EDESC"},
            serverPaging: false,
            pageSize: 10,
        });

        var temp = dataSource.read();

        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },

            reorderable: true,
            groupable: true,
            filterable: true,
            resizable: true,
            filterable: {    // filter for the null and is not null etc
                extra: false,// extra false means there is 2 different filter inside the filter
                operators: {   // the number is data type for the net sales column , and string for the MITI
                    number: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "is greater than or equal to	",
                        gt: "is greater than",
                        lte: "is less than or equal",
                        lt: "is less than",

                    },
                    string: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        startswith: "Starts with	",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        endswith: "Ends with",
                    },
                    date: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "Is after or equal to",
                        gt: "Is after",
                        lte: "Is before or equal to",
                        lt: "Is before",
                    }
                }
            },

            columnMenu: true,
            pageable: true,
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            //  autoBind: true,
            scrollable: {
                virtual: true
            },
            dataBound: function (o) {
                //var grid = o.sender;
                //if (grid.dataSource.total() == 0) {
                //    var colCount = grid.columns.length;
                //    $(o.sender.wrapper)
                //        .find('tbody')
                //        .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
                //    displayPopupNotification("No Data Found Given Date Filter.", "Info");
                //}
                //else {
                //    var g = $("#grid").data("kendoGrid");
                //    for (var i = 0; i < g.columns.length; i++) {
                //        g.showColumn(i);
                //    }
                //    $("div.k-group-indicator").each(function (i, v) {
                //        g.hideColumn($(v).data("field"));
                //    });
                //}

            },
            columns: [
                { title: "SN", template: "#= ++record #", width: "28px" },
                { field: "PLAN_EDESC", title: 'Plan', template: "#= '' #" },
                //{
                //    field: "SUBPLAN_EDESC",
                //    title: "Sub Plan Name",
                //    //width: "70px",
                //    template: "#= SetPlanLink(SUBPLAN_EDESC,PLAN_CODE) #"
                //},
                {
                    field: "START_DATE",
                    title: "Start Date",
                    format: "{0:yyyy-MMM-dd}",
                    //width: "35px",
                },
                {
                    field: "END_DATE",
                    title: "End Date",
                    format: "{0:yyyy-MMM-dd}",
                    //width: "35px",
                },
                //{
                //    field: "PLAN_TYPE",
                //    title: "Plan Type",
                //    //width: "40px",
                //},
                //{
                //    field: "PLAN_FOR",
                //    title: "Plan For",
                //    //width: "40px",
                //},
                //{
                //    field: "TIME_FRAME_EDESC",
                //    title: "Time Frame",
                //    //width: "30px",
                //},
                {
                    field: "REMARKS",
                    hidden: true,
                },
                //{
                //    field: "ID", title: "Action", sortable: false, filterable: false, width: "60px",
                //    template: "#= setRedirection(PLAN_CODE) #",
                //    //width: "15px"
                //},
            ],
            dataBound: function (event) {
                dataView = this.dataSource.view();
                //for (var i = 0; i < dataView.length; i++) {
                //    var uid = dataView[i].uid;
                //    if (dataView[i].STATUS == "SUB_PLAN") {
                //        //$("#grid tbody").find("tr[data-uid=" + uid + "]").css("background-color", "#91D598");
                //        $(".planCode_" + dataView[i].PLAN_CODE).removeClass('icon icon-share-alt');
                //        $(".planCode_" + dataView[i].PLAN_CODE).addClass('fa fa-check');
                //        $(".planCode_" + dataView[i].PLAN_CODE).prop('title', 'sub plan created');
                //    } else if (dataView[i].STATUS == "PLAN_DETAIL") {
                //        //$("#grid tbody").find("tr[data-uid=" + uid + "]").css("background-color", "#D4FAB6");
                //        $(".planCode_" + dataView[i].PLAN_CODE).prop('title', 'go to sub plan');
                //    } else {
                //        //$("#grid tbody").find("tr[data-uid=" + uid + "]").css("background-color", "#fff");
                //        $(".planCode_" + dataView[i].PLAN_CODE).prop('title', 'go to plan setup');
                //    }

                //}
                $(".goto_planSetup").click(function (e) {
                    e.preventDefault();
                    var grid = $("#grid").data("kendoGrid");
                    var dataItem = grid.dataItem($(this).closest("tr"));
                    var planCode = dataItem.PLAN_CODE;

                    if (dataItem.STATUS == 'SUB_PLAN') {
                        //window.location = "/Planning/Home/Index#!Planning/PlanSetup/" + planCode;
                        //update_wizard(1);
                    } else if (dataItem.STATUS == 'PLAN_DETAIL') {
                        window.location = "/Planning/Home/SubPlan#!Planning/SubPlan/" + planCode;
                        update_wizard(2);
                    }
                    else {
                        window.location = "/Planning/Home/Index#!Planning/PlanSetup/" + planCode;
                        update_wizard(1);
                    }

                })
            }

        });
    }

    function SetPlanLink(name, value) {
        name = (name == null ? "" : name);
        //var html = '<a style="" href="/Planning/Home/Index#!Planning/PlanSetup/' + value + '" >' + name + ' </a>';
        var html = '<a style="" href="/Planning/Home/Index#!Planning/CreatePlan/' + value + '" >' + name + ' </a>';
        //var html = '<a style="" href="/Planning/Home/Index#!Planning/EditPlan/' + value + '" >' + name + ' </a>';
        return html;
    }
    function setAction(plancode, superFlag, approvedFlag) {
        var html = '';
        html += '<a data-toggle="modal" style="color:green;" data-id="' + plancode + '" onclick="copySalesPlanModal(this)" class="copy_salesplan planCode_' + plancode + ' fa fa-copy" title="clone this plan" data-backdrop="static" data-keyboard="false"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        html += '<a href="/Planning/Home/Index#!Planning/CreatePlan/' + plancode + '" data-toggle="modal" style="color:orange;" data-id="' + plancode + '" class="copy_salesplan planCode_' + plancode + ' fa fa-edit" title="Edit this plan"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        if (superFlag=="Y")
            html += '<a style="color:red;" data-id="' + plancode + '" onclick="deleteSalesPlan(' + plancode + ')" class="delete_salesplan planCode_' + plancode + ' icon icon-trash" title="Delete this plan"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        else if (superFlag != "Y" && approvedFlag!="Y")
            html += '<a style="color:red;" data-id="' + plancode + '" onclick="deleteSalesPlan(' + plancode + ')" class="delete_salesplan planCode_' + plancode + ' icon icon-trash" title="Delete this plan"><span class="sr-only"></span></a>&nbsp;&nbsp;';
        //if (superFlag == 'Y') {
        //    if (approvedFlag == 'Y')
        //        html += '<input id="approved_checkBox" name="approve_chkbx" onclick="approvedClick(' + plancode + ')" type="checkbox" checked>'
        //    else
        //        html += '<input id="approved_checkBox" name="approve_chkbx" onclick="approvedClick(' + plancode + ')" type="checkbox">'
        //}

        //html += '<a href="/Planning/Home/Index#!Planning/CopyPlan/' + plancode + '" style="color:green;" data-id="' + plancode + '" onclick="copySalesPlan(' + plancode + ')" class="copy_salesplan planCode_' + plancode + ' fa fa-copy" title="clone this plan"><span class="sr-only"></span></a>';
        return html;
    }
    function setApproved(plancode, superFlag, approvedFlag) {
        var html = '';
        if (superFlag == 'Y') {
            if (approvedFlag == 'Y')
                html += '<input id="approved_checkBox_' + plancode + '" name="approve_chkbx" onclick="approvedClick(' + plancode + ')" type="checkbox" checked>'
            else
                html += '<input id="approved_checkBox_' + plancode + '" name="approve_chkbx" onclick="approvedClick(' + plancode + ')" type="checkbox">'
        }
        else {
            if (approvedFlag == 'Y')
                html += '<input id="approved_checkBox_' + plancode + '" name="approve_chkbx" onclick="approvedClick(' + plancode + ')" type="checkbox" checked disabled>'
            else
                html += '<input id="approved_checkBox_' + plancode + '" name="approve_chkbx" onclick="approvedClick(' + plancode + ')" type="checkbox" disabled>'
            //if (approvedFlag == 'Y')
            //    html += '<span>Approved</span>'
            //else
            //    html += '<span></span>'
        }

        //html += '<a href="/Planning/Home/Index#!Planning/CopyPlan/' + plancode + '" style="color:green;" data-id="' + plancode + '" onclick="copySalesPlan(' + plancode + ')" class="copy_salesplan planCode_' + plancode + ' fa fa-copy" title="clone this plan"><span class="sr-only"></span></a>';
        return html;
    }
    function setRedirection(planCode) {
        var html = '<a style="color:green;" class="goto_planSetup planCode_' + planCode + ' icon icon-share-alt "><span class="sr-only"></span> </a>';
        return html;
    }

    function approvedClick(id) {
        var isApproved = $("#approved_checkBox_"+id).is(":checked");
        $.ajax({
            url: "/api/PlanApi/ApprovedPlan?planCode=" + id + "&isChecked="+isApproved,
            type: 'POST',
        }).done(function () {
            displayPopupNotification("Plan Approve/Disapprove successfully", "success");
            RefreshGrid();
        }).error(function (err) {
            displayPopupNotification("Plan Approve/Disapprove failed due " + err.responseText, "error");
        })
    }

    function deleteSalesPlan(id) {

        //var id = $(this).data('id');
        var sureDelete = confirm("Are you sure to delete the record?");
        if (sureDelete) {
            $.ajax({
                url: "/api/PlanApi/DeletePlane?planCode=" + id,
                type: 'POST',
                //data: { planCode: id }
            }).done(function () {
                displayPopupNotification("Record deletion successed", "success");
                RefreshGrid();
            }).error(function (err) {
                displayPopupNotification("Record deletion failed due " + err.responseText, "error");
            })
        }
        else {
            return false;
        }
    }

    function copySalesPlan(id) {
        //var sureDelete = confirm("Are you sure to clone this plan?");
        //if (sureDelete) {
        //    $.ajax({
        //        url: "/api/PlanApi/CopyPlane?planCode=" + id,
        //        type: 'POST',
        //    }).done(function () {
        //        displayPopupNotification("Record clonning successed", "success");
        //        RefreshGrid();
        //    }).error(function (err) {
        //        displayPopupNotification("Record clonning failed due " + err.responseText, "error");
        //    })
        //}
        //else {
        //    return false;
        //}
    }

    function copySalesPlanModal(el) {
        var id = $(el).data('id');
        $.ajax({
            url: '/Planning/Plan/CopyPlan',
            data: { planCode: id },
        }).done(function (result) {
            $('.copyContentBody').html('');
            $('.copyContentBody').html(result);
            $('#copyDetail').modal('toggle');
            setTimeout(function () {
                $('#customers_copy').data("kendoComboBox").dataSource.read();
            }, 1000);
        }).error(function (err) {

        })

    }

    $('#saveCopiedPlan').on('click', function () {

        var formVal = $('#generateplan_copy').serialize();
        var plan_code = $('#plancode_copy').val();
        var plan_name = $('#planName_copy').val();
        var isCustomerProduct = $('input[name=customer_product_option_copy]:checked').val();
        var selectedCustomer = $('#customers_copy').val();
        var selectedEmployee = $('#employees_copy').val();
        var selectedPartyType = $('#partytype_copy').val();
        var valid = true;
        //validation
        if (plan_name == "") {
            $('#planName_copy').focus();
            displayPopupNotification("Please enter plan name.", "error");
            valid = false;
            return false;
        }
        if (isCustomerProduct == "customer_product" && selectedCustomer == "") {
            $('#customers_copy').focus();
            displayPopupNotification("Please select customer or check Product Only option.", "error");
            valid = false;
            return false;
        }
        if((selectedEmployee=="" || selectedEmployee == null) && loggedInUsers_employeeCode==""){
            $('#employees_copy').focus();
            displayPopupNotification("Either Select Employee From Employee Option or Maintain Logged In Users Employee_Code in Application User.", "error");
            valid = false;
            return false;
        }
        if ((selectedEmployee == "" || selectedEmployee ==null) && loggedInUsers_employeeCode != "") {
            $('#employees_copy').val(loggedInUsers_employeeCode);
        }
        //
        if (valid) {
            var sureDelete = confirm("Are you sure to clone this plan?");
            if (sureDelete) {
                var formdata = JSON.stringify(formVal);
                $.ajax({
                    url: "/Planning/Plan/CopyPlan",
                    data: formdata,
                    type: 'POST',
                }).done(function () {
                    displayPopupNotification("Record clonning successed", "success");
                    RefreshGrid();
                    $('#copyDetail').modal('toggle');
                }).error(function (err) {
                    displayPopupNotification("Record clonning failed due " + err.responseText, "error");
                })
            }
            else {
                return false;
            }
        }
    })
    function RefreshGrid() {
        $('#grid').data("kendoGrid").dataSource.read();
    }
</script>
<script src="@Scripts.Url(" ~/Areas/NeoERP.Planning/js/controller/PlanningMenuNavigation.js")"></script>

