@{
    ViewBag.Title = "planning setup";
    Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}


@*<div class="row">*@
    <div ng-view></div>
@*</div>*@
@section scripts{
    <!-- angular scripts for planning-->
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/module/planningModule.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/planningCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/planningBudgetCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/planSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/subPlanCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/subplanlistCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/masterPlanCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/setupCtrl.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/PlanServices.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/PlanSetupService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/PlanSubPlanService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/frequencySetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/FrequencySetupService.js")"></script>
    <script>
        var listlength = 0;
        var progresswidth = 0;
        var each_percent = 0;
        $(document).ready(function () {
            listlenght = $(".form-wizard").find('li').length;
            each_percent = (100 / listlenght)
            progresswidth = (each_percent * 1);
            $('.progress-bar').width(progresswidth + '%');
        })

        $(".step").click(function () {
            $this = $(this);
            $(".form-wizard").find('li').removeClass('active');
            $this.closest('li').addClass('active');
            var activeindex = $('.form-wizard').find('li.active').index();
            progresswidth = (each_percent * (activeindex + 1));
            $('.progress-bar').width(progresswidth + '%');
        })

        function update_wizard(activeindex) {

            $(".form-wizard").find('li').removeClass('active');
            $(".form-wizard li:eq(" + activeindex + ")").addClass('active');
            progresswidth = (each_percent * (activeindex + 1));
            $('.progress-bar').width(progresswidth + '%');
        }
        function CollapseAll() {
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-minus");
            if (elementsA.length > 0) {

                for (var i = 0; i < elementsA.length; i++) {
                    $(elementsA[i]).trigger("click");
                }
                return;
            }
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-collapse");
            for (var i = 0; i < elementsB.length; i++) {
                $(elementsB[i]).trigger("click");
            }
        }

        function ExpandAll() {
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-expand");
            if (elementsB.length > 0) {

                for (var i = 0; i < elementsB.length; i++) {
                    $(elementsB[i]).trigger("click");
                }
                return;
            }
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-plus");
            for (var i = 0; i < elementsA.length; i++) {
                $(elementsA[i]).trigger("click");
            }
        }
    </script>
}
