@{
    ViewBag.Title = "subplan";
    Layout = "~/Areas/NeoERP.Planning/Views/Shared/_Layout.cshtml";
}

<div>
    <div ng-view></div>
</div>

@section scripts{
    <!-- angular scripts for planning-->
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/module/planningModule.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/planningCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/planSetupCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/subPlanCtrl.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/controller/frequencySetupCtrl.js")"></script>

    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/PlanServices.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/PlanSetupService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/PlanSubPlanService.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoERP.Planning/js/services/FrequencySetupService.js")"></script>

    }