
@{
    Layout = "~/Areas/NeoERP.Distribution/Views/Shared/_LayoutDistributor.cshtml";
    ViewBag.Title = "Index";
}

<div ng-app="distributorModule">
    <div class="page-sidebar-wrapper">
        @Html.Partial("_distributorMenus")
    </div>
    <div id="loader" ng-show="False">
        <div id="box"></div>
        <div id="hill">NEO</div>
    </div>
    @*<div class="loader"></div>*@
    <div class="page-content-wrapper" id="operationContent">
        <div class="page-content ">
     
            <div ng-view></div>
        </div>
    </div>
</div>

<script>
    var moduleCode = '10';
    var isFirstLoad = {
        fav: false,
        favCount: 0,
        favGroup: false,
        favGroupCount: 0
    };
    var loadCount = 0;
  
</script>

@section scripts{
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Module/distributorModule.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Controller/PurchaseOrderCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Controller/BranchWiseSalesVsTargetCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Controller/SalesTargetVsAchievementCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Controller/SalesTargetvsCustomerAchievementCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Controller/DivisionWiseCreditLimiCtrl.js")"></script>


<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Controller/CollectionCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Distributor/Service/DistributorPurchaseService.js")"></script>

<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Service/DistributorService.js")"></script>
@*<script src="~/js/Service/DistSetupService.js"></script>
<script src="~/js/Service/OpeningStockService.js"></script>*@
    <!--shared from distribution-->
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Service/OpeningStockService.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Controller/ClosingStockCtrl.js")"></script>
<script src="@Scripts.Url("~/Areas/NeoERP.Distribution/js/Controller/OpeningStockCtrl.js")"></script>
    <!--shared from distribution-->

<script src="@Scripts.Url("~/Content/MainTheme/Protle.dragger.js")"></script>
<script src="@Scripts.Url("~/JS/DashboardChartFilter/reportFilter.js")"></script>
<script src="@Scripts.Url("~/JS/DashboardChartFilter/ChartFilter.js")"></script>
    }