@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;

<!DOCTYPE html>
@{ 
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <title>Pos | Erp</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    @*<link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="@Styles.Url("~/Content/font-awesome-4.1.0/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/fullcalendar/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/pages/css/tasks.css")" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/css/components.css?v1")" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/layout.css?v4")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-toastr/toastr.min.css")" rel="stylesheet" />
    @*<link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" rel="stylesheet" />*@
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/themes/blue.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href="http://spos.tecdiary.my/themes/default/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/plugins/iCheck/square/green.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/plugins/select2/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/plugins/redactor/redactor.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/dist/css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/dist/css/skins/_all-skins.min.css" rel="stylesheet" type="text/css" />
    <link href="http://spos.tecdiary.my/themes/default/assets/dist/css/custom.css" rel="stylesheet" type="text/css" />
    <script src="http://spos.tecdiary.my/themes/default/assets/plugins/jQuery/jQuery-2.1.4.min.js" type="text/javascript"></script>
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/dropzone/css/dropzone.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css")" />
    <link rel="stylesheet" type="text/css" href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/select2/select2.css")" />
    <link href="@Styles.Url("~/Content/MainTheme/NeoErpStyle.css")" rel="stylesheet" />
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-migrate.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Scripts/jquery.unobtrusive-ajax.js")"></script>
    <script src="@Scripts.Url("~/Scripts/jquery.validate.js")"></script>
    <script src="@Scripts.Url("~/Scripts/jquery.validate.unobtrusive.js")"></script>
    <script src="@Scripts.Url("~/Content/nepali.datepicker.v2.min.js")"></script>
    <!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-ui/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <link href="@Styles.Url("~/Content/Kendo/src/styles/web/kendo.common.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/Kendo/src/styles/web/kendo.default.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/Kendo/styles/kendo.dataviz.min.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/Kendo/styles/kendo.dataviz.default.min.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/ToastNotification/toastr.min.css")" rel="stylesheet" />
    <script src="@Scripts.Url("~/Scripts/plugins/iCheck/icheck.min.js")"></script>
    <link href="@Styles.Url("~/Content/css/icheck/icheck-line.css")" rel="stylesheet"/>
    <script src="@Scripts.Url("~/Scripts/plugins/IonSlider/ion.rangeSlider.min.js?v5")"></script>
    <link href="@Styles.Url("~/Content/css/IonSlider/ion.rangeSlider.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/css/IonSlider/ion.rangeSlider.skinModern.css")" rel="stylesheet" />

    <link href="@Styles.Url("~/Content/Kendo/styles/kendo.blueopal.min.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/nepali.datepicker.v2.min.css")" rel="stylesheet" />
    <script src="@Scripts.Url("~/Content/pace/pace-1.0.2/pace.min.js")" data-pace-options='{ "ajax": true }'></script>
    <link href="@Styles.Url("~/Content/pace/pace-1.0.2/themes/black/pace-theme-big-counter.css")" rel="stylesheet" />
    @*<link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/themes/light2.css")" rel="stylesheet" />*@
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/css/styles.css?v1")" id="style_components" rel="stylesheet" type="text/css" />
    <script type="text/javascript">
        window.virtualPath='@Url.Content("~")';
    </script>
    <style>
       .navbar-brand img {
    max-width: 100%;
    width: 92px;
    float: left;
    padding: 0;
    margin: 0 -10px;
}
       .navbar-brand {
    float: left;
    height: 50px;
     padding: 0px 0px !important; 
     font-size: 0px !important; 
     line-height: 0px !important; 
}
    </style>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white page-full-width">
    <div class="page-wrapper">


        <!-- BEGIN HEADER -->
        <div class="page-header navbar navbar-fixed-top">
            <!-- BEGIN HEADER INNER -->
            <div class="page-header-inner">
                <!-- BEGIN LOGO -->
                <div class="page-logo">
                    <a class="navbar-brand" href="/Home/Index">

                        <img src="~/Content/MainTheme/icon.png" alt="Oms Service" title="Oms Service" class="logo-default">
                    </a>
                  
                </div>
                <!-- END LOGO -->
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                @Html.Partial("_menuNew")
                <!-- END RESPONSIVE MENU TOGGLER -->
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                <i class="icon-cursor-move"></i>

                            </a>
                            @*<i class="icon-envelope-open"></i>
                                <span class="badge badge-default">
                                    <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a>
                                </span>*@

                            @*<div id="fullscreen" class="btn-header transparent pull-right">
                                    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a> </span>
                                </div>*@

                        </li>
                        <!-- END NOTIFICATION DROPDOWN -->
                        <!-- BEGIN INBOX DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        @*<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                    <i class="icon-envelope-open"></i>
                                    <span class="badge badge-default">
                                        4
                                    </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="external">
                                        <h3>You have <span class="bold">7 New</span> Messages</h3>
                                        <a href="page_inbox.html">view all</a>
                                    </li>
                                    <li>
                                        <ul class="dropdown-menu-list scroller" style="height: 275px;" data-handle-color="#637283">
                                            <li>
                                                <a href="inbox14c8.html?a=view">
                                                    <span class="photo">
                                                        <img src="../../assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
                                                    </span>
                                                    <span class="subject">
                                                        <span class="from">
                                                            Lisa Wong
                                                        </span>
                                                        <span class="time">Just Now </span>
                                                    </span>
                                                    <span class="message">
                                                        Vivamus sed auctor nibh congue nibh. auctor nibh auctor nibh...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="inbox14c8.html?a=view">
                                                    <span class="photo">
                                                        <img src="../../assets/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
                                                    </span>
                                                    <span class="subject">
                                                        <span class="from">
                                                            Richard Doe
                                                        </span>
                                                        <span class="time">16 mins </span>
                                                    </span>
                                                    <span class="message">
                                                        Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="inbox14c8.html?a=view">
                                                    <span class="photo">
                                                        <img src="../../assets/admin/layout3/img/avatar1.jpg" class="img-circle" alt="">
                                                    </span>
                                                    <span class="subject">
                                                        <span class="from">
                                                            Bob Nilson
                                                        </span>
                                                        <span class="time">2 hrs </span>
                                                    </span>
                                                    <span class="message">
                                                        Vivamus sed nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="inbox14c8.html?a=view">
                                                    <span class="photo">
                                                        <img src="../../assets/admin/layout3/img/avatar2.jpg" class="img-circle" alt="">
                                                    </span>
                                                    <span class="subject">
                                                        <span class="from">
                                                            Lisa Wong
                                                        </span>
                                                        <span class="time">40 mins </span>
                                                    </span>
                                                    <span class="message">
                                                        Vivamus sed auctor 40% nibh congue nibh...
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="inbox14c8.html?a=view">
                                                    <span class="photo">
                                                        <img src="../../assets/admin/layout3/img/avatar3.jpg" class="img-circle" alt="">
                                                    </span>
                                                    <span class="subject">
                                                        <span class="from">
                                                            Richard Doe
                                                        </span>
                                                        <span class="time">46 mins </span>
                                                    </span>
                                                    <span class="message">
                                                        Vivamus sed congue nibh auctor nibh congue nibh. auctor nibh auctor nibh...
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>*@
                        <!-- END INBOX DROPDOWN -->
                        <!-- BEGIN TODO DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <!-- END TODO DROPDOWN -->
                        <!-- BEGIN USER LOGIN DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                @*<img alt="" class="img-circle" src="../../assets/admin/layout/img/avatar3_small.jpg" />*@
                                <span class="username username-hide-on-mobile">
                                    @if (Request.IsAuthenticated)
                                    {
                                        @*<label>Welcome: @Html.Encode(User.Identity.Name)</label>*@
                                        <span>Welcome : @workingContent.CurrentUserinformation.login_code</span>
                                    }
                                </span>
                                <i class="fa fa-angle-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">

                                <li>
                                    <a href="/Account/LogOff">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                        <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="dropdown dropdown-quick-sidebar-toggler">
                            <a href="javascript:;" class="dropdown-toggle">
                                <i class="icon-logout"></i>
                            </a>
                        </li>
                        <!-- END QUICK SIDEBAR TOGGLER -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END HEADER INNER -->
        </div>
        <!-- END HEADER -->
        <div class="clearfix">
        </div>
        <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN SIDEBAR -->
            @*<div class="page-sidebar-wrapper">
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                @Html.Partial("_menu")
            </div>*@
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="page-content-wrapper">
                <div class="page-content">
                    <div class="clear-fix" style="padding-top:10px;">
                    </div>
                    @RenderBody()
                </div>
            </div>
            <!-- END CONTENT -->
            <!-- BEGIN QUICK SIDEBAR -->
            <a href="javascript:;" class="page-quick-sidebar-toggler"><i class="icon-close"></i></a>
            @Html.Partial("_RightPanel")
            <!-- END QUICK SIDEBAR -->
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        <div class="page-footer">
            @*<div class="page-footer-inner">

                       Synergy Erp
                        © 2015. All rights reserved.

                </div>*@
            <div class="scroll-to-top">
                <i class="icon-arrow-up"></i>
            </div>
        </div>
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script src="../../assets/global/plugins/respond.min.js"></script>
        <script src="../../assets/global/plugins/excanvas.min.js"></script>
        <![endif]-->
    </div>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js")" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->

    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/flot/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/flot/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/flot/jquery.flot.categories.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.pulsate.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js")" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui.min.js for drag & drop support -->
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/fullcalendar/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.sparkline.min.js")" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/scripts/metronic.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/admin/layout/scripts/layout.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/admin/layout/scripts/quick-sidebar.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/admin/layout/scripts/demo.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/admin/pages/scripts/index.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/admin/pages/scripts/tasks.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-toastr/toastr.min.js")"></script>

    <script src="@Scripts.Url("~/Scripts/sammy-0.7.4.js")"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/dropzone/dropzone.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js")"></script>

    @*<script src="@Scripts.Url("~/Content/Kendo/src/js/kendo.all.js")"></script>*@
    <script src="@Scripts.Url("~/Content/Kendo/kendoAllNew.js")"></script>
    <script src="@Scripts.Url("~/Scripts/arg-1.3.1.js")"></script>
    <script type="text/javascript" src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/select2/select2.min.js")"></script>
    <script src="@Scripts.Url("~/Content/ToastNotification/toastr.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
    @*<script src="@Scripts.Url("~/Scripts/jquery.unobtrusive-ajax.js")"></script>*@
 
    @*<script src="@Scripts.Url("~/JS/NeoErp.js")"></script>*@
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {          
               Metronic.init(); // init metronic core componets
               Layout.init(); // init layout
               QuickSidebar.init(); // init quick sidebar
               Demo.init(); // init demo features
               Index.init();
               Index.initDashboardDaterange();
               Index.initJQVMAP(); // init index page's custom scripts
               Index.initCalendar(); // init index page's custom scripts
               Index.initCharts(); // init index page's custom scripts
               Index.initChat();
               Index.initMiniCharts();
               Tasks.initDashboardWidget();
               toastr.options = {
                   "closeButton": false,
                   "debug": false,
                   "newestOnTop": false,
                   "progressBar": false,
                   "positionClass": "toast-top-right",
                   "preventDuplicates": false,
                   "onclick": null,
                   "showDuration": "300",
                   "hideDuration": "1000",
                   "timeOut": "5000",
                   "extendedTimeOut": "1000",
                   "showEasing": "swing",
                   "hideEasing": "linear",
                   "showMethod": "fadeIn",
                   "hideMethod": "fadeOut"
               }
        });
    </script>
    <!-- END JAVASCRIPTS -->
    
    <script type='text/javascript' src="http://underscorejs.org/underscore-min.js"></script>
   
    @RenderSection("Scripts", false)
  
    @*<script src="@Scripts.Url("~/JS/Summy_admin.js")"></script>*@
    <script>
        $(document).ajaxStart(function () {
            $('#ajaxBusy').show();
        }).ajaxStop(function () {
            $('#ajaxBusy').hide();
        });

    </script>
</body>

</html>