@model List<NeoErp.Models.QueryBuilder.NotificationBuilderModel>

@{ 
    Layout = null;
}

@if (Model.Count > 0)
{
<style>
    .alert-icon{
        padding:6px 4px 6px 5px !important;
    }
    .text-white{
        color:#ffffff;
    }
    .alert-value{
        padding-top:4px;
        padding-right:8px;
    }
</style>
<div class="portlet light bordered portlet-sortable" id="Alerts">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject bold uppercase font-green-haze custom-modal">

                <i class="fa fa-bell"></i>
                Alerts
            </span>
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="portlet-body">
        <ul class="feeds">
                    @foreach (var alert in this.Model)
                    {
                        if (alert.NotificationType == "Alert")
                        {
                            <li>
                                @if (string.IsNullOrWhiteSpace(alert.NotificationTemplate))
                                {
                                    <div class="col1 text-white" style="background-color:@alert.Color;">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success alert-icon">
                                                    <i class="fa @alert.Icon"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    @alert.NotificationName
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col2 alert-value">
                                        @if (alert.AppendPosition == "begin")
                                        {
                                            <div class="pull-right text-white">@alert.AppendText @alert.ResultValue</div>
                                        }
                                        else
                                        {
                                            <div class="pull-right text-white">@alert.ResultValue @alert.AppendText</div>
                                        }
                                    </div>
                                }
                                else
                                {
                                    string displayString;
                                    {
                                        displayString = alert.NotificationTemplate.Replace("#notificationname#", alert.NotificationName);
                                        displayString = displayString.Replace("#value#", alert.ResultValue);
                                    }
                                    <div class="col1 text-white" style="background-color:@alert.Color;">
                                        <div class="cont">
                                            <div class="cont-col1">
                                                <div class="label label-sm label-success alert-icon">
                                                    <i class="fa @alert.Icon"></i>
                                                </div>
                                            </div>
                                            <div class="cont-col2">
                                                <div class="desc">
                                                    @displayString
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </li>
                        }
                    }
                </ul>
    </div>
</div>

<script>
    $('.feeds').slimScroll({
        position: 'right',
        height: '350px',
        railVisible: true,
        //alwaysVisible: true
    });
</script>
}