@model NeoErp.Core.Domain.User
@{
    Layout = null;
    var isErrorstring = ViewBag.error ?? false;

}

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js">
   <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js">
   <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>neo.erp | Login Options - Login Form</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/font-awesome-4.1.0/css/font-awesome.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/plugins/uniform/css/uniform.default.css")" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <!-- <link href="../../assets/admin/pages/css/login.css" rel="stylesheet" type="text/css"/> -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/css/components.css")" id="style_components" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/global/css/plugins.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/layout.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Content/MainTheme/assets/admin/layout/css/themes/darkblue.css")" rel="stylesheet" type="text/css" id="style_color" />
    @*<link href="@Styles.Url("~/Content/MainTheme/login-5.css")" rel="stylesheet" />*@
    <link href="~/Content/MainTheme/login-2.min.css" rel="stylesheet" />
    <!-- END THEME STYLES -->
    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class=" login">
    <div class="logo">
        <a href="index.html">
            <img src="../assets/pages/img/logo-big-white.png" style="height: 17px;" alt="" />
        </a>
    </div>


    <div class="content">
        <div class="login-content">
            <div class="loginbox">
                <div class="logobox" style="text-align:center">
                    <div class="company_logo"> </div>
                </div>
                @using (Html.BeginForm("LogIn", "Home", FormMethod.Post, new { @class = "login-form main-loginform" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="alert alert-danger @if (isErrorstring) {} else {<text>display-hide</text> } ">
                        <button class="close" data-close="alert"></button>
                        <span>@ViewBag.Message</span>
                    </div>
                            <div class="form-title">
                                <span class="form-title">Welcome.</span>
                                <span class="form-subtitle">Please login.</span>
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="input-icon right">
                                        <i class="fa fa-user"></i>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control form-control-solid placeholder-no-fix form-group", @autofocus = "autofocus", placeholder = "User Name" })
                                        @Html.ValidationMessageFor(m => m.UserName)
                                        @*<input class="form-control form-control-solid placeholder-no-fix form-group" type="text"
                                            autocomplete="off" placeholder="Username" name="username" required />*@
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6">
                                    <div class="input-icon right">
                                        <i class="fa fa-lock"></i>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-solid placeholder-no-fix form-group", placeholder = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                        @*<input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="Password" name="password" required />*@
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 hideDiv" style="display:none;">
                                    <div class="form-group">
                                        @*<select multiple="" class="form-control">
                                                <option>Neoteri Nepal Pvt.ltd</option>
                                                <option>JJWL</option>

                                            </select>*@
                                        <select name="company_name" multiple="" id="company_name" class="form-control">
                                            <option>--Please Select Company--</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 hideDiv " style="display:none;">
                                    <div class="form-group">
                                        <select name="branch_code" id="branch_code" multiple="" class="form-control">
                                            <option>--Please Select Branch--</option>
                                        </select>

                                        @*<select multiple="" class="form-control">
                                                <option>Jawalakhel</option>
                                                <option>Durwarmarga</option>
                                                <option>Newroad</option>
                                                <option>Maitighar</option>
                                                <option>Pulchok</option>
                                            </select>*@
                                    </div>
                                </div>

                                <div class="col-xs-12 col-md-12 col-sm-12">

                                    <div class="input-icon loginbutton-icon pull-right">


                                        <input type="submit" value="Log in" name="btnLogin" class="btn btn-theme" />
                                        @*<button class="btn btn-theme" type="submit">
                                                Login      <i class="fa fa-sign-in"></i>
                                            </button>*@

                                    </div>
                                </div>
                            </div>

                }
            </div>
            @*<div class="lastlogin-time">
                    <i class="fa fa-calendar"></i>
                    <span>Last Login: 2017/05/28</span>
                </div>



                <div class="login-footer">
                    <div class="row bs-reset">

                        <div class="col-xs-9 col-sm-7 col-md-7 bs-reset pull-right">
                            <div class="login-copyright text-right">
                                <p>Copyright &copy; neo.erp 2017</p>
                            </div>
                        </div>
                    </div>


                </div>*@
        </div>
    </div>


    <!-- END : LOGIN PAGE 5-1 -->
    <!--[if lt IE 9]>
    <!-- BEGIN CORE PLUGINS -->

    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.cokie.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js")" type="text/javascript"></script>

    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/uniform/jquery.uniform.min.js")" type="text/javascript"></script>

    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="@Scripts.Url("~/Scripts/jquery.validate.js")"></script>
    <script src="@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-validation/js/additional-methods.min.js")"></script>
    <script src="~/OldContent/Theme/plugins/select2/select2.full.min.js"></script>

    <script src="~/Content/MainTheme/assets/global/plugins/backstretch/jquery.backstretch.min.js"></script>
    <script src="~/Content/MainTheme/App.min.js"></script>
    <script src="~/Scripts/underscore-min.js"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->

    <script src="~/Content/MainTheme/login-5.min.js"></script>
    @*<script src="@Scripts.Url("~/Scripts/sammy-0.7.4.js")"></script>

    <script src=@Scripts.Url("/Areas/NeoErp.sales.Module/Scripts/sammy-admin-sales.js?v=9820335")></script>*@
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- END BODY -->

</body>
</html>

<script type="text/javascript">
    var _savedata = "";
    $(function () {
        $("#UserName").focus(function () { $(this).select(); });
        $(".hideDiv").hide();
        $("#UserName").focusout(function () {
            var selectedItem = $(this).val();
            var ddlStates = $("#company_name");

            $.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("CompanyBranchList", "Home")',
                data: { "UserName": selectedItem },
                success: function (data) {
                    _savedata = data;
                  //  $(".hideDiv").show();
                    ddlStates.html('');
                    var uniqueCompany = _.uniq(data, function (y) { return y.company_edesc })
                    $.each(uniqueCompany, function (id, option) {

                        ddlStates.append($('<option></option>').val(option.company_code).html(option.company_edesc));
                    });
                    $("#company_name").change();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Company.');
                }
            });
        });

        $('#Password').on('change focus', function () {
            $('#UserName').change();
        });
        //$('#Password').focus(function () {
        //    $('#UserName').change();
        //});
    });
</script>
<script>
    $(function () {
        $("#company_name").change(function () {
            var selectedItem = $(this).val();

            var userselectedItem = $("#UserName").val();
            if (userselectedItem == "" && selectedItem == null) {
              //  $(".hideDiv").hide();
                return
            }
            else {
                   var ddlStates = $("#branch_code");
                   $(".form-group").show();
                //   $(".hideDiv").show();
                   ddlStates.html('');
                   var _saveDataBranch = _.filter(_savedata, function (x) {

                       return x.company_code == selectedItem && x.group_sku_flag=="I";
                   });

                   $.each(_saveDataBranch, function (id, option) {
                       ddlStates.append($('<option></option>').val(option.branch_code).html(option.branch_edesc));
                   });

            @*$.ajax({
                cache: false,
                type: "GET",
                url: '@Url.Action("ListCompanyBranch", "Home")',
                data: { "company_code": '"' + selectedItem + '"', "UserName": userselectedItem },
                success: function (data) {

                    ddlStates.html('');
                    $.each(data, function (id, option) {
                        ddlStates.append($('<option></option>').val(option.branch_code).html(option.branch_name));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Failed to retrieve Branch.');
                }
            });*@
            }

        });

    });
</script>