@using NeoErp.Core.Models;
@{

    var pageId = ViewContext.RouteData.Values["id"] != null ? ViewContext.RouteData.Values["id"].ToString() : "Dashboard";
    Layout = null;
    Session["oldPagenumber_" + pageId] = null;
}
<style>
    .portlet.portlet-sortable {
        min-height: 460px;
    }

    .modal-custom-lg {
        width: 80%;
    }
</style>

<div class="page-content ">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- /.modal -->
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="/main/DashBoard">Home</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/Sales/SalesHome/Dashboard">Organizer</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="/sales/SalesHome/Dashboard/@pageId">Dashboard</a>

            </li>

        </ul>
        <div class="page-toolbar">
            <div class="btn-group pull-right button_space">
                <a class="btn btn-circle btn-icon-only btn-default" href="~/Main/CompareCharts" title="Compare Charts">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="~/Main/CompareChartDivision" title="Compare Charts Division SalesWise">
                    <i class="glyfter-Sales-revenue" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="~/Main/CompareChartDivisionCollectionWise" title="Compare Charts Division CollectionWise">
                    <i class="glyfter-Sales-revenue" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:void(0);" onclick='$(".collapse").trigger("click")' title="Collapse All">
                    <i class="fa fa-chevron-up" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" href="javascript:void(0);" onclick='$(".expand").trigger("click");' title="Expand All">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" id="reset_Sales_widgets" href="javascript:void(0);" title="Reset Widgets">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" id="downloadPDF" href="javascript:void(0);" title="Download in PDF" style="display:none;visibility:hidden">
                    <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
                </a>
                <a class="btn btn-circle btn-icon-only btn-default" id="userChartSetup" href="javascript:void(0);" title="Chart Setup">
                    <i class="fa fa-pie-chart" aria-hidden="true"></i>
                </a>
                @Html.Partial("~/Views/Shared/Controls/_reportFilterSettings.cshtml", new ReportFilterSettingsModel()
                {
                    ShowAmountFigureFilter = true,
                    ShowAmountFilter = true,
                    ShowAmountRoundUpFilter = true,
                    ShowRangeAmountFilter = false,
                    ShowRangeQuantityFilter = false,
                    ShowRangeRateFilter = false,
                    ActionPageId = "ChartDashboard",
                    ShowApplyToAllChartOption = false,
                    ShowBranchFilter = true
                })
            </div>
        </div>

    </div>

    <div class="clearfix"></div>

    <div class="main-view-port">
        <div>
            <div id="dashboardWidget"></div>
        </div>
        <div class="clearfix"></div>
        <div class="row1">
            <div class="col-md-12  margin-top-10">
                <div class="row ui-sortable " id="sortable_portlets">
                </div>
                <div id="divLoadingIcon" style="display:none; margin-left:50%;">
                    <div class="green">
                        NEO

                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-top-10">
                <a href="#" id="loadMore" class="btn default btn-block">Load More</a>
            </div>
        </div>
    </div>

    <div id="userChartSetupModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-custom-lg">
            <!-- Modal content-->
            <div>
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Report-Chart Setting </h4>
                    </div>
                    <div class="modal-body clearfix">
                        <div id="userChartSetupPartial"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

@section Scripts{
    <script src="http://cdn.kendostatic.com/2014.3.1029/js/jszip.min.js"></script>
    <script src="@Scripts.Url("~/JS/kendoHelpers.js")"></script>
    <script src="@Url.Content("~/JS/reportFilter.js?v0")"></script>
    <script src="@Scripts.Url("~/Content/jquery.singleclick.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoErp.sales.Module/Scripts/KendoChart.js")"></script>
    <script src="@Scripts.Url("~/Areas/NeoErp.sales.Module/Scripts/KendoBranchChart.js")"></script>
    <script src="@Scripts.Url("~/Content/multi-select-master/js/jquery.multi-select.js")"></script>
    <script src="@Scripts.Url("~/JS/DashboardChartFilter/ChartFilter.js")"></script>



}
<script>
    var pageNumber = 1;
    var reportName = '@pageId';


    $(window).scroll(function () {
        var lengthofmsg = $(".contactAdministratorMsg").length;
        if (lengthofmsg == 1) {
            return false;
        }
        // if the scroll position is at the bottomm of the page
        if ($(window).scrollTop() == $(document).height() - $(window).height() && $('#loadMore').is(":visible")) {
            $('div#divLoadingIcon').show(); // alert the user and show the Loading message
            // fire jQuery ajax
            LoadCharts();
        }
        else {
            //ArrangePortlet();
        }
    });
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $('div#divLoadingIcon').show(); // alert the user and show the Loading message

        // fire jQuery ajax
        LoadCharts();
        $('html,body').animate({
            scrollTop: $(this).offset().top
        }, 1500);
    });

    $(".search").on("input", function () {
        if (this.value.length > 0)
            $(".sub-menu:hidden").slideDown("slow");
        else
            $(".sub-menu").slideUp("slow");
    });


    function LoadCharts()
    {
        $.ajax({
            //url: "/main/dashboardpartial/?page=" + pageNumber,
            url: "/sales/Saleshome/dashboardpartial/?page=" + pageNumber + "&reportName=" + reportName,
            success: function (html) {

                if (html.trim()) {
                    $("#sortable_portlets").append(html); // append the data came from server
                    $('div#divLoadingIcon').hide(); // hide the Loading... message


                    pageNumber++; // increment the page number for next request
                    PortletDraggable.init(reportName + "_sorted");
                    //ArrangePortlet();

                } else { // no data found
                    $('div#divLoadingIcon').hide(); // hide the Loading... message
                }
            }
        });

    }
    function ArrangePortlet()
    {
        
        var i = 0,j=0;
        var leftPortlet = _.filter($(".sortable"), function (x) {
            return $(x).offset().left < 300;
        });
        var rightPortlet = _.filter($(".sortable"), function (x) {
            return $(x).offset().left > 300;
        });
      if (leftPortlet.length > 1)
      {
          $.each(leftPortlet, function (index, obj) {
              if ((i + 1) < leftPortlet.length) {
                  var diff = $(leftPortlet[i]).offset().top + $(leftPortlet[i]).outerHeight(true) - $(leftPortlet[i + 1]).offset().top;
                  $(leftPortlet[i + 1]).find(".portlet.portlet-sortable").css("margin-top", diff + "px");
                  i++;
              }

          });
        }
      if (rightPortlet.length > 1) {
          $.each(rightPortlet, function (index, obj) {
              if ((i + 1) < rightPortlet.length) {
                  var diff = $(rightPortlet[i]).offset().top + $(rightPortlet[i]).outerHeight(true) - $(rightPortlet[i + 1]).offset().top;
                  $(rightPortlet[i + 1]).find(".portlet.portlet-sortable").css("margin-top", diff + "px");
                  i++;
              }
          });
      }
    }


    $(document).ready(function () {

        //for widgets
            $.ajax({
                type: 'POST',
                url: "/sales/SalesHome/DashBoardWidgets?reportname="+reportName,
                success: function (data) {
                    $('#dashboardWidget').html(data);
                    $("#loadMore").trigger("click");
                    //setTimeout(function () {
                    //    $("#loadMore").trigger("click");
                    //},2000);

                }
        });

            $("#userChartSetup").on('click', function () {
                $.ajax({
                    type: 'POST',
                    url: "/Main/UserwiseChartSettingPartial",
                    success: function (data) {
                        $('#sortable_portlets').html("");
                        $('#userChartSetupPartial').html(data);
                        $("#userChartSetupModal").modal("toggle");

                        $("#SaveSetting").text("Update");

                        bindChartValue();


                    }
                });

            });

            $("#userChartSetupModal").on("hidden.bs.modal", function () {
                $("#reset_Sales_widgets").trigger("click");
            });
    });

</script>