<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>

    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

   
    @Html.Partial("_LayoutHeader")
    @RenderSection("headtag", required: false)

    @{
        if (ViewBag.id == null) { ViewBag.id = 0; }
        var dsh = System.Web.HttpContext.Current.Request.RawUrl;
        bool IsDashboard = dsh.ToLower().Contains("/dashboard");
    }
    <style>
      
    </style>
</head>

<body class="hold-transition skin-blue-light sidebar-mini fixed">
    <div class="wrapper">
        <input type="hidden" id="ViewBagID" value="@ViewBag.id" />
        <a id="dlink" style="display:none;"></a>
        <input type="hidden" id="id" name="id" />
        <input type="hidden" id="Sel" name="Sel" />
        

        @Html.Partial("_LoginPartial")


        <!-- Main Header -->
        <header class="main-header">
            <!-- Header Navbar -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div>
                    @{
                            ModuleMenuModel menu = (ModuleMenuModel)ViewBag.menu;
                    }

                    @Html.Partial("_NevbarTopLeft", menu)
                    @Html.Partial("_NevbarTopRight", menu)

                </div>
            </nav>
        </header>

        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            @RenderSection("lefttop", required: false)
            @Html.Partial("_LeftPanel")
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @Html.Raw( ViewBag.Title)
                    @*<small>Optional description</small>*@
                </h1>
                @*<ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                    <li class="active">Here</li>
                </ol>*@
            </section>
            <div id="ajaxBusy">
                <span>&nbsp;</span>
            </div>
            @Html.Partial("_TopMessageDisplay")

            <!-- Main content -->
            <section class="content no-padding">
                <!-- Your Page Content Here -->
                @RenderBody()
               
                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel"></h4>
                            </div>
                            <div class="modal-body">


                            </div>
                            <div class="modal-footer model_submit_link">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary SavePageElement" id="SavePageElement" onclick="">Save changes</button>

                                <button type="button" class="btn btn-primary SavePageElement" id="SaveRenumerationElement" onclick="" style="display:none;">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>


                    <div class="clearfix"></div>
</section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        
        <!-- Main Footer -->
        @*<footer class="main-footer">
            @Html.Partial("_Footer")
        </footer>*@


        @Html.Partial("_RightPanel")
      
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED JS SCRIPTS -->
    @Html.Partial("_LayoutFooter")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ajaxStart(function () {
            $('#ajaxBusy').show();
        }).ajaxStop(function () {
            $('#ajaxBusy').hide();
        });

    </script>

</body>
</html>
