@using System.Text;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Synergy ERP</title>
    <link href="@Styles.Url("~/Content/JGrid/JQGridDemo.css")" rel="stylesheet" media="screen">
    <link href="@Styles.Url("~/Content/JGrid/css_flyoutverticalmenu.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Sales/Resource/css/bootstrap.min.css")" type="text/css" rel="stylesheet">
    <link href="@Styles.Url("~/Content/css/plugins/metisMenu/metisMenu.min.css")" rel="stylesheet" />
   
    <link href="@Styles.Url("~/Content/css/sb-admin-2.css")" rel="stylesheet">
    <link href="@Styles.Url("~/Content/css/style.css")" rel="stylesheet">
    <link href="@Styles.Url("~/Content/fonts/icomoon/icomoon-style.css")" rel="stylesheet" />
    <link href="@Styles.Url("~/Content/css/plugins/morris.css")" rel="stylesheet">
    <link href="@Styles.Url("~/Sales/Trial/font-awesome-4.1.0/css/font-awesome.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Styles.Url("~/Sales/Content/css/ui.jqgrid.css")" />
    <link href="@Styles.Url("~/Sales/Content/css/theme.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="@Styles.Url("~/Sales/Content/css/jquery-ui.css")">
    <link href="@Styles.Url("~/Content/JGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Styles.Url("~/Sales/Content/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Content/jquery-2.1.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jquery-ui-1.10.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/JQGridDemo.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Sales/Resource/js/Chart.js")"></script>
    <script src="@Url.Content("~/Content/i18n/grid.locale-en.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-tree.js")"></script>
    <script src="@Url.Content("~/Sales/Resource/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/metisMenu/metisMenu.js")"></script>
    <script src="@Url.Content("~/Content/nepali.datepicker.v2.min.js")"></script>
    <script src="@Url.Content("~/Sales/Resource/js/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sb-admin-2.js")"></script>
    <script src="@Url.Content("~/Sales/Content/js/jquery-ui.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/nepali.datepicker.v2.min.css")" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
            window.virtualPath = '@Url.Content("~")';
    </script>
    <script>
        $.jgrid = $.jgrid || {};
        $.jgrid.no_legacy_api = true;
        $.jgrid.useJSON = true;
    </script>
    <script src="@Url.Content("~/Sales/Content/js/jquery.jqgrid.src.js")"></script>
</head>
<body>
    <div id="content" style="max-height: 95%;">

        @Html.Partial("~/Views/Shared/_HeaderPartial.cshtml")
    </div>
    <div class="" id="wrapper" style="margin-top: -20px;">
        @Html.Partial("~/Views/Shared/_MenuPartial.cshtml")
        <div id="page-wrapper">
            @RenderSection("featured", required: false)

            @RenderBody()
            <!-- /.row -->
        </div>
    </div>

    <script src="@Url.Content("~/Sales/Resource/js/plugin.js")"></script>
    <script src="@Url.Content("~/Sales/Resource/js/jquery.contextmenu.js")"></script>
    <script src="@Url.Content("~/Sales/Scripts/app.js")"></script>
    <script src="@Url.Content("~/Sales/Scripts/c1xlsx.js")"></script>
    <script src="@Url.Content("~/Sales/Scripts/ExcelConverter.js")"></script>
    <script src="@Url.Content("~/Sales/Scripts/Stuk-jszip-82ceacc/dist/jszip.js")"></script>
    <script src="@Url.Content("~/Sales/Scripts/Stuk-jszip-82ceacc/dist/jszip.min.js")"></script>

    <script type="text/javascript">
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });

        $(document).ready(function () {
            $('#page-wrapper').css({ 'height': ($(window).height() - $('#content').height()) + 'px' });
        })

        $(document).ready(function () {
            $("input.headersearch").autocomplete({
                source: function (request, response) {
                    // define a function to call your Action (assuming UserController)
                    $.ajax({
                        url: '/Ajax/GetAutoCompleteSearchList',
                        type: "POST",
                        dataType: "json",
                        // query will be the param used by your action method
                        data: { query: request.term },
                        success: response
                    });
                },
                minLength: 3, // require at least one character from the user
                select: function (event, ui) {
                    window.location.href = '../' + ui.item.flag + '/' + ui.item.value;
                }
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
