<style>
    .page-quick-sidebar-wrapper {
        /*right: -300px;*/
        /*width: 300px;*/
        right: -355px;
        width: 355px;
    }

    .themes-li {
        display: inline-block;
        vertical-align: middle;
    }

    .themes-select {
        /* height: 30px;*/
        font-size: 12px;
        background: transparent;
        color: #b7bfca;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
        /*padding-left:5px;
        padding-right:5px;*/
        width: 98%;
    }

        .themes-select > option {
            padding: 2px;
        }
</style>
<div class="page-quick-sidebar-wrapper">
    <div class="page-quick-sidebar">
        <div class="nav-justified">
            <ul class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#quick_sidebar_tab_1" data-toggle="tab">
                        Modules <span class="badge badge-danger"></span>
                    </a>
                </li>
                <li>
                    <a href="#quick_sidebar_tab_2" data-toggle="tab">
                        Application <span class="badge badge-success"></span>
                    </a>
                </li>
                <li>
                    <a href="#quick_sidebar_tab_3" data-toggle="tab">
                        Setting <span class="badge badge-success"></span>
                    </a>
                </li>
                <li>
                    <a href="#quick_sidebar_tab_4" data-toggle="tab">
                        Config <span class="badge badge-success"></span>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane page-quick-sidebar-chat" id="quick_sidebar_tab_4">
                    <h3 class="list-heading">CONFIG</h3>
                    @*<ul class="feeds list-items">
                            <li>
                                <a href="#" class="btn btn-success form-control">Business intelligence Tool</a><br />
                            </li>
                        </ul><br />*@
                    <div id="partialplugin">
                        @Html.Action("pluginLists", "Main", new { area = "" })
                    </div>

                </div>
                <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_3">
                    <div class="page-quick-sidebar-alerts-list">
                        <h3 class="list-heading">Setting</h3>
                        <ul class="feeds list-items">
                            <li class="setting themes-li row" style="display:none;width:100%">
                                <div class="col-md-6"><label class="" style="color:hsl(215, 15%, 75%)">Themes</label></div>
                                <div class="col-md-6">
                                    <select class="form-control1 themes-select">
                                        <option value="light2" selected="selected">Light</option>
                                        <option value="blue">Blue</option>
                                        <option value="darkblue">Darkblue</option>
                                    </select>
                                </div>
                            </li>
                            @*<li class="setting" style="display:none">
            <i class="glyphicon glyphicon-hand-right"></i>
            <a href="@Url.Action("UserChartSetting","Main",new { Area = "" })" class="">Personal DashBoard Setting</a>@*<hr />


        </li>*@
                            <li class="setting" style="display:none">
                                @* for userwise chart permission *@
                                <i class="glyphicon glyphicon-user"></i>
                                <a href="@Url.Action("UserwiseChartSetting","Main",new { Area = "" })" class="">UserWise Chart Setting</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                @* for userwise chart permission *@
                                <i class="glyphicon glyphicon-user"></i>
                                <a href="@Url.Action("AddUser","Main",new { Area = "" })" class="">Add User</a>
                            </li>

                            <li class="setting" style="display:none">
                                <!-- Matrics Query Builder-->
                                <i class="glyphicon glyphicon-qrcode"></i>
                                <a href="@Url.Action("queryBuilderIndex","MetricQueryBuilder",new { Area = "" })" class="" title="Matrics Query Builder">Matrics QB</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <!-- Matrics Query Builder-->
                                <i class="glyphicon glyphicon-qrcode"></i>
                                <a href="@Url.Action("queryBuilderList","MetricQueryBuilder",new { Area = "" })" class="" title="Matrics Query Builder List">Matrics QB List</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <!-- Notification Query Builder-->
                                <i class="glyphicon glyphicon-qrcode"></i>
                                <a href="@Url.Action("BuildNotification","NotificationBuilder",new { Area = "" })" class="" title="Matrics Query Builder List">Notification QB</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <!-- Notification List-->
                                <i class="glyphicon glyphicon-qrcode"></i>
                                <a href="@Url.Action("NotificationList","NotificationBuilder",new { Area = "" })" class="" title="Matrics Query Builder List">Notification QB List</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <!-- Matrics Permission-->
                                <i class="glyphicon glyphicon-send"></i>
                                @*<a href="@Url.Action("quickcapsettingindex","webquickcapsetting",new { Area = "" })" class="" title="Matrics Permission">Matrics Permission</a><hr />*@
                                <a href="/webquickcapsetting/quickcapsettingindex" class="" title="Matrics Permission">Matrics Permission</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <!--Consumption-->
                                <i class="glyphicon glyphicon-copyright-mark"></i>
                                <a href="@Url.Action("Index","Transaction/Home",new { Area=""})" class="" title="Consumption">Consumption</a>@*<hr/>*@
                            </li>
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-cog"></i>
                                <!-- Branch Target Setup-->
                                <a href="@Url.Action("Index","Transaction/Target",new { Area=""})" class="" title="Branch Target Setup">Branch Target Setup</a>@*<hr />*@
                            </li>

                            @*Menu controller*@
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-link"></i>
                                <a href="~/MenuControl/Index">Menu Controller</a>@*<hr/>*@
                            </li>
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-modal-window"></i>
                                <a href="@Url.Action("Index","PrintTemplate",new {Area=""})">Print Template</a>
                            </li>
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-eye-close"></i>
                                <a href="@Url.Action("Index","AccessManager",new {Area=""})">Access Manager</a>
                            </li>
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-link"></i>
                                <a href="~/Scheduler/Index">Schedular Mail</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-link"></i>
                                <a href="~/reportconfig/Index">Report Config User Assign</a>@*<hr />*@
                            </li>
                            @*DB setup*@
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-hdd"></i>
                                <a href="~/GlobalSetup/index">Database Setup</a>@*<hr/>*@
                            </li>
                            <li class="setting" style="display:none">
                                <i class="icon-envelope"></i>
                                <a href="~/MainControl/SendMail">Mail List</a>@*<hr />*@
                            </li>

                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-hdd"></i>
                                <a href="~/warrantychecker/Index">Warrenty Tracker</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <i class="glyphicon glyphicon-hdd"></i>
                                <a href="~/warrantychecker/createDefect">Defect Setup/Excel Upload</a>@*<hr />*@
                            </li>
                            <li class="setting" style="display:none">
                                <i class="fa fa-cog"></i>
                                <a href="~/sales/purchase/itemsetup">Item Group Setup</a>
                            </li>
                            <li class="setting" style="display:none">
                                <i class="fa fa-cog"></i>
                                <a href="@Url.Action("DatabaseEntitiesSetup","Main",new { Area=""})" class="" title="Create All Tables">Create Database Entities</a>
                            </li>
                            <li class="setting" style="display:none">
                                <i class="fa fa-cog"></i>
                                <a href="@Url.Action("TaskMsgSetup","MobileWeb",new { Area=""})" class="" title="Mobile Web Msg Setup">Mobile Message Setup</a>
                            </li>
                            <li class="setting" style="display:none">
                                <i class="fa fa-book"></i>
                                <a href="@Url.Action("TaskMsgLogReport","MobileWeb",new { Area=""})" class="" title="Mobile Task Log report">Mobile Task Log Report</a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="tab-pane page-quick-sidebar-alerts" id="quick_sidebar_tab_2">
                    <div class="page-quick-sidebar-alerts-list">
                        <h3 class="list-heading">General</h3>
                        <ul class="feeds list-items">
                            <li>
                                <a href="/Main/ClearCache">Clear Cache</a>@*<hr />*@
                            </li>
                            <li>
                                <a href="/Main/RestartAppDomain">Restart Domain</a>@*<hr />*@
                            </li>
                            <li>
                                <a href="/Security/Update/DatabaseUpdate">Database Update</a>@*<hr />*@
                            </li>
                            <li>
                                <a href="/Security/Update/SystemUpdate">System Update</a>@*<hr />*@
                            </li>
                            <li>
                                <a href="/Home/DownloadLog">Log Download</a>@*<hr />*@
                            </li>
                            <li>
                                <a href="/Home/LogView">Log Viewer</a>
                            </li>
                        </ul>

                    </div>
                </div>
                <div class="tab-pane page-quick-sidebar-chat active" id="quick_sidebar_tab_1">

                    <h3 class="list-heading">Modules</h3>
                    <ul class="feeds list-items">
                        @*<li>
                                <a href="~/Sales/SalesHome/Dashboard" class="btn btn-success form-control">Business intelligence Tool</a><br />
                            </li>*@
                        @{
                            TempData["sidemenu"] = "false";
                        }

                        @Html.Action("InstalledPluginListForMenu", "Main", new { area = "" })
                    </ul><br />
                    @*@Html.Action("pluginLists", "Main", new { area = "" })*@
                    <hr />
                    @*<ul class="media-list list-items">
                            <li class="media">
                                <div class="media-body">
                                    <h4 class="media-heading"><i class="fa fa-cogs"></i> SALES HOME</h4>
                                    <div class="media-heading-sub">
                                        @*<a href="@Url.Action("Dashboard","SalesHome",new { Area="Sales"})" class="btn btn-info form-control"> Sales Home</a>
                                        <a href="~/Sales/SalesHome/Dashboard" class="btn btn-success form-control"> Sales Home</a>
                                    </div>
                                </div>
                            </li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</div>


<script>
        $(function () {
            @*$.get('@Html.Raw(Url.Action("pluginLists", "Main"))', function (data) {
                $('#detailsDiv').html(data);
            }) *@
    });
        //slim scroll for the right sidebar
        $('.list-items').slimScroll({
            height: '480px'
        });



</script>
@section Scripts{
    <script src='@Scripts.Url("~/Content/MainTheme/assets/global/plugins/jquery-mixitup/jquery.mixitup.min.js")'></script>
    <script src='@Scripts.Url("~/Content/MainTheme/assets/admin/pages/scripts/portfolio.js")'></script>
    <script type="text/javascript">

        $(document).ready(function () {
            Portfolio.init();
        });
    </script>

}

@section Styles{
    <link href='@Styles.Url("~/Content/MainTheme/assets/admin/pages/css/portfolio.css")' rel="stylesheet" />
}
