
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<style>
    .modal-dialog {
        margin: 70px auto !important;
    }

    .float-clear {
        clear: both !important;
    }

    .k-treeview .k-in {
        padding: 5px;
    }

    .error {
        color: red;
    }

    .required {
        color: #b94a48;
    }

    .invalid-field {
        border: 1px solid #b94a48 !important;
    }

    /*a.btn.green {
        margin-left: 330px;
    }*/
    .add-modal h3 {
        font-size: 15px !important;
        margin: 0 !important;
        padding: 15px !important;
    }

    .add-modal input[ type="text"] {
        height: 24px;
        padding-top: 0px !important;
        padding-bottom: 0px !important;
        font-size: 12px !important;
    }

    .form-control.select2-container {
        min-width: 253px !important;
    }

    .select2-container .select2-choice {
        border: 1px solid #ddd !important;
        background-image: none !important;
        font-size: 12px;
    }

        .select2-container .select2-choice .select2-arrow {
            background: none !important;
            border: none !important;
        }

    .menutable th, .add-modal label {
        font-size: 12px !important;
    }

    .iconpicker .iconpicker-items, .popover-content {
        max-height: 160px !important;
    }

    .iconpicker-popover.popover {
        width: 260px !important;
    }

    .menutable .btn {
        padding: 7px 11px !important;
        font-size: 12px !important;
    }

    .menutable > thead > tr > th.sorting, .menutable > thead > tr > th.sorting_asc, .menutable > thead > tr > th.sorting_desc {
        padding-right: 0px !important;
    }

    .menutable td {
        word-break: break-all;
        table-layout: fixed;
    }

    .sn {
        width: 5% !important;
    }

    .menu-no {
        width: 9% !important;
    }

    .desc {
        width: 14% !important;
    }

    .module {
        width: 15% !important;
    }

    .path {
        width: 15% !important;
    }

    .prm {
        width: 16% !important;
    }

    .divList .k-group.k-treeview-lines {
        max-height: 250px !important;
    }

    .menutable td {
        font-size: 12px !important;
    }

    .icongap {
        padding-right: 3px;
    }

    .divList .btn {
        font-size: 12px !important;
    }


    table.dataTable thead .sorting:after, .sorting_asc:after {
        content: "";
        opacity: 0.5;
        font-family: "Glyphicons Halflings";
        float: right;
        padding-right: 5px;
    }


    table.dataTable thead .sorting_desc:after {
        content: "";
        font-family: "Glyphicons Halflings";
        float: right;
        padding-right: 5px;
    }

    #select2-drop .select2-input {
        padding-bottom: 0px !important;
    }

    .select2-drop-active {
        border-color: -moz-use-text-color #DDDDDD #DDDDDD !important;
    }

    .dataTables_filter input {
        height: 24px;
    }

    #divConfirm .modal-body {
        padding-top: 0px !important;
    }

    #divConfirm h4 {
        font-size: 13px !important;
    }
    span.selectMD {
    float: right;
    margin-top: -20px !important;
    margin-right: -11px !important;
}
</style>
<link href="~/Scripts/ngScript/select2.css" rel="stylesheet" />
@*<link href="~/Content/angular-ui-grid/ui-grid.min.css" rel="stylesheet" />*@
@*<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/OldContent/Theme/plugins/datatables/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="~/Content/Kendo/styles/kendo.default.mobile.min.css" rel="stylesheet" />*@


@*<div ng-app="KendoDemos">
        <div ng-controller="MyCtrl">
            <div class="a col-lg-9">
                <h3>Grid View</h3>
                @Html.Partial("~/Views/Shared/_MenuSettingsGrid.cshtml")
            </div>
        </div>
    </div>*@
@*<div>
        <div class="a col-lg-9">
            <h3>Grid View</h3>
            @Html.Partial("~/Views/Shared/_MenuSettingsGrid.cshtml")
        </div>
    </div>*@
<div class="page-content-wrapper" id="operationContent">
    <div class="page-content full-width" style="min-height:310px">
        <div ng-app="erpApp" class="">
            <div id="menuSettingController" ng-controller="menuSettingController">
                <!-- BEGIN PAGE HEADER-->
                <div class="page-bar">
                    <ul class="page-breadcrumb">
                        <li>
                            <i class="fa fa-cog"></i>
                            <a href="~/MenuSetting/Index">Menu Settings</a>
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                </div>

                <!-- END PAGE HEADER-->
                <!-- BEGIN PAGE CONTENT-->
                <div class="row">
                    <div ng-show="divMenu">
                        <form name="menuSetting" class="css-form" novalidate>
                            <div id="{{Action}}Menu" novalidate class="modal show" style="height:auto;" role="dialog" aria-hidden="true">
                                <div class="modal-dialog form">
                                    <div class="modal-content  add-modal">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="Cancel()">×</button>
                                            <h3 class="text-center"><span>{{Action}} Menu</span></h3>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form col-md-12 center-block">
                                                <div class="col-sm-6" style="display:none;">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control k-input" ng-model="MENU_NO">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Menu EDESC<span style="color:red" ng-show="menuSetting.menuName.$invalid">
                                                            <span ng-show="menuSetting.menuName.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <input type="text" name="menuName" class="form-control" ng-model="MENU_EDESC" required>
                                                        @*<div ng-messages="menuSetting.menuName.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required</span>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Menu Name<span style="color:red" ng-show="menuSetting.menuObject.$invalid">
                                                                <span ng-show="menuSetting.menuObject.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <input type="text" name="menuObject" class="form-control" ng-model="MENU_OBJECT_NAME" required />
                                                        @*<div ng-messages="menuSetting.menuObject.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required</span>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">

                                                    @*<select ui-select2 ng-model="selectedItem" data-placeholder="Select...">
                                        <option value=""></option>
                                        <option ng-repeat="module in modules" value="{{module.MODULE_CODE}}">{{module.MODULE_EDESC}}</option>
                                    </select>*@
                                                    <select ui-select2 class="form-control input-medium select2me" select-selection="moduleno" ng-model="selectedItem" name="module" required>
                                                        <option value="">Select Module...</option>
                                                        <option value="{{module.MODULE_CODE}}" ng-repeat="module in modules">{{module.MODULE_EDESC}}</option>
                                                    </select>
                                                        <span style="color:red" ng-show="menuSetting.module.$invalid">
                                                            <span class="selectMD" ng-show="menuSetting.module.$error.required">*</span>
                                                        </span>
                                                  
                                                    @*<div ng-messages="menuSetting.module.$error" ng-if="menuSetting.$submitted">
                                                        <div ng-message="required">
                                                            <span class="required">This field is required</span>
                                                        </div>
                                                    </div>*@
                                                    @*<div class="form-group">
                                        <label>Module Code</label>
                                        <select ng-model="selectedItem" name="module" ng-change="onChangeT(selectedItem)" required>
                                            <option value="">---Select Module---</option>
                                            <option value="{{module.MODULE_CODE}}" ng-repeat="module in modules">{{module.MODULE_EDESC}}</option>
                                        </select>
                                        <div ng-messages="menuSetting.module.$error"  ng-if="menuSetting.$submitted">
                                            <div ng-message="required">
                                                <span class="required">Select item.</span>
                                            </div>
                                        </div>
                                    </div>*@
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Is Group
                                                            <input type="checkbox" class="form-control" ng-change="ShowHide()" ng-model="GROUP_SKU_FLAG" ng-true-value="'G'" ng-false-value="'I'" aria-label="Toggle ngHide" />
                                                        </label><br />
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group check-element animate-show" ng-show="isVisible">
                                                        <label>
                                                            Full Path<span style="color:red" ng-show="menuSetting.path.$invalid">
                                                                <span ng-show="menuSetting.path.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <input type="text" name="path" class="form-control" placeholder="/Full path name" ng-model="FULL_PATH" required pattern="" />
                                                        @*<div ng-messages="menuSetting.path.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required</span>
                                                                <div ng-message="pattern">Pattern not valid</div>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group check-element animate-show" ng-show="isVisible">
                                                        <label>
                                                            Virtual Path<span style="color:red" ng-show="menuSetting.virtualPath.$invalid">
                                                                <span ng-show="menuSetting.virtualPath.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <input type="text" name="virtualPath" class="form-control" placeholder="/#/Path name" ng-model="VIRTUAL_PATH" pattern="" required />
                                                        @*<div ng-messages="menuSetting.virtualPath.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required.</span>
                                                                <div ng-message="pattern">Pattern not valid</div>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Icon Path</label>
                                                        <input type="text" id="IconPath" name="IconPath" data-placement="bottomRight" class="form-control OK icp icp-auto" ng-model="ICON_PATH" />
                                                        <div ng-messages="menuSetting.IconPath.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Pre Menu No<span style="color:red" ng-show="menuSetting.menuItem.$invalid">
                                                                <span ng-show="menuSetting.menuItem.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <select class="form-control input-medium select2me" name="menuItem" ng-model="selectedPreMenuItem" required>
                                                            <option ng-selected="true" value="00">---/ Root---</option>
                                                            <option value="{{item.MENU_NO}}" ng-repeat="item in preMenuItem">{{item.MENU_EDESC}}</option>
                                                        </select>
                                                        @*<div ng-messages="menuSetting.menuItem.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">Select Item.</span>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>
                                                            Module No<span style="color:red" ng-show="menuSetting.moduleAbbs.$invalid">
                                                                <span ng-show="menuSetting.moduleAbbs.$error.required">*</span>
                                                            </span>
                                                        </label>
                                                        <input type="text" name="moduleAbbs" class="form-control" ng-model="moduleAbbs" id="moduleAbbs" placeholder="Enter module abbreviation" required />
                                                        @*<div ng-messages="menuSetting.moduleAbbs.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required.</span>
                                                                <div ng-message="pattern">Pattern not valid</div>
                                                            </div>
                                                        </div>*@
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="row">
                                                        <div class="col-md-9">
                                                            <div class="form-group">
                                                                <label>Color</label>
                                                                <input type="text" name="menucolor" ng-model="menuColor" id="menuColor" class="form-control" onchange="colorbind()" placeholder="Put color" />
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">

                                                                <label style="margin-top:32px"></label>
                                                                <input type="color" id="colorpicker" ng-model="colorpicker" style="margin-left:-32px" onchange="pickcolor()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <label>Description</label>
                                                        <input type="text" name="menuDescription" ng-model="menuDescription" id="menuDescription" class="form-control" placeholder="Enter description" />

                                                    </div>
                                                </div>

                                                <div class="col-sm-6" style="display:none;">
                                                    <div class="form-group">
                                                        <label>
                                                            Company Code
                                                        </label>
                                                        <input type="text" name="companycode" ng-text="01" placeholder="01" ng-value="01" disabled class="form-control" ng-model="COMPANY_CODE" />
                                                        <div ng-messages="menuSetting.companycode.$error" ng-if="menuSetting.$submitted">
                                                            <div ng-message="required">
                                                                <span class="required">This field is required</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer float-clear">
                                            <div class="col-md-12">
                                                <input type="submit" class="btn btn-default btn-sm" value="Save" ng-click="AddUpdateMenu(menuSetting.$valid)" />
                                                <input type="button" class="btn btn-danger btn-sm" value="Cancel" ng-click="Cancel()" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </form>

                    </div>
                    <div ng-show="divConfirm">
                        <div class="modal show" id="divConfirm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">Menu Delete</h4>
                                    </div>
                                    <div class="modal-body">
                                        <h4> Are you sure to delete ?</h4>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" ng-click="deleteMenu()" class="btn btn-primary">Yes</button>
                                        <button type="button" class="btn btn-secondary" ng-click="Cancel()" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="a col-md-3 col-lg-3">
                        <div class="divList">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet portlet-sortable  light bordered">
                                        <div class="portlet-title ui-sortable-handle">
                                            <div class="caption">
                                                <i class="fa fa-outdent"></i>
                                                <span class="caption-subject bold uppercase font-green-haze">Menu Tree View</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse">
                                                </a>
                                                <a href="#portlet-config" data-toggle="modal" class="config">
                                                </a>
                                                <a href="javascript:;" class="reload">
                                                </a>
                                                <a href="javascript:;" class="remove">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body" style="min-height:500px !important">
                                            @Html.Partial("~/Views/Shared/_MenuTreeView.cshtml", false)
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                        </div>

                        @*<div>
                                <h4>TreeView</h4>
                                <div id="menuTreeView" style="max-height:800px;"></div>
                            </div>*@
                    </div>
                    <div class="a col-md-9 col-lg-9">
                        <div class="divList">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN EXAMPLE TABLE PORTLET-->
                                    <div class="portlet portlet-sortable  light bordered">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-list-ol"></i>
                                                <span class="caption-subject bold uppercase font-green-haze">Menu List</span>
                                            </div>
                                            <div class="tools">
                                                <a href="javascript:;" class="collapse">
                                                </a>
                                                <a href="#portlet-config" data-toggle="modal" class="config">
                                                </a>
                                                <a href="javascript:;" class="reload" ng-click="ReloadGrid()">
                                                </a>
                                                <a href="javascript:;" class="remove">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-toolbar">
                                                <div class="row">
                                                    <div class="col-xs-6 col-md-6">
                                                        <div class="btn-group">
                                                            <button ng-click="AddMenuDiv(this)" class="btn green">
                                                                <i class="fa fa-plus icongap"></i>Add New
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 col-md-6" id="custom_menucontrol">
                                                        <a href="~/MenuControl/Index" class="btn green pull-right">
                                                            <i class="icon-link icongap"></i> Menu Control

                                                        </a>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="tblresponsive">
                                                <table class="table table-hover table-bordered datatable menutable">
                                                    <thead>
                                                        <tr>
                                                            <th class="sn"><b>SN</b></th>
                                                            @*<th class="menu-no"><b>Menu No</b></th>*@
                                                            <th class="desc"><b>Menu EDESC</b></th>
                                                            <th class="module"><b>Module Name</b></th>
                                                            <th class="path"><b>Full Path</b></th>
                                                            <th style="width:15% !important"><b>Virtual Path</b></th>
                                                            <th style="width:12%"><b>Module Code</b></th>
                                                            @*<th><b>Color</b></th>*@
                                                            <th style="width:15% !important"><b>Description</b></th>
                                                            <th class="prm"><b>Permission</b></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="menu in Menus">
                                                            <td style="text-align:right">
                                                                {{$index+1}}
                                                            </td>
                                                            @*<td style="text-align:right ">
                                                                    {{menu.MENU_NO}}
                                                                </td>*@
                                                            <td>
                                                                {{menu.MENU_OBJECT_NAME}}
                                                            </td>
                                                            @*<td style="display:none;">
                                                                    {{menu.MODULE_CODE}}
                                                                </td>*@
                                                            <td>
                                                                {{menu.MODULE_EDESC}}
                                                            </td>
                                                            @*<td style="display:none">
                                                                    {{menu.COMPANY_CODE}}
                                                                </td>*@
                                                            <td>
                                                                {{menu.FULL_PATH}}
                                                            </td>
                                                            <td>
                                                                {{menu.VIRTUAL_PATH}}
                                                            </td>
                                                            @*<td style="display:none;">
                                                                    {{menu.PRE_MENU_NO}}
                                                                </td>
                                                                <td style="display:none;">
                                                                    {{menu.ICON_PATH}}
                                                                </td>*@
                                                            <td>
                                                                {{menu.MODULE_ABBR}}
                                                            </td>
                                                            @*<td>
                                                                    {{menu.COLOR}}
                                                                </td>*@
                                                            <td>
                                                                {{menu.DESCRIPTION}}
                                                            </td>
                                                            <td>
                                                                <span ng-click="editMenu(menu)" class="btn btn-primary small">Edit</span>
                                                                <span ng-click="setTemp(menu)" class="btn btn-danger small" data-toggle="modal" data-target="#divConfirm">Delete</span>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END EXAMPLE TABLE PORTLET-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT-->
            </div>
        </div>
    </div>
</div>

@*<script src="~/Scripts/angular.min.js"></script>*@
@*<script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-messages.min.js"></script>
    <script src="~/Scripts/ng-grid.min.js"></script>
    <script src="~/Scripts/ui-grid.min.js"></script>
    <script src="~/Scripts/ngScript/Module.js"></script>
    <script src="~/Scripts/ngScript/Service.js"></script>
    <script src="~/Scripts/ngScript/Controller.js"></script>
    <script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/ngScript/angularjs-dropdown-multiselect.min.js"></script>*@
<script src="~/Scripts/ngScript/ui-bootstrap-tpls-2.1.3.min.js"></script>
<script src="~/Scripts/ngScript/angular ui select/select2.js"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Module.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Service.js")"></script>
<script src="@Scripts.Url("~/Scripts/ngScript/Controller.js")"></script>
<script src="~/Scripts/plugins/dataTables/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/dataTables/dataTables.bootstrap.js"></script>
<link href="@Styles.Url("~/Content/MainTheme/fontawesome-iconpicker-1.0.0/dist/css/fontawesome-iconpicker.css")" rel="stylesheet" />
<script src="@Styles.Url("~/Content/MainTheme/fontawesome-iconpicker-1.0.0/dist/js/fontawesome-iconpicker.js")"></script>
<script>
    function pickcolor() {
        
        var menuColor = $("#colorpicker").val();
        $("#menuColor").val(menuColor);
    }
    function colorbind() {
        var value = $("#menuColor").val();
        $("#colorpicker").val(value);
    }
    CheckBoxChecked = function (val) {
        if (val == "G") {
            $('.checker').children("span").addClass('checked');
        }
        else
            $('.checker').children("span").removeClass('checked');
    }
    //angular.module("erpApp", ["kendo.directives"])
    //    .controller("menuSettingController", function ($scope, crudAJService) {
    //    $scope.gridOptions = {
    //        pageable: true,
    //        dataSource: {
    //            pageSize: 5,
    //            transport: {
    //                read: function (e) {
    //                    var getMenuData = crudAJService.getMenus();
    //                    getMenuData.then(function success(response) {
    //                                          e.success(response.data)
    //                                      }, function error(response) {
    //                                          alert('something went wrong')
    //                                      })
    //                },
    //            }
    //        },
    //        columns: [{
    //            field: "SN",
    //            title: "SN",
    //            width: "120px"
    //        }, {
    //            field: "MENU_NO",
    //            title: "Menu NO",
    //            width: "120px"
    //        }, {
    //            field: "MENU_EDESC",
    //            title: "Menu EDESC",
    //            width: "120px"
    //        }, {
    //            field: "MODULE_CODE",
    //            title: "Module Name",
    //            width: "120px"
    //        }, {
    //            field: "MENU_EDESC",
    //            title: "Full Path",
    //            width: "120px"
    //        }, {
    //            field: "MENU_EDESC",
    //            title: "Virtual Path",
    //            width: "120px"
    //        }],
    //    }
    //    });

    RemoveDataTableGrid = function () {
        var table = $('.datatable').DataTable();
        table.destroy();
    };

    DataTableGrid = function () {
        $('.datatable').DataTable();
    }
    testSelect2 = function () {
        $('select.select2me').each(function (index, item) {
            var val = $(item).select2('val');
            $(item).select2('val', val);
        });
    }

    $(document).ready(function () {
        $('.icp-auto').iconpicker();
        $('.icp-opts').data('iconpicker');

        $('.reload').on('click', function () {
            GetMenuInTreeView();
        });

        //$(document).on("click", function (e) {
        //    var el = $(e.target);
        //    if (el.parents("#s2id_searchBox").length == 0) {
        //        $("#searchBox").select2("close");
        //    }
        //});
    });


</script>
@*<script>
        //(function () {

        //    $(function () {
        //        $('#menuTreeView').slimScroll({
        //        });
        //    });

        //})();

        $(document).ready(function () {

            document.DataTableTest = function () {
                setTimeout(function () {
                    $('.datatable').DataTable();
                }, 200)
            }

            GetMenuInTreeView = function () {
                var tree = $("#menuTreeView").data("kendoTreeView");
                tree.dataSource.read();
            }

            var loadAllMenusUrl = window.location.protocol + "//" + window.location.host + "/api/MenuSettings/GetAllMenusNodes";
            var loadMenusByNodeUrl = window.location.protocol + "//" + window.location.host + "/api/MenuSettings/GetAllMenusByMenuNo";
            var localData;
            var menuTreeDataSource = new kendo.data.HierarchicalDataSource({
                transport: {
                    read: function (options) {
                        if (typeof options.data.menuNo !='undefined') {
                            var id = options.data.menuNo;
                            var data = getNextLevel(localData, id);
                            if (data) {
                                options.success(data);
                            } else {
                                var currentnode = get(localData, id);
                                $.ajax({
                                    url: loadMenusByNodeUrl,
                                    data: {
                                        menuNo: currentnode.menuNo,
                                        level: currentnode.Level,
                                        masterCode: currentnode.masterMenuCode
                                    },
                                    type: "GET",
                                    success: function (result) {
                                        setTimeout(function () {
                                            var res = result;
                                            addToLocalData(localData, res, currentnode.menuNo);
                                            options.success(res);
                                        }, 1000);

                                    },
                                    error: function (result) {
                                        options.error(result);
                                    }
                                });
                            }
                        }
                        else {
                            $.ajax({
                                url: loadAllMenusUrl,
                                type: "GET",
                                success: function (result) {
                                    setTimeout(function () {
                                        options.success(result);
                                    }, 1000);
                                    localData = result;
                                },
                                error: function (result) {
                                    options.error(result);
                                }
                            });
                        }
                    }
                },
                schema: {
                    model: {
                        id: "menuNo",
                        hasChildren: "hasMenus",
                        masterMCode: "masterMenuCode"
                    }
                }
            });
            $("#menuTreeView").kendoTreeView({
                autoScroll: true,
                autoBind: true,
                dataSource: menuTreeDataSource,
                dataTextField: "menuName",
                height: 400,
                scrollable: {
                    virtual: true
                },
            });

            //function onSelect()
            //{
            //    angular.element(document.getElementById('menuSettingController')).scope().GetAllMenus();
            //}

            $("#menuTreeView").data("kendoTreeView").expand(".treeNode");
            //Checks if nodes are already in the tree and returns it if it does
            function getNextLevel(data, id) {
                if (!id) {
                    return data;
                } else {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].menuNo == id) {
                            return data[i].Items;
                        } else if (data[i].Items) {
                            for (var j = 0; j < data[i].Items.length; j++) {
                                if (data[i].Items[j].menuNo == id) {
                                    return data[i].Items[j].Items;
                                }
                            }
                        }
                    }
                }
            }

            //Get Tree object for a given menuno
            function get(data, id) {
                if (id) {
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].menuNo == id) {
                            return data[i];
                        }
                        else if (data[i].Items) {
                            for (var j = 0; j < data[i].Items.length; j++) {
                                if (data[i].Items[j].menuNo == id) {
                                    return data[i].Items[j];
                                }
                            }
                        }
                    }
                }
                return null;
            }

            //Add newly read nodes to cached tree
            function addToLocalData(localdata, data, id) {
                if (!id) {
                    return localdata;
                } else {
                    for (var i = 0; i < localdata.length; i++) {
                        if (localdata[i].menuNo == id) {
                            localdata[i].Items = data;
                            return;
                        } else {
                            if (localdata[i].Items) {
                                for (var j = 0; j < localdata[i].Items.length; j++) {
                                    if (localdata[i].Items[j].menuNo == id) {
                                        localdata[i].Items[j].Items = data;
                                        return;
                                    }
                                }
                            }
                        }
                    }
                }
            }

        });
        $(function () {
            $('#menuTreeView').slimScroll({

            });
        });

    </script>*@


