@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">




    /*      Added for sales    */






    .ui-jqgrid {
        width: 100% !important;
    }

    .ui-autocomplete {
        width: 300px !important;
    }

    .ui-jqgrid-htable {
        width: 100% !important;
    }

    .ui-jqgrid-hbox {
        width: 100% !important;
    }

    .ui-jqgrid-view {
        min-height: 290px !important;
    }

    .ui-jqgrid-hbox {
        padding-right: 0 !important;
    }

    .ui-search-table {
        height: 30px;
    }

    .ui-jqgrid-btable {
        width: 100% !important;
        table-layout: auto !important;
    }

    .ui-jqgrid .ui-pg-input {
        height: 18px !important;
    }

    .ui-jqdialog {
        width: 450px !important;
        margin: 0 auto !important;
        position: absolute !important;
        /* top: 0 !important; */
        left: 42% !Important;
    }

    .ui-add {
        height: 25px !important;
        padding-top: 0px !important;
        float: left !important;
    }

    .opsel {
        width: 80% !important;
        margin-bottom: 10px !important;
        float: left !important;
    }

    .ui-jqdialog select, .ui-jqdialog input {
        padding: 5px;
    }

    .input-elm {
        height: 30px !important;
    }

    .ui-add {
        height: 27px !important;
        padding: 2px 8px !important;
    }

    .ui-del {
        height: 30px !important;
        padding: 2px 8px !important;
    }

    .ui-jqdialog-titlebar-close span.ui-icon-closethick {
        background-color: #3e3e3e;
        top: -10px;
        position: absolute !important;
        right: -9px !important;
    }

    .ui-jqdialog-title {
        float: none !important;
    }

    .ui-jqdialog-titlebar {
        border: none !important;
        background: #515151 !important;
    }

    .ui-jqgrid .ui-jqgrid-htable th div {
        padding-bottom: 12px;
    }

    tr.GroupAccount td, tr.SubGroupAccount td {
        font-weight: 100 !important;
        font-size: 13px;
        font-family: arial;
        padding-top: 3px;
        padding-bottom: 2px;
    }

    .ui-jqgrid tr.jqgrow td {
        padding: 3px 5px !important;
    }

    .ui-jqgrid .ui-search-table .ui-search-input > input, .ui-jqgrid .ui-search-table .ui-search-input > select {
        border: 1px solid #ddd !important;
    }
/*      Added for sales till here   */






    
    .tabs {
        display: inline-block;
        line-height: -0.571 !important;
        color: #5E5E5E;
        width: 100%;
    }

    .tab-links:after {
        display: block;
        clear: both;
        content: '';
    }

    .tab-links li {
        float: left;
        padding-left: 5px;
        list-style: none;
        font-weight: normal;
        color: #5E5E5E;
    }

    .tab-links a {
        transition: all linear 0.15s;
        font-weight: normal;
        color: #5E5E5E;
    }

        .tab-links a:hover {
            text-decoration: none;
            font-weight: bold;
        }

    li.active1 a, li.active1 a:hover {
        color: #4c4c4c;
        text-decoration: none;
        font-weight: bold;
        visibility: visible;
    }

    li.active2 a, li.active2 a:hover {
        color: #4c4c4c;
        text-decoration: none;
        font-weight: bold;
        visibility: hidden;
    }

    .tab-content {
        padding: 0px;
        background: #FCFCFC;
        border: 0px solid #CCCCCC;
        display:block;
    }

    .tab {
        display: none;
    }

    .tab.active1 {
        display: block;
    }

    #groups li {
        margin: 0 3px 3px 3px;
        padding: 0.4em;
        padding-left: 1.5em;
        height: 18px;
    }

    #groups li span {
        position: absolute;
        margin-left: -1.3em;
    }
</style>
<div class="row">
    <div class="col-lg-12" style="background-color: #f5f5f5; height: 38px; margin-left: 0px; padding-left: 0px; font-variant-caps:all-petite-caps">
        <div style="float: left; height: 38px">
            <ol class="breadcrumb" style="height: 38px; margin-left: -27px; padding-left: 0px; ">
                <li>
                    <div class="tabs">
                        <ul class="tab-links">
                            <li>
                                <i class="fa fa-home"></i><a href="@Url.Action("Index","Home")">Home </a>
                                <i class="fa fa-angle-double-right"></i>
                                <a href="@Url.Action("Index", "TrialBalance")">Trail Balance </a>
                                <i class="fa fa-angle-double-right"></i>
                            <li id="tabGroup1" class="active1"><a href="@Url.Action("Index", "TrialBalance")">Group</a></li>
                            <li id="tabSubGroup1" class="active2"><a href="#tabSubGroup"  onclick="document.getElementById('LevelAppend').innerHTML = '1';var id = $('#Append1').children('span').attr('id');document.getElementById('UrlAppend').innerHTML = id;"><i class="fa fa-angle-double-right" style="padding-right: 5px;"></i>Sub Group</a></li>
                            <li id="tabAccountHead1" class="active2"><a href="#tabAccountHead" onclick="document.getElementById('LevelAppend').innerHTML = '2';var id = $('#Append2').children('span').attr('id');document.getElementById('UrlAppend').innerHTML = id;""><i class="fa fa-angle-double-right" style="padding-right: 5px;"></i>SG Detail</a></li>
                            <li id="tabDate1" class="active2"><a href="#tabDate" onclick="document.getElementById('LevelAppend').innerHTML = '3';var id = $('#Append3').children('span').attr('id');document.getElementById('UrlAppend').innerHTML = id;""><i class="fa fa-angle-double-right" style="padding-right: 5px;"></i>Account Head</a></li>
                            <li id="tabVoucher1" class="active2"><a href="#tabVoucher" onclick="document.getElementById('LevelAppend').innerHTML = '4';var id = $('#Append4').children('span').attr('id');document.getElementById('UrlAppend').innerHTML = id;""><i class="fa fa-angle-double-right" style="padding-right:5px;"></i>AC Detail</a></li>
                        </ul>
                    </div>
                </li>
            </ol>
        </div>
        <div class="btn-group" role="group" style="float: right; padding-top:6px;">
            @Html.Partial("~/Views/TrialBalance/Search.cshtml")
        </div>
        <div style="clear:both"></div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    @Html.Partial("~/Views/TrialBalance/SearchContent.cshtml")
    <div class="tabs">
           <div class="tab-content">
            <div id="tabGroup" class="tab active1">

                <div id="groups">
                    <div class="ui-widget-content">
                        <ol>
                            <li class="placeholder">Drop headers here</li>
                        </ol>
                    </div>
                </div>
                <div id="Sambhoo">
                    <table id="JQGridGroupBy"></table>
                </div>

                <div id="JQGridGroupBy_pager"></div>
                <div class="page-content-offset"></div>
            </div>
            <div id="tabSubGroup" class="tab">
                @*<div onclick="document.getElementById('SubGroupScreen').style.display = 'none';" class="cancel">&times;</div>*@
                <table id="JQGridSubGroup" style="width: 100%"></table>
                <div id="JQGridSubGroup_pager"></div>
            </div>
            <div id="tabAccountHead" class="tab">
                <table id="JQGridLedger" style="width: 100%"></table>
                <div id="JQGridLedger_pager"></div>
            </div>
            <div id="tabDate" class="tab">
                <table id="JQGridDetails" style="width: 100%; "></table>
                <div id="JQGridDetails_pager"></div>
            </div>
            <div id="tabVoucher" class="tab">
                <table id="JQGridVoucher" style="width: 100%"></table>
                <div id="JQGridVoucher_pager"></div>
            </div>
        </div>
    </div>
    <div id="cover">
    </div>
    <script>
        jQuery(document).ready(function () {
            jQuery(document).ready(function () {
                jQuery('.tabs .tab-links a').on('click', function (e) {
                    var currentAttrValue = jQuery(this).attr('href');
                    jQuery('.tabs ' + currentAttrValue).siblings().slideUp(400);
                    jQuery('.tabs ' + currentAttrValue).delay(400).slideDown(400);
                    //jQuery('.tabs ' + currentAttrValue).slideDown(400).siblings().slideUp(400);
                    jQuery(this).parent('li').addClass('active1').siblings().removeClass('active1');
                    if (currentAttrValue == '#tabGroup') {
                        $('#tabGroup1').addClass('active1').removeClass('active2');;
                        $('#tabSubGroup1').addClass('active2').removeClass('active1');;
                        $('#tabAccountHead1').addClass('active2').removeClass('active1');;
                        $('#tabDate1').addClass('active2').removeClass('active1');;
                        $('#tabVoucher1').addClass('active2').removeClass('active1');;
                    }
                    if (currentAttrValue == '#tabSubGroup') {
                        $('#tabSubGroup1').addClass('active1').removeClass('active2');;
                        $('#tabAccountHead1').addClass('active2').removeClass('active1');;
                        $('#tabDate1').addClass('active2').removeClass('active1');;
                        $('#tabVoucher1').addClass('active2').removeClass('active1');;
                    }
                    if (currentAttrValue == '#tabAccountHead') {
                        $('#tabAccountHead1').addClass('active1').removeClass('active2');;
                        $('#tabDate1').addClass('active2').removeClass('active1');;
                        $('#tabVoucher1').addClass('active2').removeClass('active1');;
                    }
                    if (currentAttrValue == '#tabDate') {
                        $('#tabDate1').addClass('active1').removeClass('active2');;
                        $('#tabVoucher1').addClass('active2').removeClass('active1');
                    }
                    if (currentAttrValue == '#tabVoucher') {
                        $('#tabVoucher1').addClass('active1').removeClass('active2');;
                    }
                });
            });
        });
        var lastID = null;
        $.jgrid.no_legacy_api = true;
        $.jgrid.useJSON = true;

        var gridId = 'JQGridGroupBy';

        $("#JQGridGroupBy").jqGrid({
            url: "/TrialBalance/OnTrialBalanceGroupByRequested",
            mtype: "GET",
            datatype: "json",
            page: 1,
            jsonReader: { id: "ACC_CODE" },
            prmNames: { id: "ACC_CODE" },
            colNames: ["Account Code", "Account Head", "Debit", "Credit"],
            colModel: [
                { key: true, width: 140, name: "ACC_CODE", index: 'ACC_CODE', sortable: false, resizable: true, hidden: true, searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                { width: 520, name: "ACC_EDESC", index: 'ACC_EDESC', resizable: true, sorttype: "string", searchoptions: { sopt: ['eq', 'ne', 'cn'] } },
                { width: 180, name: "DR_AMOUNT", index: 'DR_AMOUNT', formatter: "number", sorttype: "number", align: "right", resizable: true },
                {
                    width: 180, name: "CR_AMOUNT", index: 'CR_AMOUNT', formatter: "number", sorttype: "number", align: "right", resizable: true,
                    searchoptions: false
                },
            ],
            loadtext: 'Loading trial balance...',
            pager: "#JQGridGroupBy_pager",
            multipleSearch: true,
            loadonce: true,
            footerrow: true,
            //  FUNCTION TO CALCULATE THE TOTAL OF CR_AMOUNT AND DR_AMOUNT AND POPULATE IT ON TOTAL
            loadComplete: function () {
                var $grid = $('#JQGridGroupBy');
                var totalDebit = $grid.jqGrid('getCol', 'DR_AMOUNT', false, 'sum');
                $grid.jqGrid('footerData', 'set', { 'DR_AMOUNT': totalDebit });
                var totalCredit = $grid.jqGrid('getCol', 'CR_AMOUNT', false, 'sum');
                $grid.jqGrid('footerData', 'set', { 'CR_AMOUNT': totalCredit });
                var $self = $(this),
                    localData = $self.jqGrid("getGridParam", "data"),
                    itemCount = localData.length,
                    i,
                    item;
                $self.jqGrid("footerData", "set", {
                    ACC_EDESC: "Total:",
                    DR_AMOUNT: totalDebit,
                    CR_AMOUNT: totalCredit
                });
            },
            //   END OF FUNCTION.
            onSelectRow: function (id) {
                var currentAttrValue = jQuery('#tabSubGroup').attr('href');
                jQuery('#tabSubGroup').siblings().slideUp(400);
                jQuery('#tabSubGroup').delay(400).slideDown(400);
                $('#tabSubGroup1').addClass('active1').removeClass('active2').siblings().removeClass('active1');
                if (lastID != null) {
                    var lastRowData = jQuery(this).getRowData(lastID);
                    if (lastRowData["HasOrders"] == "-") {
                        $("#JQGridGroupBy").jqGrid("setCell", lastID, "HasOrders", "+");
                    }
                }
                var rowData = jQuery(this).getRowData(id);
                var hasOrders = rowData["HasOrders"];
                var company = rowData["CompanyName"];
                if (hasOrders == "+") $("#JQGridGroupBy").jqGrid("setCell", id, "HasOrders", "-");
                jQuery("#JQGridSubGroup")
                    .setGridParam({ url: "/TrialBalance/OnTrialBalanceSubGroupByRequested?id=" + id.replace("&", "__"), page: 1 })
                    .setCaption("<span id='Append1'><span id=" + id + "><b>Details of Account Code : " + id + "</b></span></span>")
                    .trigger('reloadGrid');
                    lastID = id;
                    document.getElementById("UrlAppend").innerHTML = lastID;
                    document.getElementById('LevelAppend').innerHTML = '1';
            },
            gridComplete: function () {
                var JQGridSubGroupcount = jQuery("#JQGridSubGroup").jqGrid('getGridParam', 'records');
                if (JQGridSubGroupcount > 0) $("#divJQGridSubGroup").show();
                else {
                    $("#divJQGridSubGroup").show();
                };
            },
            height: "100%",
            scroll: false,
            grouping:true,
            width: null,
            shrinkToFit: false,
            ignoreCase: true,
            rowList: [10, 20, 50, 100, 200, 500],
            recordtext: "{2} Records", // overrides default set in grid.locale-en.js
            viewrecords: true, // controls visibility of recordtext
            rowNum: 20, // effectively unlimited page size
            sortname: 'ACC_CODE',
            sortorder: 'desc',
            loadError: JQGridDemo.jqGrid_aspnet_loadErrorHandler,
        }).navGrid('#JQGridGroupBy_pager', { view: false, del: false, add: false, edit: false }, {}, {}, {}, { closeOnEscape: true, multipleSearch: true, closeAfterSearch: true }, {});
        $("#JQGridGroupBy_pager_center").show(); // Hides the central paging control
        jQuery('#JQGridGroupBy').bindKeys(); // binds the up/down arrow keys:
        
        var $footRow = $("#JQGridGroupBy").closest(".ui-jqgrid-bdiv").next(".ui-jqgrid-sdiv").find(".footrow");

        jQuery("#JQGridGroupBy").jqGrid('filterToolbar',
                    { stringResult: true, searchOnEnter: false, defaultSearch: "cn" });

        jQuery("#JQGridGroupBy").jqGrid('setColProp', 'ACC_EDESC',
            {
                searchoptions: {
                    sopt: ['cn'],
                    dataInit: function (elem) {
                        $(elem).autocomplete({
                            source: getUniqueNames('ACC_EDESC'),
                            delay: 0,
                            minLength: 0
                        });
                    }
                }
            });

        var getUniqueNames = function (columnName) {
            var data = jQuery("#JQGridGroupBy").jqGrid('getGridParam', 'data');
            var uniqueTexts = [], text, textsMap = {}, i;

            for (i = 0; i < data.length; i++) {

                text = data[i][columnName];

                if (text !== undefined && textsMap[text] === undefined) {
                    textsMap[text] = true;
                    uniqueTexts.push(text);
                }
            }
            return uniqueTexts;
        };
        
        $('tr.ui-jqgrid-labels th div').draggable({
            appendTo: 'body',
            helper: 'clone'
        });

        $('#groups ol').droppable({
            activeClass: 'ui-state-default',
            hoverClass: 'ui-state-hover',
            accept: ':not(.ui-sortable-helper)',
            drop: function (event, ui) {
                var $this = $(this);
                $this.find('.placeholder').remove();
                var groupingColumn = $('<li></li>').attr('data-column', ui.draggable.attr('id').replace('jqgh_' + gridId + '_', ''));
                $('<span class="ui-icon ui-icon-close"></span>').click(function () {
                    $(this).parent().remove();
                    $('#' + gridId).jqGrid('groupingRemove');
                    $('#' + gridId).jqGrid('groupingGroupBy', $('#groups ol li:not(.placeholder)').map(function () { return $(this).attr('data-column'); }).get());
                    if ($('#groups ol li:not(.placeholder)').length === 0) {
                        $('<li class="placeholder">Drop headers here</li>').appendTo($this);
                    }
                }).appendTo(groupingColumn);
                groupingColumn.append(ui.draggable.text());
                groupingColumn.appendTo($this);
                $('#' + gridId).jqGrid('groupingRemove');
                $('#' + gridId).jqGrid('groupingGroupBy', $('#groups ol li:not(.placeholder)').map(function () { return $(this).attr('data-column'); }).get());
            }
        }).sortable({
            items: 'li:not(.placeholder)',
            sort: function () {
                $(this).removeClass('ui-state-default');
            },
            stop: function () {
                $('#' + gridId).jqGrid('groupingRemove');
                $('#' + gridId).jqGrid('groupingGroupBy', $('#groups ol li:not(.placeholder)').map(function () { return $(this).attr('data-column'); }).get());
            }
        });

        var paramsJQGridSubGroup = {};
        paramsJQGridSubGroup.originalColumnWidths = [];
        paramsJQGridSubGroup.originalGridWidth = 0;
        paramsJQGridSubGroup.initialized = false;
        $("#JQGridSubGroup").jqGrid({
            url: "/TrialBalance/OnTrialBalanceSubGroupByRequested",
            mtype: "GET",
            datatype: "json",
            page: 1,
            jsonReader: { id: "ACC_EDESC" },
            prmNames: { id: "ACC_CODE" },
            colNames: ["Date", "Account Head", "Debit", "Credit"],
            colModel: [
                { key: true, width: 140, name: "ACC_CODE", sortable: false, hidden: true },
                { width: 230, name: "ACC_EDESC" },
                { width: 220, name: "DR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
                { width: 210, name: "CR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
            ],
            caption: "Detail",
            pager: "#JQGridSubGroup_pager",
            onSelectRow: function (id) {
                var currentAttrValue = jQuery('#tabAccountHead').attr('href');
                jQuery('#tabAccountHead').siblings().slideUp(400);
                jQuery('#tabAccountHead').delay(400).slideDown(400);
                $('#tabAccountHead1').addClass('active1').removeClass('active2').siblings().removeClass('active1');
                if (lastID != null) {
                    var lastRowData = jQuery(this).getRowData(lastID);
                    if (lastRowData["HasOrders"] == "-") {
                        $("#JQGridSubGroupBy").jqGrid("setCell", lastID, "HasOrders", "+");
                    }
                }
                var rowData = jQuery(this).getRowData(id);
                var hasOrders = rowData["HasOrders"];
                var company = rowData["CompanyName"];
                if (hasOrders == "+") $("#JQGridSubGroupBy").jqGrid("setCell", id, "HasOrders", "-");
                jQuery("#JQGridLedger")
                    .setGridParam({ url: "/TrialBalance/OnTrialBalanceLedgerRequested?id=" + id.replace("&", "__"), page: 1 })
                    .setCaption("<span id='Append2'><span id=" + id + "><b>Details of Account Code : " + id + "</b></span></span>")
                    .trigger('reloadGrid');
                lastID = id;
                document.getElementById("UrlAppend").innerHTML = lastID;
                document.getElementById('LevelAppend').innerHTML = '2';
            },
            gridComplete: function () {
                var JQGridSubGroupcount = jQuery("#JQGridLedger").jqGrid('getGridParam', 'records');
                if (JQGridSubGroupcount > 0) $("#divJQGridLedger").show();
                else {
                    $("#divJQGridLedger").show();
                };
            },
            // Customizations
            height: "100%",
            width: null,
            shrinkToFit: false,
            scroll: false, // controls visibility of recordtext
            recordtext: "{2} Records", // overrides default set in grid.locale-en.js
            viewrecords: true,
            loadError: JQGridDemo.jqGrid_aspnet_loadErrorHandler,
        });
        $("#JQGridSubGroup_pager_center").hide(); // Hides the central paging control
        jQuery('#JQGridSubGroup').bindKeys(); // binds the up/down arrow keys:

        var paramsJQGridLedger = {};
        paramsJQGridLedger.originalColumnWidths = [];
        paramsJQGridLedger.originalGridWidth = 0;
        paramsJQGridLedger.initialized = false;
        $("#JQGridLedger").jqGrid({
            url: "/TrialBalance/OnTrialBalanceLedgerRequested",
            mtype: "GET",
            datatype: "json",
            page: 1,
            jsonReader: { id: "ACC_CODE" },
            prmNames: { id: "ACC_CODE" },
            colNames: ["Account Code", "Account Head", "Debit", "Credit"],
            colModel: [
                { key: true, width: 140, name: "ACC_CODE", sortable: false },
                { width: 230, name: "ACC_EDESC" },
                { width: 220, name: "DR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
                { width: 210, name: "CR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
            ],
            caption: "Detail",
            pager: "#JQGridLedger_pager",
            onSelectRow: function (id) {
                var currentAttrValue = jQuery('#tabDate').attr('href');
                jQuery('#tabDate').siblings().slideUp(400);
                jQuery('#tabDate').delay(400).slideDown(400);
                $('#tabDate1').addClass('active1').removeClass('active2').siblings().removeClass('active1');
                if (lastID != null) {
                    var lastRowData = jQuery(this).getRowData(lastID);
                    if (lastRowData["HasOrders"] == "-") {
                        $("#JQGridLedger").jqGrid("setCell", lastID, "HasOrders", "+");
                    }
                }
                var rowData = jQuery(this).getRowData(id);
                var hasOrders = rowData["HasOrders"];
                var company = rowData["CompanyName"];
                if (hasOrders == "+") $("#JQGridLedger").jqGrid("setCell", id, "HasOrders", "-");
                jQuery("#JQGridDetails")
                    .setGridParam({ url: "/TrialBalance/OnTrialBalanceDetailRequested?id=" + id.replace("&", "__"), page: 1 })
                    .setCaption("<span id='Append3'><span id=" + id + "><b>Details of Account Code : " + id + "</b></span></span>")
                    .trigger('reloadGrid');
                lastID = id;
                document.getElementById("UrlAppend").innerHTML = lastID;
                document.getElementById('LevelAppend').innerHTML = '3';
            },
            gridComplete: function () {
                var JQGridSubGroupcount = jQuery("#JQGridLedger").jqGrid('getGridParam', 'records');
                if (JQGridSubGroupcount > 0) $("#divJQGridLedger").show();
                else {
                    $("#divJQGridLedger").show();
                };
            },
            scroll: false, // controls visibility of recordtext
            width: null,
            shrinkToFit: false,
            height: "100%",
            recordtext: "{2} Records", // overrides default set in grid.locale-en.js
            viewrecords: true,
            loadError: JQGridDemo.jqGrid_aspnet_loadErrorHandler,
        });
        $("#JQGridLedger_pager_center").hide(); // Hides the central paging control
        jQuery('#JQGridLedger').bindKeys(); // binds the up/down arrow keys:


        var paramsJQGridDetails = {};
        paramsJQGridDetails.originalColumnWidths = [];
        paramsJQGridDetails.originalGridWidth = 0;
        paramsJQGridDetails.initialized = false;
        $("#JQGridDetails").jqGrid({
            url: "/TrialBalance/OnTrialBalanceDetailRequested",
            mtype: "GET",
            datatype: "json",
            page: 1,
            jsonReader: { id: "ACC_EDESC" },
            prmNames: { id: "ACC_CODE" },
            colNames: ["Account Code", "Account Head", "Debit", "Credit"],
            colModel: [
                { key: true, width: 225, name: "ACC_CODE" },
                { width: 165, name: "ACC_EDESC" },
                { width: 190, name: "DR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
                { width: 190, name: "CR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
            ],
            caption: "Detail",
            pager: "#JQGridDetails_pager",
            onSelectRow: function (id) {
                var currentAttrValue = jQuery('#tabVoucher').attr('href');
                jQuery('#tabVoucher').siblings().slideUp(400);
                jQuery('#tabVoucher').delay(400).slideDown(400);
                $('#tabVoucher1').addClass('active1').removeClass('active2').siblings().removeClass('active1');
                if (lastID != null) {
                    var lastRowData = jQuery(this).getRowData(lastID);
                    if (lastRowData["HasOrders"] == "-") {
                        $("#JQGridDetails").jqGrid("setCell", lastID, "HasOrders", "+");
                    }
                }
                var rowData = jQuery(this).getRowData(id);
                var hasOrders = rowData["HasOrders"];
                var company = rowData["CompanyName"];
                if (hasOrders == "+") $("#JQGridDetails").jqGrid("setCell", id, "HasOrders", "-");
                jQuery("#JQGridVoucher")
                    .setGridParam({ url: "/TrialBalance/OnTrialBalanceVoucherRequested?id=" + id.replace("&", "__"), page: 1 })
                    .setCaption("<span id='Append4'><span id=" + id + "><b>Details of Account Code : " + id + "</b></span></span>")
                    .trigger('reloadGrid');
                lastID = id;
                document.getElementById("UrlAppend").innerHTML = lastID;
                document.getElementById('LevelAppend').innerHTML = '4';
            },
            gridComplete: function () {
                var JQGridDetailscount = jQuery("#JQGridDetails").jqGrid('getGridParam', 'records');
                if (JQGridDetailscount == 0) {
                    jQuery("#divJQGridDetails").show();
                }
                else {
                    jQuery("#divJQGridDetails").show();
                }
            },
            // Customizations
            scroll: false, // controls visibility of recordtext
            width: null,
            shrinkToFit: false,
            height: "100%",
            //recordtext: "{2} Records", // overrides default set in grid.locale-en.js
            viewrecords: true,
            loadError: JQGridDemo.jqGrid_aspnet_loadErrorHandler,
        });
        $("#JQGridDetails_pager_center").hide(); // Hides the central paging control
        jQuery('#JQGridDetails').bindKeys(); // binds the up/down arrow keys:


        var paramsJQGridVoucher = {};
        paramsJQGridVoucher.originalColumnWidths = [];
        paramsJQGridVoucher.originalGridWidth = 0;
        paramsJQGridVoucher.initialized = false;
        $("#JQGridVoucher").jqGrid({
            url: "/TrialBalance/OnTrialBalanceVoucherRequested",
            mtype: "GET",
            datatype: "json",
            page: 1,
            jsonReader: { id: "ACC_CODE" },
            prmNames: { id: "ACC_CODE" },
            colNames: ["Account Head", "Account Head", "Debit", "Credit"],
            colModel: [
                { key: true, width: 260, name: "ACC_CODE" },
                { width: 650, name: "ACC_EDESC" },
                { width: 90, name: "DR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
                { width: 90, name: "CR_AMOUNT", formatter: "number", sorttype: "number", align: "right", sortable: false, resizable: true, search: false },
            ],
            caption: "Details",
            pager: "#JQGridVoucher_pager",
            gridComplete: function () {
                var JQGridVouchercount = jQuery("#JQGridVoucher").jqGrid('getGridParam', 'records');
                if (JQGridVouchercount == 0) {
                    jQuery("#divJQGridVoucher").show();
                }
                else {
                    jQuery("#divJQGridVoucher").show();
                }
            },
            // Customizations
            scroll: false, // controls visibility of recordtext
            width: null,
            shrinkToFit: false,
            height: "100%",
            //recordtext: "{2} Records", // overrides default set in grid.locale-en.js
            viewrecords: true,
            loadError: JQGridDemo.jqGrid_aspnet_loadErrorHandler,
        });
        $("#JQGridVoucher_pager_center").hide(); // Hides the central paging control
        jQuery('#JQGridVoucher').bindKeys(); // binds the up/down arrow keys:

        $(document).ready(function () {
            $(".nav li a").removeClass("active");//this will remove the active class from previously active menu item
            $('#TrialBalance').addClass('active');
        });

        $('#btnCommonSearch').click(function () {
            var DateFilter = $('#ddlDateFilter').val();
            var fromDate = $('#fromInputDate').val();
            var toDate = $('#toInputDate').val();
            var Currency = $('#ddlCurrency').val();
            var Consolidated = $('#chkConsolidated').is(':checked');
            var Monthly = $("#chkMonthly").is(':checked');
            var YearType = $('#ddlYearType').val();
            var DataType = $('#ddlDataType').val();
        });
    </script>
</div>
