@{
    ViewBag.Title = "Month Wise Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<style>
    #cover {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        z-index: 5;
        width: 100%;
        height: 100%;
        display: none;
    }
    .cancel {
        display: block;
        position: absolute;
        top: 5px;
        right: 12px;
        font-size: 15px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;
        border: 1px solid #e1e1e1;
        height: 24px;
        width: 24px;
    }

        .cancel:hover, .Maximize:hover {
            background-color: #333;
            color: #f7f7f7;
        }
</style>
<div class="row">
    <div class="col-lg-12" style="background-color: #f5f5f5; height:38px;">
        <div style="float:left">
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-home"></i>
                    <a href="@Url.Action("Index","Home")">Home </a> <i class="fa fa-angle-double-right"></i>
                    <a href="@Url.Action("MonthwiseSummary", "TrialBalance")">Monthwise Summary</a> <i class="fa fa-angle-double-right"></i>
                    <label id="divReportName" style="font-weight:normal; font-size:13px"></label>
                </li>
            </ol>
        </div>
        <div class="btn-group" role="group" style="float: right; padding-top:6px;">
            @Html.Partial("~/Views/TrialBalance/Search.cshtml")
        </div>
        <div style="clear:both"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        @Html.Partial("~/Views/TrialBalance/SearchContent.cshtml")<div id="divBalanceSheetReport" class="row"></div>
    </div>
    <div class="col-md-12">
        <div class="table-content" style="margin-top:10px;" id="salesreport">
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">            
                    <form class="form-horizontal"  onsubmit="return false;" method="post">
                        <div class="modal-dialog" role="document">
                <div class="modal-content" style="width:800px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <div id="PopupHeader">
                            <h4 class="modal-title" id="myModalLabel">Preference Setup</h4>
                        </div>
                    </div>
                        <div class="modal-body">
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12 filterizeDate">
                                        <label style="font-size: 12px; font-weight: normal">Date Filter</label>
                                        <select class="dateFilterSelect" id="ddlDateFilterP" name="DateStep">
                                            <option value="CT" selected="selected">Custom</option>
                                            <option value="TD">Today</option>
                                            <option value="TM">This Month</option>
                                            <option value="LM">Last Month</option>
                                            <option value="TQ">This Quater</option>
                                            <option value="LQ">Last Quarter</option>
                                            <option value="TH">This Half Year</option>
                                            <option value="LH">Last Half Year</option>
                                            <option value="TY">This Year</option>
                                            <option value="LY">Last Year</option>
                                        </select>

                                        <label style="font-size: 12px; font-weight: normal">From Date</label>
                                        <input type="text" id="fromInputDateP" class="frmDataInput" placeholder="From Date" />
                                        <input type="text" name="FromDateP" id="FromDateP" class="readOnlyInput" readonly="readonly" placeholder="From Date" style="width: 12%;" />

                                        <label style="font-size: 12px; font-weight: normal">To Date</label>
                                        <input type="text" class="frmDataInput" id="toInputDateP" placeholder="To Date">
                                        <input type="text" name="ToDateP" class="readOnlyInput" readonly="readonly" id="ToDateP" placeholder="To Date" style="width: 12%;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="pref-slide">
                                            <p>
                                                <input type="text" name="figureAmount" id="figure1" readonly="" style="font-size: 10px; border: 0; color: #009999; font-weight: bold;">
                                            </p>
                                            <div id="slider1">
                                                <label for="figure" style="font-size: 12px; font-weight: normal">Figure in</label>
                                            </div>
                                        </div>
                                        <div class="pref-slide">
                                            <p>
                                                <input type="text" id="round1" name="roundupAmount" readonly="" style="font-size: 10px; border: 0; color: #009999; font-weight: bold;">
                                            </p>
                                            <div id="roundSlider1">
                                                <label for="round" style="font-size: 12px; font-weight: normal">Round up</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" id="ledgerP">
                                        <label style="font-size: 12px; font-weight: normal">Account Head</label>
                                        <select id="comboboxP" class="form-control" name="ledgerP">
                                            <option>Select</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnOk" class="btn btn-primary" data-dismiss="modal">OK</button>
                            <button type="button" id="btnLoad" class="btn btn-primary" onclick="return false;" data-toggle="modal" data-target="#MyPrefernces">Load</button>
                            <button type="submit" id="btnSave" onclick="return btnSaveClick();" class="btn btn-primary" data-toggle="modal" data-target="#mysave">Save</button>
                        </div>                        
                </div>
            </div>
                        <div class="modal fade" id="mysave" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-content modal-inner-popup">
                                <div class="modal-header">
                                    <button type="button" class="close DiaableInput" onclick=" $('#mysave').modal('toggle'); " aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    Save As
                                </div>
                                <div class="modal-body">
                                    <span id="MsgPrefName" style="font-size: 10px; color: indianred;"></span>
                                    <table id="ShowWhenSave"></table>
                                </div>
                                <div class="modal-footer">
                                    <div class="pref-input-div">
                                        <label>Preference Name:</label>
                                        <input id="PreferenceName" type="text" name="PreferenceName" disabled required /><input type="checkbox" name="SetDefault" id="SetDefault" style="width:22px;height:16px;"><label>Show in Menu</label>
                                    </div>
                                    <button type="submit" id="btnSavepref" class="btn btn-primary" data-dismiss="modal"><span class="fa fa-floppy-o" aria-hidden="true"></span></button>
                                    <button type="button" class="btn btn-danger DiaableInput" onclick=" $('#mysave').modal('toggle'); "><span class="glyphicon glyphicon-remove"></span></button>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="MyPrefernces" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-content modal-inner-popup">
                                <div class="modal-header">
                                    <button type="button" class="close" onclick=" $('#MyPrefernces').modal('toggle'); " aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    Load
                                </div>
                                <div class="modal-body">
                                    <div id="LoadPreferncesWidth">
                                        <table id="LoadPrefernces"></table>
                                        @* <button onclick="return deleteSelectedRow();" title="Remove" class="btn btn-danger">Remove</button>*@

                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="pref-input-div">
                                        <span id="ShowHideThisSpan" style="font-size: 11px; color: indianred; display: none">No rows are selected</span>
                                    </div>
                                    <button onclick="return getSelectedRow();" style="float: right;" class="btn btn-success">Load</span></button>
                                </div>
                            </div>
                        </div>
                    </form>
        </div>
    </div>


</div>

<input type="hidden" id="hdAc" value="0" />
@*<script>
    $(document).ready(function () {
        pathArray = location.href.split('?');
        protocol = pathArray[0];
        if (protocol == pathArray) {
            $('.fa-arrow-down').addClass('active').attr('aria-expanded', 'true');
            $('#search').addClass('in');
        }
    })
</script>*@
<script>
    $(document).ready(function () {
        $('#trialexpand').hide();
    });
</script>
<script type="text/javascript">
    var decimalPlacesAmount = '@ViewData["roundupAmount"]';
    var defaultAmount = decimalPlacesAmount;
    decimalPlacesAmount = decimalPlacesAmount.split(".");
    if (decimalPlacesAmount == 0) {
        decimalPlacesAmount = 0;
      
    }
    else
    {
        decimalPlacesAmount = decimalPlacesAmount[1].length;
    }
    jQuery(document).ready(function () {
        var monthNames = ["", "Baisakh", "Jesth", "Asadh", "Shrawan", "Bhadra", "Asoj",
                          "Kartik", "Mangshir", "Poush", "Magh", "Falgun", "Chaitra"
        ];        
        jQuery("#jqGrid").jqGrid('jqPivot',
           [@if (ViewData.Model != null)
          {
              var roundupAmount = Convert.ToString(ViewData["roundupAmount"]);
              var figureAmount = Convert.ToDouble(ViewData["figureAmount"]);
              foreach (var item in ViewData.Model)
              {<text>
           {
               
               account: "@Convert.ToString(item["ACC_EDESC"])",
               timeline: "<div class='hidden'>@Convert.ToInt32(item["YEAR"] + item["VOUCHER_DATE"])</div>" + monthNames['@Convert.ToInt16(item["VOUCHER_DATE"])'] + "-@Convert.ToDouble(item["YEAR"])",
                   @*monthNames['@Convert.ToInt16(item["VOUCHER_DATE"])'],*@
               @*Amount: "@Convert.ToDouble(item["AMOUNT"])",*@
               Amount:@{
                      double a = 0;
                      if (item["AMOUNT"] is DBNull)
                      {
                          a = 0;
                      }
                      else
                      {
                          a = (Convert.ToDouble(item["AMOUNT"]) / figureAmount);
                      }
                      string roundupvalue = a.ToString(roundupAmount);}"@roundupvalue",
           },</text>}
          }
          else
          {<text>{ account: "", timeline: "", year: "", Amount: "" }</text>}
           ],
   // pivot options
   {
       xDimension: [{ dataName: 'account', label: "Account Description" }],
       yDimension: [{ dataName: 'timeline', sorttype: 'string', sortorder: 'asc',sortable:true }],
       aggregates: [
           {
               member: "Amount", aggregator: "sum", label: "Amount", summaryType: 'sum', width: 100, formatter: 'integer',
               formatoptions: { decimalSeparator: ".", thousandsSeparator: ",", decimalPlaces: decimalPlacesAmount, defaultValue: defaultAmount },
           }

       ],
   },
	// grid options
	{
	    caption: "Month Wise Summary",
	    width: jqGridwidth(),
	    height: ($('#page-wrapper').height() - 38 - $('.filterizeDate').outerHeight() - $('.btn-group').outerHeight() - 31 - 44 - 21 - 26),
	    rowNum: 150,
	    pager: "#jqGridPager",
	}).trigger("reloadGrid");
    });
    // grid options
</script>
<script>
    $(document).ready(function () {
        $("#btnCommonSearch").on("click", function () {
            var param = {
                Id: $("#combobox").val(),
                From: $("#FromDate").val(),
                To: $("#ToDate").val(),
            };
            var grid = $("#jqGrid");
            $.ajax({
                type: 'POST',
                async: false,
                url: '../TrialBalance/MonthwiseSummary',
                data: param,
                success: function () {
                    location.reload(true);
                },
                error: function () { }
            });
        });
        $("#btnOk").on("click", function () {
            var param = {
                Id: $("#comboboxP").val(),
                From: $("#FromDateP").val(),
                To: $("#ToDateP").val(),
                figureAmount: $("#figure1").val(),
                roundupAmount: $("#round1").val(),
            };
            var grid = $("#jqGrid");
            $.ajax({
                type: 'POST',
                async: false,
                url: '../TrialBalance/MonthwiseSummary',
                data: param,
                success: function () {
                    location.reload(true);
                },
                error: function () { }
            });
        });
        $("#btnSavepref").on("click", function (eve) {
            var param = {
                Id: $("#ddlDateFilterP").val(),
                From: $("#FromDateP").val(),
                To: $("#ToDateP").val(),
                figureAmount: $("#figure1").val(),
                roundupAmount: $("#round1").val(),
                PreferenceName: $("#PreferenceName").val(),
                SetDefault: $("#SetDefault").val(),
                LedgerP: $("#comboboxP").val(),
            };
            $.ajax({
                type: 'POST',
                async: false,
                url: "../TrialBalance/DailySummaryReport3/",
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $("#divBalanceSheetReport").empty().append(response);
                }
            });

        });
    });
</script>
<script>
    function jqGridwidth() {
        setInterval(function () {
            width = $(".table-content").width();
            jQuery("#jqGrid").setGridWidth(width);
        });
    }
    $(document).ready(function () {
        $("#menu-toggle").click(function () {
            jqGridwidth();
        });

    });
</script>

<script>
    $("#btnLoad").click(function () {
        $(".HideMeOnLoad").remove();
        $("#LoadPrefernces").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
        var $grid = $("#LoadPrefernces"),
        emptyMsgDiv = $("<div class='HideMeOnLoad'><span style='font-size:12px;padding:5px;'> No records found...</span></div>");
        $("#LoadPrefernces").jqGrid({
            url: '../TrialBalance/LedgerAjax',
            mtype: "GET",
            datatype: "json",
            colModel: [
                { label: 'PrefernceId', name: 'PREF_CODE', key: true, autowidth: true, hidden: true },
                { label: 'NAME', name: 'PREF_NAME', width: 480 },
                { name: 'Action', index: 'act', align: 'center', width: 100, sortable: false },
            ],
            emptyrecords: "prefernces are not saved",
            viewrecords: true,
            autowidth: true,
            shrinkToFit: false,
            width: 580,
            rowNum: 20,
            gridComplete: function () {
                var ts = this;
                if (ts.p.reccount === 0) {
                    $(this).hide();
                    emptyMsgDiv.show();
                } else {
                    $(this).show();
                    emptyMsgDiv.hide();
                }
                var ids = jQuery("#LoadPrefernces").jqGrid('getDataIDs');
                for (var i = 0; i < ids.length; i++) {
                    var cl = ids[i];
                    be = "<button class='btn-preference btn-pref-rem' onclick='deleteSelectedRow(" + cl + ")'><span class='fa fa-close'></span></button>";
                    jQuery("#LoadPrefernces").jqGrid('setRowData', ids[i], { Action: be });
                }
            }
        });
        emptyMsgDiv.insertAfter($grid.parent());
    });
    function getSelectedRow() {
        var rsteps = ["0", "0.0", "0.00", "0.000", "0.0000"];
        var fsteps = ["Actual", "thousand", "lakh", "crore", ];

        $("#ShowHideThisSpan").hide();
        var grid = $("#LoadPrefernces");
        var rowKey = grid.jqGrid('getGridParam', "selrow");
        if (rowKey) {
            $.ajax({
                url: "../TrialBalance/LedgerAjaxComplete?rowKey=" + rowKey, success: function (result) {
                    var res = result.split(",");

                    var arrayLength = res.length;
                    var i = 0;
                    if (res[2] == "1") { var j = 0; }
                    if (res[2] == "1000") { var j = 1; }
                    if (res[2] == "100000") { var j = 2; }
                    if (res[2] == "10000000") { var j = 3; }
                    $("#slider1").slider({
                        value: j,
                        min: 0,
                        max: 3,
                        slide: function (event, ui) {
                            $("#figure1").val(fsteps[ui.value]);
                        }
                    });
                    $("#figure1").val(fsteps[j]);
                    //$("#figure1").val(fsteps[$("#slider1").slider("value")]);
                    if (res[3] == '0') { var k = 0; }
                    if (res[3] == '0.0') { var k = 1; }
                    if (res[3] == '0.00') { var k = 2; }
                    if (res[3] == '0.000') { var k = 3; }
                    if (res[3] == '0.0000') { var k = 4; }
                    $("#roundSlider1").slider({
                        value: k,
                        min: 0,
                        max: 4,
                        slide: function (event, ui) {
                            $("#round1").val(rsteps[ui.value]);
                        }
                    });
                    $("#round1").val(rsteps[k]);

                    //$("#FromDate").val(res[5]);
                    //$('#fromInputDate').val(AD2BS($("#FromDate").val()));
                    var test = res[4].toString();
                    $('#ddlDateFilterP').val(test);
                    //var fd = res[5].toString();
                    //$('#FromDateP').val(fd);
                    $("#FromDateP").val(res[5]);
                    $('#fromInputDateP').val(AD2BS($("#FromDateP").val()));
                    //var td = res[6].toString();
                    //$('#ToDateP').val(td);
                    $("#ToDateP").val(res[6]);
                    $('#toInputDate').val(AD2BS($("#ToDateP").val()));
                    var ledger = res[7].toString();
                    $('#comboboxP').val(ledger);
                    var id = $(".adddiv button:last").attr("id");
                    for (var l = 0 ; l <= id ; l++) {
                        if (l == 0) {
                            document.getElementById(l.toString() + l.toString()).remove();
                            document.getElementById(l.toString() + l.toString() + l.toString() + l.toString()).remove();
                        } else {
                            document.getElementById(l.toString()).remove();
                            document.getElementById(l.toString() + l.toString()).remove();
                            document.getElementById(l.toString() + l.toString() + l.toString() + l.toString()).remove();
                        }
                    }
                    var SetId = 0;
                    $('.adddiv').append("<div class='newbox' id='" + SetId.toString() + SetId.toString() + SetId.toString() + "'><input type='text' id='" + SetId.toString() + SetId.toString() + SetId.toString() + SetId.toString() + "' value='" + 0 + "' readonly='true' style='width:30%;'><input type='text' id='" + SetId.toString() + SetId.toString() + "' name='Steps[" + SetId + "]'  style='width:30%;margin-left:4px;' value='" + res[5] + "' onblur='ModifyNextId(this.id);' /></div>");
                    SetId = 1;
                    for (var i = 6; i < arrayLength; i++) {
                        $('.adddiv').append("<div class='newbox' id='" + SetId.toString() + SetId.toString() + SetId.toString() + "'><input type='text' id='" + SetId.toString() + SetId.toString() + SetId.toString() + SetId.toString() + "' value='" + (parseInt(res[i - 1]) + 1) + "' readonly='true' style='width:30%;'><input type='text' id='" + SetId.toString() + SetId.toString() + "' name='Steps[" + SetId + "]'  style='width:30%;margin-left:4px;' value='" + res[i] + "' onblur='ModifyNextId(this.id);' /><button id=" + SetId.toString() + " onclick='return DeleteThis(this.id);' class='btn-preference btn-pref-rem'><span class='fa fa-close'></span></button></div>");
                        SetId = SetId + 1;
                    }
                    $('#MyPrefernces').modal('toggle');
                }
            });
        }
        else {
            $("#ShowHideThisSpan").show();
        }
        return false;
    }
    function deleteSelectedRow(rowKey) {
        $("#ShowHideThisSpan").hide();
        if (confirm('Are You Sure!')) {
            if (rowKey) {
                $.ajax({
                    url: "../TrialBalance/LedgerAjaxRemoveRow?rowKey=" + rowKey, success: function () {
                        $("#LoadPrefernces").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
                    }

                });
                $("#LoadPrefernces").jqGrid('setGridParam', { datatype: 'json' }).trigger('reloadGrid');
            }
            else {
                $("#ShowHideThisSpan").show();
            }
        }
        return false;
    }
    function btnSaveClick() {
        $("#PreferenceName").prop('disabled', false);
        $("#ShowWhenSave").jqGrid({
            url: '../TrialBalance/LedgerAjax',
            mtype: "GET",
            datatype: "json",
            colModel: [
                { label: 'PrefernceId', name: 'PREF_CODE', key: true, autowidth: true, hidden: true },
                { label: 'NAME', name: 'PREF_NAME', width: 580, },
            ],
            emptyrecords: "prefernces are not saved",
            viewrecords: true,
            autowidth: true,
            width:580,
            shrinkToFit: false,
            rowNum: 20,
        });

        return false;
    }
    $("#SetDefault").change(function () {
        if ($('#SetDefault').is(':checked')) {
            $("#SetDefaultMsg").html("Default");
        } else {
            $("#SetDefaultMsg").html("");
        }
    });
    $(".DiaableInput").click(function () {
        $("#PreferenceName").prop('disabled', true);
    });
</script>
<script>
    function validateArrY() {
        $("#MsgPrefName").html("");
        var id = document.getElementById("CheckDiv").innerHTML;
        var counter = 0;
        for (var i = 0; i <= parseInt(id) ; i++) {

            if (document.getElementById(i.toString() + i.toString()) != null) {
                var RealValue = document.getElementById(i.toString() + i.toString()).value;
                $('.ActualAddDiv').append("<div class='NewDivision'><input type='text' name='Steps[" + counter + "]' value='" + RealValue + "' readonly='true' style='width:30%;'></div>");

                if (document.getElementById(i.toString()) != null) {
                    document.getElementById(i.toString()).remove();
                }
                if (document.getElementById(i.toString() + i.toString()) != null) {
                    document.getElementById(i.toString() + i.toString()).remove();
                }
                if (document.getElementById(i.toString() + i.toString() + i.toString()) != null) {
                    document.getElementById(i.toString() + i.toString() + i.toString()).remove();
                }
                if (document.getElementById(i.toString() + i.toString() + i.toString() + i.toString()) != null) {
                    document.getElementById(i.toString() + i.toString() + i.toString() + i.toString()).remove();
                }
                counter = counter + 1;
            }
        }
        $.ajax({
            url: "../TrialBalance/GetPreferenceNameListLedger", success: function (result) {
                var res = result.split(",");
                var arrayLength = res.length;
                var Name = $("#PreferenceName").val();
                for (var i = 0; i <= res.length - 1; i++) {
                    if (res[i] == Name) {
                        if (confirm('Update Existing')) {
                            $('#Loading').show();
                            $('#sambhoo').hide();
                            $('#myModal').modal('toggle');
                            return true;
                        } else {
                            $("#MsgPrefName").html("Please Change Your Prefernce Name");
                            return false;
                        }
                    }
                }

            }
        });
        return true;
    }
    function DeleteThis(id) {
        document.getElementById(id).remove();
        document.getElementById(id + id).remove();
        if (document.getElementById(id + id + id) != null) {
            document.getElementById(id + id + id).remove();
        }
        if (document.getElementById(id + id + id + id) != null) {
            document.getElementById(id + id + id + id).remove();
        }
        var TotalId = parseInt(document.getElementById("CheckDiv").innerHTML);
        var NextVal = 0;
        for (var j = 0 ; j <= TotalId ; j++) {

            if (document.getElementById(j.toString() + j.toString()) != null) {
                NextVal = document.getElementById(j.toString() + j.toString()).value;
            }
            for (var k = j ; k <= TotalId; k++) {
                var NextId = parseInt(k) + 1;
                if (document.getElementById(NextId.toString() + NextId.toString() + NextId.toString() + NextId.toString()) != null) {
                    document.getElementById(NextId.toString() + NextId.toString() + NextId.toString() + NextId.toString()).value = parseInt(NextVal) + 1;
                    break;
                }
            }
        }
        return false;
    }
    function ModifyNextId(id) {
        var NextVal = parseInt($('#' + id).val()) + 1;
        $('#' + id).next('input').val(NextVal);
        $('#' + id).next('button').next('input').val(NextVal);
    }
</script>
<script>
    var rsteps = [
   "0",
   "0.0",
   "0.00",
   "0.000",
   "0.0000"
    ];
    var fsteps = [
    "Actual",
    "thousand",
    "lakh",
    "crore",
    ];
    $(function () {
        $("#slider1").slider({
            value: 0,
            min: 0,
            max: 3,
            slide: function (event, ui) {
                $("#figure1").val(fsteps[ui.value]);
            }
        });
        $("#figure1").val(fsteps[$("#slider1").slider("value")]);
        $("#roundSlider1").slider({
            value: 2,
            min: 0,
            max: 4,
            slide: function (event, ui) {
                $("#round1").val(rsteps[ui.value]);
            }
        });
        $("#round1").val(rsteps[$("#roundSlider1").slider("value")]);
    });
</script>
<script>
    $(document).ready(function () {
        $('#fromInputDateP').nepaliDatePicker({
            ndpEnglishInput: 'FromDateP'
        });
        $('#toInputDateP').nepaliDatePicker({
            ndpEnglishInput: 'ToDateP'
        });
        var current_date = getNepaliDate();
        $('#fromInputDateP').val(current_date);
        $('#toInputDateP').val(current_date);
        $("#FromDateP").datepicker({ dateFormat: 'yy-mm-dd' });
        $("#ToDateP").datepicker({ dateFormat: 'yy-mm-dd' });
        $('#FromDateP').val(BS2AD($("#fromInputDateP").val()));
        $('#ToDateP').val(BS2AD($("#toInputDateP").val()));

        //if ($('#ddlDateFilterP').val() == "CT") {
        //    $('#fromInputDateP').prop('disabled', false);
        //    $('#FromDateP').prop('disabled', false);
        //    $('#toInputDateP').prop('disabled', false);
        //    $('#ToDateP').prop('disabled', false);
        //}
        //$('#ddlDateFilterP').change(function () {
        //    if ($('#ddlDateFilterP').val() == "CT") {
        //        $('#fromInputDateP').prop('disabled', false);
        //        $('#FromDateP').prop('disabled', false);
        //        $('#toInputDateP').prop('disabled', false);
        //        $('#ToDateP').prop('disabled', false);
        //    }
        //    else {
        //        $('#fromInputDateP').prop('disabled', true);
        //        $('#FromDateP').prop('disabled', true);
        //        $('#toInputDateP').prop('disabled', true);
        //        $('#ToDateP').prop('disabled', true);
        //    }
        //});
    });
</script>
<script type="text/javascript">
    $(function () {
        $("#ddlDateFilterP").change(function () {
            var current_date = getNepaliDate();
            var current_date = current_date.split("-");
            var cYear = current_date[0];
            var cMonth = current_date[1];
            var cDay = current_date[2];
            if ($('option:selected', this).val() == "TD") {
                var FromDate = cYear + "-" + cMonth + "-" + cDay;
                var ToDate = cYear + "-" + cMonth + "-" + cDay;
                $("#fromInputDateP").val(FromDate);
                $("#toInputDateP").val(ToDate);
            }
            else if ($('option:selected', this).val() == "TY") {
                var FromDate = cYear + "-" + "04" + "-" + "01";
                var ToDate = cYear + "-" + cMonth + "-" + cDay;
                $("#fromInputDateP").val(FromDate);
                $("#toInputDateP").val(ToDate);
            }
            else if ($('option:selected', this).val() == "LY") {
                var FromDate = (cYear - 1) + "-" + "04" + "-" + "01";
                var ToDate = cYear + "-" + "03" + "-" + numberOfBsDays(cYear, "2");
                $("#fromInputDateP").val(FromDate);
                $("#toInputDateVoucher").val(ToDate);
            }
            else if ($('option:selected', this).val() == "TM") {
                var FromDate = cYear + "-" + cMonth + "-" + "01";
                var ToDate = cYear + "-" + cMonth + "-" + cDay;
                $("#fromInputDateP").val(FromDate);
                $("#toInputDateP").val(ToDate);
            }
            else if ($('option:selected', this).val() == "LM") {
                if (cMonth == 1) {
                    cYear = cYear - 1;
                    cMonth = "12";
                }
                else {
                    cMonth = cMonth - 1;
                }
                var newToDate = numberOfBsDays(cYear, (cMonth - 1));
                if (cMonth > 1 && (cMonth) < 10)
                    cMonth = "0" + cMonth;
                var FromDate = cYear + "-" + cMonth + "-" + "01";
                var ToDate = cYear + "-" + cMonth + "-" + newToDate;
                $("#fromInputDateP").val(FromDate);
                $("#toInputDateP").val(ToDate);
            }
            else if ($('option:selected', this).val() == "TQ") {
                if (cMonth > 3 && cMonth < 7) {
                    var FromDate = cYear + "-" + "04" + "-" + "01";
                    var ToDate = cYear + "-" + cMonth + "-" + cDay;
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth > 6 && cMonth < 10) {
                    var FromDate = cYear + "-" + "07" + "-" + "01";
                    var ToDate = cYear + "-" + cMonth + "-" + cDay;
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth > 9 && cMonth <= 12) {
                    var FromDate = cYear + "-" + "10" + "-" + "01";
                    var ToDate = cYear + "-" + cMonth + "-" + cDay;
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth >= 1 && cMonth < 4) {
                    var FromDate = cYear + "-" + "01" + "-" + "01";
                    var ToDate = cYear + "-" + cMonth + "-" + cDay;
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
            }
            else if ($('option:selected', this).val() == "LQ") {
                if (cMonth > 3 && cMonth < 7) {
                    var FromDate = cYear + "-" + "01" + "-" + "01";
                    var ToDate = cYear + "-" + "03" + "-" + numberOfBsDays(cYear, "2");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth > 6 && cMonth < 10) {
                    var FromDate = cYear + "-" + "04" + "-" + "01";
                    var ToDate = cYear + "-" + "06" + "-" + numberOfBsDays(cYear, "5");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth > 9 && cMonth <= 12) {
                    var FromDate = cYear + "-" + "07" + "-" + "01";
                    var ToDate = (cYear + 1) + "-" + "09" + "-" + numberOfBsDays((cYear + 1), "8");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth >= 1 && cMonth < 4) {
                    var FromDate = (cYear - 1) + "-" + "10" + "-" + "01";
                    var ToDate = (cYear - 1) + "-" + "12" + "-" + numberOfBsDays((cYear - 1), "11");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
            }
            else if ($('option:selected', this).val() == "TH") {
                if (cMonth > 3 && cMonth < 10) {
                    var FromDate = cYear + "-" + "04" + "-" + "01";
                    var ToDate = cYear + "-" + cMonth + "-" + cDay;
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else {
                    var FromDate = cYear + "-" + "10" + "-" + "01";
                    var ToDate = cYear + "-" + cMonth + "-" + cDay;
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
            }
            else if ($('option:selected', this).val() == "LH") {
                if (cMonth > 3 && cMonth < 10) {
                    var FromDate = (cYear - 1) + "-" + "10" + "-" + "01";
                    var ToDate = cYear + "-" + "03" + "-" + numberOfBsDays(cYear, "2");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else if (cMonth >= 10) {
                    var FromDate = cYear + "-" + "04" + "-" + "01";
                    var ToDate = cYear + "-" + "09" + "-" + numberOfBsDays(cYear, "8");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
                else {
                    var FromDate = (cYear - 1) + "-" + "04" + "-" + "01";
                    var ToDate = (cYear - 1) + "-" + "09" + "-" + numberOfBsDays((cYear - 1), "8");
                    $("#fromInputDateP").val(FromDate);
                    $("#toInputDateP").val(ToDate);
                }
            }
            $('#FromDateP').val(BS2AD($("#fromInputDateP").val()));
            $('#ToDateP').val(BS2AD($("#toInputDateP").val()));
        });
    });
    $(document).ready(function () {
        pathArray = location.href.split('?');
        protocol = pathArray[0];
        if (protocol == pathArray) {
            $('.fa-arrow-down').addClass('active').attr('aria-expanded', 'true');
            $('#search').addClass('in');
        }
    })

</script>
<script>
    var Ledger = {
        init: function () {

            Ledger.BindDropdown();
        },
        BindDropdown: function () {
            $.ajax({
                cache: false,
                type: "Post",
                url: "@Url.Action("GetLedgerList", "TrialBalance")",
                success: function (data) {
                    $("#comboboxP").html('');
                    $.each(data, function (key, value) {
                        $("#comboboxP").append($('<option></option>').val(value.ACC_CODE).html(value.ACC_EDESC));
                    })
                }
            });
            $.ajax({
                cache: false,
                type: "Post",
                url: "@Url.Action("GetLedgerList", "TrialBalance")",
                success: function (data) {
                    $("#combobox").html('');
                    $.each(data, function (key, value) {
                        $("#combobox").append($('<option></option>').val(value.ACC_CODE).html(value.ACC_EDESC));
                    })
                }
            });
        },
    }
    $(function () {
        Ledger.init();
    })
</script>