
@using NeoErp.Core.Models;
@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@{
   // var workingContent = EngineContext.Current.Resolve<IWorkContext>();
}

<style>
    /*replace css*/
    .customwith {
        max-width: 505px !important;
        margin: 30px auto;
    }
    /*end css*/
    .btnCustom {
        border-width: 0;
        font-size: 14px;
        outline: none !important;
        background-image: none !important;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        color: #FFFFFF;
        background-color: #26a69a;
        padding: 7px 11px 7px 11px;
        margin-left: -12px;
    }

    /*.btn.green {
        margin-left: -20px;
    }*/

    /*.modal-header {
        padding-top: 0px !important;
    }*/

    #customerTreeView ul li {
        padding-left: 15px !important;
        margin-top: 0px;
    }

    .slimScrollDiv, ul#companyMultiSelect_listbox, ul#BranchMultiSelect_listbox, ul#partyTypeMultiSelect_listbox, ul#documentMultiSelect_listbox {
        /*height: auto !important;*/
    }

    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .modal-body.sales-modal {
        max-height: 490px !important;
    }

    .colgap {
        margin-bottom: 10px;
    }

    .nav-tabs {
        /*border-bottom: 1px solid whitesmoke;
           position: relative;*/
        width: 100% !important;
    }

    /*.tabbable-line > .nav-tabs > li.Legerclass.active {
               background: 0 0;
               border-bottom: 4px solid #36c6d3;
               position: relative;
           }*/
    .k-list.k-reset {
        max-height: 300px !important;
    }


    #splitter {
        height: 600px;
        margin: 0 auto;
    }

    btn-group {
        margin-right: 13px !important;
    }

    /*.page-bar {
               margin-bottom: 0px !important;
           }*/

    .k-grid table {
        table-layout: fixed;
    }

    .no-data {
        background-color: red;
    }
    /*#grid thead{
                font-size:11px;
           }*/
    .k-grid td {
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .k-grid-content {
        font-size: 10px;
    }

    .k-grid-footer {
        font-size: 10px;
    }

    .k-list.k-reset {
        height: 200px;
        overflow-x: hidden;
    }
    /*.tabbable-line.tab2 li {
           display: inline-flex !important;
           float: none !important;
       }*/
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        color: black;
        background-color: white;
    }

    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .dropdownlist .dropdown.open > .dropdown-toggle {
        background-color: #eee !important;
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
        border-bottom: none !important;
        border-left: 1px solid #ddd;
    }

    #dropdowns {
        width: 310px;
        margin-top:4px;
    }
    /*.nav > li > a:focus, .nav > li > a:hover {
              background-color: #eee !important;
       border-top: 1px solid #ddd !important;
       border-right: 1px solid #ddd !important;
       border-bottom: none !important;
       border-left: 1px solid #ddd !important;
          border-radius: 5px 5px 0px 0px !important;
    }*/
</style>
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb"></ul>

        <div class="page-toolbar">
            <div class="btn-group pull-right">
                <div class="actions">
                    <div class="form-group pull-left" id="dropdowns">
                        <label class="control-label col-md-5">Select Subledger:</label>
                        <div class="col-md-7"><input id="subledgers" style="width: 100%;" /></div>

                    </div>
                    <div class="btn-group">

                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)

                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", true)
                    </div>
                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       ShowLedgerFilter = true,
                       ShowPostedGenericFilter = true,
                       ShowPartyTypeFilter = false,
                   })
                    </div>



                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="#">
                        <i class="icon-control-play"></i>
                    </a>


                </div>

            </div>
        </div>













        @*<div class="page-toolbar">
                <div class="btn-group">
                    <div class="form-group pull-left" style="width:360px;">
                        <label class="control-label col-md-5">Select Subledger:</label>
                        <div class="col-md-7"><input id="subledgers" style="width: 100%;" /></div>

                    </div>

                    <div class="btn btn-sm" data-container="body" data-placement="bottom" data-original-title="Click To Filter Date Range">
                    </div>
                    <div class="btn-group" data-toggle="tooltip" data-placement="bottom">
                        @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", false)
                    </div>

                    <div class="btn-group">
                        @Html.Partial("~/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                   {
                       ShowLedgerFilter = true,
                       ShowPostedGenericFilter = true,
                       ShowPartyTypeFilter = false,
                   })
                    </div>

                    <a class="btn btn-circle btn-icon-only btn-default" id="RunQuery" href="javsascript:;">
                        <i class="icon-control-play"></i>
                    </a>
                </div>
            </div>*@

    </div>

    <!-- END PAGE HEADER-->
    <!-- BEGIN PAGE CONTENT-->
    <div class="row collapse in" id="demo">
        <div class="col-md-12">
            <div class="portlet light bordered">

                <div class="portlet-body form">
                    <div class="tabbable-line tab2">

                        <ul class="nav nav-tabs nav-pills dropdownlist " id="tabs">

                            <li class="active" id="firsttab"><a data-toggle="tab" href="#tab1">Subsidiary SubLedger Search</a></li>
                        </ul>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">

                                <div id="splitter">

                                    <div class="portlet box green">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-list-alt"></i>
                                                <span class="caption-subject">Customer List</span>
                                            </div>


                                        </div>
                                        <div class="portlet-body">
                                            <select id="customerMultiSelect"></select>
                                            <div class="form-body">
                                                <div class="">
                                                    <label id="headerlabel" for="form_control_1">Customers Lists</label>
                                                </div>
                                                <div id="CustomerTreeView"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div>
                                        <div class="portlet box green">
                                            <div class="portlet-title">
                                                <div class="caption">
                                                    <i class="fa fa-list-ul"></i>
                                                    <span id="" class="caption-subject">Customer Sub List</span>
                                                </div>
                                                <div class="ledgericon pull-right">
                                                    <a id="run-ldeger" href="javsascript:;">
                                                        <i class="icon-control-play icon-play"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="portlet-body">
                                                @*<select id="ledgerMultiSelect"></select>*@
                                                <div class="form-body" id="ledgerdiv">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT-->
    <script src="@Scripts.Url("~/JS/DateFilter.js?V8")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/JS/dynamicReport.js?V2")" type="text/javascript"></script>
    <script src="@Scripts.Url("~/Areas/NeoErp.sales.Module/Scripts/SubsidiaryLedger.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var a = location.hash;
        var b = location.pathname;
        var url = (b + a);
        //  $(".active").removeClass();
        $("a[href='" + url + "']").parent().addClass("active");
        $("a[href='" + url + "']").parent().parent().slideDown("slow");

    </script>
    <script>
        var className = "";
        $("#loadAdvancedFilters").on("click", function () {

            className = "listTab";
            $("#RunQuery").trigger("click");

        });

        $("#run-ldeger").on("click", function () {
            var ledgerIds = [];
            var groupSkuFlag = "I";
            $("#list-view-ledgerEvent").find("input:checked").each(function () {
                ledgerIds.push($(this).val());
            });
            if (ledgerIds.length == 0 && multiselectLedgerIds == 0) {
                return;
            }
            var listType = $("#subledgers").data("kendoDropDownList").value();
            if (ledgerIds.length > 0) {
                ShowLedgerDetails(ledgerIds, "list", "", listType, groupSkuFlag); //revert to ShowLedgetDetails on rollback of requirement
            }
        });



        function ShowLedgerDetails(ledgerId, type, tabName, listType, groupSkuFlag) {

            var accountCodes = ledgerId.toString().split(",");

            for (var i = 0; i < accountCodes.length; i++) {
                var accountName = "";
                if (type == "list" || type == undefined) {
                    accountName = $("a[data-ledgerid='" + accountCodes[i] + "']").attr("data-label");
                }
                else if (type == "multiselect") {
                    var dataitem = $("#ledgerMultiSelect").data("kendoMultiSelect").dataItems();

                    var item = $.grep(dataitem, function (item, index) {
                        return item.AccountCode == accountCodes[i];

                    });
                    if (item != undefined && item != null && item.length > 0) {
                        accountName = item[0].AccountName;
                    }
                }
                else if (type == "account") {
                    accountName = tabName;

                }
                var nextTab = $('#tabs li').size() + 1;
                ShowLedgerTab(accountCodes[i], accountName, nextTab, listType, groupSkuFlag);
            }
        }

        function ShowLedgerTab(acountCode, accountName, nextTab, listType, groupSkuFlag) {

            var linkSubCodes = "";
            if (listType == "Customer") {
                linkSubCodes = "C" + acountCode;
            }
            else if (listType == "Supplier") {
                linkSubCodes = "S" + acountCode;
            }
            else if (listType == "Employee") {
                linkSubCodes = "E" + acountCode;
            }
            else if (listType == "mSubLedger") {
                linkSubCodes = "M" + acountCode;
            }
            var formEnglishDate = $("#FromDateVoucher").val();
            var toEnglishDate = $("#ToDateVoucher").val();
            var jsonData = JSON.stringify({ formDate: formEnglishDate, toDate: toEnglishDate, AccountCode: acountCode, totalTab: nextTab, AccountName: accountName, listType: listType, linkSubCode: linkSubCodes, groupSkuFlag: groupSkuFlag }).replace(/"/g, "!");
            $('<li><a href="#tab' + nextTab + '" data-toggle="tab" role="tab" id="atab' + nextTab + '"> ' + $.trim(accountName.toString()) + '<span class="lclose" id="close' + nextTab + '">×</span><input type="hidden" class="listTab"  value = "' + jsonData + '"> <div class="clearfix"></div></a></li>').appendTo('#tabs');
            $.ajax({
                url: '@Url.Action("PopUpSubsidiaryLedgerDetails", "SubsidiaryLedger")',
                data: { formDate: formEnglishDate, toDate: toEnglishDate, AccountCode: acountCode.toString(), totalTab: nextTab, listType: listType, linkSubCode: linkSubCodes.toString(), groupSkuFlag: groupSkuFlag },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    $('<div class="tab-pane" id="tab' + nextTab + '">' + data + '</div>').appendTo('.tab-content');
                    $('#close' + nextTab).on("click", closeTab);
                    //$('#atab'+nextTab).tab('show');
                    $(window).resize();
                    @*$.ajax({
                        url: '@Url.Action("SubsidiaryBreadCrumbs", "SubsidiaryLedger")',
                        data: { AccountCode: acountCode, listType: listType },
                        cache: false,
                        type: "POST",
                        dataType: "html",
                        success: function (data, textStatus, XMLHttpRequest) {
                            var breadCrumbId = "#breadCrumbDiv" + nextTab;
                            $(breadCrumbId).html(data);
                        }
                    });*@
                }
            });

        }












        //$("#subaccountdiv").on("dblclick", ".subledgerEvent", function () {
        //    ShowSubLedgerDetailsEach($(this).find('a').data("ledgerid"));
        //});

        function closeTab() {
            var tabContent = $(this).parent().attr("href");
            var tooltip = $(this).parent().attr("aria-describedby");
            if (tooltip != undefined) {
                $("#" + tooltip).remove();
            }
            var closestLi = $(this).closest("li");
            var prev = closestLi.prev("li");
            if (prev == undefined || prev.length == 0) {
                var prevDropdown = $(this).closest(".dropdown");
                prev = $(this).closest(".dropdown").siblings().last();

            }
            closestLi.remove();
            var showTab = prev.find("a").attr("href");
            $('.nav-tabs a[href="' + showTab + '"]').tab('show');
            $(tabContent).remove();

            $(window).resize(); // windows resize for the ledger

        }

        $("#firsttab").on("click", function () {
            $(".tab-pane").removeClass("active");
            $("#tab1").addClass('active');
            $('#tabs a:first').tab('show');
        });
        //$("#ledgerdiv").on("dblclick", ".ledgerEvent", function () {
        //    ShowLedgerDetails($(this).find('a').data("ledgerid"));
        //});




        function ShowSubLedgerDetailsEach(subLedgerId, type) {

            var subCodes = subLedgerId.toString().split(",");
            for (var i = 0; i < subCodes.length; i++) {

                var subAccountName = "";
                var accountCode = "";
                if (type == "list" || type == undefined) {
                    var subLedger = $("a[data-ledgerid='" + subCodes[i] + "']");
                    subAccountName = subLedger.attr("data-label");
                    accountCode = subLedger.attr("data-accountid");
                }
                else if (type == "multiselect") {
                    var dataitem = $("#subaccountledgermultiselect").data("kendoMultiSelect").dataItems();

                    var item = $.grep(dataitem, function (item, index) {
                        return item.SubCode == subCodes[i];

                    });

                    if (item != undefined && item != null && item.length > 0 && item.length > 0) {
                        subAccountName = item[0].SubEdesc;
                        accountCode = item[0].AccCode;
                    }

                }
                else if (type == "account") {
                    subAccountName = tabName;

                }
                var nextTab = $('#tabs li').size() + 1;

                ShowSubLedgerTab(accountCode, subCodes[i], subAccountName, nextTab);

            }

        }


        $("#RunQuery").click(function (evt) {

            evt.preventDefault();
            var activeTab = $('#tabs li.active a').attr('href');
            if ($('#tabs li').length == 2) //first tab
            {

            }
            //
            if (activeTab == "javascript:void(0)"/* || activeTab == "#"*/) //first tab
            {

            }
            else {
                classNames = $('#tabs li.active a').find('input[type=hidden]').attr("class");
                //data.AccountCode = AccountCode;
                if (classNames == "listTab") {
                    var listType = $('#subledgers').data("kendoDropDownList").value();
                    var formEnglishDate = $("#FromDateVoucher").val();
                    var toEnglishDate = $("#ToDateVoucher").val();
                    var data = JSON.parse($('#tabs li.active a').find('input[type=hidden]').val().replace(/!/g, '"'));
                    //data["listType"] = listType;

                    data.formDate = formEnglishDate;
                    data.toDate = toEnglishDate;
                    $.ajax({
                        url: '@Url.Action("PopUpSubsidiaryLedgerDetails", "SubsidiaryLedger")',
                        data: data,
                        cache: false,
                        type: "POST",
                        dataType: "html",
                        success: function (data, textStatus, XMLHttpRequest) {
                            $(activeTab).html('');
                            $(activeTab).html(data);
                            $(window).resize();
                        }
                    });
                }



            }
        });


        //});









        $('.nav-pills, .nav-tabs').tabdrop()

        $(function () {
            $('.k-list.k-reset').slimScroll({

                alwaysVisible: true



            });
        });

        $(function () {
            $('#CustomerTreeView').slimScroll({
                height: '420px',
                alwaysVisible: true

            });
        });


        $(function () {
            $('.k-multiselect-wrap.k-floatwrap').slimScroll({
                opacity: '0.4',
                railVisible: true,
            });
        });


        $(".applydp").on("click", function (evt) {

            evt.preventDefault();
            $("#RunQuery").trigger("click");
        })


        function ShowLedgetDetails(ledgerId, type, tabName, listType, LinkSubCodes, groupSkuFlag, MasterCode, action) {

            var formEnglishDate = $("#FromDateVoucher").val();
            var toEnglishDate = $("#ToDateVoucher").val();
            var accountCodes = ledgerId.toString().split(",");
            var linkSubCodes = LinkSubCodes.toString().split(",");
            var accountName = [];

            if (type == "list" || type == undefined) {
                if (accountCodes.length > 1) {
                    $.each(accountCodes, function (index, item) {
                        accountName.push($("a[data-ledgerid='" + item + "']").attr("data-label"));
                    });
                }
                else {
                    accountName.push($("a[data-ledgerid='" + ledgerId + "']").attr("data-label"));
                }
            }
            else if (type == "multiselect") {
                var dataitem = $("#ledgerMultiSelect").data("kendoMultiSelect").dataItems();
                $.each(dataitem, function (index, item) {
                    accountName.push(item.AccountName);
                });
            }
            else if (type == "account") {
                accountName = tabName;
            }

            var nextTab = $('#tabs li').size() + 1;

            // create a tab content
            $.ajax({
                url: '@Url.Action("PopUpSubsidiaryLedgerDetails", "SubsidiaryLedger")',
                data: { formDate: formEnglishDate, toDate: toEnglishDate, AccountCode: ledgerId.toString(), totalTab: nextTab, listType: listType, linkSubCode: linkSubCodes.toString(), groupSkuFlag: groupSkuFlag, MasterCode: MasterCode, actionname: action },
                cache: false,
                type: "POST",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {


                    var jsonData = JSON.stringify({ formDate: formEnglishDate, toDate: toEnglishDate, AccountCode: accountCodes.toString(), totalTab: nextTab, listType: listType, linkSubCode: linkSubCodes.toString(), AccountName: accountName, groupSkuFlag: groupSkuFlag, MasterCode: MasterCode, actionname: action }).replace(/"/g, "!");
                    $('<div class="tab-pane" id="tab' + nextTab + '">' + data + '</div>').appendTo('.tab-content');
                    // create the tab
                    if (type != "account" && accountCodes.length > 1) {
                        $('<li><a href="#tab' + nextTab + '" class="tooltips" data-toggle="tab" role="tab"  data-placement="bottom" data-original-title="' + $.trim(accountName.toString()) + '">' + 'Ledger Detail' + '<span class="close" id="' + nextTab + '">×</span> <div class="clearfix"></div></a></li>').appendTo('#tabs');
                        $('.tooltips').tooltip();
                    }
                    else {
                        $('<li><a href="#tab' + nextTab + '" data-toggle="tab"  role="tab"> ' + $.trim(accountName.toString()) + '<span class="lclose" id="close' + nextTab + '">×</span><input type="hidden" class="listTab" value = "' + jsonData + '"><div class="clearfix" ></div></a></li>').appendTo('#tabs');
                    }
                    $('#close' + nextTab).on("click", closeTab);
                    $('#tabs a:last').tab('show');
                    $(window).resize();
                    @*$.ajax({
                            url: '@Url.Action("SubsidiaryBreadCrumbs", "SubsidiaryLedger")',
                            data: { AccountCode: ledgerId, listType:listType },
                            cache: false,
                            type: "POST",
                            dataType: "html",
                            success: function (data, textStatus, XMLHttpRequest) {

                                var breadCrumbId = "#breadCrumbDiv" + nextTab;
                                $(breadCrumbId).html(data);
                            }
                        });*@
                }
            });
        }

    </script>

</div>
