@model AdvancedFilterSettingsModel
@{
    string pageid = Model.ActionPageId;
    ViewData["ActionPageId"] = pageid;
}
<style>
    /*replace css*/
    .customwith {
        width: 505px !important;
        margin: 30px auto;
    }
    /*end css*/
    .btnCustom {
        border-width: 0;
        font-size: 14px;
        outline: none !important;
        background-image: none !important;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        color: #FFFFFF;
        background-color: #26a69a;
        padding: 7px 11px 7px 11px;
        margin-left: -12px;
    }

    .btn.green {
        margin-left: -20px;
    }

    .customerTreeView ul li {
        padding-left: 15px !important;
        margin-top: 0px;
    }

    .locationTreeView ul li {
        padding-left: 15px !important;
        margin-top: 0px;
    }

    .slimScrollDiv, ul#companyMultiSelect_listbox, ul#BranchMultiSelect_listbox, ul#partyTypeMultiSelect_listbox, ul#documentMultiSelect_listbox {
        height: auto !important;
    }

    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .modal-body.sales-modal {
        max-height: 420px !important;
    }
</style>



@if (Model.IsPopUp)
{

    <a class="btn btn-circle btn-icon-only btn-default" data-toggle="tooltip" data-placement="bottom" data-target="#Model_@pageid">
        <i class="fa fa-filter"></i>
    </a>
    <div class="modal fade" id="Model_@pageid" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel_@pageid">
        <div class="modal-dialog customwith">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row form-inline">
                        <div class="form-group col-sm-9 col-md-9">
                        </div>
                        <div class="form-group col-md-offset-2 col-sm-offset-2 col-sm-1 col-md-1">
                            <button type="button" class="close right-dismis" data-dismiss="modal" aria-hidden="true"></button>
                        </div>

                    </div>
                    <h4 class="modal-title" id="filterModalLabel_@pageid">Advanced Search</h4>
                </div>

                <div class="modal-body sales-modal" style="overflow-x:hidden; overflow-y:scroll;">
                    @if (Model.ShowCustomerFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                <select id="customerMultiSelect_@pageid" multiple="multiple" style="width: 400px;"></select>
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                <button type="button" class="btn green" data-toggle="modal" id="customerToggle_@pageid"><i class="fa fa-chevron-down"></i></button>

                            </div>

                        </div>
                        <div class="customerSlidebox" id="customerSlidebox_@pageid" style="display:none !important;">
                            <div id="customerTab_@pageid" class="tab-pane fade in active">
                                <a data-toggle="tab"></a>
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/CustomerFilter.cshtml")
                            </div>
                        </div>
                                <br />
                    }

                    @if (Model.ShowProductFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                <select id="productMultiselect_@pageid" multiple="multiple" style="width: 400px;"></select>
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                <button type="button" class="btn green" data-toggle="modal" id="productToggle_@pageid"><i class="fa fa-chevron-down"></i></button>
                            </div>
                        </div>
                        <div class="productSlidebox" id="productSlidebox_@pageid" style="display:none !important">
                            <a data-toggle="modal"></a>
                            <div id="productTab_@pageid" class="tab-pane fade in active">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/productFilter.cshtml")
                            </div>
                        </div>

                                <br />
                    }

                    @if (Model.ShowSupplierFilter)
                {
                        <div id="MainsupplierMultiSelect">
                            <div class="row form-inline">
                                <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                    <select id="supplierMultiSelect_@pageid" multiple="multiple" style="width: 400px;"></select>
                                </div>
                                <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                    <button type="button" class="btn green" data-toggle="modal" id="supplierToggle_@pageid"><i class="fa fa-chevron-down"></i></button>
                                </div>
                            </div>
                            <div class="supplierSlidebox" id="supplierSlidebox" style="display:none !important">
                                <a data-toggle="tab"></a>
                                <div id="supplierTab_@pageid" class="tab-pane fade in active">
                                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/supplierFilter.cshtml")
                                </div>
                            </div>
                        </div>
                        <br />
                    }

                    @if (Model.ShowDocumentFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                <select id="documentMultiSelect_@pageid" multiple="multiple" style="width: 400px;"></select>
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowEmployeeFilter)
                    {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/EmployeeFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowAgentFilter)
                    {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/AgentFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowDivisionFilter)
                    {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DivisionFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowDistAreaListFilter)
                    {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DistAreaFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowPurchaseDocumentFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                <select id="purchaseDocumentMultiSelect_@pageid" multiple="multiple" style="width: 400px;"></select>
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }

                    @if (Model.ShowPartyTypeFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/partyTypeFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowAreaFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/AreaFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                        
                    }

                    @if (Model.ShowCategoryFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/itemCategoryFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green chartbtn" data-toggle="modal" id="categoryFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                    @if (Model.ShowFiscalYearFilter)
                    {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/FiscalYearFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green btn.green chartbtn" data-toggle="modal" id="categoryFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }
                   
                    @if (Model.ShowLocationFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                <select id="locationMultiSelect_@pageid" multiple="multiple" style="width: 400px;"></select>
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                <button type="button" class="btn green" data-toggle="modal" id="locationToggle_@pageid"><i class="fa fa-chevron-down"></i></button>

                            </div>

                        </div>
                        <div class="locationSlidebox" id="locationSlidebox_@pageid" style="display:none !important;">
                            <div id="locationTab_@pageid" class="tab-pane fade in active">
                                <a data-toggle="tab"></a>
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/LocationFilter.cshtml")
                            </div>
                        </div>
                                <br />
                    }

                    @if (Model.ShowCompanyFilter)
                {
                        <div class="row form-inline">
                            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/companyFilter.cshtml")
                            </div>
                            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                                @*<button type="button" class="btn green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                            </div>
                        </div>
                        <br />
                    }

                    @if (Model.ShowBranchFilter)
                    {
                        <div class="row form-inline">
                            <div class="form-group1 col-sm-12 col-md-12 col-xs-12">
                                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/ConsolidateFilter.cshtml", false)
                            </div>
                            <div class="form-group1 col-sm-2 col-md-2 col-xs-10">
                                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="branchFilterButton">...</button>*@
                            </div>
                        </div>
                        @*<br />*@
                    }

                    @if (Model.ShowCustomerFilter || Model.ShowProductFilter || Model.ShowSupplierFilter || Model.ShowDocumentFilter || Model.ShowCategoryFilter || Model.ShowPartyTypeFilter || Model.ShowPurchaseDocumentFilter || Model.ShowBranchFilter || Model.ShowAreaFilter)
                {
                        <div id="filterTreeTabs_@pageid" class="tabbable-line">
                            <ul class="nav nav-tabs">
                                @if (Model.ShowCustomerFilter)
                                {
                                    @*
                                        <li class="active"><a data-toggle="tab" href="#customerTab">Customer</a></li>*@
                                }
                                @if (Model.ShowProductFilter)
                                {
                                    @*
                                        <li><a data-toggle="tab" href="#productTab">Item</a></li>*@
                                }
                                @if (Model.ShowSupplierFilter)
                                {
                                    @*
                                        <li><a data-toggle="tab" href="#supplierTab">Supplier</a></li>*@
                                }
                                @if (Model.ShowDocumentFilter)
                                {
                                    @*
                                        <li><a data-toggle="tab" href="#documentTab">Sales Document</a></li>*@
                                }
                                @if (Model.ShowPurchaseDocumentFilter)
                                {
                                    @*
                                        <li><a data-toggle="tab" href="#purchaseDocumentTab">Purchase Document</a></li>*@
                                }
                                @if (Model.ShowLocationFilter)
                                {
                                    @*
                                        <li><a data-toggle="tab" href="#locationTab">Location</a></li>*@
                                }
                            </ul>




                            @if (Model.ShowDocumentFilter)
                    {
                                <div id="documentTab_@pageid" class="tab-pane fade">
                                    <h3>Document List</h3>
                                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DocumentFilter.cshtml")
                                </div>
                            }

                            @if (Model.ShowPurchaseDocumentFilter)
                    {
                                <div id="purcahseDocumentTab_@pageid" class="tab-pane fade">
                                    <h3>Document List</h3>
                                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/purchaseDocumentFilter.cshtml")
                                </div>
                            }

                            @if (Model.ShowLocationFilter)
                    {
                                <div id="documentTab_@pageid" class="tab-pane fade">
                                    <h3>Storage Location List</h3>
                                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/locationFilter.cshtml")
                                </div>
                            }
                        </div>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" id="loadAdvancedFilters_@pageid" data-dismiss="modal">Apply</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (Model.ShowCustomerFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="customerMultiSelect_@pageid" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn green btn.green chartbtn" data-toggle="modal" id="customerToggle_@pageid"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="customerSlidebox" id="customerSlidebox_@pageid" style="display:none !important;">
            @if (Model.ShowCustomerFilter)
            {
                <div id="customerTab_@pageid" class="tab-pane fade in active">
                    <a data-toggle="tab"></a>
                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/CustomerFilter.cshtml")
                </div>

            }

        </div>
    }
    <br />
    if (Model.ShowProductFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="productMultiselect_@pageid" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn green btn.green chartbtn" data-toggle="modal" id="productToggle_@pageid"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="productSlidebox" id="productSlidebox_@pageid" style="display:none !important">
            @if (Model.ShowProductFilter)
            {
                <a data-toggle="modal"></a>
                <div id="productTab_@pageid" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/productFilter.cshtml")
                </div>
            }
        </div>

        <br />
    }

    if (Model.ShowSupplierFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="supplierMultiSelect_@pageid" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn green btn.green" data-toggle="modal" id="supplierToggle_@pageid"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="supplierSlidebox" id="supplierSlidebox_@pageid" style="display:none !important">
            @if (Model.ShowSupplierFilter)
            {
                <a data-toggle="tab"></a>
                <div id="supplierTab_@pageid" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/supplierFilter.cshtml")
                </div>

            }
        </div>
        <br />
    }
    if (Model.ShowAccountFilter) // for account filter option
    {
        <div class="row form-inline">
            <div class="form-group1 col-sm-12 col-md-12 col-xs-12">
                <select id="accountMultiSelect_@pageid" multiple="multiple"></select>
            </div>
            @*<div class="form-group1 col-sm-2 col-md-2 col-xs-2">
                    <button type="button" class="btn green btn.green" data-toggle="modal" id="accountToggle_@pageid">
                        <i class="fa fa-chevron-down"></i>
                    </button>
                </div>*@
        </div>

        <div class="accountSlidebox" id="accountSlidebox_@pageid" style="display:none !important">
            @if (Model.ShowAccountFilter)
            {
                <a data-toggle="tab"></a>
                <div id="accountTab_@pageid" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/AccountFilter.cshtml")
                </div>

            }
        </div>
        <br />
    }

    if (Model.ShowDocumentFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="documentMultiSelect_@pageid" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }
    if (Model.ShowEmployeeFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/EmployeeFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }
    if (Model.ShowDistAreaListFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DistAreaFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }
    if (Model.ShowAgentFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/AgentFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }

    if (Model.ShowDivisionFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/DivisionFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }

    if (Model.ShowPurchaseDocumentFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="purchaseDocumentMultiSelect_@pageid" multiple="multiple" style="width: 400px;"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }

    if (Model.ShowPartyTypeFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/partyTypeFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }
   
    if (Model.ShowAreaFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/AreaFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }

    if (Model.ShowCategoryFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/itemCategoryFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green chartbtn" data-toggle="modal" id="categoryFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }

    if (Model.ShowFiscalYearFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/FiscalYearFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green chartbtn" data-toggle="modal" id="categoryFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }
   
    if (Model.ShowLocationFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="locationMultiSelect_@pageid" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn green btn.green chartbtn" data-toggle="modal" id="locationToggle_@pageid"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="locationSlidebox" id="locationSlidebox_@pageid" style="display:none !important;">
            @if (Model.ShowLocationFilter)
            {
                <div id="locationTab_@pageid" class="tab-pane fade in active">
                    <a data-toggle="tab"></a>
                    @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/LocationFilter.cshtml")
                </div>

            }

        </div>
    }

    if (Model.ShowCompanyFilter)
    {
        <div class="row form-inline">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/companyFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
        <br />
    }

    if (Model.ShowBranchFilter)
    {
        <div class="row form-inline">
            <div class="form-group1 col-sm-12 col-md-12 col-xs-12">
                @Html.Partial("~/Views/Shared/Controls/DashboardChartFilter/ConsolidateFilter.cshtml", false)
            </div>
            <div class="form-group1 col-sm-2 col-md-2 col-xs-10">
                @*<button type="button" class="btn green btn.green" data-toggle="modal" id="branchFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowCustomerFilter || Model.ShowProductFilter || Model.ShowSupplierFilter || Model.ShowDocumentFilter || Model.ShowCategoryFilter || Model.ShowPartyTypeFilter || Model.ShowPurchaseDocumentFilter || Model.ShowBranchFilter || Model.ShowAreaFilter)
    {
        <div id="filterTreeTabs_@pageid" class="tabbable-line">
            <ul class="nav nav-tabs">
                @if (Model.ShowCustomerFilter)
                {
                    @*
                        <li class="active"><a data-toggle="tab" href="#customerTab">Customer</a></li>*@
                }
                @if (Model.ShowProductFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#productTab">Item</a></li>*@
                }
                @if (Model.ShowSupplierFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#supplierTab">Supplier</a></li>*@
                }
                @if (Model.ShowDocumentFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#documentTab">Sales Document</a></li>*@
                }
                @if (Model.ShowPurchaseDocumentFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#purchaseDocumentTab">Purchase Document</a></li>*@
                }
                @if (Model.ShowLocationFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#locationTab">Location</a></li>*@
                }
            </ul>


            @if (Model.ShowDocumentFilter)
            {
                <div id="documentTab_@pageid" class="tab-pane fade">
                    <h3>Document List</h3>
                    @Html.Partial("~/Views/Shared/Controls/DocumentFilter.cshtml")
                </div>
            }

            @if (Model.ShowPurchaseDocumentFilter)
            {
                <div id="purcahseDocumentTab_@pageid" class="tab-pane fade">
                    <h3>Document List</h3>
                    @Html.Partial("~/Views/Shared/Controls/purchaseDocumentFilter.cshtml")
                </div>
            }

            @if (Model.ShowLocationFilter)
            {
                <div id="documentTab_@pageid" class="tab-pane fade">
                    <h3>Storage Location List</h3>
                    @Html.Partial("~/Views/Shared/Controls/locationFilter.cshtml")
                </div>
            }
        </div>

    }
}



<script>
    $(document).ready(function () {

        $("#filterTreeTabs_@pageid").hide();

        function activateTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };
        $("#customerToggle_@pageid").click(function () {
            $("#customerSlidebox_@pageid").slideToggle();
            activateTab('customerTab_@pageid');
            $("#customerTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
            $("#customerTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        $("#locationToggle_@pageid").click(function () {
            $("#locationSlidebox_@pageid").slideToggle();
            activateTab('locationTab_@pageid');
            $("#locationTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
            $("#locationTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        $("#supplierToggle_@pageid").click(function () {
            $("#supplierSlidebox_@pageid").slideToggle();
            activateTab('supplierTab_@pageid');
            $("#supplierTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
            $("#supplierTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        // -- elixir
        $("#accountToggle_@pageid").click(function () {
            $("#accountSlidebox_@pageid").slideToggle();
            activateTab('accountTab_@pageid');
            $("#accountTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
            $("#accountTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#productToggle_@pageid").click(function () {
            $("#productSlidebox_@pageid").slideToggle();
            activateTab('productTab_@pageid');
            $("#productTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
                $("#productTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });


        $("#supplierFilterButton_@pageid").click(function () {
            $("#filterTreeTabs_@pageid").show();
            activateTab('supplierTab_@pageid');
            $("#supplierTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
                $("#supplierTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#documentFilterButton_@pageid").click(function () {
            $("#filterTreeTabs_@pageid").show();
            activateTab('documentTab_@pageid');
            $("#documentTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
                $("#documentTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#purchaseDocumentFilterButton_@pageid").click(function () {
            $("#filterTreeTabs_@pageid").show();
            activateTab('purchaseDocumentTab_@pageid');
            $("#purchaseDocumentTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
                $("#purchaseDocumentTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#locationFilterButton_@pageid").click(function () {
            $("#filterTreeTabs_@pageid").show();
            activateTab('locationTab_@pageid');
            $("#locationTreeView_@pageid").data("kendoTreeView").dataSource.bind("change",
                $("#locationTreeView_@pageid").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });


    });
    $(function () {
        $('.modal-body.sales-modal').slimScroll({
            railVisible: true,
            alwaysVisible: true
        });


        $(".k-list.k-reset").slimScroll({
            height: '220px',
        });

    });

    function toggleIcon(elem) {
        var icon = elem.find("i");
        icon.toggleClass('fa-chevron-down fa-chevron-up');
    }
</script>