@using NeoErp.Core.Helpers;

<a class="btn btn-circle btn-icon-only btn-default" href="#ageingReportFilter" data-toggle="modal">
    <i class="fa fa-cog"></i>
</a>

<div id="ageingReportFilter" class="modal fade " role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Ageing Report Filter</h4>
            </div>
            <div class="modal-body">
               
                <div class="form-horizontal">
                    <div class="form-body" style="padding-left:20px;padding-right:20px">
                        <div class="">
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3">As on Date</label>
                                    <div class="col-md-9">
                                        @Html.Partial("~/Views/Shared/Controls/DatePicker.cshtml")
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3">Frequeny in Days</label>
                                    <div class="col-md-9">
                                        <label><input type="checkbox" class="icheck ageing toggle" data-label="Custom Frequency Days" id="user-custom-frequency-days" name="user-custom-frequency-days"></label>
                                        <div class="input-group input-large date-picker input-daterange">
                                            @Html.DropDownList("fixed-days", EnumExtensions.ToSelectListNameSameAsValue(FrequencyDayFilter.FifteenDay), new { @class = "form-control ddl-frequency-days", id = "ddl-frequency-days" })
                                            <span class="input-group-addon"></span>
                                            <input type="number" min="@((int)FrequencyDayFilter.FifteenDay)" class="form-control non-negative-non-decimal" id="range-frequency-days" name="range-frequency-days" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3">Fixed in Days</label>
                                    <div class="col-md-9">
                                        <label><input type="checkbox" class="icheck ageing toggle" data-label="Custom Fixed Days" id="user-custom-fixed-days" name="user-custom-fixed-days"></label>
                                        <div class="input-group input-large date-picker input-daterange">
                                            @Html.DropDownList("fixed-days", EnumExtensions.ToSelectListNameSameAsValue(FixedDayFilter.ThirtyDay), new { @class = "form-control ddl-fixed-days", id = "ddl-fixed-days" })
                                            <span class="input-group-addon"></span>
                                            <input type="number" min="@((int)FixedDayFilter.ThirtyDay)" class="form-control non-negative-non-decimal" id="range-fixed-days" name="range-fixed-days" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-3">Choose</label>
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <div class="icheck-inline">
                                                @*<label>
                                                    <input type="radio" value="ageingProductTab" id="ageing-product-filter" name="ageing-type-filter"  class="icheck ageing tab" data-label="@EnumExtensions.ToDescription(AgeingReportType.Product)">
                                                </label>*@
                                                <label>
                                                    <input type="radio" value="ageingCustomerTab" id="ageing-customer-filter" name="ageing-type-filter" checked class="icheck ageing tab" data-label="@EnumExtensions.ToDescription(AgeingReportType.Customer)">
                                                </label>
                                                <label>
                                                    <input type="radio" value="ageingSupplierTab" id="ageing-supplier-filter" name="ageing-type-filter" class="icheck ageing tab" data-label="@EnumExtensions.ToDescription(AgeingReportType.Supplier)">
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="form-group" id="ageingFilterTreeTabs">
                                <ul class="nav nav-tabs">
                                    @*<li class="active"><a href="javascript:void();" id="href-ageingProductTab">Product</a></li>*@
                                    <li ><a data-toggle="tab" href="javascript:void();" id="href-ageingCustomerTab">Customer</a></li>
                                    <li><a data-toggle="tab" href="javascript:void();" id="href-ageingSupplierTab">Supplier</a></li>

                                </ul>
                                <div class="tab-content">
                                    @*<div id="ageingProductTab" class="tab-pane fade in active">
                                        <h3>Product List</h3>
                                        <select id="productMultiselect"  multiple="multiple"></select>
                                        @Html.Partial("~/Views/Shared/Controls/productFilter.cshtml")
                                    </div>*@

                                    <div id="ageingCustomerTab"  class="tab-pane fade ">
                                        <h3>Customer List</h3>
                                        <select  id="customerMultiSelect" multiple="multiple"></select>
                                        @Html.Partial("~/Views/Shared/Controls/CustomerFilter.cshtml")
                                    </div>

                                    <div id="ageingSupplierTab" class="tab-pane fade">
                                        <h3>Supplier List</h3>
                                        
                                            <select id="supplierMultiSelect" multiple="multiple"></select>
                                        
                                        
                                        @Html.Partial("~/Views/Shared/Controls/supplierFilter.cshtml")
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                      
                    
               
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button type="button" class="btn green applydp" id="applyFilters">Apply</button>
            </div>
    </div>
</div>
 </div>
<script src="@Url.Content("~/JS/reportFilter.js?v3")"></script>
<script>
    $(document).ready(function () {
        AgeingReportFilter.init();
    });
</script>

