
@{
    Layout = null;
}
<link href="~/Areas/NeoERP.ProjectManagement/Content/hotkeys.css" rel="stylesheet" />

<style>
    .form-elements.row.portlet-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .rightallign {
        font-weight: bold;
        font-size: 8px !important;
        float: right;
    }

    .comboBoxedescName {
        width: 65% !important;
        display: inline-block !important;
    }
    /*.document_child_table th {
        border: 1px solid #ddd;
        font-size: 10px !important;
    }*/

    .document_child_table td {
        /*border: 1px solid #ddd;*/
        font-size: 9px !important;
    }

    /*.borderred, .subledgeramount:focus {
        border: red 1px solid !important;
    }*/


    .document_child_table th {
        padding: 5px;
    }

    .summary-table th {
        font-size: 10px;
    }

    .summary-table td {
        font-size: 10px !important;
    }

    .nepali-calendar {
        max-width: 100% !important;
    }

    .dynamicform input {
        /*width: 100% !important;*/
        /*margin-top: 6px;
            margin-bottom:10px;*/
    }

        .dynamicform input:focus, #nepaliDate5:focus {
            /*border: solid #808080 1px !important;*/
            transition-duration: 1s;
            transition-timing-function: linear;
        }

    .dynamicform label {
        /*margin-bottom: 0px !important;*/
    }

    .nopaddinggap {
        padding-right: 0px;
    }

    .nopadding-left {
        padding-left: 5px;
    }

    .dynamic-table input {
        border: none;
        /*text-align: right;*/
    }

    .dynamic-table .autocompleteclass.searchProduct.k-input {
        text-align: left !important;
        height: 18px !important;
    }

    .bottomspance {
        padding: 2px 15px !important;
    }

    .portlet-title.mingap {
        min-height: auto !important;
    }

    .savebtn {
        margin-top: 10px;
        margin-left: 3px;
    }

    .dynamic-table input.form-control:focus {
        border: solid #43A12E 1px;
    }

    .dynamic-table .k-input.products.ng-pristine.ng-untouched.ng-valid.ng-empty:focus {
        border: none !important;
    }

    .dynamic-table .k-widget.k-autocomplete.k-header.autocompleteclass.searchProduct.k-state-default {
        background-color: none !important;
        box-shadow: none !important;
        border: none !important;
    }

    .dynamic-table td {
        /*padding: 3px !important;*/
    }

    .k-dropdown-wrap.k-state-default {
        background-color: #fff;
        box-shadow: none !important;
    }

    .title-header {
        text-align: left;
        display: inline-block;
    }

        .title-header h4 {
            color: #093;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 0;
            padding-top: 9px;
            padding-left: 23px;
        }

    .current-info {
        border: 1px solid #ddd;
        margin-top: 5px;
        min-height: 152px;
        right: 20px;
        top: 104px;
        width: 26px !important;
        position: fixed;
    }


    .document-head {
        /*background-color: #eee;*/
        /*margin-top: 10px;*/
        /*margin-bottom:15px !important;*/
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+100;White+3D */
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    }

        .document-head h6 {
            color: #2e2e2e !important;
            font-weight: 600;
            font-size: 10px !important;
            margin-top: 6px !important;
            margin-bottom: 6px !important;
        }

    .user h6, .quotation h6, .date h6 {
        /*padding-top: 8px !important;*/
    }

    .boxbg {
        /*background-color: #ffffe1;*/
        padding-bottom: 15px;
    }

    .mingap {
        /*padding: 4px 20px 4px 20px !important;*/
        padding: 0 0 2px 0px !important;
    }

    .buttonlist {
        /*margin-top: 10px;*/
    }

    .value-summary {
        border: solid #ddd 1px;
        margin-top: 30px;
    }

        .value-summary ul {
            margin-left: 0px;
            padding-left: 0px;
        }

        .current-info h6, .value-summary h6 {
            background-color: #eee;
            color: #2e2e2e !important;
            font-weight: 600;
            margin: 0;
            padding-bottom: 5px;
            padding-left: 12px;
            padding-top: 5px;
            width: 167px !important;
        }

    .headtitle {
        transform: rotate(90deg);
    }

    .value-summary ul li {
        list-style: none;
        text-align: left;
        font-size: 11px;
        border-bottom: 1px solid #eee;
        padding: 5px;
    }

        .value-summary ul li:last-child {
            border-bottom: none !important;
        }

    .buttonadd i, .buttondelete i {
        /*display: table-cell !important;*/
        font-size: 12px !important;
    }

    .buttonadd {
        padding-right: 3px;
        padding-left: 3px;
        /*padding-top: 2px;*/
        margin-left: 5px !important;
        background-color: #ddd !important;
        color: forestgreen;
        border: solid #ccc 1px;
    }

    .buttondelete {
        padding-right: 2px;
        padding-left: 3px;
        /*padding-top: 2px;*/
        /*margin-left: 2px !important;*/
        background-color: #ddd !important;
        /*color: forestgreen;*/
        border: solid #ccc 1px;
    }



        .buttonadd:hover, .buttondelete:hover {
            text-decoration: none !important;
            background-color: #fff !important;
        }





    .text-danger {
        font-size: 16px !important;
    }

    .buttonlist i {
        padding-right: 5px !important;
    }

    .buttonlist a, .buttonlist button {
        font-size: 10px !important;
    }

    .buttonlist i {
        font-size: 10px !important;
    }

    .tabbox {
        border: solid #ddd 1px;
    }

        .tabbox .nav-tabs {
            width: 100% !important;
        }

        .tabbox ul li.active a {
            background-color: mediumseagreen !important;
            color: #fff !important;
        }

            .tabbox ul li.active a:hover {
                background-color: mediumseagreen !important;
                color: #fff !important;
            }

    .dynamic-table {
        margin: 10px;
    }

    /*.caption-subject, .caption i {
        color: mediumseagreen !important;
    }*/

    .nogap_bottom {
        margin-bottom: 0px !important;
    }

    .summary-table {
        margin-top: 7px;
    }




    h1 {
        background-color: #dbc6d0;
        border: 1px solid rgba(255,255,255,0.9);
        border-bottom: none;
        border-radius: 0;
        box-shadow: 0 -1px 3px -1px rgba(0,0,0,0.25);
        color: #001f3f; /* navy */
        cursor: pointer;
        display: block;
        font: 200 170%/1.5 'Oswald', sans-serif;
        letter-spacing: 0.02em;
        margin: 0 1px;
        padding: 8px 12px;
        text-shadow: 0 1px 0 rgba(255,255,255,0.6);
    }

        h1:hover {
            background-color: #D1B3C2;
            color: #111;
        }



    .dynamic-table input {
        font-size: 9px !important;
        height: 21px;
    }

    .documentmodule .k-dropdown-wrap.k-state-default {
        /*height: 22px !important;*/
        font-size: 11px !important;
    }




    .bottomspance .portlet-body {
        padding-top: 0px !important;
    }

    .documentmodule input .form-control, .dynamicform input {
        height: 21px;
        /*border: 1px solid #ddd;*/
        font-size: 10px !important;
        padding: 0 4px 0px 4px !important;
        position: relative;
    }

    #subledgermodal input.form-control {
        height: 21px !important;
    }

    .documentmodule label.control-label {
        font-size: 11px !important;
        padding-top: 4px !important;
        padding-bottom: 5px !important;
    }

    .documentmodule label {
        font-size: 11px !important;
        /*padding-top: 4px !important;
            padding-bottom:5px !important;*/
    }


    .nogap-left {
        padding-left: 0px !important;
    }

    .nogap-right {
        padding-right: 0px !important;
    }

    .column-gride-1 {
        width: 27%;
    }

    .column-gride-3 {
        width: 13%;
    }


    .documentform {
        margin-top: 5px !important;
    }

    .document-tab li a {
        padding: 8px 8px !important;
    }

    .dynamicform .form-group {
        margin-bottom: 3px !important;
    }
    /*
        .document-tab li.active a {
            color: mediumseagreen;
        }*/
    .document-tab {
        margin-top: 10px;
    }

    .tabgaptop {
        margin-top: 5px !important;
    }

    .tab-content.d-tab-content label {
        font-size: 11px !important;
    }


    .backtolist, .savebutton, .resetbutton, .savebtn {
        /*border-radius: 6px !important;*/
        /*box-shadow: 0 1px 0 #2ab7ec inset, 0 2px 0 0 #156785, 0 2px 1px #999;*/
        color: #fff;
        font-size: 11px !important;
        padding: 5px 8px 4px 5px;
        position: relative;
        text-decoration: none;
        border-radius: 2px !important;
    }

        .backtolist i {
            font-size: 15px !important;
            color: #666;
        }

    .a_demo_four {
        background-color: #3bb3e0;
        background-image: linear-gradient(to top, rgb(44, 160, 202) 0%, rgb(62, 184, 229) 100%);
    }

    .savebutton {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9dd53a+0,80c217+0,a1d54f+0,7cbc0a+100 */
        background: #9dd53a !; /* Old browsers */
        background: -moz-linear-gradient(top, #9dd53a 0%, #80c217 0%, #a1d54f 0%, #7cbc0a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #9dd53a 0%,#80c217 0%,#a1d54f 0%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #9dd53a 0%,#80c217 0%,#a1d54f 0%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
    }

    .resetbutton {
    }

        .a_demo_four:hover, .savebutton:hover, .resetbutton:hover {
            color: #fff !important;
        }

    .gap {
        padding-top: 25px;
    }



    .nopadding-right {
        padding-right: 0px !important;
    }

    .dataTables_wrapper {
        border: solid #ddd 1px !important;
    }

    .custom-col-width {
        /*width: 96%;*/
        width: 100%;
    }

    .hideshow-infomation {
        width: 6% !important;
        padding-right: 0px;
        /*float:right;*/
    }



    .custom-width-2 {
        width: 4%;
        padding-right: 0px;
        padding-left: 10px;
        position: relative;
    }

    #style-switcher {
        margin-bottom: 15px;
    }


    #style-switcher, #style-switcher-2 {
        background: #fff none repeat scroll 0 0;
        z-index: 1000;
        width: 100%;
        position: relative;
        overflow: hidden;
        height: 180px;
        border: 1px solid #ddd;
    }


    #toggle-switcher, #toggle-switcher-2 {
        background: #999 none repeat scroll 0 0;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 14px;
        /*font-weight: bold;*/
        /*height: 38px;*/
        /*  left: 9px;*/
        padding: 6px 5px;
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        top: 180px;
        transform: rotate(-90deg);
        transform-origin: 0 0 0;
        width: 180px;
    }

    .general-info, .general-info-2 {
        width: 100%;
        background: #fff;
        height: 100%;
        /*margin-left:35px;*/
        padding-left: 45px;
        padding-right: 5px;
        font-size: 10px;
        padding-top: 5px;
        left: 44px;
        position: absolute;
    }


    .calendar-icon {
        font-size: 11px;
        right: -9px;
        position: absolute;
        top: 3px;
        color: #666;
    }


    .calendar-icon-2 {
        font-size: 11px;
        right: 6px;
        position: absolute;
        top: 3px;
        color: #666;
    }

    .calendar-icon-3 {
        font-size: 11px;
        right: 8px;
        position: absolute;
        top: 3px;
        color: #666;
    }


    .tooltip {
        position: absolute !important;
        z-index: 800000 !important;
    }

    #customers-list li {
        font-size: 10px !important;
    }

    /*.modal-dialogbox-body .form-control {
            height: 2px !important;
        }*/
    .modal-dialogbox-body label {
        font-size: 12px;
    }

    .modal-dialogbox-body .control-label {
        text-align: right;
    }

    .modal-dialogbox-body input.form-control {
        height: 20px;
        font-size: 11px;
        padding: 0px 5px;
    }

    .input-space {
        margin-left: 10px !important;
    }

    .autocompleteform .k-widget {
        border: solid 1px #e5e5e5 !important;
    }

        .autocompleteform .k-widget input {
            height: 17px !important;
        }

    .modal-table {
        margin-top: 15px;
        width: 100%;
    }

        .modal-table th {
            padding: 3px;
            border-bottom: none !important;
        }

    /*.k-widget {
        width: 97%;
    }*/
    .k-widget.k-datepicker {
        width: 97%;
    }

    #subledgermodal.modal-dialog select {
        height: 21px;
    }

    #ledgermodal .modal-header {
        padding: 10px !important;
        background-color: #eee;
    }

    #ledgermodal .modal-body {
        padding: 10px !important;
    }

    #subledgermodal label {
        font-size: 11px;
    }

    fieldset legend {
        width: 14% !important;
    }

    .document_child_table .ACC_CODE {
        width: 27%;
    }

    .document_child_table .TRANSACTION_TYPE {
        width: 5%;
    }

    .document_child_table .AMOUNT {
        width: 10%;
    }

    .document_child_table .PARTICULARS {
        width: 23%;
    }

    .ACC_CODE_div {
        width: 27%;
    }

    .TRANSACTION_TYPE_div {
        width: 5%;
    }

    .AMOUNT_div {
        width: 10%;
    }

    .PARTICULARS_div {
        width: 23%;
    }

    .BUDGET_FLAG_div {
        width: 8%;
    }

    .select_option {
        width: 100%;
        height: 20px;
    }

    .documentform {
        position: relative;
    }

    /*.documentform .remarks {
            position: absolute;
            right: -73%;
            width: 247%;
            top: 174px;
        }*/

    .custom-btn {
        color: #fff;
        background-color: #60AA4E;
        border-color: #ccc;
    }

    .header-modal .modal-title {
        background-color: #eee;
    }

    .modal-table .k-dropdown-wrap {
        height: 20px !important;
        width: 100%;
        padding-right: 0px !important;
    }
    /*.modal-table input.form-control {
            border: none !important;
        }*/

    /*.modal-table input.form-control:focus
                  {
                  border:solid #333 1px !important;
                  }*/
    .modal-table .k-select {
        display: none !important;
    }

    .modal-table .k-input {
        height: 14px;
    }

    .modal-table .k-list ul li, .k-list.k-reset li {
        font-size: 11px !important;
    }

    .dynamic-table .k-dropdown-wrap {
        padding-right: 0px !important;
    }


    .modal-table input.k-input {
        font-size: 11px;
        overflow: auto !important;
        text-overflow: ellipsis !important;
    }

    /*.BUDGET_FLAG {
        width: 8%;
    }

    .ITEM_CODE, .ITEM_CODE_div {
        width: 150px !important;
    }*/

    /*.FROM_LOCATION_CODE, .FROM_LOCATION_CODE_div {
        width: 150px !important;
    }*/

    .MU_CODE, .MU_CODE_div {
        width: 4%;
    }

    .dropzone-download {
        font-size: 17px !important;
        position: absolute;
        top: 112px;
        right: 9px;
    }

    /*.actions .referenceCustomer input {
        width: 0px !important;
        transition: .55s ease;
        padding: 2px 0px !important;
    }*/

    .actions .referenceCustomer input:hover, .actions .referenceCustomer input:focus, .ref_search_cus:hover input {
        width: 290px !important;
    }

    /*.ref_search_cus i {
        color: #999;
        position: absolute;
        top: 6px;
        right:4px;
        z-index: 100;
        font-size: 17px;
    }*/

    .ref_search_cus .referenceCustomer {
        width: 100% !important;
    }

    .ref_search_cus .k-dropdown-wrap .k-state-default {
        border-color: #ccc !important;
    }

    .menuDropdown .dropdown-menu {
        min-width: 175px;
        position: absolute;
        top: 67%;
        left: -87px;
        z-index: 5000;
    }

        .menuDropdown .dropdown-menu:before, .menuDropdown .dropdown-menu:after {
            left: 151px;
        }

    .modal_table_box input.k-input {
        border: none !important;
        height: 17px !important;
        font-size: 9px !important;
    }

    .modal_table_box .k-dropdown-wrap {
        border: 0px !important;
    }

        .modal_table_box .k-dropdown-wrap.k-state-default {
            border: 0px !important;
            background-color: #fff !important;
        }

    .modal_table_box input.form-control {
        border: 0px !important;
        font-size: 9px !important;
    }

    .documentform select, .documentform input {
        font-size: 9px !important;
        height: 21px;
    }

    .documentform select {
        padding: 0px 2px !important;
    }

    .dynamic-table .k-widget {
        width: 99.5%;
    }

    span.k-widget.k-combobox.k-header.referenceCustomer.ccustumer.cust.custumer.c.ng-pristine.ng-untouched.ng-valid.k-combobox-clearable.ng-empty {
        margin-top: -20px !important;
    }

    .col-xs-12.col-md-4.pr-0 {
        padding-right: 0;
    }
</style>

<div class="col-md-12 bodyController" ng-controller="consumption">
    <div class="portlet light form-fit bordered bottomspance">

        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <a class="btn-back pull-left" data-toggle="tooltip" data-placement="top" title="Back To Dashboard" href="/ProjectManagement/Home/ProjectDashboard">
                        <i class="fa fa-arrow-circle-left"></i>
                    </a>
                    <i class="fa fa-gift font-green-haze"></i>
                    <span class="caption-subject font-green-haze bold uppercase">{{FormName}} @*/@workingContent.CurrentUserinformation.branch_name*@</span>
                </div>

                <div class="actions">
                    <div class="btn-group" ng-if="havRefrence=='Y'">
                        <div ng-if="shortCut=='Y'">
                            @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/DropDownPartialView/MasterPartialView/_refrenceCodePartial.cshtml")
                        </div>
                    </div>
                    <div class="ref_search_cus btn-group" ng-if="havRefrence=='Y'">
                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/DropDownPartialView/_refrencecustomerCodePartial.cshtml")
                    </div>
                    <div class="btn-group" ng-if="havRefrence=='Y'">
                        <a href="javascript:;" class="btn blue-soft btn-sm" id="btnrefrence" ng-click="ShowInventoryRef()" data-toggle="tooltip" title="View reference data">
                            <i class="fa fa-exchange"></i> Reference
                        </a>
                    </div>
                    <div class="btn-group" ng-if="RT_CONTROL_FLAG=='Y'">
                        <a href="javascript:;" class="btn blue-soft btn-sm" id="btnproductCalcuation" ng-click="getVoucherDetailForReferenceProduct()" data-toggle="tooltip" title="View Production data">
                            <i class="fa fa-exchange"></i> Calc PO
                        </a>
                    </div>
                    <!--
                           @*<div ng-if="havRefrence!='Y'">
                           <label>No refrence</label>
                       </div>*@

                           @*<a href="javascript:;" class="btn btn-default btn-sm" id="resetdocument" ng-click="reset()">
                               <i class="fa fa-share"></i> Reset
                           </a>*@
                           @*<div class="btn-group">
                               <a class="btn btn-sm btn-green" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveDocumentFormData(0)" href="javascript:;">
                                   <i class="fa fa-floppy-o"></i> {{save}}

                               </a>
                           </div>*@
                           @*<a ng-if="savecontinue==='Save & Continue'" class="btn btn-sm btn-green-light" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." id="savedocumentformdata" ng-click="SaveDocumentFormData(1)" href="javascript:;">
                               <i class="fa fa-floppy-o"></i> {{savecontinue}}
                           </a>*@
                           @*<a ng-if="OrderNo !== 'undefined/undefined/undefined'" class="btn btn-sm grey-cascade" data-toggle="tooltip" data-placement="top" title="Add Inventory" href="/ProjectManagement/Home/Index#!DT/Inventory?formcode={{formcode}}">
                               <i class="fa fa-plus-circle" aria-hidden="true"></i> New

                           </a>*@
                           @*<a class="btn btn-sm btn-default" id="saveasdraft" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveAsDraft(1)" href="javascript:;">
                               <i class="fa fa-floppy-o font-green-haze"></i> Save As Draft

                           </a>*@
                           @*<a class="btn btn-circle btn-icon-only btn-default" id="getDraftItem" ng-click="showDraftModal()" href="javascript:void(0);" title="Get Draft Value">
                               <i class="fa fa-file" aria-hidden="true"></i>
                           </a>*@
                           @*<a class="btn btn-sm btn-green-light" ng-click="SaveDocumentFormData(2)" href="javascript:;">
                               <i class="fa fa-floppy-o"></i> Save & Print
                           </a>*@
                    -->


                    <div class="btn-group menuDropdown" data-toggle="tooltip" title="Actions">
                        <a class="btn btn-green" href="javascript:;" data-toggle="dropdown" aria-expanded="false" title="Actions">
                            <i class="fa fa-user"></i> Actions
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li ng-if="OrderNo !== 'undefined'">
                                <a data-toggle="tooltip" data-placement="top" title="Add Inventory" href="/ProjectManagement/Home/Index#!DT/Inventory?formcode={{formcode}}">
                                    <i class="glyphicon glyphicon-new-window"></i> New
                                </a>
                            </li>

                            <!--
                            @*<li>
                                    <a id="resetdocument" ng-click="reset()" href="javascript:;">
                                        <i class="fa fa-share"></i> Reset (Alt + R)
                                    </a>
                                </li>*@
                            -->

                            <li>
                                <a href="javascript:;" id="savedocumentformdata" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveDocumentFormData(0)" data-toggle="tooltip" title="Save document">
                                    <i class="fa fa-floppy-o"></i> {{save}} (Ctrl + Enter)
                                </a>
                            </li>
                            @*<li>
                                <a ng-if="savecontinue==='Save & Continue'" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." id="savedocumentformdata" data-toggle="tooltip" title="Save and continue for new document" ng-click="SaveDocumentFormData(1)" href="javascript:;">
                                    <i class="fa fa-floppy-o"></i> {{savecontinue}} (Alt + C)
                                </a>
                            </li>*@
                            @*<li>
                                    <a ng-click="SaveDocumentFormData(2)" href="javascript:;">
                                        <i class="fa fa-print"></i>Save & Print (Alt + P)
                                    </a>
                                    ng-if="formControlModelData[0].CREATE_FLAG == 'Y'"
                                </li>*@
                            <li class="divider"> </li>
                            @*<li>
                                <a id="getDraftItem" ng-click="showDraftModal()" data-toggle="tooltip" title="Get Draft Value" href="javascript:;">
                                    <i class="fa fa-list"></i> Draft List (Alt+ D )
                                </a>
                            </li>*@
                            @*<li>
                                <a id="saveasdraft" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." ng-click="SaveAsDraft(1)" href="javascript:;" data-toggle="tooltip" title="Save document as draft">
                                    <i class="fa fa-file"></i> Save As Draft (Alt +S)
                                </a>
                            </li>*@
                        </ul>
                    </div>
                    @*<a class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="(Alt + P)" ng-click="SaveDocumentFormData(3)" href="javascript:;">
                            <i class="fa fa-print"></i> Save & Print
                        </a>*@
                    <!--<a ng-if="OrderNo === 'undefined'" class="btn btn-primary" data-toggle="tooltip" data-placement="top"--> @*title="(Alt + P)"*@ <!--title="Save and print document" ng-click="SaveDocumentFormData(3)" href="javascript:;">
                        <i class="fa fa-print"></i> Save & Print
                    </a>-->
                    <a ng-if="OrderNo!== 'undefined'" class="btn btn-primary" data-toggle="tooltip" data-placement="top" @*title="(Alt + P)"*@ title="Update and print document" ng-click="SaveDocumentFormData(4)" href="javascript:;">
                        <i class="fa fa-print"></i> Update & Print
                    </a>
                    <a ng-if="OrderNo!== 'undefined'" class="btn btn-primary" data-toggle="tooltip" data-placement="top" @*title="(Alt + P)"*@ title="Delete Document" ng-click="DeleteInvDocument()" href="javascript:;">
                        <i class="fa fa-trash-o"></i> Delete
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row boxbg">
                    @*<div class="col-md-12">
                            <div class="row document-head">
                                <div class="col-xs-3 col-md-4">
                                    <div class="user">
                                        <h6>Form Name: {{FormName}} </h6>
                                    </div>
                                </div>
                                <div class="col-xs-2 col-md-2">
                                    <div class="voucher">
                                        <h6>
                                            Username: @User.Identity.Name

                                        </h6>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="quotation">
                                        <h6> Total Voucher:{{VoucherCount}}</h6>
                                    </div>
                                </div>
                                <div class="col-xs-3 col-md-3">
                                    <div class="date">
                                        <h6>Date : @DateTime.Now.ToString("dd MMM yyyy")/{{NepaliDate}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    <div ng-repeat="(key,it) in dynamicSubLedgerModalData">
                        <div class="modal fade dynamicSubLedgerModal_{{$index}}" id="ledgermodal" data-backdrop="static" tabindex="-1" data-width="760">
                            <div class="modal-dialog" id="subledgermodal">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div>
                                            <b>{{accName}}</b>
                                            <div type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</div>
                                        </div>



                                    </div>
                                    <div class="modal-body modal-dialogbox-body">

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Voucher Amount:</label>
                                                    <div class="">
                                                        @*<input type="text" class="form-control" ng-model="it.VOUCHER_AMOUNT" />*@
                                                        <input type="number" class="form-control textbox" min="0" ng-change="ChangeVoucherAmount(childModels[key].AMOUNT)" ng-value="VOUCHER_AMOUNT" ng-model="childModels[key].AMOUNT" next-on-tab />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Subledger Amount:</label>
                                                    <div class="">
                                                        @*<input type="text" class="form-control" ng-model="it.VOUCHER_AMOUNT" />*@
                                                        <input type="number" class="form-control subledgerpopupamountfield textbox" min="0" ng-value="SUBLEDGER_AMOUNT_CALCULATION" ng-model="it.SUBLEDGER_AMOUNT" readonly next-on-tab />
                                                        @*<input type="number" class="form-control textbox" min="0" ng-change="ChangeVoucherAmount(childModels[key].AMOUNT,SUBLEDGER_AMOUNT_CALCULATION)" ng-value="VOUCHER_AMOUNT" ng-model="childModels[key].AMOUNT" />*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label class="control-label">Remaining Amount:</label>
                                                    <div class="">
                                                        <input type="number" class="form-control" ng-value="REMAINING_AMOUNT_CALCULATION" ng-model="it.REMAINING_AMOUNT" readonly />
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="col-md-4 pull-right">
                                                <div class="form-group">

                                                    <label class="control-label col-md-8">Transaction Type:</label>
                                                    <div class="col-md-4">
                                                        <select ng-model="transactiontype" disabled>
                                                            <option value="DR">Dr</option>
                                                            <option value="CR">Cr</option>
                                                        </select>

                                                    </div>
                                                </div>
                                            </div>


                                            <label style="float:right; color:red;">{{errorshow}} </label>
                                            @*<div ng-show="onreferenceclickshow">
                                                    @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_referencePartial.cshtml")
                                                </div>*@
                                        </div>


                                        @*<div class="row" style="margin-top: 25px;">
                                                <div class="col-md-4">
                                                    <div class="form-group autocompleteformCode">
                                                        <label for="element">Code</label>
                                                        <input tye="text" class="form-control" ng-model="childModels[$index][item.COLUMN_NAME]" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group autocompleteform">
                                                        <label for="element">Subledger</label>
                                                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_subledgerPartial.cshtml")
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="element">Particulars</label>
                                                        <input tye="text" class="form-control" ng-model="item.PARTICULARS" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="element">Amount</label>
                                                        <input type="text" class="form-control" ng-model="item.AMOUNT" />
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="element">Refrence</label>
                                                        <input type="text" class="form-control" ng-model="item.REFRENCE" />
                                                    </div>
                                                </div>
                                            </div>*@

                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-bordered table-striped modal-table">
                                                    <thead>
                                                        <tr>
                                                            <th><label for="element">Code</label></th>
                                                            <th><label for="element">Subledger</label></th>
                                                            <th><label for="element">Particulars</label></th>
                                                            <th><label for="element">Amount</label></th>
                                                            @*
                                                                <th><label for="element">Reference</label></th>*@
                                                            <th width="70px"><label for="element"></label></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="ref in it.SUBLEDGER track by $index">
                                                            @*
                                                                <td>{{key}}|| {{$index}}</td>*@
                                                            @*
                                                                <td> <input tye="text" class="form-control" ng-model="dynamicSubLedgerModalData[key].SUBLEDGER[$index].SUB_CODE" /></td>*@
                                                            <td> @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_subledgerCodePartial.cshtml")</td>
                                                            <td> @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_subledgerPartial.cshtml")</td>
                                                            <td> <input tye="text" class="form-control" ng-model="ref.PARTICULARS" /></td>
                                                            <td>
                                                                <input type="number" id="subledgeramount" class="form-control subledgeramounts" ng-change="Change($index,childModels[key].AMOUNT)" ng-model="ref.AMOUNT" />
                                                            </td>
                                                            @*
                                                                <td><input type="text" ng-click="OnReferenceClick()" class="form-control" ng-model="ref.REFRENCE" /></td>*@
                                                            <td>
                                                                <a href="" id="add_child_element" name="add_child_element" class="buttonadd" style="padding-top:0px !important;" ng-click="add_childSubledger_element($index)"><i class="fa fa-plus"></i></a>
                                                                <a href="javascript:void(0)" class="buttondelete" style="padding-top:0px !important;">
                                                                    <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_childSubledger_element(key,$index,childModels[key].AMOUNT)"></i>
                                                                </a>
                                                            </td>
                                                            @*
                                                                <td></td>*@
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" ng-click="SubLedger_Ok($index,$event)">Ok</button>
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="SubLedger_Cancel()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="(key,item) in dynamicModalData">
                        <div class="modal fade budgetFlag_{{$index}}" id="budgetmodal" data-backdrop="static" tabindex="-1" data-width="760">
                            <div class="modal-dialog" style="width:45%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab=""></button>
                                        @*<b>{{accName}}</b>*@
                                        <h4 class="modal-title"><span class="fa fa-briefcase"></span> Budget/Cost center transaction</h4>





                                    </div>
                                    <div class="modal-body modal-dialogbox-body">
                                        <div class="row">
                                            <div class="col-sm-offset-6 col-md-offset-6 col-xs-12 col-sm-6 col-md-6" style="margin-top:7px;">
                                                <div class="form-group">
                                                    <div class="col-xs-12 col-md-4">
                                                        <label class="control-label">Budget As: </label>
                                                    </div>
                                                    <div class="col-xs-12 col-md-8">
                                                        <select class="form-control account_transaction_type" ng-model="item.BUDGET_FLAG" style="height:22px;">
                                                            <option value="I">Income</option>
                                                            <option value="E">Expences</option>
                                                            <option value="A">Assets</option>
                                                            <option value="L">Liability</option>
                                                        </select>

                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-bordered table-striped modal-table modal_table_box">
                                                    <thead>
                                                        <tr>
                                                            <th><label for="element">Cost Center</label></th>
                                                            <th><label for="element">Quantity</label></th>
                                                            <th><label for="element">Account Allocation</label></th>
                                                            <th><label for="element"></label></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="child in item.BUDGET track by $index">
                                                            <td> @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_budgetCenterPartial.cshtml")</td>
                                                            <td> <input type="number" class="form-control textbox" ng-change="calQtyBudgetFlag(child,$index)" ng-model="child.QUANTITY" next-on-tab /></td>
                                                            <td>@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_accountCodePartialForBudgetFlag.cshtml")</td>
                                                            <td>
                                                                <a href="" id="add_child_budgetflag" name="add_child_budgetflag" class="buttonadd" ng-click="add_childbudgetflag_element($index)"><i class="fa fa-plus"></i></a>
                                                                <a href="javascript:void(0)" class="buttondelete">
                                                                    <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_childbudgetflag_element(key,$index)"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="modal-footer">
                                        @*<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="callbackbuttonright(); $event.stopPropagation()">Ok</button>*@
                                        <button type="button" class="btn btn-green" data-dismiss="modal" ng-click="setOnFlagFocus()">Ok</button>
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal" ng-click="setOnFlagFocus()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="(key,item) in dynamicSerialTrackingModalData">
                        <div class="modal fade serialtrackFlag_{{$index}}" id="itemserialtarckmodal" data-backdrop="static" tabindex="-1" data-width="760">
                            <div class="modal-dialog" style="width:45%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab=""></button>
                                        @*<b>{{accName}}</b>*@
                                        <h4 class="modal-title"><span class="fa fa-briefcase"></span> Tracking No.</h4>





                                    </div>
                                    <div class="modal-body modal-dialogbox-body">
                                        <div class="row">
                                            <div class=" col-xs-12 " style="margin-top:7px;">
                                                <div class="form-group">
                                                    <div class="col-xs-12 col-md-8">
                                                        <label class="control-label"><strong>{{item.ITEM_EDESC}}</strong></label>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">

                                                        <input type="number" min="0" class="form-control textbox" ng-change="loadchildelements($index,item.QUANTITY)" ng-model="item.QUANTITY" next-on-tab>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table class="table-bordered table-striped modal-table modal_table_box">
                                                    <thead>
                                                        <tr>

                                                            <th><label for="element">Tracking No</label></th>

                                                            <th><label for="element"></label></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="child in item.TRACK track by $index">

                                                            <td> <input type="text" class="form-control" ng-model="child.TRACKING_SERIAL_NO" next-on-tab /></td>

                                                            <td>
                                                                <a href="" id="add_child_budgetflag" name="add_child_budgetflag" class="buttonadd" ng-click="add_childSerialTracking_element($index)"><i class="fa fa-plus"></i></a>
                                                                <a href="javascript:void(0)" class="buttondelete">
                                                                    <i class="fa fa-trash text-danger" data-tooltip="Remove item" ng-click="remove_childSerialTracking_element(key,$index)"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>


                                    <div class="modal-footer">
                                        @*<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="callbackbuttonright(); $event.stopPropagation()">Ok</button>*@
                                        <button type="button" class="btn btn-green" data-dismiss="modal" ng-click="SerialTrackingOK(key)">Ok</button>
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="(key,item) in dynamicBatchTrackingModalData">
                        <div class="modal fade batchtrackflag_{{$index}}" id="itembatchtarckmodal" data-backdrop="static" tabindex="-1" data-width="760">
                            <div class="modal-dialog" style="width:45%;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab=""></button>
                                        @*<b>{{accName}}</b>*@
                                        <h4 class="modal-title"><span class="fa fa-briefcase"></span>{{item.ITEM_EDESC}}</h4>
                                    </div>
                                    <div class="modal-body modal-dialogbox-body">
                                        <div class="row">
                                            <div class=" col-xs-12 " style="margin-top:7px;">
                                                <div class="form-group">
                                                    <div class="col-xs-12 col-md-8">
                                                        <label class="control-label">Batch No.</label>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">

                                                        <input type="text" class="form-control" ng-model="item.BATCH_NO" next-on-tab>
                                                    </div>
                                                    <div class="col-xs-12 col-md-8">
                                                        <label class="control-label">Expiry Date</label>
                                                    </div>
                                                    <div class="col-xs-12 col-md-4">

                                                        <input type="text" class="form-control textbox" kendo-date-picker ng-model="item.EXPIRY_DATE" k-options="monthSelectorOptionsSingle" next-on-tab>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>


                                    <div class="modal-footer">
                                        @*<button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="callbackbuttonright(); $event.stopPropagation()">Ok</button>*@
                                        <button type="button" class="btn btn-green" data-dismiss="modal" ng-click="BatchTrackingOK(key)">Ok</button>
                                        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-11 custom-col-width">
                        @*<form id="documentformelementvalues" name='theForm' class="documentform">
                        *@
                        <form id="documentformelementvalues" class="documentform">
                            <!-- rendering master elements -->
                            <div class="row masterDiv">
                                @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_masterFieldPartial.cshtml")
                            </div>

                            <div class="clearfix"></div>

                            <div ng-if="ModuleCode== '01'" class="childDiv">
                                @*@{
                                        @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/ModulePartialView/_FinancialAccFormTab.cshtml")
                                    }*@
                            </div>
                            <div ng-if="ModuleCode== '02'" class="childDiv">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/ModulePartialView/_ConsumptionFormTab.cshtml")
                                }
                            </div>
                            <div ng-if="ModuleCode== '03'" class="childDiv">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/ModulePartialView/_PrdManagementFormTab.cshtml")
                                }
                            </div>
                            <div ng-if="ModuleCode== '04'" class="childDiv">
                                @{
                                    @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/ModulePartialView/_SalesNRevenuFormTab.cshtml")
                                }
                            </div>
                            @*<button type="button" ng-click="theForm.$valid && SaveDocumentFormData()" class="btn btn-primary savebtn">Save</button>*@
                            @*<button type="button" id="savedocumentformdata" ng-click="SaveDocumentFormData(0)" class="btn btn-primary savebtn">Save</button>
                                <button type="button" id="savedocumentformdata" ng-click="SaveDocumentFormData(1)" class="btn btn-primary savebtn">Save And Continue</button>*@
                        </form>

                        <div class="row">

                            <div ng-if="ChargeList!=''" class="col-xs-12 col-sm-8 col-md-6">
                                <div class="table-responsive">
                                    <table class="table table-bordered charge-table">

                                        <thead class="font-green">
                                            <tr>
                                                <th width="20%" colspan="2">Charge On</th>
                                                <th width="10%">Type</th>
                                                <th width="15%">Charge Amount</th>
                                                <th width="15%">Manual Amt</th>
                                                <th width="40%">Acc Code</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="(chargeIndex,item) in ChargeList">
                                                <td>
                                                    <input type="checkbox" ng-click="sync(bool, item)" ng-init="bool=false" ng-model="bool" ng-checked="isChecked(item.CHARGE_CODE)" title="{{item.CHARGE_EDESC}}">
                                                </td>
                                                <td>{{item.CHARGE_EDESC}}  <label ng-if="item.VALUE_PERCENT_FLAG ==='P'">%</label></td>
                                                <td width="10%">
                                                    <label ng-if="item.CHARGE_TYPE_FLAG ==='D'">Deduction</label>
                                                    <label ng-if="item.CHARGE_TYPE_FLAG ==='A'">Addition</label>
                                                </td>

                                                <td width="15%" ng-if="item.CHARGE_CODE ==='VT'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                </td>
                                                <td width="15%" ng-if="item.CHARGE_CODE !=='VT'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="sync(bool, item)" ng-model="item.VALUE_PERCENT_AMOUNT" next-on-tab>
                                                </td>



                                                <td width="15%" ng-if="item.VALUE_PERCENT_FLAG ==='P'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT">
                                                </td>
                                                <td width="15%" ng-if="item.VALUE_PERCENT_FLAG !=='P'">
                                                    <input type="number" min="0" class="form-control textbox" ng-change="msync(bool, item)" step="0.01" ng-model="item.CHARGE_AMOUNT">
                                                </td>
                                                @*<td width="15%" ng-if="item.VALUE_PERCENT_FLAG ==='P'">
                                                        <input type="number" min="0" class="form-control textbox" step="0.01" value="{{parseFloat((item.VALUE_PERCENT_AMOUNT*summary.grandTotal)/100)}}" ng-model="item.CHARGE_AMOUNT" readonly>
                                                    </td>
                                                    <td width="15%" ng-if="item.VALUE_PERCENT_FLAG !=='P'">
                                                        <input type="number" min="0" class="form-control textbox" step="0.01" value="{{parseFloat(item.VALUE_PERCENT_AMOUNT)}}" ng-model="item.CHARGE_AMOUNT" readonly>
                                                    </td>*@
                                                <td width="40%;">
                                                    @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_chargeAccCodePartial.cshtml")
                                                    @*<input kendo-combo-box ng-model="item.ACC_CODE" class="accCodeAutoComplete cacccode" k-options="accountCodeOption" k-placeholder="'Select Account Code'" />*@
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="summary-table">

                                @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_summaryPartialView.cshtml")

                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <div ng-repeat="element in MasterFormElement | orderBy: 'SERIAL_NO'" ng-if="element.COLUMN_NAME.indexOf('REMARKS') !== -1">

                                        <label class="control-label" for="element">{{element.COLUMN_HEADER}} <i class="fa fa-info-circle font-green" data-toggle="tooltip" style="display:none;" title="{{element.HELP_DESCRIPTION}}"></i></label>

                                        <textarea id="salestype" ng-model="masterModels[element.COLUMN_NAME]" name="salestype" class="form-control salestype" type="textarea" style="width: 98%; height:29px;" next-on-tab />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_financeGeneralInfo.cshtml")*@
                </div>

            </div>
            @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/SetupPartial/_quickSetup.cshtml")*@

            @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PartialView/_tablerefrence.cshtml")

            @Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/Draft/_draftModalPartial.cshtml")

            @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/_defaultPrintingTemplate.cshtml")*@

            <div class="modal fade-out" id="printTemplateModal" data-backdrop="static" tabindex="-1" data-width="760">
                <div class="modal-dialog modal-lg modal_customized">
                    <div class="modal-content">
                        <div class="modal-header">
                            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true" next-on-tab>&times;</button>*@
                            <h4 class="modal-title">
                                <span class="fa fa-print"></span>
                            </h4>
                        </div>

                        <div class="modal-body saveAndPrintModal main">
                            <form name="printTemplate" id="printTemplateForm" class="form-horizontal">
                                @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/_defaultPrintingTemplate.cshtml")*@
                                @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/_printSample.cshtml")*@
                                @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/Inventory/_branchStockPrintTemplate.cshtml")*@
                            </form>
                        </div>

                        <div class="modal-footer">
                            <a class="btn btn-sm btn-green" id="getdraftvalue" ng-click="print(event)" data-loading-text="<i class='fa fa-spinner fa-spin '></i> Processing..." href="javascript:;">
                                <i class="fa fa-floppy-o"></i> Print
                            </a>
                            <a class="btn btn-sm btn-default" data-dismiss="modal" @*ng-click="print('1')*@ ng-click="reset()">Cancel Print</a>
                        </div>
                    </div>
                </div>
            </div>


            @*@Html.Partial("~/Areas/NeoERP.ProjectManagement/Views/Shared/PrintTemplate/_printSample.cshtml")*@
        </div>

    </div>
</div>


<script>


    debugger;
    function flagKyeDown($this) {
        var a = $this;
        ;
        $('.subledgerModal').modal('toggle');
    }

    $('#toggle-switcher').click(function () {
        if ($(this).hasClass('opened')) {
            $(this).removeClass('opened');
            $('#style-switcher').animate({ 'left': '0px', 'width': '34px' });
        } else {
            $(this).addClass('opened');
            $('#style-switcher').animate({ 'left': '-241px', 'width': '273px' });
        }
    });



    $('#toggle-switcher-2').click(function () {
        if ($(this).hasClass('opened')) {
            $(this).removeClass('opened');
            $('#style-switcher-2').animate({ 'left': '0px', 'width': '34px' });
        } else {
            $(this).addClass('opened');
            $('#style-switcher-2').animate({ 'left': '-241px', 'width': '273px' });
        }
    });

    //$('a').tooltip();
    $('#element__VOUCHER_NO').focus();
</script>


<script>
    var dt = $.Deferred();
    var elements = null;
    debugger;
    $(document).ready(function () {

        $("body").tooltip({ selector: '[data-toggle=tooltip]' });
        $('i.font-green').hide();
        setTimeout(function () {
            $(".k-list").slimScroll({
                position: 'right',
                alwaysVisible: false,
                //height: '350',
            });

            $(".dynamic-table tbody").slimScroll({
                position: 'right',
                alwaysVisible: false,
                height: '150',
            });
            $('.dynamic_child_table6').find('div').css('overflow', 'visible');
        }, 500);

        $.when(dt).then(function (res) {
            elements;

            if (elements != undefined) {
                $.each(elements, function (key, value) {
                    var item = this;
                    if (item.COLUMN_NAME.indexOf('DATE') !== -1) {
                        //current_date = getNepaliDate();
                        //$("#nepaliDate5_" + item.COLUMN_NAME).val(current_date);
                        //$(".nepali-calendar").nepaliDatePicker({
                        //    npdMonth: true,
                        //    npdYear: true,
                        //    npdYearCount: 10,
                        //    altFormat: "dd-MMM-YYYY",
                        //    dateFormat: "dd-MMM-YYYY",

                        //});
                    }


                });
            }
        });

        $('.nav-tabs a').on('click', function (e) {
            e.preventDefault();
            if ($(this).attr('href') == '#tab_15_2') {
                $('#tab_15_2').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_3') {
                $('#tab_15_3').tab('show')
            }
            if ($(this).attr('href') == '#tab_15_4') {
                $('#tab_15_4').tab('show')
            }

        });

        //$(document).keydown(function (e) {
        //    if (e.keyCode == 9) {  //tab pressed
        //
        //        e.preventDefault();
        //        var pageElems = document.querySelectorAll('input, select, textarea'),
        //            elem = e.srcElement
        //        focusNext = false,
        //            len = pageElems.length;
        //        for (var i = 0; i < len; i++) {
        //            var pe = pageElems[i];
        //            if (focusNext) {
        //                if (pe.style.display !== 'none' && pe.type != 'hidden' && pe.disabled == false && pe.readOnly == false) {
        //                    pe.focus();
        //                    break;
        //                }
        //            } else if (pe === e.srcElement) {
        //                focusNext = true;
        //            }
        //        }
        //    }
        //});

    });

    function ConvertEngDateToNep(eng) {

        //;
        if (eng === undefined)
            return;
        var engmonthreq = "";
        var arr = eng.split('-');
        var day = (arr[0]);
        var month = (arr[1]);
        var year = (arr[2]);
        if (month == "Jan") { engmonthreq = "01" }
        else if (month == "Feb") { engmonthreq = "02" }
        else if (month == "Mar") { engmonthreq = "03" }
        else if (month == "Apr") { engmonthreq = "04" }
        else if (month == "May") { engmonthreq = "05" }
        else if (month == "Jun") { engmonthreq = "06" }
        else if (month == "Jul") { engmonthreq = "07" }
        else if (month == "Aug") { engmonthreq = "08" }
        else if (month == "Sep") { engmonthreq = "09" }
        else if (month == "Oct") { engmonthreq = "10" }
        else if (month == "Nov") { engmonthreq = "11" }
        else if (month == "Dec") { engmonthreq = "12" }
        engdatereq = year + '-' + engmonthreq + '-' + day;
        return convertednepdate = AD2BS(engdatereq);
    }

</script>

@*<script>
        //Auto Scroll to TOP for document Template Form



        $(".k-list").slimScroll({
            position: 'right',
            alwaysVisible: false,
            //height: '350',
        });

        $('.modal').on('shown.bs.modal', function () {
            $(document).off('focusin.modal');
        });

        // global javascript function here.

        //function formatValue(value, text) {
        //    if (text.indexOf("#") > -1)
        //        text = text.split("#")[1];
        //    var textMatcher = new RegExp(text, "ig");
        //    return value.replace(textMatcher, function (match) {
        //        return "<u><strong>" + match + "</strong></u>";
        //    });
        //}
        function formatValue(value, type, text) {

            if (type == null)
                type = "";
            if (text != undefined)
                if (text.indexOf("#") > -1)
                    text = text.split("#")[1];
            var textMatcher = new RegExp(text, "ig");
            if (value != null) {
                var val = value.replace(textMatcher, function (match) {
                    return "<u><strong>" + match + "</strong></u>";
                });
            }

            //$('.k-list.k-reset,.k-list-scroller,.k-animation-container,.k-list-container').css({ height: 'auto' })
            return "<span class='comboBoxedescName'>" + val + "</span> <span class='rightallign'>" + type + "</span> ";

        }

        function CollapseAll() {
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-minus");
            if (elementsA.length > 0) {

                for (var i = 0; i < elementsA.length; i++) {
                    $(elementsA[i]).trigger("click");
                }
                return;
            }
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-collapse");
            for (var i = 0; i < elementsB.length; i++) {
                $(elementsB[i]).trigger("click");
            }
        }

        function ExpandAll() {
            var elementsB = document.querySelectorAll("#grid a.k-icon.k-i-expand");
            if (elementsB.length > 0) {

                for (var i = 0; i < elementsB.length; i++) {
                    $(elementsB[i]).trigger("click");
                }
                return;
            }
            var elementsA = document.querySelectorAll("#grid a.k-icon.k-plus");
            for (var i = 0; i < elementsA.length; i++) {
                $(elementsA[i]).trigger("click");
            }
        }</script>

    <style>

        strong {
            color: #0094ff;
        }
    </style>*@




