@using NeoErp.Core;
@using NeoErp.Core.Infrastructure;
@using NeoErp.Core.Models;

@model NeoErp.Planning.Service.Models.PreferenceSetupModel

@{
    var workingContent = EngineContext.Current.Resolve<IWorkContext>();
    ViewBag.Title = "Create Plan";

    Layout = null;
    string LoggedInUsers_EmployeeCode = ViewBag.EmployeeCode;
    string plancode = ViewBag.PlanCode;
    string productSelectionLimit = string.Empty;
    productSelectionLimit = ViewBag.productSelectionLimit;
}
<style>
    .customdesign label {
        font-size: 13px;
    }

    .k-grid {
        font-size: 11px;
    }

    .customdesign .form-control {
        padding: 3.5px 5px !important;
        height: auto !important;
    }

    .k-autocomplete.k-state-default, .k-picker-wrap.k-state-default, .k-numeric-wrap.k-state-default, .k-dropdown-wrap.k-state-default {
        background-color: #fafafa;
    }

    .input-group.input-medium.date-picker.input-daterange {
        width: 100% !important;
    }

    .datefilter > label {
        text-align: left;
    }

    fieldset {
        border: 1px solid #aaa;
        border-radius: 5px;
    }
    /*.input_upload
    {
        width:31%;
    }*/
    /*legend.productMaster {
            width: 13%;
            border-bottom: 1px solid #e5e5e5;
        }

       legend.planOption {
           width: 11% !important;

       }*/
    .treeViewField {
        min-height: 170px;
    }

    .md-radio-inline > div {
        padding: 0px 10px 0px 0px;
        float: left;
    }

    #productTab .k-group.k-treeview-lines {
        max-height: 700px !important;
    }

    label.errormessage {
        padding: 0px 0px 0px 5px;
    }

    .icon_bg {
        background-color: #ddd;
        margin-right: 3px;
    }

    .input_upload a {
        float: right;
        margin-right: 10px;
    }
</style>
<script src="~/Areas/NeoERP.Planning/Scripts/jquery.maskedinput.min.js"></script>
<script src="~/Areas/NeoERP.Planning/Scripts/DateFilter.js"></script>
<style>
    .alert {
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .tooltip-inner {
        max-width: 180px;
        /* If max-width does not work, try using width instead */
        width: 180px;
    }
</style>
<div class="content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
            @*<li>
                    <i class="fa fa-home"></i>
                    <a href="/Distribution/Home/Dashboard#!Distribution/">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">Group Setup</a>
                    <i class="fa fa-angle-right"></i>
                </li>*@
        </ul>
    </div>

</div>
<div class="row">
    <div class="col-md-12 alertBox" style="display:none;">
        <div class="alert alert-danger">
            @*<strong>Info !</strong> <small> Your Employee Code have not assigned to application_user, so that you could not create Employee Code less Plan. Please! contact system administrator to resolve this issue.</small>*@
            <strong>Info !</strong> <small> Employee Code is not assigned to application user. contact administrator to resolve.</small>
        </div>
    </div>
    <div class="col-md-12">
        <div id="planningCtrl" class="portlet light form-fit1 bordered common portlet_bg portletbg">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-list-alt font-green-haze"></i>
                    <span class="title-caption caption-subject font-green-haze bold uppercase" style="text-align:center">
                        {{pageName}}
                    </span>
                </div>
                <span class="pull-right">
                    <button type="button" id="addplan" name="addplan" class="btn btn-primary btn-sm">[+] Add</button>
                </span>
                <div class="actions pull-right" id="controlbuttons">
                    <!--<button type="button" id="cancelplan" name="cancelplan" class="btn btn-default btn-circle btn-sm">Cancel</button>
                    <button type="button" id="resetplan" name="resetplan" class="btn btn-warning btn-circle btn-sm">Reset</button>
                    <button type="button" id="btngenerateplan" name="next" ng-click="gotoPlanSetup()" class="btn btn-primary btn-circle btn-sm">Next</button>-->
                    <button type="button" id="cancelplan" name="cancelplan" class="btn btn-default btn-circle btn-sm"><i class="fa fa-times"></i> Cancel</button>
                    <button type="button" id="resetplan" name="resetplan" class="btn btn-warning btn-circle btn-sm"><i class="fa fa-refresh"></i> Reset</button>
                    <button type="button" id="btngenerateplan" name="next" ng-click="gotoPlanSetup()" class="btn btn-green btn-circle btn-sm">
                        <i class="fa fa-caret-right"></i> Next
                    </button>
                </div>
                <div class="row" style="margin-top:5px;">
                    <div class="col-sm-offset-1 col-sm-3 col-md-3 col-lg-3 col-md-offset-1">
                        <div class="alert alert-danger alert-dismissable">
                            <label class="errormessage"></label>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-4 input_upload">
                        <a target="_self" href="~/Pictures/SalesPlan/Format/Sales_Plan_Excel_Upload_Sample.xlsx" data-toggle="tooltip" title="Download Excel Format.." download><i class='fa fa-file-excel-o excelfile fontgreen ' /></a>
                        <a href="javascript:void(0)" class="btn btn-xs icon_bg" data-toggle="tooltip" title="Save uploaded file">
                            <i class="fa fa-upload " id="uploadimages" ng-click="ImportExcel()" aria-hidden="true"></i>
                        </a>
                        <input id="avatar" type="file" name="avatar" accept=".xlsx, .xls" />
                        @*<div class="fileinput fileinput-new" data-provides="fileinput">
                                <div class="input-group input-large">
                                    <div class="form-control uneditable-input input-fixed input-medium" data-trigger="fileinput">
                                        <i class="fa fa-file fileinput-exists"></i>&nbsp;
                                        <span class="fileinput-filename"> </span>
                                    </div>
                                    <span class="input-group-addon btn default btn-file">
                                        <span class="fileinput-new"> Select file </span>
                                        <span class="fileinput-exists"> Change </span>
                                        <input type="file" name="..." accept=".xlsx, .xls" >
                                    </span>
                                    <a href="javascript:;" class="input-group-addon btn red fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                </div>
                            </div>*@
                    </div>
                </div>

            </div>
            <div class="portlet-body row">
                <div class="customdesign" id="showFormPanel">
                    <form id="generateplan" name="generateplan" novalidate>
                        <div class="col-md-6">
                            <div class="columndivide">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Plan Name <span style="color:red" ng-show="generateplan.planName.$invalid">
                                                    <span ng-show="generateplan.planName.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input type="text" id="planName" name="planName" class="form-control input-sm" ng-model="planName" required />
                                        </div>
                                    </div>
                                    <input type="hidden" id="plancode" ng-model="plancode" value="" />

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Frequency <span style="color:red" ng-show="generateplan.frequency.$invalid">
                                                    <span ng-show="generateplan.frequency.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input id="frequency" ng-model="frequency" name="frequency" style="width: 100%;" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6 hidden">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Plan Type <span style="color:red" ng-show="generateplan.plantype.$invalid">
                                                    <span ng-show="generateplan.plantype.$error.required">*</span>
                                                </span>
                                            </label>
                                            <input id="plantype" ng-model="plantype" name="plantype" style="width: 100%;" required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Plan For
                                            </label>
                                            <input id="planfor" ng-model="planfor" name="planfor" style="width: 100%;" required />
                                        </div>
                                    </div>
                                    <div class="col-md-4 planForAmount" style="display:none;">
                                        <div class="form-group">
                                            <label class="control-label">
                                                Amount Type
                                            </label>
                                            <select class="form-control salesRateType">
                                                <option value="LANDED_COST">Landed Cost</option>
                                                <option value="AVERAGE_SALES_PRICE" selected>Average Sales Price</option>
                                                <option value="STANDARD_SALES_PRICE">Standard Sales Price</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- date field-->
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="form-horizontal">
                                            <label class="control-label">
                                                Date Format :
                                            </label>

                                            <input type="radio" id="dateFormatAD" name="dateFormat" value="AD"
                                                   ng-model="dateFormat" ng-change="DateFormatChange()" class="">
                                            <label for="dateFormatAD"> AD</label>
                                            <input type="radio" id="dateFormatBS" name="dateFormat" value="BS"
                                                   ng-model="dateFormat" ng-change="DateFormatChange()" class="">
                                            <label for="dateFormatBS"> BS </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- date field-->
                                <div class="row">
                                    <div>
                                        @Html.Partial("~/Areas/NeoERP.Planning/Views/Shared/PlanningDateField.cshtml", true)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 form-group">
                                        <label class="control-label">Remarks</label>
                                        <input type="text" id="remarks" name="remarks" class="form-control input-sm" ng-model="remarks" required />
                                    </div>
                                    <div class="form-group form-md-radios hidden">
                                        <label>Choose Header</label>
                                        <div class="md-radio-inline">
                                            <div class="md-radio">
                                                <input type="radio" id="itemGroups" name="radio2" class="md-radiobtn">
                                                <label for="itemGroups">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    Selected only
                                                </label>
                                            </div>
                                            <div class="md-radio">
                                                <input type="radio" id="allItemGroups" name="radio2" class="md-radiobtn" checked="">
                                                <label for="allItemGroups">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    All child Selected
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mulitiitem-select">
                                <div class="form-group">
                                    <fieldset>
                                        <legend class="planOption">Plan Options</legend>
                                        <div class="col-md-12">
                                            <div class="md-radio-inline">
                                                <div class="">
                                                    <input type="radio" id="customer_product" name="customer_product_option" value="customer_product"
                                                           ng-model="customer_product_option" ng-change="CustomerProductOption()" class="">
                                                    <label for="radio14">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Customer/Product
                                                    </label>
                                                </div>
                                                <div class="has-error">
                                                    <input type="radio" id="product_only" name="customer_product_option" value="product_only"
                                                           ng-model="customer_product_option" ng-change="CustomerProductOption()" class="">
                                                    <label for="radio15">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span> Product
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group" ng-show="employeeFlag=='Y'">
                                            <label class="control-label">Select employee</label>
                                            <select id="employees"
                                                    k-ng-model="employeevalue"
                                                    k-value-primitive="true"
                                                    kendo-drop-down-list style="width: 100%"
                                                    k-options="employeeOptions"></select>
                                        </div>
                                        <div class="col-md-6 form-group" ng-show="IsCustomerProduct && customerFlag=='Y'">
                                            <label class="control-label">
                                                Select customer
                                                @*<span style="color:red" ng-show="generateplan.customers.$invalid">
                    <span ng-show="generateplan.customers.$error.required">*</span>
                </span>*@
                                            </label>
                                            <select id="customers"
                                                    k-ng-model="customervalue"
                                                    k-filter="'contains'"
                                                    k-value-primitive="true" @*kendo-drop-down-list*@ kendo-combo-box style="width: 100%"
                                                    k-on-change="customerCodeOnChange(kendoEvent)"
                                                    k-options="customerOptions"></select>
                                        </div>
                                        <div class="col-md-6 form-group" ng-show="IsCustomerProduct && branchFlag=='Y'">
                                            <label class="control-label">Select branch</label>
                                            <select id="branchs"
                                                    k-ng-model="branchvalue"
                                                    k-value-primitive="true"
                                                    kendo-drop-down-list style="width: 100%"
                                                    k-options="branchOptions"></select>
                                        </div>
                                        <div class="col-md-6 form-group" ng-show="IsCustomerProduct && divisionFlag=='Y'">
                                            <label class="control-label">Select division</label>
                                            <select id="divisions"
                                                    k-ng-model="divisionvalue"
                                                    k-value-primitive="true"
                                                    kendo-drop-down-list style="width: 100%"
                                                    k-options="divisionOptions"></select>
                                        </div>
                                        <div class="col-md-6 form-group" ng-show="IsCustomerProduct && partytypeFlag=='Y'">
                                            <label class="control-label">Select Party Type</label>
                                            <select id="partytype"
                                                    k-ng-model="partytypevalue"
                                                    k-value-primitive="true"
                                                    kendo-drop-down-list style="width: 100%"
                                                    k-options="partyTypeOptions"></select>
                                        </div>
                                        <div class="col-md-6 form-group" ng-show="IsCustomerProduct && agentFlag=='Y'">
                                            <label class="control-label">Select Agent</label>
                                            <select id="agent"
                                                    k-ng-model="agentvalue"
                                                    k-value-primitive="true"
                                                    kendo-drop-down-list style="width: 100%"
                                                    k-options="agentOptions"></select>
                                        </div>

                                    </fieldset>


                                    @if (@Model.SHOW_ITEM == "Y")
                                    {<fieldset class="treeViewField">
                                            <legend class="productMaster">Product Master</legend>
                                            <label class="control-label">Choose Item from treelist below.</label>
                                            @Html.Partial("~/Areas/NeoERP.Planning/Views/Shared/Controls/_AdvancedFilter.cshtml", new AdvancedFilterSettingsModel()
                                            {
                                                ShowProductFilter = true,
                                                IsPopUp = false
                                            })
                                        </fieldset>
                                    }

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="@Scripts.Url("~/Areas/NeoERP.Planning/Scripts/DateFilter.js")" type="text/javascript"></script>*@
<script src="@Scripts.Url("~/Areas/NeoERP.Planning/Scripts/DateFilterWithADBS.js")" type="text/javascript"></script>
<script src="@Scripts.Url("~/JS/ReportFilter.js")" type="text/javascript"></script>

<script>
    var itemflag = '@Model.SHOW_ITEM';
    var employeeFlag = '@Model.SHOW_EMPLOYEE';
    if (itemflag == "N")
        var productDeffer = $.Deferred();

    var loggedInUsers_employeeCode = '@LoggedInUsers_EmployeeCode';

    if (loggedInUsers_employeeCode == '' || loggedInUsers_employeeCode == 'null') {
        $('.alertBox').css('display', 'block');
    }
    var productSelectionLimit = '@productSelectionLimit';

    console.log('index page ' + productSelectionLimit);
    //showloader();
    var branchCode = '@workingContent.CurrentUserinformation.branch_code';
    var user_no = '@workingContent.CurrentUserinformation.User_id';

    var p_code = '@plancode';
    $(document).ready(function () {
        if (p_code != "") {
            $('.form-wizard.custom-plantwizard ul>li').first().find('a').attr("href", "/Planning/Home/Index#!Planning/CreatePlan/" + p_code);
            $('.form-wizard.custom-plantwizard ul>li').last().find('a').attr("href", "/Planning/Home/Index#!Planning/PlanSetup/" + p_code);
            //setTimeout(function () { $("#customer_product").prop("checked", true); }, 1000);
        }
        else {
            setTimeout(function () {
                var dateFormat = $('input[name=dateFormat]:checked').val();
                if (dateFormat != "")
                    DateFilter.init(dateFormat, getSelectedOption);
            }, 1000);
        }
        setTimeout(function () {
            var frelist = $("#frequency_listbox li");
            $.each(frelist, function (i, v) {
                if ($(v).html().toUpperCase() != "MONTH")
                    $(v).css("display", "none");
            });
        }, 1000);

        $('.row.form-inline.colgap').addClass('hidden');
        $("#productToggle").trigger('click');
        BindFrequency();
        BindPlanType();
        BindPlanFor();
        $("#showFormPanel").hide();
        $('#controlbuttons').hide();
        $("#showFormPanel").show();
        $('#controlbuttons').show();
        $("#addplan").hide();

        $.ajax({
            type: "GET",
            url: window.location.protocol + "//" + window.location.host + "/api/PlanApi/getEmployeeByUserId",
            data: { userId: user_no }
        }).success(function (result) {
            setTimeout(function () {
                if (result.DATA != null)
                    if (p_code == null)
                        if ($('#employees').data('kendoDropDownList') != undefined)
                        $('#employees').data('kendoDropDownList').value(result.DATA);
            }, 1000);
        }).fail(function (failEx) { }).error(function (err) { });
        //RemoveDateFieldValue();
        //kendo.ui.progress($('.treeViewField'), true);
        //kendo.ui.progress($("#productTreeView"), true);
        //setTimeout(function () {
        //    kendo.ui.progress($('.treeViewField'), false);
        //}, 10000);
        
    });
    function appendNextYear() {
        //$.getJSON("/Areas/NeoERP.Planning/dateRange.json", {
        //    format: "json"
        //}).done(function (data) {
        
        //    $('#ddlDateFilterVoucher').append('<option value="Next Year" data-start-date="' + data.start_date + '" data-end-date="' + data.end_date + '">Next Year</option>');
        //    }).fail(function (res) {
        
        //    })
        $.getJSON("/Areas/NeoERP.Planning/dateRange.json", function (data) {
            $('#ddlDateFilterVoucher').append('<option value="Next Year" data-start-date="' + data.start_date + '" data-end-date="' + data.end_date + '">Next Year</option>');
        });
    }
    function getSelectedOption() {
        $(".dateFilterSelect").val('This Year');
        $("#ddlDateFilterVoucher").trigger('change');
        setTimeout(function () {
            var dateOptions = $('#ddlDateFilterVoucher option');
            var check = $.grep(dateOptions, function (n, i) {
                return n.value == 'Next Year';
            });
            if (check.length == 0) {
                appendNextYear();
            }
        }, 500);
    }

    $('input[type=radio][name=dateFormat]').change(function () {
        var dateFormat = $('input[name=dateFormat]:checked').val();
        DateFilter.init(dateFormat, getSelectedOption)
    });
    $('input[name=radio2]:radio').on('change', function () {
        var treeview = $('#productTreeView').data('kendoTreeView');

        var nodeElement = $('#productTreeView').find('li[data-id="RM8675"]');
        var node = treeview.dataItem(nodeElement);
        treeview.select(nodeElement);
        treeview.expandTo(node);
    });

    $('#addplan').on('click', function () {
        $('#controlbuttons').show();
        $("#addplan").hide();
    });
    $('#resetplan').on('click', function () {
        clearfield();
    });
    $('#cancelplan').on('click', function () {
        clearfield();
        window.location = "/Planning/Home/Setup#!Planning/PlanList";
    });
    //$("#planfor").on('change', function () {
    //    var planForValue = $(this).val();
    //    if (planForValue == "AMOUNT")
    //        $(".planForAmount").css({ 'display': 'none' });
    //    else
    //        $(".planForAmount").css({ 'display': 'block' });

    //})
    //function RemoveDateFieldValue() {
    //    var valueArr = ['This Month', 'Today', 'Last Week', 'This Week', 'Last Month', 'Custom']
    //    setTimeout(function () {
    //        for (var i = 0; i < valueArr.length; i++) {
    //            $("#ddlDateFilterVoucher option[value='" + valueArr[i] + "']").remove();
    //        }
    //    }, 300)

    //}

    function BindFrequency() {
        var mainurl = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetAllFrequencyByFilters";
        $("#frequency").kendoDropDownList({
            optionLabel: "--Select Frequency--",
            filter: "contains",
            dataTextField: "TIME_FRAME_EDESC",
            dataValueField: "TIME_FRAME_CODE",
            suggest: true,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url: mainurl,
                    },
                    parameterMap: function (data, action) {

                        if (data.filter != undefined) {
                            if (data.filter.filters[0] != undefined) {
                                var newParams = {
                                    filter: data.filter.filters[0].value
                                };
                                return newParams;
                            }
                            else {
                                var newParams = {
                                    filter: ""
                                };
                                return newParams;
                            }
                        }
                        else {
                            var newParams = {
                                filter: ""
                            };
                            return newParams;
                        }

                    }

                }
            },
            dataBound: function (e) {
                this.select(3);
            }
        });

    }

    function BindPlanType() {
        var mainurl = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetPlanType";
        $("#plantype").kendoDropDownList({
            optionLabel: "--Select PlanType--",
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: mainurl,
                    }
                }
            }
        });
    }
    function BindPlanFor() {
        var url = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetPlanFor";
        $("#planfor").kendoDropDownList({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: url,
                    }
                }
            }
        });
    }

    var parentLevetItems_toPush = [];
    function pushinChildernItems(childernItems_push) {
        $.each(childernItems_push, function (i, v) {
            if (v.hasChildren) {
                parentLevetItems_toPush.push(v.items);
            }
            else {
                var isPresent = parentItemCode.filter(function (e) {
                    return e.ITEM_CODE == v.ItemCode;
                });
                if (v.ItemCode != undefined && isPresent.length == 0) {
                    var obj = {
                        ITEM_EDESC: v.ItemName,
                        ITEM_CODE: v.ItemCode,
                        MASTER_ITEM_CODE: v.MasterItemCode,
                        PRE_ITEM_CODE: v.PreItemCode,
                        GROUP_SKU_FLAG: v.GroupSkuFlag,
                        IS_CHILD_SELECTED: ''
                    }
                    parentItemCode.push(obj);
                }
            }
        });

        $.each(parentLevetItems_toPush, function (i, v) {
            pushinChildernItems(v);
        })
    }

    var parentLevelItems_toPop = [];
    function popOutChildernItems(childernItems_remove) {
        $.each(childernItems_remove, function (i, v) {
            if (v.hasChildren) {
                parentLevelItems_toPop.push(v.items);
            }
            else {
                if (parentItemCode.filter(function (e) { return e.ITEM_CODE == v.ItemCode; }).length > 0) {
                    var elementIndex = parentItemCode.map(function (x) { return x.ITEM_CODE; }).indexOf(v.ItemCode);
                    parentItemCode.splice(elementIndex, 1);
                }
            }
        });

        $.each(parentLevelItems_toPop, function (i, v) {
            popOutChildernItems(v);
        })
    }
    var finalData = [];
    var parentItemCode = [];
    var checkedNodeOnly = [];
    var checkedOnly = [];
    var treeview = $('#productTreeView').data('kendoTreeView');
    if (itemflag=="Y")
        treeview.bind("check", tree_check);
    function tree_check(e) {
        var $this = this;
        parentItemCode = [];
        checkedNodeOnly = [];
        treeView = $("#productTreeView").data("kendoTreeView");
        productDataSource = treeView.dataSource.view();

        getCheckedItems();
        getGroupOfItem();
        parentItemCode = _.uniq(parentItemCode, 'ITEM_CODE');
        parentItemCode.sort(function (a, b) {
            var a1 = parseInt(a.ITEM_CODE), b1 = parseInt(b.ITEM_CODE);
            if (a1 == b1) return 0;
            return a1 > b1 ? 1 : -1;
        });
    };

    function getGroupOfItem() {
        var arrayTreeList = [];
        var array = $("#productTreeView").data("kendoTreeView").dataItems();
        createAllList(array);

        function createAllList(arr) {
            $.each(arr, function (i, val) {
                if (arrayTreeList.indexOf(val) == -1) {
                    arrayTreeList.push(val);
                    if (val.Items != undefined) {
                        if (val.Items.length > 0) {
                            if (val.Items) {
                                createAllList(val.Items)

                            }
                        }
                    }
                }
            });
        }

        var parentArr = [];
        var getItem = function (allTreeData, preItemCode, ItemCode) {
            _.each(arrayTreeList, function (i, e) {
                if (ItemCode == i.ItemCode) {
                    _.each(allTreeData, function (it, et) {
                        if (i.PreItemCode == it.MasterItemCode) {
                            if (parentArr.indexOf(it.ItemCode + '_X') == -1) {
                                parentArr.push(it);
                                if (it.PreItemCode != '00')
                                    getItem(arrayTreeList, it.PreItemCode, it.ItemCode);
                            }
                        }
                    });
                }
            });
        }
        var productMultiselect = $("#productMultiselect").data("kendoMultiSelect");
        var multi = productMultiselect.value();
        _.each(parentItemCode, function (i, e) {
            getItem(arrayTreeList, '00', i.ITEM_CODE.toString());
        });
        _.each(parentArr.reverse(), function (i, e) {
            parentItemCode.push({
                ITEM_EDESC: i.ItemName,
                ITEM_CODE: i.ItemCode,
                MASTER_ITEM_CODE: i.MasterItemCode,
                PRE_ITEM_CODE: i.PreItemCode,
                GROUP_SKU_FLAG: i.GroupSkuFlag,
                IS_CHILD_SELECTED: '',
                RATE: i.Rate
                //ITEM_RATE:i.ITEM_RATE
            });
        })
    }

    function getCheckedItems() {
        var treeView = $("#productTreeView").data("kendoTreeView");
        var nodes = treeView.dataSource.view();
        getCheckedNodes(nodes);
    }
    var cn = null;
    function getCheckedNodes(nodes) {
        var node, childCheckedNodes;
        var checkedNodes = [];
        for (var i = 0; i < nodes.length; i++) {
            node = nodes[i];
            if (node.checked) {
                checkedNodes.push(node);
                parentItemCode.push({
                    ITEM_EDESC: node.ItemName,
                    ITEM_CODE: node.ItemCode,
                    MASTER_ITEM_CODE: node.MasterItemCode,
                    PRE_ITEM_CODE: node.PreItemCode,
                    GROUP_SKU_FLAG: node.GroupSkuFlag,
                    IS_CHILD_SELECTED: '',
                    RATE: node.Rate
                    //ITEM_RATE:ITEM_RATE
                });
                checkedNodeOnly.push({
                    ITEM_EDESC: node.ItemName,
                    ITEM_CODE: node.ItemCode,
                    MASTER_ITEM_CODE: node.MasterItemCode,
                    PRE_ITEM_CODE: node.PreItemCode,
                    GROUP_SKU_FLAG: node.GroupSkuFlag,
                    IS_CHILD_SELECTED: '',
                    RATE: node.Rate
                    //ITEM_RATE:ITEM_RATE
                })
            }
            if (node.hasChildren) {
                childCheckedNodes = getCheckedNodes(node.children.view());
                if (childCheckedNodes.length > 0) {
                    checkedNodes = checkedNodes.concat(childCheckedNodes);
                }
            }

        }
        checkedNodeOnly = _.uniq(checkedNodeOnly, function (d) { return d.ITEM_CODE });
        cn = checkedNodes;
        return checkedNodes;
    }

    function SelectedItemTree(productDataSource, parentItemCode) {
        $.each(productDataSource, function (i, e) {
            var hasChecked = true;
            if (e.dirty && e.hasChildren) {
                var status;
                hasChecked = checkMyNodeIsChecked(e, status);

                if (hasChecked == 'checked')
                    hasChecked = true;
            }
            else if (!e.checked) {
                hasChecked = false;
            }
            if (hasChecked) {
                if (productDataSource[i].dirty == true || productDataSource[i].checked == true) {
                    var parentId = productDataSource[i].PreItemCode == "00" ? null : productDataSource[i].PreItemCode;
                    if (productDataSource[i].items == null || productDataSource[i].items.length != 0) {
                        checkedOnly.push({
                            ITEM_EDESC: productDataSource[i].ItemName,
                            ITEM_CODE: productDataSource[i].ItemCode,
                            MASTER_ITEM_CODE: productDataSource[i].MasterItemCode,
                            PRE_ITEM_CODE: productDataSource[i].PreItemCode,
                            GROUP_SKU_FLAG: '',
                            IS_CHILD_SELECTED: ''
                        });
                        parentItemCode.push({
                            ITEM_EDESC: productDataSource[i].ItemName,
                            ITEM_CODE: productDataSource[i].ItemCode,
                            MASTER_ITEM_CODE: productDataSource[i].MasterItemCode,
                            PRE_ITEM_CODE: productDataSource[i].PreItemCode,
                            GROUP_SKU_FLAG: '',
                            IS_CHILD_SELECTED: '',
                        })
                    }
                    else {
                        parentItemCode.push({
                            ITEM_EDESC: productDataSource[i].ItemName,
                            ITEM_CODE: productDataSource[i].ItemCode,
                            MASTER_ITEM_CODE: productDataSource[i].MasterItemCode,
                            PRE_ITEM_CODE: productDataSource[i].PreItemCode,
                            GROUP_SKU_FLAG: '',
                            IS_CHILD_SELECTED: ''
                        })
                    }
                    SelectedItemTree(productDataSource[i].items, parentItemCode);
                }
            }
        });
    }

    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }
    function checkMyNodeIsChecked(nodeData, status) {
        if (nodeData.checked == undefined && nodeData.hasChildren) {
            for (var i = 0; i < nodeData.items.length; i++) {
                if (status == 'checked') {
                    return status;
                    break;
                }

                if (nodeData.items[i].checked == undefined && nodeData.items[i].hasChildren) {
                    if (nodeData.items[i].dirty && nodeData.items[i].hasChildren) {
                        var statusNow = '';
                        status = check_on_child(nodeData.items[i].items, nodeData.items[i], status);
                    }
                }
                else if (nodeData.items[i].checked) {
                    status = 'checked';
                    return status;
                    break;
                }
            }
        }
        else if (nodeData.checked) {
            status = 'checked';
            return status;
        }
    }

    function check_on_child(item, parent, status) {
        for (var i = 0; i < item.length; i++) {
            if (item[i].dirty && item[i].hasChildren) {
                check_on_child(item[i].items, item[i], status);
            } else {
                status = 'checked';
                return status;
                break;
            }
        }
    }

    var allTreeData = [];
    function createList(arr) {
        $.each(arr, function (i, val) {
            if (allTreeData.indexOf(val) == -1) {
                allTreeData.push(val);
                if (val.Items != undefined) {
                    if (val.Items.length > 0) {
                        if (val.Items) {
                            createList(val.Items)

                        }
                    }
                }
            }
        });
    }

    function IsFormValid() {
        var message = "";
        var pnameSelect = $('#planName').val();
        var frequencySelected = $('#frequency').val();
        var plantypeSelected = $('#plantype').val();
        var planforSelected = $('#planfor').val();
        var IsCustomerSelected = $('input[name=customer_product_option]:checked').val();
        var customerSelected = $('#customers').val();
        var employeeSelected = $('#employees').val();

        var productMultiselect = $("#productMultiselect").data("kendoMultiSelect");

        if (itemflag == "Y") {
            getCheckedItems();
        }
        if (checkedNodeOnly.length === 0)
            if (itemflag == "Y")
            {
                $("#productMultiselect").data("kendoMultiSelect").value('');
            }

        if (pnameSelect == "") {
            message += " Please fill up Plan Name, ";
        }
        if (pnameSelect.includes("\"") || pnameSelect.includes("'")) {
            message += " Plan name includes ' or \" character. please remove these characters.";
            $('#planName').focus();
            //return false;
        }
        if (frequencySelected == "") {
            message += " Frequency, ";
        }
        if (planforSelected == "") {
            message += " Plan for, ";
        }
        if (IsCustomerSelected == "customer_product" && customerSelected == "") {
            message += " Customer, ";
        }
        //if (IsCustomerSelected != "customer_product" && loggedInUsers_employeeCode == '') {
        //    message += "Your Employee Code not assigned on application_user, so create plan action cannot done.";
        //    displayPopupNotification(message, "error");
        //    return false;
        //}
        if (employeeFlag == "Y") {
            if ((employeeSelected == "" || employeeSelected == null) && loggedInUsers_employeeCode == "") {
                message += "Either Choose Employee from Employee Option or maintain Employee_Code to Application_User.";
                displayPopupNotification(message, "error");
                return false;
            }
        }
        if ((employeeSelected == "" || employeeSelected == null) && loggedInUsers_employeeCode != "") {
            $('#employees').val(loggedInUsers_employeeCode);
        }
        if (pnameSelect.length > 200) {
            displayPopupNotification("Plan name is too long." + message + ".", "error");
            $('#planName').focus();
            return false;
        }
        var remark = $('#remarks').val();
        if (remark.length > 400) {
            displayPopupNotification("Remarks is too long." + message + ".", "error");
            $('#remarks').focus();
            return false;
        }
        if (remark.includes("\"") || remark.includes("'")) {
            message += " Remark includes ' or \" character. please remove these characters.";
            $('#remarks').focus();
            //return false;
        }
        if (message != "") {
            displayPopupNotification(message , "error");
            return false;
        }
        //if (p_code == undefined) {
        var count = 1;
        if (itemflag == "Y")
            count = productMultiselect.value().length;
        //var count = checkedNodeOnly.length;
        if (count < 1) {
            displayPopupNotification("Plese select item .", "error");
            return false;
        }
        else {
            return true;
        }
    }


    $('#btngenerateplan').on('click', function () {
        var checkForm = IsFormValid();
        if (checkForm) {
            // if (p_code == undefined) {
            showloader();
            var hasItemChild = "";
            if ($("#allItemGroups").is(":checked"))
                hasItemChild = "Y";
            else
                hasItemChild = "N";
            var fromdate = $('#FromDateVoucher').val();
            var todate = $('#ToDateVoucher').val();
            if ($.datepicker.parseDate("yy-M-dd", todate) < $.datepicker.parseDate("yy-M-dd", fromdate)) {
                displayPopupNotification("End Date is Greater than Start Date.", "warning");
                hideloader();
                return;
            }
            var productMultiselect = $("#productMultiselect").data("kendoMultiSelect");
            if (itemflag == "Y")
            {
                var arr = $("#productTreeView").data("kendoTreeView").dataItems();

                allTreeData = [];
                createList(arr)

                var parentArr = [];
                var getItem = function (allTreeData, preItemCode, ItemCode) {
                    _.each(allTreeData, function (i, e) {
                        if (ItemCode == i.ItemCode) {
                            _.each(allTreeData, function (it, et) {

                                if (i.PreItemCode == it.MasterItemCode) {
                                    if (parentArr.indexOf(it.ItemCode + '_X') == -1) {
                                        parentArr.push(it.ItemCode + '_X');
                                        if (it.PreItemCode != '00')
                                            getItem(allTreeData, it.PreItemCode, it.ItemCode);
                                    }
                                }
                            });
                        }
                    });
                }
                var multi = productMultiselect.value();
                _.each(multi, function (i, e) {
                    getItem(allTreeData, '00', i.toString());
                });
            }

            var count = 1;
            if (itemflag == "Y") {
                count = productMultiselect.value().length;
            }
            else {
                parentItemCode.push({ GROUP_SKU_FLAG: "", IS_CHILD_SELECTED: "", ITEM_CODE: "0", ITEM_EDESC: $("#planfor").val(), MASTER_ITEM_CODE: "00", PRE_ITEM_CODE: "00", RATE:"" });
            }

            if (count < 1) {
                displayPopupNotification("Plese select item .", "warning");
                hideloader();
            }
            else {
                var filterdata = ReportFilter.filterAdditionalData();
                var productMultiselectVal = $("#productMultiselect").data("kendoMultiSelect");
                if (itemflag == "Y") {
                    productMultiselectVal = productMultiselect.value();

                    getCheckedItems();
                    getGroupOfItem();
                    parentItemCode = _.uniq(parentItemCode, 'ITEM_CODE');
                    //parentItemCode.sort(function (a, b) {
                    //    var a1 = parseInt(a.ITEM_CODE), b1 = parseInt(b.ITEM_CODE);
                    //    if (a1 == b1) return 0;
                    //    return a1 > b1 ? 1 : -1;
                    //});
                    parentItemCode.sort(function (a, b) {
                        var a1 = parseInt(a.ITEM_CODE), b1 = parseInt(b.ITEM_CODE), x1 = a.MASTER_ITEM_CODE.split('.').length, y1 = b.MASTER_ITEM_CODE.split('.').length;
                        if (a1 == b1) return 0;
                        return a1 > b1 && y1 < x1 ? 1 : -1;
                    })
                    if (parentItemCode[0].GROUP_SKU_FLAG!="G")
                        parentItemCode =_.sortBy(parentItemCode, function (o) { return o.PRE_ITEM_CODE; });
                }

                checkedNodeOnly = _.uniq(checkedNodeOnly, function (d) { return d.ITEM_CODE });
                var plandetail_temp = {
                    PLAN_CODE: $('#plancode').val(),
                    PLAN_EDESC: $('#planName').val(),
                    ITEM_CODE: filterdata.ReportFilters.ProductFilter.toString() + ',' + parentArr,
                    START_DATE: filterdata.ReportFilters.FromDate,
                    END_DATE: filterdata.ReportFilters.ToDate,
                    REMARKS: $('#remarks').val(),
                    PLAN_TYPE: $("#plantype").data("kendoDropDownList").value(),
                    PLAN_FOR: $("#planfor").data("kendoDropDownList").value(),
                    TIME_FRAME_CODE: $("#frequency").data("kendoDropDownList").value(),
                    TIME_FRAME_EDESC: $("#frequency").data("kendoDropDownList").text(),
                    IS_ITEMS_VISIBLE_ONLY: hasItemChild,
                    dateFormat: $('input[name=dateFormat]:checked').val(),
                    IsCustomerProduct: $('input[name=customer_product_option]:checked').val(),
                    customerCode: $('#customers').val(),
                    customerName: $('#customers option:selected').text(),
                    selectedItemsList: parentItemCode,
                    branchcode: $("#branchs").val(),
                    branchName: $("#branchs").val() == "" ? "" : $('#branchs option:selected').text(),
                    divisioncode: $("#divisions").val(),
                    divisionName: $("#divisions").val() == "" ? "" : $('#divisions option:selected').text(),
                    employeecode: $("#employees").val(),
                    employeeName: $("#employees").val() == "" ? "" : $('#employees option:selected').text(),
                    partytypecode: $("#partytype").val(),
                    partytypeName: $("#partytype").val() == "" ? "" : $('#partytype option:selected').text(),
                    agentcode: $("#agent").val(),
                    agentName: $("#agent").val() == "" ? "" : $('#agent option:selected').text(),
                    dateFilter: $(".dateFilterSelect").val(),
                    checkeOnlyDataTemp: checkedNodeOnly,
                    multiselectValue: productMultiselectVal,
                    salesRateType: $(".salesRateType").val(),
                    //multiselectValue:checkedNodeOnly
                }
                var elem = angular.element(document.querySelector('[ng-app]'));
                var injector = elem.injector();
                var $rootScope = injector.get('$rootScope');
                $rootScope.$apply(function () {
                    $rootScope.reservedData = plandetail_temp;
                });
                showloader();
            }
        }
    });

    $('.alert').css({ display: 'none' });
    $('#uploadimages').click(function () {
        if (window.FormData !== undefined) {
            showloader();
            var file_data = $("#avatar").prop("files")[0];   // Getting the properties of file from file field
            var form_data = new FormData();                  // Creating object of FormData class
            form_data.append("file", file_data)
            if (file_data == undefined) {
                hideloader();
                displayPopupNotification("please select excel file", "warning");
                return;
            }
            $.ajax({
                url: "/Plan/Import",
                type: "POST",
                contentType: false,
                processData: false,
                cache:false,
                data: form_data,
                success: function (result) {
                    
                    var isNumb = $.isNumeric(result)
                    if (isNumb) {
                        if (parseInt(result)>0) {
                            $('.alert').css({ display: 'none' });
                            $('#avatar').val("");
                            displayPopupNotification("Save Successfully.", "success");
                            hideloader();
                        }
                    } else {
                        if (result == "empty") {
                            $('.alert').css({ display: 'block' });
                            $('.errormessage').html("Please select a excel file.");
                            hideloader();
                        }
                        else if (result == "fileincorrect") {
                            $('.alert').css({ display: 'block' });
                            $('.errormessage').html("Other inputs rather than excel file is invalid.");
                            hideloader();
                        }
                        else if (result == "formaterror") {
                            $('.alert').css({ display: 'block' });
                            $('.errormessage').html("Please manage the excel file as per giver format.");
                            hideloader();
                        }
                        else {
                            $('.alert').css({ display: 'block' });
                            $('.errormessage').html(result);
                            hideloader();
                        }
                    }
                    var $el = $('#avatar');
                    $el.wrap('<form>').closest('form').get(0).reset();
                },
                error: function (err) {
                    displayPopupNotification(err.statusText, "error");
                    var $el = $('#avatar');
                    $el.wrap('<form>').closest('form').get(0).reset();
                    hideloader();
                }
            });
        } else {
            alert("FormData is not supported.");
        }
    });

    function clearfield() {
        $('#plancode').val('');
        $('#planName').val('');
        $('#remarks').val('');
        $('#fromInputDateVoucher').val(getNepaliDate());
        $('#toInputDateVoucher').val(getNepaliDate());
        $("#ToDateVoucher").val(moment(new Date()).format("YYYY-MMM-DD"));
        $("#FromDateVoucher").val(moment(new Date()).format("YYYY-MMM-DD"));
        $("#plantype").val("").data("kendoDropDownList").text("");
        $("#frequency").val("").data("kendoDropDownList").text("");
        var multiSelect = $('#productMultiselect').data("kendoMultiSelect");
        multiSelect.value([]);
    }

    function BindGrid() {
        var mainurl = window.location.protocol + "//" + window.location.host + "/api/PlanApi/GetPlanList";
        var dataSource = new kendo.data.DataSource({
            type: "json",
            transport: {
                read: {
                    url: mainurl, // <-- Get data from here.
                    dataType: "json", // <-- The default was "jsonp".
                    type: "get",
                    contentType: "application/json; charset=utf-8"
                },
            },

            schema: {
                // data: "data", // records are returned in the "data" field of the response
                // total: "total",
                model: {
                    fields: {
                        START_DATE: { type: "date" },
                        END_DATE: { type: "date" },

                    }
                }
            },
            serverPaging: false,
            pageSize: 10,
        });

        var temp = dataSource.read();
        var grid = $("#grid").kendoGrid({
            dataSource: dataSource,
            sortable: true,
            pageable: {
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            reorderable: true,
            groupable: false,
            resizable: true,
            filterable: {    // filter for the null and is not null etc
                extra: false,// extra false means there is 2 different filter inside the filter
                operators: {   // the number is data type for the net sales column , and string for the MITI
                    number: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "is greater than or equal to	",
                        gt: "is greater than",
                        lte: "is less than or equal",
                        lt: "is less than",

                    },
                    string: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        startswith: "Starts with	",
                        contains: "Contains",
                        doesnotcontain: "Does not contain",
                        endswith: "Ends with",
                    },
                    date: {

                        eq: "Is equal to",
                        neq: "Is not equal to",
                        gte: "Is after or equal to",
                        gt: "Is after",
                        lte: "Is before or equal to",
                        lt: "Is before",
                    }
                }
            },
            columnMenu: true,
            pageable: true,
            dataBinding: function () {
                record = (this.dataSource.page() - 1) * this.dataSource.pageSize();
            },
            //  autoBind: true,
            scrollable: {
                virtual: true
            },
            dataBound: function (o) {
                var grid = o.sender;
                if (grid.dataSource.total() == 0) {
                    var colCount = grid.columns.length;
                    $(o.sender.wrapper)
                        .find('tbody')
                        .append('<tr class="kendo-data-row" style="font-size:12px;"><td colspan="' + colCount + '" class="alert alert-danger">Sorry, no data :(</td></tr>');
                    displayPopupNotification("No Data Found Given Date Filter.", "Info");
                }
                else {
                    var g = $("#grid").data("kendoGrid");
                    for (var i = 0; i < g.columns.length; i++) {
                        g.showColumn(i);
                    }
                    $("div.k-group-indicator").each(function (i, v) {
                        g.hideColumn($(v).data("field"));
                    });
                }
                // hideloader();

            },
            columns: [
                { title: "SN", template: "#= ++record #", width: "15px" },

                          {
                              field: "PLAN_EDESC",
                              title: "Plan Name",
                              width: "70px",
                          },
                           {
                               field: "START_DATE",
                               title: "Start Date",
                               format: "{0:yyyy-MMM-dd}",
                               width: "35px",
                           },
                            {
                                field: "END_DATE",
                                title: "End Date",
                                format: "{0:yyyy-MMM-dd}",
                                width: "35px",
                                // format: "{0:n}",
                            },
                            {
                                field: "ITEM_EDESC",
                                title: "Item Name",
                                width: "110px",

                            },
                            {
                                field: "PLAN_TYPE",
                                title: "Plan Type",
                                width: "40px",
                            },
                            {
                                field: "PLAN_FOR",
                                title: "Plan For",
                                width: "40px",
                            },
                            {
                                field: "TIME_FRAME_EDESC",
                                title: "Time Frame",
                                width: "30px",
                            },
                            {
                                field: "REMARKS",
                                hidden: true,
                            },
                            {
                                field: "ID", title: "Action", sortable: false, filterable: false, width: "60px",
                                template: '<a class="edit glyphicon glyphicon-edit" style="color:orange;"><span class="sr-only"></span> </a> <a style="color:red;" class="delete glyphicon glyphicon-trash "><span class="sr-only"></span> </a> <a style="color:green;" title="go to Plan setup" class="goto_planSetup icon icon-share-alt "><span class="sr-only"></span> </a>'
                            },


            ],

            dataBound: function (event) {
                $(".edit").click(function (e) {
                    e.preventDefault();
                    $("#showFormPanel").show();
                    $('#controlbuttons').show();
                    $("#addplan").hide();
                    var grid = $("#grid").data("kendoGrid");
                    var dataItem = grid.dataItem($(this).closest("tr"));
                    $('#plancode').val(dataItem.PLAN_CODE);
                    $('#planName').val(dataItem.PLAN_EDESC);
                    $("#frequency").data("kendoDropDownList").value(dataItem.TIME_FRAME_CODE);
                    $("#plantype").data("kendoDropDownList").value(dataItem.PLAN_TYPE);
                    $("#planfor").data("kendoDropDownList").value(dataItem.PLAN_FOR);
                    $("#ToDateVoucher").val(moment(dataItem.END_DATE).format("YYYY-MMM-DD"));
                    $("#FromDateVoucher").val(moment(dataItem.START_DATE).format("YYYY-MMM-DD"));
                    $("#FromDateVoucher").trigger("change");
                    $("#ToDateVoucher").trigger("change");
                    $("#remarks").val(dataItem.REMARKS);
                    var multiSelect = $('#productMultiselect').data("kendoMultiSelect");
                    multiSelect.value(dataItem.ITEM_CODE);

                });
                $(".delete").click(function (e) {
                    e.preventDefault();
                    var grid = $("#grid").data("kendoGrid");
                    var dataItem = grid.dataItem($(this).closest("tr"));
                    var planCode = dataItem.PLAN_CODE;
                    bootbox.confirm("Are you sure you want to delete?", function (result) {
                        if (result) {
                            $.ajax({
                                type: "GET",
                                url: "/api/PlanApi/DeletePlane/?planCode=" + dataItem.PLAN_CODE,
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: successFunc,
                                error: errorFunc
                            });
                            function successFunc(data, status) {
                                var dataSource = $("#grid").data("kendoGrid").dataSource;
                                dataSource.remove(dataItem);
                                displayPopupNotification("Succesfully Deleted LC Status.", "success");
                            }

                            function errorFunc() {
                                displayPopupNotification(data.MESSAGE, "error");
                            }
                            hideloader();
                        }
                    });
                });
                $(".goto_planSetup").click(function (e) {
                    e.preventDefault();
                    var grid = $("#grid").data("kendoGrid");
                    var dataItem = grid.dataItem($(this).closest("tr"));
                    var planCode = dataItem.PLAN_CODE;
                    window.location = "/Planning/Home/Index#!Planning/PlanSetup/" + planCode;
                    update_wizard(1);
                })
            }

        });
    }

    function RefreshGrid() {
        $('#grid').data("kendoGrid").dataSource.read();
    }

    setTimeout(function () {
        if (branchCode != null && p_code == '')
            if ($('#branchs').data('kendoDropDownList') != undefined)
                $('#branchs').data('kendoDropDownList').value(branchCode);
        //
        //if (user_no != null)
        //    $('#employees').data('kendoDropDownList').value(user_no);
        //$('#employees').data('kendoDropDownList').text(userName);
    }, 1000);

    //$.when(productDeffer).then(function () {
    //
    //    hideloader();
    //    return false;
    //})
</script>
<script src="@Scripts.Url(" ~/Areas/NeoERP.Planning/js/controller/PlanningMenuNavigation.js")"></script>