@model AdvancedFilterSettingsModel

<style>
    /*replace css*/
    .customwith {
        max-width: 505px !important;
        margin: 30px auto;
    }
    /*end css*/
    .btnCustom {
        border-width: 0;
        font-size: 14px;
        outline: none !important;
        background-image: none !important;
        filter: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none;
        color: #FFFFFF;
        background-color: #26a69a;
        padding: 7px 11px 7px 11px;
        margin-left: -12px;
    }

    /*.btn.green {
        margin-left: -20px;
    }*/

    /*.modal-header {
        padding-top: 0px !important;
    }*/

    #customerTreeView ul li {
        padding-left: 15px !important;
        margin-top: 0px;
    }

    .slimScrollDiv, ul#companyMultiSelect_listbox, ul#BranchMultiSelect_listbox, ul#partyTypeMultiSelect_listbox, ul#documentMultiSelect_listbox {
        /*height: auto !important;*/
    }

    .slimScrollBar {
        border-radius: 5px !important;
        background-color: #333 !important;
    }

    .modal-body.sales-modal {
        max-height: 490px !important;
    }

    .colgap {
        margin-bottom: 10px;
    }
</style>



@if (Model.IsPopUp)
{
    <a data-toggle="modal" data-target="#filterModal">
        <div class="btn btn-circle btn-icon-only btn-default" data-placement="left" data-html="true" data-container="body" data-toggle="tooltip" title="Advanced Filter" id="AdvanceFilter">
            <i class="fa fa-filter"></i>
        </div>
    </a>

    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel">
        <div class="modal-dialog customwith">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button id="loadAdvancedFilters2" onclick="$('#loadAdvancedFilters').trigger('click');" class="btn green left-btn-apply" data-dismiss="modal" type="button">Apply</button>*@
                    <button type="button" class="close right-dismis" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="filterModalLabel"><span class="fa fa-filter"></span> Advanced Search</h4>
                </div>
                <div class="form-horizontal">
                    <div class="modal-body sales-modal" style="overflow-x:hidden; overflow-y:scroll;">
                        @*height:340px !important>> This height has been remove*@
                        @if (Model.ShowCustomerFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="customerMultiSelect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            <button type="button" class="btn btn-green expand-collapse expand-collapse pull-right" data-toggle="modal" id="customerToggle"><i class="fa fa-chevron-down"></i></button>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="customerSlidebox" style="display:none !important;">
                                @if (Model.ShowCustomerFilter)
                                {
                                    <div id="customerTab" class="tab-pane fade in active">
                                        <a data-toggle="tab"></a>
                                        @Html.Partial("~/Views/Shared/Controls/CustomerFilter.cshtml")
                                    </div>

                                }

                            </div>
                        }
                        @if (Model.ShowCurrencyFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/CurrencyFilter.cshtml")
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-2 col-md-1 col-xs-2">
                                    @*<button type="button" class="btn btn-green expand-collapse expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @if (Model.ShowLcStatusFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/LcStatusFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @if (Model.ShowAccountsFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/AccountsFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }


                        @if (Model.ShowLcNumberFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/LcNumberFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @if (Model.ShowInvoiceNumberFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/InvoiceNumberFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @if (Model.ShowItemNameFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/ItemNameFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }

                        @if (Model.ShowMenuNameFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/MenuNameFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.ShowModuleNameFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/ModuleNameFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.ShowUserNameFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/UserNameFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @*@if (Model.ShowExpiryDateFilter)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-10 col-md-11 col-xs-10">
                            @Html.Partial("~/Views/Shared/Controls/ExpiryDateFilter.cshtml")
                        </div>
                        <div class="col-sm-2 col-md-1 col-xs-2">
                        </div>
                    </div>
                </div>
            </div>
        }*@
                        @*@if (Model.ShowShipmentDateFilter)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-sm-10 col-md-11 col-xs-10">
                            @Html.Partial("~/Views/Shared/Controls/ShipmentDateFilter.cshtml")
                        </div>
                        <div class="col-sm-2 col-md-1 col-xs-2">
                        </div>
                    </div>
                </div>
            </div>
        }*@
                        @if (Model.ShowBrandFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/BrandFilter.cshtml")
                                        </div>
                                        <div class=" col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @if (Model.ShowLcLocationFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/LcLocationFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @*<br />*@
                        @if (Model.ShowLedgerFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="textcheckedforledger"></div>
                                    <div class="form-group">

                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/LedgerFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<br />*@
                        }
                        @if (Model.ShowProductFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="productMultiselect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="productToggle"><i class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="productSlidebox" style="display:none !important">
                                @if (Model.ShowProductFilter)
                                {
                                    <a data-toggle="modal"></a>
                                    <div id="productTab" class="tab-pane fade in active">
                                        @Html.Partial("~/Views/Shared/Controls/productFilter.cshtml")
                                    </div>
                                }
                            </div>

                            @*<br />*@
                        }

                        @if (Model.ShowSupplierFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="supplierMultiSelect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="supplierToggle"><i class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="supplierSlidebox" style="display:none !important">
                                @if (Model.ShowSupplierFilter)
                                {
                                    <a data-toggle="tab"></a>
                                    <div id="supplierTab" class="tab-pane fade in active">
                                        @Html.Partial("~/Views/Shared/Controls/supplierFilter.cshtml")
                                    </div>

                                }
                            </div>
                            @*<br />*@
                        }


                        @if (Model.ShowLocationWiseFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="locationMultiSelect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="locationToggle"><i class="fa fa-chevron-down"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="locationSlidebox" style="display:none !important">
                                @if (Model.ShowLocationWiseFilter)
                                {
                                    <a data-toggle="tab"></a>
                                    <div id="locationTab" class="tab-pane fade in active">
                                        @Html.Partial("~/Views/Shared/Controls/locationFilter.cshtml")
                                    </div>

                                }
                            </div>
                            @*<br />*@
                        }



                        @if (Model.ShowDocumentFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="documentMultiSelect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="documentFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                        @if (Model.ShowPostedGenericFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/PostedGenericFilter.cshtml")
                                        </div>
                                        <div class=" col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn green btn.green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.ShowContractStatusTye)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/ContractStatusFilter.cshtml")
                                        </div>
                                        <div class=" col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn green btn.green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                        @if (Model.ShowPurchaseDocumentFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="purchaseDocumentMultiSelect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn green btn.green" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<br />*@
                        }

                        @if (Model.ShowPartyTypeFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/partyTypeFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<br />*@
                        }


                        @if (Model.ShowCategoryFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/itemCategoryFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green  expand-collapse pull-right" data-toggle="modal" id="categoryFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<br />*@
                        }
                        @if (Model.ShowAreaFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-11 col-md-11 col-xs-11">
                                            @Html.Partial("~/Views/Shared/Controls/AreaFilter.cshtml")
                                        </div>
                                        <div class="form-group col-sm-1 col-md-1 col-xs-1">

                                        </div>
                                    </div>
                                </div>
                            </div>


                        }
                        @if (Model.ShowDistAreaListFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/DistAreaFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">

                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<br />*@
                        }


                        @if (Model.ShowLocationFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            <select id="locationMultiSelect" multiple="multiple" style="width: 400px;"></select>
                                        </div>
                                        <div class=" col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*<br />*@
                        }

                        @if (Model.ShowCompanyFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/companyFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>



                            @*<br />*@
                        }

                        @if (Model.ShowEmployeeFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/EmployeeFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>




                        }
                        @if (Model.ShowDistEmployeeFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/DistEmployeeFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>



                        }

                        @if (Model.ShowAgentFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/AgentFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>



                        }
                        @if (Model.ShowDivisionFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/DivisionFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>



                        }
                        @if (Model.ShowBranchFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/BranchFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                            @*<button type="button" class="btn btn-green pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*<br />*@
                        }

                        @if (Model.ShowSalesPersonFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/SalesPersonFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @if (Model.ShowItemBrandFilter)
                        {
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="col-sm-10 col-md-11 col-xs-10">
                                            @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/ItemBrandFilter.cshtml")
                                        </div>
                                        <div class="col-sm-2 col-md-1 col-xs-2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }



                        @*@if (Model.ShowFiscalYearFilter)
        {
                <div class="row form-inline colgap">
                    <div class="form-group col-sm-10 col-md-10 col-xs-10">
                        <select id="FiscalYearMultiSelect" multiple="multiple" style="width: 400px;"></select>
                    </div>
                    <div class="form-group col-sm-2 col-md-2 col-xs-2">

                    </div>
                </div>
            }*@

                        @if (Model.ShowCustomerFilter || Model.ShowProductFilter || Model.ShowSupplierFilter || Model.ShowDocumentFilter || Model.ShowCategoryFilter || Model.ShowPartyTypeFilter || Model.ShowPurchaseDocumentFilter || Model.ShowBranchFilter)
                        {
                            <div id="filterTreeTabs" class="tabbable-line">
                                <ul class="nav nav-tabs">
                                    @if (Model.ShowCustomerFilter)
                                    {
                                        @*
                        <li class="active"><a data-toggle="tab" href="#customerTab">Customer</a></li>*@
                                    }
                                    @if (Model.ShowProductFilter)
                                    {
                                        @*
                        <li><a data-toggle="tab" href="#productTab">Item</a></li>*@
                                    }
                                    @if (Model.ShowSupplierFilter)
                                    {
                                        @*
                        <li><a data-toggle="tab" href="#supplierTab">Supplier</a></li>*@
                                    }
                                    @if (Model.ShowDocumentFilter)
                                    {
                                        @*
                        <li><a data-toggle="tab" href="#documentTab">Sales Document</a></li>*@
                                    }
                                    @if (Model.ShowPurchaseDocumentFilter)
                                    {
                                        @*
                        <li><a data-toggle="tab" href="#purchaseDocumentTab">Purchase Document</a></li>*@
                                    }
                                    @if (Model.ShowLocationFilter)
                                    {
                                        @*
                        <li><a data-toggle="tab" href="#locationTab">Location</a></li>*@
                                    }
                                </ul>




                                @if (Model.ShowDocumentFilter)
                                {
                                    <div id="documentTab" class="tab-pane fade">
                                        <h3>Document List</h3>
                                        @Html.Partial("~/Views/Shared/Controls/DocumentFilter.cshtml")
                                    </div>
                                }

                                @if (Model.ShowPurchaseDocumentFilter)
                                {
                                    <div id="purcahseDocumentTab" class="tab-pane fade">
                                        <h3>Document List</h3>
                                        @Html.Partial("~/Views/Shared/Controls/purchaseDocumentFilter.cshtml")
                                    </div>
                                }

                                @if (Model.ShowLocationFilter)
                                {
                                    <div id="documentTab" class="tab-pane fade">
                                        <h3>Storage Location List</h3>
                                        @Html.Partial("~/Views/Shared/Controls/locationFilter.cshtml")
                                    </div>
                                }
                                @if (Model.ShowFiscalYearFilter)
                                {
                                    <div id="documentTab" class="tab-pane fade">
                                        <h3>Storage Location List</h3>
                                        @Html.Partial("~/Views/Shared/Controls/FiscalYearFilter.cshtml")
                                    </div>
                                }
                            </div>

                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-green" id="loadAdvancedFilters" data-dismiss="modal">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    if (Model.ShowCustomerFilter)
    {
        <div class="row">
            <div class="col-md-12">
                <div class="form-group"></div>
            </div>
            <div class="col-sm-10 col-md-10 col-xs-10">
                <select id="customerMultiSelect" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="customerToggle"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>

        <div class="customerSlidebox" style="display:none !important;">
            @if (Model.ShowCustomerFilter)
            {
                <div id="customerTab" class="tab-pane fade in active">
                    <a data-toggle="tab"></a>
                    @Html.Partial("~/Views/Shared/Controls/CustomerFilter.cshtml")
                </div>

            }

        </div>
    }
    @*<br />*@
    if (Model.ShowProductFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-11 col-xs-10">
                <select id="productMultiselect" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-1 col-xs-2">
                <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="productToggle"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="productSlidebox" style="display:none !important">
            @if (Model.ShowProductFilter)
            {
                <a data-toggle="modal"></a>
                <div id="productTab" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Shared/Controls/productFilter.cshtml")
                </div>
            }
        </div>

        @*<br />*@
    }

    if (Model.ShowSupplierFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="supplierMultiSelect" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="supplierToggle"><i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
        <div class="supplierSlidebox" style="display:none !important">
            @if (Model.ShowSupplierFilter)
            {
                <a data-toggle="tab"></a>
                <div id="supplierTab" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Shared/Controls/supplierFilter.cshtml")
                </div>

            }
        </div>
        @*<br />*@
    }
    if (Model.ShowAccountFilter) // for account filter option
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="accountMultiSelect" multiple="multiple"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                <button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="accountToggle">
                    <i class="fa fa-chevron-down"></i>
                </button>
            </div>
        </div>

        <div class="accountSlidebox" style="display:none !important">
            @if (Model.ShowAccountFilter)
            {
                <a data-toggle="tab"></a>
                <div id="accountTab" class="tab-pane fade in active">
                    @Html.Partial("~/Views/Shared/Controls/AccountFilter.cshtml")
                </div>

            }
        </div>
        @*<br />*@
    }
    if (Model.ShowEmployeeFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/EmployeeFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShowDistEmployeeFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/DistEmployeeFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShowDistEmployeeListFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/EmployeeListFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShowDistributionFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/DistributorFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShownewPartyTypeFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/PartyType.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }

    if (Model.ShowResellerFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/ResellerFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShowSalesPersonFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">

                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/SalesPersonFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShowItemBrandFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">

                @Html.Partial("~/Views/Shared/Controls/UserTypeFilter/ItemBrandFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                
            </div>
        </div>
    }
    if (Model.ShowDocumentFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="documentMultiSelect" multiple="multiple" style="width: 400px;"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowPurchaseDocumentFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="purchaseDocumentMultiSelect" multiple="multiple" style="width: 400px;"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowPartyTypeFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/partyTypeFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowCategoryFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/itemCategoryFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="categoryFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowLocationFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="locationMultiSelect" multiple="multiple" style="width: 400px;"></select>
                @*@Html.Partial("~/Views/Shared/Controls/locationFilter.cshtml")*@
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="locationFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowCompanyFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/companyFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowContractStatusTye)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/ContractStatusFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="partyTypeFilterButton">...</button>*@
            </div>
        </div>
    }
    if (Model.ShowBranchFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                @Html.Partial("~/Views/Shared/Controls/BranchFilter.cshtml")
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="categoryFilterButton">...</button>*@
            </div>
        </div>
        @*<br />*@
    }

    if (Model.ShowFiscalYearFilter)
    {
        <div class="row form-inline colgap">
            <div class="form-group col-sm-10 col-md-10 col-xs-10">
                <select id="FiscalYearMultiSelect" multiple="multiple" style="width: 400px;"></select>
            </div>
            <div class="form-group col-sm-2 col-md-2 col-xs-2">
                @*<button type="button" class="btn btn-green expand-collapse pull-right" data-toggle="modal" id="documentFilterButton">...</button>*@
            </div>
        </div>
    }

    if (Model.ShowCustomerFilter || Model.ShowProductFilter || Model.ShowSupplierFilter || Model.ShowDocumentFilter || Model.ShowCategoryFilter || Model.ShowPartyTypeFilter || Model.ShowPurchaseDocumentFilter || Model.ShowBranchFilter)
    {
        <div id="filterTreeTabs" class="tabbable-line">
            <ul class="nav nav-tabs">
                @if (Model.ShowCustomerFilter)
                {
                    @*
                        <li class="active"><a data-toggle="tab" href="#customerTab">Customer</a></li>*@
                }
                @if (Model.ShowProductFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#productTab">Item</a></li>*@
                }
                @if (Model.ShowSupplierFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#supplierTab">Supplier</a></li>*@
                }
                @if (Model.ShowDocumentFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#documentTab">Sales Document</a></li>*@
                }
                @if (Model.ShowPurchaseDocumentFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#purchaseDocumentTab">Purchase Document</a></li>*@
                }
                @if (Model.ShowLocationFilter)
                {
                    @*
                        <li><a data-toggle="tab" href="#locationTab">Location</a></li>*@
                }
            </ul>




            @if (Model.ShowDocumentFilter)
            {
                <div id="documentTab" class="tab-pane fade">
                    <h3>Document List</h3>
                    @Html.Partial("~/Views/Shared/Controls/DocumentFilter.cshtml")
                </div>
            }

            @if (Model.ShowPurchaseDocumentFilter)
            {
                <div id="purcahseDocumentTab" class="tab-pane fade">
                    <h3>Document List</h3>
                    @Html.Partial("~/Views/Shared/Controls/purchaseDocumentFilter.cshtml")
                </div>
            }

            @if (Model.ShowLocationFilter)
            {
                <div id="documentTab" class="tab-pane fade">
                    <h3>Storage Location List</h3>
                    @Html.Partial("~/Views/Shared/Controls/locationFilter.cshtml")
                </div>
            }

            @if (Model.ShowFiscalYearFilter)
            {
                <div id="documentTab" class="tab-pane fade">
                    <h3>Storage Location List</h3>
                    @Html.Partial("~/Views/Shared/Controls/FiscalYearFilter.cshtml")
                </div>
            }
        </div>

    }
}



<script>
    $(document).ready(function () {

        $("#filterTreeTabs").hide();

        function activateTab(tab) {
            $('.nav-tabs a[href="#' + tab + '"]').tab('show');
        };
        $("#customerToggle").click(function () {
            $(".customerSlidebox").slideToggle();
            activateTab('customerTab');
            $("#customerTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#customerTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        $("#supplierToggle").click(function () {
            $(".supplierSlidebox").slideToggle();
            activateTab('supplierTab');
            $("#supplierTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#supplierTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        // -- elixir
        $("#accountToggle").click(function () {
            $(".accountSlidebox").slideToggle();
            activateTab('accountTab');
            $("#accountTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#accountTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        $("#locationToggle").click(function () {
            $(".locationSlidebox").slideToggle();
            activateTab('locationTab');
            $("#locationTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#locationTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#productToggle").click(function () {
            $(".productSlidebox").slideToggle();
            activateTab('productTab');
            $("#productTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#productTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });


        $("#supplierFilterButton").click(function () {
            $("#filterTreeTabs").show();
            activateTab('supplierTab');
            $("#supplierTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#supplierTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });
        $("#accountFilterButton").click(function () {
            $("#filterTreeTabs").show();
            activateTab('supplierTab');
            $("#saccountTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#accountTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#documentFilterButton").click(function () {
            $("#filterTreeTabs").show();
            activateTab('documentTab');
            $("#documentTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#documentTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#purchaseDocumentFilterButton").click(function () {
            $("#filterTreeTabs").show();
            activateTab('purchaseDocumentTab');
            $("#purchaseDocumentTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#purchaseDocumentTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });

        $("#locationFilterButton").click(function () {
            $("#filterTreeTabs").show();
            activateTab('locationTab');
            $("#locationTreeView").data("kendoTreeView").dataSource.bind("change",
                $("#locationTreeView").data("kendoTreeView").dataSource.read()
            );
            toggleIcon($(this));
        });


    });
    $(function () {
        $('.modal-body.sales-modal').slimScroll({
            //height: '420px',
            // opacity: '0.4',
            railVisible: true,
            alwaysVisible: true

        });
    });
    $(".k-list.k-reset").slimScroll({
        //height: '220px',

    });


    $(".k-multiselect-wrap.k-float").slimScroll({
        //height: '140px',
        railVisible: true,
        railColor: '#c5c5c5',


    });

    $("#partyTypeMultiSelect-list").slimScroll({
        //height: '140px',
        railVisible: true,
        railColor: '#c5c5c5',

    });


    $(".k-multiselect-wrap.k-floatwrap").slimScroll({
        //height: '140px',
        railVisible: true,
        railColor: '#c5c5c5',

    });



    $("#customerTreeView").slimScroll({
        //height: '140px',
        railVisible: true,
        railColor: '#c5c5c5',

    });




    function toggleIcon(elem) {
        var icon = elem.find("i");
        if (icon.hasClass("fa-chevron-down")) {
            icon.removeClass("fa-chevron-down")
            icon.addClass("fa-chevron-up")
        }
        else if (icon.hasClass("fa-chevron-up")) {
            icon.removeClass("fa-chevron-up")
            icon.addClass("fa-chevron-down")
        }
    }

</script>
