@using NeoErp.Core.Helpers;
@using NeoErp.Core.Models;

@model ReportFilterSettingsModel
<style>
    #uniform-ApplyOnIndividualChart {
        padding-top: 2px !important;
    }

    #uniform-ApplyOnAllChart {
        padding-top: 2px !important;
    }

    span.rangeChoose{
        width:67px !important;
    }
</style>

@if (Model.ShowInPoup)
{

    <a id="reportFilterShow_@Model.ActionPageId" href="#reportFilterSettings" data-toggle="modal">
        <div class="btn btn-circle btn-icon-only btn-default" data-placement="left" data-html="true" data-container="body" data-toggle="tooltip" title="Preference Setup" >
            <i class="icon-wrench"></i>
        </div>
    </a>

    <div id="reportFilterSettings" class="modal fade " role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-Preference popup_filter-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><span class="fa fa-cog"></span> Preference Setup</h4>

                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-body">
                            @*<div class="form-group">
                                    @if (Model.ShowDateFilter)
                                        {
                                            <div class="row">
                                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)
                                            </div>
                                        }

                                </div>*@
                            <div class="form-group">
                                @if (Model.ShowQuantityFilter)
                                {
                                    <div class="col-md-4">
                                        <label><input type="checkbox" checked class="icheck" data-label="Quantity" id="show-quantity-check" name="show-quantity-check"></label>
                                    </div>

                                }
                            </div>
                            @if (Model.ShowQuantityFilter && (Model.ShowQuantityFigureFilter || Model.ShowQuantityRoundUpFilter))
                            {
                                <div class="form-group">
                                    @if (Model.ShowQuantityFigureFilter)
                                    {
                                        <div class="col-md-6">
                                            <input id="quantity-figure-range" type="text" name="quantity-figure-range" value="" />
                                            @*<label class="control-label">Figure in</label>*@
                                        </div>
                                    }

                                    @if (Model.ShowQuantityRoundUpFilter)
                                    {

                                        <div class="col-md-6">
                                            <input id="quantity-roundUp-range" type="text" name="quantity-roundUp-range" value="" />
                                            @*<label class="control-label">Round Up</label>*@
                                        </div>

                                    }

                                </div>

                            }


                            @if (Model.ShowAmountFilter)
                            {
                                <div class="form-group">

                                    <div class="col-md-4">
                                        <label><input type="checkbox" checked class="icheck" data-label="Amount" id="show-amount-check" name="show-amount-check"></label>
                                    </div>
                                    @if (Model.ShowApplyToAllChartOption)
                                    {
                                        <label for="ApplyOnIndividualChart">
                                            <input type="radio" id="ApplyOnIndividualChart" name="ApplyOnChartOption" value="Individual" /> Individual Chart Apply
                                        </label>
                                        <label for="ApplyOnAllChart">
                                            <input type="radio" id="ApplyOnAllChart" checked="checked" name="ApplyOnChartOption" value="All" /> All Chart Apply
                                        </label>
                                    }
                                </div>
                            }


                            @if (Model.ShowAmountFilter && (Model.ShowAmountRoundUpFilter || Model.ShowAmountFigureFilter))
                            {
                                <div class="form-group">
                                    @if (Model.ShowAmountFigureFilter)
                                    {

                                        <div class="col-md-6">
                                            <input id="amount-figure-range" type="text" name="amount-figure-range" value="" />
                                            @*<label class="control-label">Figure in </label>*@
                                        </div>


                                    }
                                    @if (Model.ShowAmountRoundUpFilter)
                                    {

                                        <div class="col-md-6">
                                            <input id="amount-roundUp-range" type="text" name="amount-roundUp-range" value="" />
                                            @*<label class="control-label">Round up</label>*@
                                        </div>

                                    }


                                </div>


                            }

                        </div>


                        @if (Model.ShowRangeAmountFilter)
                        {
                            <div class="form-group">

                                <label class="col-md-3">Filter Amount</label>
                                <div class="col-md-9">

                                    <div class="input-group input-large date-picker input-daterange">
                                        <input type="number" placeholder="min" min="1" class="form-control non-negative-non-decimal" id="rangeAmount-min-val" name="rangeAmount-min-val" />
                                        <span class="input-group-addon">to</span>
                                        <input type="number" placeholder="max" min="1" class="form-control non-negative-non-decimal" id="rangeAmount-max-val" name="rangeAmount-max-val" />
                                    </div>

                                </div>
                            </div>
                        }

                        @if (Model.ShowRangeQuantityFilter)
                        {
                            <div class="form-group">

                                <label class="col-md-3">Filter Quantity</label>
                                <div class="col-md-9">

                                    <div class="input-group input-large date-picker input-daterange">
                                        <input type="number" placeholder="min" min="1" class="form-control non-negative-non-decimal" id="rangeQuantity-min-val" name="rangeQuantity-min-val" />
                                        <span class="input-group-addon">to</span>
                                        <input type="number" min="1" placeholder="max" class="form-control non-negative-non-decimal" id="rangeQuantity-max-val" name="rangeQuantity-max-val" />
                                    </div>

                                </div>
                            </div>
                        }

                        @if (Model.ShowRangeRateFilter)
                        {

                            <div class="form-group">

                                <label class="col-md-3">Filter Rate</label>
                                <div class="col-md-9">

                                    <div class="input-group input-large date-picker input-daterange">
                                        <input type="number" placeholder="min" min="1" class="form-control non-negative-non-decimal" id="rangeRate-min-val" name="rangeRate-min-val" />
                                        <span class="input-group-addon">to</span>
                                        <input type="number" min="1" placeholder="max" class="form-control non-negative-non-decimal" id="rangeRate-max-val" name="rangeRate-max-val" />
                                    </div>

                                </div>
                            </div>

                        }

                        @*@if (Model.ShowApplyToAllChartOption)
                            {
                                   <div class="form-group">
                                       <div class="col-md-12">
                                              @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)
                                       </div>
                                   </div>
                            }*@
                        @if (Model.ShowBranchFilter)
                        {
                            <div class="form-group">
                                <div class="col-sm-12 col-md-12">
                                    @Html.Partial("~/Views/Shared/Controls/ConsolidateFilter.cshtml", false)
                                </div>
                            </div>

                        }

                    </div>
                    </div>
                    <div class="modal-footer custom-modal-footer">
                        <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-green applydp" id="applyFilters@(string.IsNullOrEmpty(Model.ActionPageId)?"":"_"+Model.ActionPageId)">Apply</button>
                    </div>
                </div>
            </div>
        </div>
 
}
else
{
    <div class="form-horizontal">
        <div class="form-body">
            @*<div class="form-group">
                    @if (Model.ShowDateFilter)
                        {
                            <div class="row">
                                @Html.Partial("~/Views/Shared/Controls/DateField.cshtml", true)
                            </div>
                        }

                </div>*@
            <div class="form-group">
                @if (Model.ShowQuantityFilter)
                {
                    <div class="col-md-4">
                        <label><input type="checkbox" checked class="icheck" data-label="Quantity" id="show-quantity-check" name="show-quantity-check"></label>
                    </div>

                }
            </div>
            @if (Model.ShowQuantityFilter && (Model.ShowQuantityFigureFilter || Model.ShowQuantityRoundUpFilter))
            {
                <div class="form-group">
                    @if (Model.ShowQuantityFigureFilter)
                    {
                        <div class="col-md-6">
                            <input id="quantity-figure-range" type="text" name="quantity-figure-range" value="" />
                            @*<label class="control-label">Figure in</label>*@
                        </div>
                    }

                    @if (Model.ShowQuantityRoundUpFilter)
                    {

                        <div class="col-md-6">
                            <input id="quantity-roundUp-range" type="text" name="quantity-roundUp-range" value="" />
                            @*<label class="control-label">Round Up</label>*@
                        </div>

                    }

                </div>

            }


            @if (Model.ShowAmountFilter)
            {
                <div class="form-group">

                    <div class="col-md-4">
                        <label><input type="checkbox" checked class="icheck" data-label="Amount" id="show-amount-check" name="show-amount-check"></label>
                    </div>
                </div>
            }


            @if (Model.ShowAmountFilter && (Model.ShowAmountRoundUpFilter || Model.ShowAmountFigureFilter))
            {
                <div class="form-group">
                    @if (Model.ShowAmountFigureFilter)
                    {

                        <div class="col-md-6">
                            <input id="amount-figure-range" type="text" name="amount-figure-range" value="" />
                            @*<label class="control-label">Figure in </label>*@
                        </div>


                    }
                    @if (Model.ShowAmountRoundUpFilter)
                    {

                        <div class="col-md-6">
                            <input id="amount-roundUp-range" type="text" name="amount-roundUp-range" value="" />
                            @*<label class="control-label">Round up</label>*@
                        </div>

                    }


                </div>


            }

        </div>


        @if (Model.ShowRangeAmountFilter)
        {
            <div class="form-group">

                <label class="col-md-3">Filter Amount</label>
                <div class="col-md-9">

                    <div class="input-group input-large date-picker input-daterange">
                        <input type="number" placeholder="min" min="1" class="form-control non-negative-non-decimal" id="rangeAmount-min-val" name="rangeAmount-min-val" />
                        <span class="input-group-addon">to</span>
                        <input type="number" placeholder="max" min="1" class="form-control non-negative-non-decimal" id="rangeAmount-max-val" name="rangeAmount-max-val" />
                    </div>

                </div>
            </div>
        }

        @if (Model.ShowRangeQuantityFilter)
        {
            <div class="form-group">

                <label class="col-md-3">Filter Quantity</label>
                <div class="col-md-9">

                    <div class="input-group input-large date-picker input-daterange">
                        <input type="number" placeholder="min" min="1" class="form-control non-negative-non-decimal" id="rangeQuantity-min-val" name="rangeQuantity-min-val" />
                        <span class="input-group-addon">to</span>
                        <input type="number" min="1" placeholder="max" class="form-control non-negative-non-decimal" id="rangeQuantity-max-val" name="rangeQuantity-max-val" />
                    </div>

                </div>
            </div>
        }

        @if (Model.ShowRangeRateFilter)
        {

            <div class="form-group">

                <label class="col-md-3">Filter Rate</label>
                <div class="col-md-9">

                    <div class="input-group input-large date-picker input-daterange">
                        <input type="number" placeholder="min" min="1" class="form-control non-negative-non-decimal" id="rangeRate-min-val" name="rangeRate-min-val" />
                        <span class="input-group-addon">to</span>
                        <input type="number" min="1" placeholder="max" class="form-control non-negative-non-decimal" id="rangeRate-max-val" name="rangeRate-max-val" />
                    </div>

                </div>
            </div>

        }
    </div>
}

<script src="@Url.Content("~/JS/reportFilter.js?v1.01")"></script>
<script>
    $(document).ready(function () {
        ReportFilter.init('@Model.ActionPageId');

        $(".rangeChoose").kendoDropDownList();

    });
</script>

