@using NeoErp.Core.Models.CustomModels
@model FileMailAttachment
<div id="responseMessage"></div>
<form id="sendMailForm" method="post">
    <div class="form-body">

        <div class="form-group">
            <label class="control-label">To</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-envelope"></i>
                </span>
                @Html.TextBoxFor(model => model.Email, new { placeHolder = "Email Address", @class = "form-control", type = "text" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Subject</label>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-pencil"></i>
                </span>
                @Html.TextBoxFor(model => model.Subject, new { placeHolder = "Subject", @class = "form-control" })
            </div>
            </div>
        <div class="form-group">
            <label class="control-label">Message</label>
            @Html.TextAreaFor(model => model.Message, new { rows = "20", @class = "wysihtml5 form-control", data_error_container = "#editor_error" })
            <div id="editor_error"></div>
        </div>

        <div class="form-group">
            <label class="control-label">Export Type</label>
            <div class="icheck-inline">
                @*<label>
                    @Html.RadioButtonFor(model => model.FileType, FileExportType.pdf, new { data_label = "pdf" }) PDF

                </label>*@
                <label>
                    @Html.RadioButtonFor(model => model.FileType, FileExportType.xlsx, new { data_label = "Excel", @checked = "checked" }) Excel
                </label>
            </div>
        </div>
        @Html.HiddenFor(model => model.FileName)
    </div>

</form>
 